[2018-04-16 06:55] Mani-Sadhasivam commented on #893
Hi @malikabhi05 @Propanu Any update on this issue?

[2018-04-16 09:12] #891 closed

[2018-04-16 17:16] Propanu commented on #893
Hi @Mani-Sadhasivam, considering only 1 commit got messed up and since functionality wise everything is in order, I would leave this as is. I know it's not ideal and it's totally on us, we'll try to be more careful when rebasing/merging in the future. We have new PR's open that are waiting to be merged so we really need to move on.

[2018-04-17 00:15] Propanu commented on #891
This is unfortunate, but it's caused by devices not being I2C compliant, thus there's not a lot we can do from software. SI7005 is all fixed, GrovePi could in theory use a different firmware that avoids this.

[2018-04-17 03:14] Mani-Sadhasivam commented on #893
@malikabhi05 @Propanu Thanks for taking your time to look into this issue. As we all agreed to move on, closing this issue.

[2018-04-17 03:14] #893 closed

[2018-04-26 14:09] connect-javed001 commented on #651
Hello guys, I am trying to program an AD8232 heart monitor using a Raspberry PI in python.
how to install upm module in raspberry pi for python?

[2018-04-29 23:10] elgarbe opened #900 "Segmentatio fault. Intel EDISON - custom board"
I'm trying to get mraa working on my board, I've installed jubilinux and the follow instructions from:
https://learn.sparkfun.com/tutorials/installing-libmraa-on-ubilinux-for-edison

When I try blink led I get segmentation fault.

The same thing happen if I try to import mraa into python:

[code]
/var/log/messages:

[code]

[2018-05-01 00:15] elgarbe commented on #900
It works on ubilinux, but not in jubilinux. why?

[2018-05-01 01:15] elgarbe opened #901 "PWM example for EDISON"
Is [this](https://github.com/intel-iot-devkit/mraa/blob/master/examples/c/pwm.c#L38) line ok?
PWM are on MRAA 21, 0, 14 and 20 why it is using 3? I get an error using 3.

I don't get error using 21, but not PWM output on PWM3, GP183...

[2018-05-08 17:12] arfoll commented on #901
Edison with which baseboard? With arduino board 3 is valid on default swizzler positions (I've never tried to support any other!)

[2018-05-31 00:27] pylbert opened #902 "FTDI4222 sub-platform should handle memory cleanup"
The symbols for "FT4222_UnInitialize" and "FT_Close" and not loaded.

The various I/O handles get re-initialized without UnInitializing multiple times which leak memory inside libft4222.

TODO: Refactor Open/Init calls for SPI/I2C/gpio.
TODO: Fix SPI
TODO: Provide a deinit method for the subplatform

[2018-06-06 01:13] lhy-loveworld opened #903 "MRAA number mapping for Intel Edison Arduino"
Hi, I found [this](https://learn.sparkfun.com/tutorials/sparkfun-inventors-kit-for-edison-experiment-guide/appendix-e-mraa-pin-table) webpage which also gives a mapping from MRAA number to Arduino. And it's different from the one in the docs in this repository. For example, in this repo, A0's MRAA number is 14 however in that link, it is 31. I'm totally confused.

I have 2 questions about the mapp

[2018-06-06 18:00] alext-mkrs commented on #903
So to be honest I don't get the idea of that table on SparkFun, but then again - I haven't analyzed it for too long. I'd suggest you to start with https://github.com/intel-iot-devkit/mraa/blob/master/docs/edison.md, that's the best source for mraa pin numbering, if you use the Arduino board.

In essence, mraa's philosophy is to follow numbering that's printed on boards themselves and it's true for

[2018-06-06 22:13] lhy-loveworld commented on #903
@alext-mkrs Thank you for your response. So the MRAA number in this page https://github.com/intel-iot-devkit/mraa/blob/master/docs/edison.md is not the number printed on boards (which is the number  used by the initialization functions), right?

[2018-06-06 22:43] Propanu commented on #903
That table lists the SoC pins for the Edison module not the breakout boards. The Edison board definition file will actually detect if you have the mini or Arduino breakout and assign the pins to match the order on the corresponding board.

[2018-06-07 18:23] alext-mkrs commented on #903
Right, basically that big table is in the "breakout board" section, which means the so-called mini-breakout, which is ~a size of Edison and has all the Edison module's pins exposed. The "Arduino" board section doesn't contain any tables because the numbers are printed on the board itself and you can just use them straight away (there are just some clarifications regarding e.g. analog pins and I2C)

[2018-06-07 18:23] #903 closed

[2018-06-10 12:01] alext-mkrs commented on #901
So the example is intended to be used with the Arduino board, that's why it uses pin 3. I think we've clarified this, so closing. Feel free to comment if any further help is needed.

[2018-06-10 12:01] #901 closed

[2018-06-10 12:05] alext-mkrs commented on #900
So th esecond run from the log was with non-root user, that won't work without messing up with udev/device file permissions, so use root.

The first run contains surprisingly low amount of information. Looks like it's crashing somewhere *very* early, as supported by the python run. Could you try running this under `strace` to see more details of what's happening? If you're able to run under GDB an

[2018-06-10 12:06] alext-mkrs commented on #890
Closing as clarified.

[2018-06-10 12:06] #890 closed

[2018-06-10 12:06] alext-mkrs commented on #885
@Nyceane, is this still actual?

[2018-06-10 12:08] alext-mkrs commented on #882
@Corusco is this still actual? Please provide the requested information if yes.

[2018-06-10 12:09] alext-mkrs commented on #883
@harveypang, is this still actual? Please provide the requested information if yes.

[2018-06-10 12:10] alext-mkrs commented on #884
@Nyceane, is this still relevant?

[2018-06-10 12:11] alext-mkrs commented on #606
This is quite ancient, @Propanu, do you think we still want to keep it open? Apparently no one bothered by this too much :)

[2018-06-10 12:16] alext-mkrs commented on #776
Looks like the original issue in the Adafruit repo was closed - I'm closing this one as well, as it anyway wasn't something we could fix at our side.

[2018-06-10 12:16] #776 closed

[2018-06-10 12:36] alext-mkrs commented on #799
Looking into this one, I think it can also be fixed by just removing `json` entry @Hbrinj added a while ago at this line: https://github.com/intel-iot-devkit/mraa/blob/master/cmake/modules/FindJSON-C.cmake#L6

@Hbrinj, could you please clarify why you've added that one?

[2018-06-10 16:48] jannsta1 commented on #900
Coincidentally I've just followed the same procedure as @elgarbe and suffered the same problem. Attached is the console output from an attempt to import mraa in a python script when running under strace.
[strace_mraa_import_seg_fault_sudo.txt](https://github.com/intel-iot-devkit/mraa/files/2088046/strace_mraa_import_seg_fault_sudo.txt)

[2018-06-10 19:46] alext-mkrs commented on #900
Thanks. So two things I see are:
1. Some SELinux-related stuff is apparently being loaded. Please disable SELinux temporarily (or make sure it's disabled);
1. There's an error message being written to syslog [I presume], apparently the sudo is not providing us the root we want it to:
[code]

[2018-06-11 19:47] jannsta1 commented on #900
Thanks @alext-mkrs for looking at the trace. I realised after looking at the bits that you mentioned that the problem in my case was that I have various python installations (because of my ROS installation) and I hadn't provided root access for the python version I was importing mraa with.

Is there a way to configure mraa to run without root access? That would really save a lot of headache with c

[2018-06-13 09:58] alext-mkrs commented on #900
So as far as root is concerned - its possible, but not easy and essentially boils down to changing permissions on device files mraa uses. But then there are problems with diing this generically and dynamically - there was a discussion on this in one of the opened issues, I don't have a link OTMH, but there wasn't a full solution. Generally speaking that's beyond what mraa as a library can do and

[2018-06-13 18:27] alext-mkrs commented on #900
that's the one I was talking about, you can try applying the approach discussed there: https://github.com/intel-iot-devkit/mraa/issues/802

[2018-06-13 18:40] jannsta1 commented on #900
Thanks for the response and the link. Looks like mraa outside of sudo is still work in progress but will subscribe to that issue for updates. I kind of hijacked this issue (#900) but it seems like the likely cause is now known.

[2018-06-13 18:44] alext-mkrs commented on #900
Right :) Glad to help, anyway ;)

@elgarbe, so if you still need help, feel free to chime in. If not, I'll close this one in a few days.

[2018-06-13 19:15] Propanu commented on #900
@jannsta1 one alternative would be to take a look at how Emutex does it on the UP2 board, I'm sure the udev rules can be made to work with the Edison too: https://wiki.up-community.org/Ubuntu#Enable_the_HAT_functionality_from_userspace
Here are the actual sources for the rule files: https://launchpad.net/~ubilinux/+archive/ubuntu/up/+sourcefiles/upboard-extras/0.1-1/upboard-extras_0.1.orig.tar.gz

[2018-06-17 07:27] Nyceane commented on #885
yes, using Ubuntu

[2018-06-17 08:30] alext-mkrs commented on #884
Okay, but that again sounds like the HW part of your setup. Have you tried what I suggested in the previous comment? That simply sounds like your relay isn't compatible with your board's GPIO electrical params, that's it.

Anyway, as this sounds to be solved - I'm closing this one. Let us know if any further help is needed.

[2018-06-17 08:30] #884 closed

[2018-06-17 08:50] alext-mkrs commented on #885
What about other questions? That information is necessary to understand the situation and help you.

[2018-06-20 19:40] Avena83 opened #904 "Building mraa.node for Linkit Smart 7688 with error: ELF file ABI version invalid"
### Libmraa installed without problem, but with NodeJS (mraa.node) problem

**node -r mraa**
[code]
**readelf -a /usr/lib/node_modules/mraa/mraa.node | head -n 10**

[code]
**readelf -a /usr/bin/node | head -n 10**

[code]

**Just few information**
[code]
Need help to solve this problem with mraa.node
Many thanks for any useful support!

[2018-06-21 11:54] Dhiaaeddinanabtawi opened #905 "can't install mraa"
Hi,

I am trying to install mraa using: `npm install mraa`, but I am getting this error message:
[code]
Well, I am sure I have the last version of both node.js and npm, so I think the problem lies somewhere else.Since  I am new to this, I am not able to figure it out my self. Any suggestions?

Thanks in advancd
Dhiaa

[2018-06-21 16:55] #904 closed

[2018-06-21 18:22] alext-mkrs commented on #905
...and that's the problem - see #598 and https://github.com/swig/swig/pull/968 - SWIG doesn't support Node versions > 6 at the moment, so you'd need to downgrade your Node to be able to use mraa with it, as our JS bindings are generated via SWIG.

[2018-06-21 18:24] alext-mkrs commented on #598
The newest SWIG thread on this is at https://github.com/swig/swig/pull/968

[2018-06-21 22:15] Propanu commented on #904
Hi @Avena83, how did you solve this?

[2018-06-21 22:18] Propanu commented on #905
If you want to use Node 8, you'll have to patch swig and build mraa from source. It's pretty straight forward and I've added instructions in the documentation a while back.

[2018-06-22 20:17] Propanu commented on #606
I'm fine if we close this, I wasn't able to reproduce it with other Firmata setups since.

[2018-06-22 20:17] #606 closed

[2018-06-25 19:08] #905 closed

[2018-06-25 19:08] alext-mkrs commented on #900
Closing for no further activity.

[2018-06-25 19:08] #900 closed

[2018-06-25 19:10] alext-mkrs commented on #885
So @Nyceane, are you up to providing the information requested? Without it we can't help you any further.

[2018-06-25 19:11] alext-mkrs commented on #883
Closing for no response.

[2018-06-25 19:11] #883 closed

[2018-06-25 19:11] alext-mkrs commented on #882
Closing for no response.

[2018-06-25 19:11] #882 closed

[2018-06-25 19:13] alext-mkrs commented on #868
Okay, so as this was a question and it was already answered - I'm closing this one. PRs with i.MX-based SBCs discussed above are still more than welcome! :)

[2018-06-25 19:13] #868 closed

[2018-06-29 11:45] mrapl opened #908 "Problem getting data from TI ADS8318 ADC via SPI on Minnowboard Turbot running Ubuntu 14.04"
Hello,

I'm trying to use mraa (v1.9.0-46-g47728b4) in python to get data from ADS8318 ADC in Daisy Chain Mode on Ubuntu 14.04 3.19.0-25-generic. I'm able to open the SPI device in mraa with dev = mraa.Spi(0), but the data I receive from SPI is all zeros regardless of the data I send.

According to the documentation of the ADC (https://www.ti.com/lit/ds/symlink/ads8318.pdf) I should make sure SDI

[2018-07-02 15:24] joepol opened #910 "Error : Invalid GPIO pin specified | Java | ARM | Debian"
Hi , I build the mraa project for an ARM architecture and Java binding .
The build was successful and so was compiling the Example.java and GpioRead6.java.
when running "Example" I get :

**when running GpioRead6 I get an IllegalArgumentException : Invalid GPIO pin specified .**
tried #353  and #529 so
I tested the GPIO in terminal:
[code]
and it works - I manage to read it's value.

but I still g

[2018-07-02 18:42] alext-mkrs commented on #910
That's the reason - mraa doesn't recognize the board it runs on, so it doesn't have GPIO maps etc. What is that you're running it on?

[2018-07-02 18:43] alext-mkrs commented on #885
Closing for no reply.

[2018-07-02 18:43] #885 closed

[2018-07-02 18:46] alext-mkrs commented on #908
You can control pins from MRAA, but bitbanging SPI won't work as that would be too slow. You can try to use MOSI/MISO/CLK controlled by the SPI controller and use your own CS (a usual GPIO) though - but depending on circumstances that may not work as well, but you can start with checking that out at least.

[2018-07-02 18:53] Propanu commented on #910
As @alext-mkrs mentioned an unknown platform will have no listed pins, however you can still initialize GPIOs in raw mode (by sysfs #) for testing. Check the Java API docs [here](https://iotdk.intel.com/docs/master/mraa/java/classmraa_1_1_gpio.html).

[2018-07-03 08:52] joepol commented on #910
@alext-mkrs  - it's some unknown type of the arm family, but I have the GPIO map.
@Propanu  - Great! I used the raw mode and it works.
Thank you.

[2018-07-03 09:54] #910 closed

[2018-07-26 11:00] b49020 opened #911 "Problem building MRAA python docs using latest python-sphinx v1.7.6 package"
Hi,

I have Debian buster running on my dragonboard 410c with latest python-sphinx v1.7.6 package installed. Following is sequence of instructions and error message observed:

[code]

Error message while configuration:
[code]
Any help regarding above issue is much appreciated.

Regards,
Sumit

[2018-07-27 07:41] b49020 commented on #911
It seems that display format of version info changed from sphinx v1.3.5 to v1.7.6 as follows:
[code]
Due to this parser written in "cmake/modules/FindSphinx.cmake" file doesn't seems to work correctly.

[2018-07-29 12:14] alext-mkrs commented on #911
Thanks @b49020 for reporting this and finding the reason. Are you up to creating a PR to fix this, now that we have the root cause?

[2018-07-30 05:20] b49020 commented on #911
@alext-mkrs Sure I would like to contribute. So I did tried to fix this configuration check for sphinx v1.7.6. But when I try to build MRAA further, I got following error:
[code]
Do you have any clue for this build error?

[2018-08-01 19:13] alext-mkrs commented on #911
I haven't built docs much to be honest, but looking at the CMakeLists.txt and that mraa2.i file in the python2 dir, this looks rather like it's not finding the autogenerated files, which are included if the DOXYGEN define is found. @b49020 could you attach a full log, including the initial CMake run?

[2018-08-08 18:18] alext-mkrs commented on #911
Hmm, okay - so the log looks generally ok to me, nothing apparently wrong... No further ideas at this point, sorry. Generally the docs are being build-tested in our CI, so there probably is some peculiarity w.r.t. the tool versions you have, but I can't think of anything specific.

Are these files created in the build dir at all, could you check?

[2018-08-08 18:34] pylbert commented on #911
Version of CMake?  I believe the latest couple versions change some of the python target generation. Possible that the target dependencies are not creating the .i files prior to the swing call that uses them.

[2018-08-09 04:35] b49020 commented on #911
@pylbert `-- INFO - cmake Version 3.11.2`

[2018-08-09 04:41] b49020 commented on #911
@alext-mkrs No these *.i files aren't created in build directory.

[2018-08-10 10:27] vjvicky007 opened #915 "ValueError: Error initialising UART"
I have some error in IoT2000 model IoT2040 UART communication using python MRAA library,
please anyone help me to resolve this error....

[code]

[2018-08-10 15:50] BinduRao2018 opened #916 "UP Squared Board - Problem using Grove Button on GrovePI - Configured as MRAA_GPIO_IN"
Hello,
I am using GrovePI on UP Squared Board. Instead of running the examples available with ArduinoCreate for GrovePI,  i am handcoding them using mraa/upm APIs.
I see the GPIO configured as IN doesn't seem to work properly on Digital Pins.

Here is the code snippet:
_...
mraa_add_subplatform(MRAA_GROVEPI, "0");
dev=mraa_gpio_init(BUTTON_PIN);
mraa_gpio_dir(dev, MRAA_GPIO_IN);
while (true)
{

[2018-08-12 13:25] alext-mkrs commented on #915
@vjvicky007 please post the contents of the syslog (`/var/log/syslog` or `journalctl -x` output, depending on what Siemens has there these days), there should be some additional information in there. Right now it looks like some UART-related error, which for Quark should not theoretically happen as it's been around for quite a while.

[2018-08-12 13:29] alext-mkrs commented on #916
@BinduRao2018 could you please post the whole source code file? This looks a bit fishy - are you sure you aren't overriding `BUTTON_PIN` somewhere else, so it effectively points to D4 all the time?

[2018-08-13 09:40] BinduRao2018 commented on #916
Yes, I am not overriding BUTTON_PIN anywhere. I have a simple example to read the GPIO for the GroveButton. Here is the complete source code for this:
------------------------------------------------------------------------------------------
_#include <stdio.h>
#include <stdlib.h>
#include <string.h>
#include <stdlib.h>
#include <unistd.h>
#include "mraa/gpio.h"

//512 offset + digital pin 4
#defi

[2018-08-13 11:08] BinduRao2018 commented on #916
Update -

The problem no longer exists. Grove Button seems to work fine on any digitial pin.

Observation:
When the problem was observed, there were some GPIO - 516 logs present in systemd, which is no longer logged now.
Can I assume it to be a power glitch??
Now in the logs, I can see _i2c5:write_byte_data: Access error: Remote I/O error_ from libmraa. Would this be an issue for the device connec

[2018-08-14 12:41] turmary opened #917 "mraa_gpio_lookup can't check all physical pin names"
https://github.com/intel-iot-devkit/mraa/blob/d24457f9a15f5ad4470d55bc69fbece22ce97bfc/src/mraa.c#L920
When plat->gpio_count is less than plat->phy_pin_count, the function can't check pins between [ plat->gpio_count, plat->phy_pin_count );

I think it should be changed like this:
[code]

[2018-08-14 12:56] Mani-Sadhasivam commented on #917
@turmary `mraa_gpio_lookup` is supposed to check only GPIO pins not the physical pins exposed on the board. So, limiting the count to `plat->gpio_count` is fine here.

[2018-08-14 13:03] turmary commented on #917
@Mani-Sadhasivam
OK, If it check GPIO only,  in the loop, the pin[i] type should be checked.
Make it has GPIO function or else don't incremment index variable i.

[2018-08-14 13:07] turmary commented on #917
Aug 14 12:25:26 raspberrypi libmraa[20886]: platform_detected = 9
Aug 14 12:25:26 raspberrypi libmraa[20886]: libmraa initialised for platform 'Raspberry Pi 3 Model B' of type 5
Aug 14 12:25:39 raspberrypi libmraa[20886]: [0] pin_name = 'GPIO12' plat_pins_name = 'INVALID'
Aug 14 12:25:40 raspberrypi libmraa[20886]: [1] pin_name = 'GPIO12' plat_pins_name = '3V3'
Aug 14 12:25:40 raspberrypi libmraa[

[2018-08-14 13:18] Mani-Sadhasivam commented on #917
@turmary Agree with you! There has to be a check for GPIO capability inside `mraa_gpio_lookup`. This will avoid unnecessary comparisons.

Will submit a PR for that! Thanks for bringing this up.

[2018-08-14 13:30] Mani-Sadhasivam commented on #917
@turmary Sorry, I was wrong. The count should be extended to `plat->phy_pin_count` since we have to check all the pins. Will change it. Thanks once again!

[2018-08-14 13:59] Mani-Sadhasivam commented on #917
Hi @turmary ,

I have submitted the fix #918. Can you please let me know if it addresses your issue or not?

[2018-08-14 14:16] turmary commented on #917
It's OK I think.thanks.

[2018-08-14 14:16] #917 closed

[2018-08-17 08:38] BinduRao2018 commented on #916
Thanks alex for the inputs.
I am using the UP2 with the power adapter for UK as the kit came with the standard US power plug.
I have now stopped ArduinoConnector.service as I don't use it and I don't see any errors on GPIO or I2C after that.
I assume that this service was trying to initialize some of the pins by default, resulting in the error.

[2018-08-22 10:56] arfoll commented on #911
Try make the doxygen docs first and make sure you wiped the build/ dir completely, BUILDDOCS is a bit fragile and there may be an order issue somewhere? Also install graphviz to get dot, I'm not sure it'll do much but it's never been tested without.

Try build this target for example:
$ make gpioclass_doc_i

You should then get a file in build/src/gpio_class_doc.i

[2018-08-22 12:10] b49020 commented on #911
@arfoll Thanks for the suggestion. It seems to be order/dependency issue only. Using following commands, I am able to build successfully:
[code]
Do you have any idea to resolve this order issue?

[2018-08-26 13:33] psctec opened #920 "Invalid GPIO"
Traceback (most recent call last):
  File "main.py", line 9, in <module>
    green = mraa.Gpio(6)
  File "/usr/lib/python2.7/dist-packages/mraa.py", line 752, in __init__
    this = _mraa.new_Gpio(pin, owner, raw)
ValueError: Invalid GPIO pin specified

Linux Xubuntu 18.04 LTS

[2018-08-26 18:43] alext-mkrs commented on #920
Hi @psctec, this is not enough information to see what's going on, so could you please clarify:

1. What board this is?
1. Which mraa version is this
1. What is logged in syslog when you get this error?

[2018-08-26 23:03] psctec commented on #920
is an notebook lg-gram, i'm trying to put to work an fingerprint scanner FPC 1020.
mraa version 1.9
syslog:
Aug 26 20:01:09 gram libmraa[14464]: libmraa version v1.9.0 initialised by user 'xxx' with EUID 1000
Aug 26 20:01:09 gram libmraa[14464]: Platform not supported, not initialising
Aug 26 20:01:09 gram libmraa[14464]: imraa: Failed to open lock file
Aug 26 20:01:09 gram libmraa[14464]: libmraa

[2018-08-27 17:13] Chuckduey opened #921 "MRAA Pins on Pi 3 B+"
I am using the latest Raspberry Pi 3 B+ that came out March 14 2018.  I downloaded MRAA 1.9 from Github and built it successfully.  The nodejs section was skipped due to another issue.  All the C and Python functions are working fine, except on the newest Pi 3 B+ it only shows 26 pins.  Where as the Slightly older Pi 3 (no plus) shows the 40 pins.  In looking into it further it appears that some u

[2018-08-30 15:07] Chuckduey commented on #921
OK, I did some code modifications can can get the Pi 3 B+ working right.  I added the PI_3_B_PLUS defines and added the case in both the /proc/cpuinfo and /proc/device-tree/compatible version check areas.  (Here is the /proc/cpuinfo check)
`               } else if (strstr(line, "a020d3")) {
                    b->platform_name = PLATFORM_NAME_RASPBERRY_PI3_B_PLUS;
                    platform_det

[2018-09-02 17:35] alext-mkrs commented on #921
@Chuckduey, yes, as long as we currently don't support that model and you seem to have added the necessary definitions, we'd be glad to have a PR for that.

[2018-09-02 17:36] alext-mkrs commented on #915
Closing for no reply - feel free to respond if you still need assistance.

[2018-09-02 17:36] #915 closed

[2018-09-04 02:04] Chuckduey commented on #921
OK, PR #924 Has the 2 files needed to add the Pi 3 B+ to the MRAA Libs so it is recognized correctly.

[2018-09-04 02:04] #921 closed

[2018-09-06 10:37] BinduRao2018 opened #925 "UP2 board - A device connected to read GPIO (configured as IN), doesn't work when another device is connected on I2C"
I have connected Grove Button (GPIO) and Grove Temp & Humidity Sensor (I2C) on UP2 Grove board. I notice the following error in systemd, when I try to read GPIO.

_*_Sep 05 06:20:49 ubuntu sudo[3355]: upsquared : TTY=pts/1 ; PWD=/home/upsquared/GrovePi/mraa_impln/grove-lightsensor ; USER=root ; COMMAND=./grove-lightsensor_*
*_Sep 05 06:20:49 ubuntu grove-lightsensor[3356]: calling mraa_init_*
*_Se

[2018-09-06 11:05] Propanu commented on #925
Hi @BinduRao2018, if you're using the GrovePi+ shield and the TH02/SI7005 temperature and humidity sensor then yes, the i2c bus will lose arbitration and eventually time out when other sensors are connected. This is likely caused by the shield's firmware, thus you might want to try updating that if a newer version is available. Other I2C temperature sensors (e.g. Bosch ones) should work fine thoug

[2018-09-06 11:36] BinduRao2018 commented on #925
Thanks @Propanu for quick response. Could you let me know on the way to check the GrovePI firmware version please?

[2018-09-06 13:38] Propanu commented on #925
Haven't seen any updates since 1.2.7 thus you're likely on the latest firmware already. You can follow the GrovePi+ project here: https://github.com/DexterInd/GrovePi. There are some examples and documentation on how to interact with the shield with i2c-tools which would be the easiest way to check the firmware version on it.

[2018-09-09 22:33] wallacejsb opened #927 "Problem: Analogic port not found in dragonboard"
Using mraa v1.9.0,  g++ 7.3
Board: Dragonboard 420C
OS: Linux linaro-developer 4.14.0-qcomlt-arm64 #1 SMP PREEMPT Fri May 25 18:39:49 UTC 2018 aarch64 GNU/Linux

Example code:
#include <mraa/common.hpp>
#include <mraa/aio.hpp>

#define AIO_PORT 0

int main(void){

    float float_value;
    mraa::Aio aio(AIO_PORT);
    while (true) {
	int value = aio.read();
        float_value = aio.readFloat();

[2018-09-10 07:10] Mani-Sadhasivam commented on #927
Hi @wallacejsb,

There is no onboard analog devices in Dragonboard410c, so `AIO` will not work. However, there is an Analog port which will let you connect analog devices using expansion boards such as [Audio Mezzanine](https://www.96boards.org/products/mezzanine/). Then you may need to do modifications on your own.

[2018-09-10 07:10] #927 closed

[2018-09-12 15:54] Paraphase opened #929 "Failing build Mraa"
I'm trying to Install mraa on the Intel Edison running Miniconda with Python 3.7
I Clone the Repository, create the Build folder and execute following command:
`cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr -DCMAKE_BUILD_TYPE=DEBUG -DJSON-C_INCLUDE_DIR=/home/root/miniconda3/envs/test/include/json-c/ ..`

When running the Make command, i get the following Error:

                         ^

The error occu

[2018-09-13 10:55] BinduRao2018 opened #930 "i2c0: write: Access error: Remote I/O error on Raspberry PI when mraa_gpio_write() is called"
Hi,
I am using GrovePI+ kit on Raspberry PI. I have written a small program to set a LED, which is connected to GPIO port (Port D4 on Grove PI+). This program works fine when run on UP2 IoT Development Kit, however give Access error on Raspberry PI.

Following updates were done to build and run an example:
- For Raspberry PI, libmraa (using v2.0.0 tag) is built by setting the  compilation options:

[2018-09-13 13:08] BinduRao2018 commented on #925
I have checked with Dexter Industries as well, but they are not aware of any problem with the Grove sensor. I will check on Grove PI+ on Raspberry PI (using mraa) and get back to isolate the problem.

[2018-09-16 14:09] Propanu commented on #929
Hi @Paraphase, for the Edison you don't need JSON platforms or the library so it's likely easiest to simply turn the option off completely with `-DJSONPLAT=OFF`.

[2018-09-17 14:49] BinduRao2018 commented on #930
I see some changes (pull request - #938) for this version of Raspberry PI.  Is the problem mentioned above, related to the fix available? Please let me know.

[2018-09-18 01:56] Chuckduey commented on #930
Sorry about that, some one asked me for my BeagleBone code.  I will revert the beglebone.c back to the master and I will do a separate fork for the BeagleBone stuff and if I will do a separate PR.

Best regards

Chuck

From: BinduRao <notifications@github.com>
Sent: Monday, September 17, 2018 8:53 AM
To: intel-iot-devkit/mraa <mraa@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>

[2018-09-18 08:02] BinduRao2018 commented on #930
Thanks for the update @Chuckduey
However, I am not clear about the solution. Apologies, if my question has created some confusion. With mraa(v 2.0.0),  I have a problem as described above on Raspberry PI, which works fine on UP2 Grove IoT Development Kit.  I wanted to check whether the pull request mentioning Raspberry PI (#928) would address the problem that I am currently see.

[2018-09-18 19:32] Paraphase commented on #929
Hi Propanu
Thanks for your reply, i'll test it tomorrow

[2018-09-19 08:17] BinduRao2018 commented on #930
Thanks for the clarification @Chuckduey.
Adding more details after my initial investigation:
I am using the latest board, 3 Model B+ (Revision a020d3), however mraa log the board information as  'Raspberry Pi Model B Rev 1' of type 5. Is this correct?
I had a look at the implementation - mraa_raspberry_pi() and revision a020d3 is not checked to get the Model. Is something missing?

[2018-09-19 21:44] Chuckduey commented on #930
It looks like they may have slipped another Rev of Pi 3+  I also just found an a020d3 Rev as well.  I will add that to the code, you should see it in a couple of days.   Thanks!

[2018-09-20 04:17] Chuckduey commented on #930
Thanks for your look into this.  Something broke, and I am not sure of this code right now.  I will cancel my pull request until I can make sure it is working correctly.  When I pulled down the code from the repo everything is there, but it does not recognize the Pi 3 B+.  The code that it says is the same is working fin.  I think it is better to pull it rather than put bad code out ther.

Best re

[2018-09-21 08:29] BinduRao2018 commented on #930
Thanks for letting me know. I will wait for the update then.

[2018-09-21 08:51] deinok commented on #778
https://www.nuget.org/packages/SystemExt.Devices.Mraa/

Actualy it requires have libmraa installed, but i'm working on have an aditional NuGet called for example (SystemExt.Devices.Mraa.runtime.linux-arm) that will not require to have libmraa it will use a local compiled version of libmraa

[2018-09-21 08:52] deinok commented on #880
https://www.nuget.org/packages/SystemExt.Devices.Mraa/

[2018-09-21 08:54] deinok commented on #778
I'm open to transfer the ownership of the bindings to the MRAA project if they will promise still giving support to .NET

[2018-09-21 13:16] IvanFarkas commented on #880
Awesome! I need it on Linux arm64 on DragonBoard 820c using .NET Core 2.2 C#.
Is it available for Linux arm64 (Debian)?
Perhaps GitHub source?

[2018-09-21 15:00] deinok commented on #880
https://github.com/SystemExt/SystemExt.Devices.Mraa
It should work on any device that can run netstandard1.1 and have a `libmraa` installed.
In the near future you are not going to need libmraa installed in the SO, It will use a precompiled version attached to the nuget package

[2018-09-22 21:03] Chuckduey commented on #930
I put my pull request back up.  It looks like my code is detecting the Raspberry Pi 3 + with the Revision a020d3 correctly.  With Pull Request #928 it should detect the Raspberry Pi correctly and not the Default Raspberry Pi  Model B Rev 1.  The old Pi B only has 26 pins and had a slightly different GPIO scheme.  Try out the new code and see if it detects the Pi correctly as a Raspberry Pi 3 Model

[2018-09-23 16:42] deinok commented on #880
@IvanFarkas Now we have a way to include MRAA without with just adding a NuGet Package. It doesn't require having it installed.

[2018-09-24 10:40] BinduRao2018 commented on #930
Hi @Chuckduey,
I confirm that the fix available on #928 detects Raspberry PI 3+ board as mentioned by you. I did run one of the my test program to drive an LED after initialization, which works fine. However, I haven't verified all the interfaces(connectors) available via Grove PI.
Could you let me know when this fix will be merged to master and officially available as a release please?

[2018-09-25 14:16] BinduRao2018 opened #931 "Info required: Use of Grove - Ultrasonic Ranger without ISR"
Hello,
I would like to test Grove - Ultrasonic Ranger using mraa on UP2 Grove Kit. As I see ISR is not yet mapped with mraa, could you let me know the way to test this sensor please?

[2018-09-25 16:42] BinduRao2018 commented on #931
Hi @Propanu ,
Thanks for your quick response.
I am trying GrovePI+ shield on multiple platforms. So, I wouldn't be able to try an option to connect to the UP2 board directly.
I went through hcsr04 driver implementation, which I would like to explore. I have one question on this:  hcsr04.c expects trigger pin and echoPin - 2 pin configuration, however with the Ultrasonic ranger I will be using only

[2018-09-25 17:45] Propanu commented on #931
Maybe not then, at least not out of the box. You might have to modify the hcsr04 library slightly and recompile it to use a single pin. The way the ultrasonic ranger works is the same though, as I remember at some point we were discussing merging the 2 drivers into 1 (hcsr04 and ultrasonic). @malikabhi05 has worked with these 2 libraries in the past and might be able to help.

[2018-09-26 09:11] BinduRao2018 commented on #931
I tried by modifying the hcsr04 implementation by using the same pin for trigger and then echo. However, it doesn't seem to work. gpio doesn't seem to get the correct value (1 in this case) to calculate the distance. @malikabhi05 could you provide some inputs on this please?

[2018-09-26 14:05] BinduRao2018 opened #932 "Info required: No of I2C devices that can be accessed simultaneously on Grove PI+ platform using mraa"
I have connected  > 1 device/sensor  on Grove PI+ - I2C ports (Port I2C-2, I2C-1, I2C-3). I would like to read from/write to these devices simultaneously. I would like to know if there is any restriction w.r.t no of devices(slaves) that can be addressed by the bus

[2018-09-26 21:03] deinok commented on #778
The lib by itself just make calls to `libmraa.so` using `[DllImport]`.
So in theory, if in a WSL environment you can use libmraa, indirectly you can execute a .NET Core app inside the WSL using this bindings and should work pretty well.
I think that the biggest problem for you will be setup libmraa inside WSL. Once done, it should be pretty easy access to the info using my package

[2018-10-02 21:53] Chuckduey commented on #746
I am currently working with BBB and PWM.  I created a workaround using low level kernel calls.  Not a very elegant solution.  I would rather get an MRAA version that works than to use my ugly work-around.  It looks like PR #273 may be a fix for this.   Any status on getting a new PR or update for the PWM problem?

[2018-10-02 22:56] nick-atmosphereiot commented on #746
I ended up writing a solution, but I do not recall if I opened up a PR:
https://github.com/nick-atmosphereiot/mraa/commits/master

[2018-10-03 19:52] #929 closed

[2018-10-06 03:27] njk-jeev commented on #31
Thank you, when I change the switch from 3v3 to 5v, I could see the text displayed on LCD screen.

[2018-10-08 09:35] BinduRao2018 commented on #930
Is there any update on this please?

[2018-10-09 20:19] Propanu commented on #932
Hi @BinduRao2018, you can definitely use multiple devices on the I2C bus. The biggest limiting factor is the total capacitance of the bus, as every device you add will make the signals a bit weaker. There are definitely exceptions though as some devices, especially ones that are not 100% compliant with the I2C protocol may not allow you to attach additional devices to the same bus.

[2018-10-09 20:40] Propanu commented on #930
Hi @BinduRao2018, this was merged to master with d3207769e7a9df9f4afe10d502964f51ef0dca76.

[2018-10-10 08:20] tingleby commented on #932
Also worth noting, if the i2c device(sensor) has the same address on more than one, that can cause a problem too.

[2018-10-11 14:00] BinduRao2018 commented on #932
Thanks for the information.

[2018-10-11 14:01] BinduRao2018 commented on #930
I am now using d320776 on master branch. Looks good to me on UP2 & Raspberry PI.

[2018-10-11 14:05] BinduRao2018 commented on #931
Any input on this please? Is there any plan to include ISR support using mraa in the near future?

[2018-10-12 14:33] BinduRao2018 commented on #479
Hi,
I am not going to use Artik board shortly and would like to use mraa to drive my Grove PI sensors. Is there any information on the above mentioned activity please?

[2018-10-13 19:16] alext-mkrs commented on #932
Looks like answered - closing

[2018-10-13 19:16] #932 closed

[2018-10-13 19:17] alext-mkrs commented on #930
Looks like solved - closing

[2018-10-13 19:17] #930 closed

[2018-10-15 11:19] BinduRao2018 commented on #546
Hi @bhorn,
I came across this thread, while looking for ARTIK adaptation on mraa. I see that you had mentioned about this a while ago? Do you have any leads on this please? I would like to use/build on this as I am using mrra on Raspberry PI and UP2 board already and would be starting on ARTIK board soon.

Thanks,
Bindu

[2018-10-16 09:53] BinduRao2018 commented on #479
what is the latest plan to support for ARTIK platform? Please comment.

[2018-10-17 16:15] BinduRao2018 opened #933 "Information required: pin mapping of a platform to GrovePI"
Hi,
I am in the process of using mraa implementation to support GrovePI on Artik board. I have the implementation using mraa that works fine on UP2 board and Raspberry PI. Idea is to use the same implementation and update mraa to support Artik, as the support is not available.
I went thr' thr 'raspberry_pi.c' and 'up2.c' respectively to understand the pin mapping. However, it is still not clear to

[2018-10-17 19:02] Propanu commented on #479
Hi @BinduRao2018, adding support for Artik boards is not on the roadmap for the MRAA team and I doubt any of the current project maintainers have the board, but we would be happy to review and merge any community submitted implementations.

[2018-10-18 10:11] BinduRao2018 commented on #479
Ok, Thanks @Propanu for the clarification. I am in the process of analyzing pin mapping for Eagleye 530s as there is a requirement for us to support on Artik board. I will update/ might seek clarification in this regard on a separate thread.

[2018-10-20 23:58] jakekarnes42 opened #934 "Publish mraa 2.0.0 to Maven Central"
It appears that MRAA has released version 2.0.0, but Maven Central only has up to version 1.9.0. Could you please publish the latest version (2.0.0) to Maven Central as well?

Thanks for the great project!

[2018-10-24 13:11] BinduRao2018 commented on #933
I have now gone through the mraa impln for UP2 and the pin mappings are as described in https://wiki.up-community.org/Pinout_UP2. Can anybody, let me know on the mapping between UP2 pin number and sysfs (Linux GPIO no) please?

Thanks,
Bindu

[2018-10-25 00:44] Propanu commented on #934
Hi @jakekarnes42 I managed to publish MRAA 2.0 for Android Things, but we'll need to update our build system to get the regular java bindings up on Maven. @tingleby is this something you can help with?

[2018-10-29 09:32] BinduRao2018 opened #935 "Kernel/config changes required on UP2 board to work with GrovePi"
I have tested GrovePi with the sensors on UP2 using mraa. When I try with GrovePi available on github (DexterInd/GrovePi), i get i2c errors, which indicates the problem in i2c configuration. Using mraa,  _mraa_add_subplatform(MRAA_GROVEPI, "0")_ is called during initialization to set the configuration.  Is it possible to get the changes required to configure GrovePI please to use with (DexterInd/G

[2018-10-31 01:48] Propanu commented on #935
Hi @BinduRao2018 there's a known issue with the GrovePI+ shield where you have to reset the board after using `i2cdetect` on the bus the shield is connected to, or you will get bus arbitration errors. Is this the error you are seeing?

[2018-10-31 02:04] Propanu commented on #933
GrovePi is an I2C subplatform, meaning you can use it on any MRAA supported platform that has an I2C bus available you can connect the shield to. To use pins on a subplatform you index them by 512 just like in your example (thus D0 is 512, D3 is 515 and so on). There is no direct mapping between platform pins and subplatform pins, but rather an implementation that enables communication between the

[2018-10-31 17:09] BinduRao2018 commented on #935
Hi @Propanu,

It turned out to be a permission issue. When I executed my program as root, there is no problem and the test works fine! This query could be closed.

Thanks ,
Bindu

[2018-10-31 18:36] Propanu commented on #935
Thanks for the update!

[2018-10-31 18:36] #935 closed

[2018-11-03 20:06] gitlucky96 opened #936 "Errors while installing on Raspberry Pi"
I am trying to install mraa on a Raspberry Pi using the command line
`sudo add-apt-repository ppa:mraa/mraa`

However, I am getting an error saying that there is no version for Raspbian, even though the Raspberry Pi seems to be supported (acc. to Documentation).

`Traceback (most recent call last):
  File "/usr/bin/add-apt-repository", line 95, in <module>
    sp = SoftwareProperties(options=optio

[2018-11-04 09:55] alext-mkrs commented on #936
As you can see in the [README](https://github.com/intel-iot-devkit/mraa/blob/master/README.md), the `add-apt-repository` is used on Ubuntu, but you're running Raspbian and quick googling shows that's not supposed to work there.

You can add that PPA manually though, see e.g. [here](https://raspberrypi.stackexchange.com/questions/44622/how-to-add-ppa-entries-manually-on-raspberry-pi#46933) for a re

[2018-11-04 22:19] gitlucky96 commented on #936
Thanks! I was able to install it after installing dirmngr (with sudo apt-get install dirmngr).
However, my c++ files don't seem to be able to use the library. Is there a way I can check if it is installed properly? And can I just include the mraa library with a #include directive in c++?

Thanks for your answers. I appreciate it!

[2018-11-05 21:50] jakekarnes42 commented on #934
Thanks @Propanu.

Any updates on this @tingleby? Your help would be greatly appreciated.

[2018-11-06 01:50] Propanu commented on #934
Yep, it'll end up on Maven Central too: https://oss.sonatype.org/#nexus-search;quick~mraa

[2018-11-06 12:56] yoann-solana opened #937 "Error for gpio read on UP squared"
Hi,
I am trying to read value on a pin with interruption but the read function is returning a negative value and not 0 or 1 as expected.

# Setup
* The board is an Intel Up squared running Ubuntu 16.04 with kernel
[code]
I have followed all the [procedure](https://wiki.up-community.org/Ubuntu) to setup the UP.

To install MRAA, I followed the procedure from the [Readme](https://github.com/intel-io

[2018-11-07 17:52] tingleby commented on #937
Perhaps checking the address of the ctx may help, using either printf or a debugger.

[2018-11-08 05:35] Propanu commented on #937
This is caused by `imraa`, the MRAA daemon used to flash and configure subplatforms, and is totally unrelated to this.

The issue is on the UP2 you cannot read a pin that has an ISR attached to it, although the callback as you might have noticed still runs. It was relatively easy to figure out why this wasn't known, as most MRAA ISR examples are cleverly crafted to print and not use arguments cros

[2018-11-10 17:35] jakekarnes42 commented on #934
Confirmed that MRAA 2.0.0 is available on Maven Central here: https://mvnrepository.com/artifact/io.mraa/mraa/2.0.0

Thanks so much!

[2018-11-10 17:35] #934 closed

[2018-11-13 06:02] bozkurthan opened #939 "Building mraa made de10-nano unknown platform"
Hello everyone,

I'm trying to build mraa on DE10-Nano board. Actually, Mraa comes with DE10-Nano image, but I want to change Mraa for custom works such as adding more Uart interface to Arduino header. And I found document for DE10-Nano on Intel [https://software.intel.com/en-us/node/731128](url). Also, the link refers to building Mraa site. [https://github.com/intel-iot-devkit/mraa/blob/master/do

[2018-11-13 07:12] bozkurthan commented on #939
Before the build;

[code]

After the build, but I tried cmake .. with no flags;

[code]

That's important to know, it's detect only armv7 platform;

-- INFO - libmraa Version v2.0.0-4-gd320776
-- INFO - cmake Version 3.6.1
-- INFO - Target arch is armv7

But as far as I know, it should detect DE10-Nano-SoC .

[2018-11-13 18:59] tingleby commented on #939
Very interesting, :/
It would first appear that the upstream mraa does not detect this platform correctly.
Could you post the contents of `/proc/cpuinfo` please?
Also you could examine the syslog to see if there is anything of interest there

[2018-11-14 09:47] bozkurthan commented on #939
Thanks for replying.

cat /proc/cpuinfo gave me;

[code]

Also I checked `mraa/build/CMakeFiles/CMakeError.log` directory for error log which is gave me the following content;

[code]

I checked log with journaltcl, firstly I tailed boot and found the followings.

1.  CPU Testing

[code]

2. FPGA base validated

[code]

3.  Architecture detection

[code]

And then, the following contents logged af

[2018-11-15 16:14] tingleby commented on #939
@Propanu looks like you had some experience with this platform. Does the HW detection look to include this?

[2018-11-15 20:36] alext-mkrs commented on #936
No worries.

If you could elaborate on how exactly

I should be able to advise. Generally there are examples packaged, so you could try those first.

[2018-11-15 20:57] alext-mkrs commented on #939
I have this board, though I haven't used it for quite a while - but IIRC mraa was just fine there, including the compilation... Apparently the [identification ](https://github.com/intel-iot-devkit/mraa/blob/master/src/arm/arm.c#L76)in `cpuinfo` has changed since the support was added originally.

And apparently we don't support the "force" CMake switch for anything but x86 (I haven't noticed that

[2018-11-16 02:50] Propanu commented on #939
I was about to suggest forcing the platform so good catch there @alext-mkrs. I don't remember why it's not there, maybe just never added. @Mani-Sadhasivam would probably find that useful for 96boards too.
@bozkurthan, as far as I remember `CMAKE_C_FLAGS` and `CMAKE_CXX_FLAGS` are separate. perhaps that's what caused the confusion, in your log the build fails on the CXX target for the Python bindin

[2018-11-16 06:29] SovatnaPhon commented on #251
I installed mraa, while it is problem for me with Invalid I2c bus. Can you help me?

[2018-11-19 05:55] bozkurthan commented on #939
@alext-mkrs thanks for helping.

Yes, I added same flag. But I used only -fPIC flag when I built second one. Actually, I think It's not about only flags. There was a no problem before the multiple-build. I think I messed up the Libraries and kind of system resources when I built source more than once. However, I'll try the force today and I'll be keep in touch. When I dig the problem further and d

[2018-11-23 21:06] HelloHungryImDad opened #940 "Memory leaks in mraa_spi_write_buf and mraa_spi_write_buf_word"
Memory leaks in mraa_spi_write_buf (mraa/src/spi/spi.c:434) and mraa_spi_write_buf_word (mraa/src/spi/spi.c:451)  due to recv buffer being allocated and only freed on transfer error. On successful transfer, the recv buffer is returned by the functions but not freed from heap.

Given that these functions are wrappers for the equivalent transfer functions (lines 378 and 406 respectively) but discard

[2018-11-28 21:03] meshaun9 commented on #937
I'm having the same issue currently but i'm using the python3 bindings for libmraa to control servo motors with the adafruit PCA9685 but initially I just was testing PWM on the actual UP2 board before I communicate through I2C to the Adafruit board so I ran the following via python3 interpreter:

`import mraa
x = mraa.Pwm(33)
`
I get the error that it couldnt' initialize and just like @yoann-solan

[2018-11-28 23:34] Propanu commented on #937
Hi @meshaun9, PWM should work out of the box and is not related to this issue. Sounds like you're not using the right kernel driver for the low speed I/O header. Can you please post the output of `journalctl` when you run your code?

[2018-11-30 18:33] dan119 commented on #651
hi, did you manage to start the cardiograph?

[2018-12-03 04:08] zhangeven commented on #620
@g-vidal I have the same issue,but I resolved this by calling mraa.Gpio API like this:
pin = mraa.Gpio(2,owner=False,raw=True)

[2018-12-03 23:59] tingleby commented on #940
Please feel free to create a PR if you feel improvements should be made :)

The API docs for these calls do mention the caller should free the returned buffer:
https://github.com/intel-iot-devkit/mraa/blob/master/api/mraa/spi.h#L133

[2018-12-04 00:15] HelloHungryImDad commented on #940
Thanks for pointing that out, I'd missed that one!

I'll close this and raise a PR as I think this might ineccesarily catch a few people out. I'd seen a few issues around where people had noticed memory leaks in the js wrappers and I wonder if this gotcha was inherited.

Amazing project by the way. I wish I'd discovered this library sooner!

[2018-12-04 00:15] #940 closed

[2018-12-04 13:38] sjournaux commented on #549
you can use SPB framework
https://docs.microsoft.com/en-us/windows-hardware/drivers/spb/spb-framework-extension
and
https://docs.microsoft.com/en-us/windows/uwp/devices-sensors/enable-usermode-access

[2018-12-25 20:20] alext-mkrs commented on #937
This sounds like resolved to me - closing. Feel free to comment if you need further help.

[2018-12-26 12:45] Windows10010 opened #943 "The number of UART on minnowboard turbot is wrong."
While I was testing the mraa framework written in java, I found that there was only one on-board uart interface that is available in the program as three uarts **_(one for FTDI serial,two for low-speed expansion)_** are supposed to be available according to the port layout.

<img width="602" alt="screen shot 2018-12-26 at 20 37 59" src="https://user-images.githubusercontent.com/30623403/50446132-3

[2018-12-27 14:12] bozkurthan commented on #939
@alext-mkrs Actually, not exactly that. MRAA is running wells both of Custom FPGA design and default FPGA design. But, when i build MRAA from github by source it's getting fail. The problem is
`Hardware	: Altera SOCFPGA` where the DE10-Nano board is defined `DE0/DE10-Nano-SoC` in mraa library.

[2019-01-05 07:05] Mani-Sadhasivam opened #945 "I2S API support"
Hello,

This issue is created for tracking the progress of I2S API support in MRAA. I will initially lead the development of the API and anyone who might be interested is welcome to join!

My first approach is to base the API support on top of ALSA lib. But since this is an external library, I'm not sure whether we can depend on it or we should implement the API from scratch.

[2019-01-05 07:08] Mani-Sadhasivam commented on #945
@Propanu @arfoll @malikabhi05 @alext-mkrs thoughts?

[2019-01-05 17:07] CODO77 opened #946 "mraa/i2c_mpu6050.c acceleration only outputs integer"
With the example you provide to read the accelerometer and gyroscope values from the MPU6050, it only outputs integer values of acceleration in terms of g. so if rounds the acceleration to the nearest whole number which can only be (-2,-1,0,1,2). I cannot find a way to display it as a decimal number, every time i try to convert it I get an extremely large integer number.

[2019-01-06 19:05] alext-mkrs commented on #939
Thanks, okay, so we're seemingly now down to just one things of the several we've discussed along the way. Good :)

Okay, so this still sounds like newer kernel/OS build than the one used for mraa development originally.

Could you please do two things:
1. Post the output of `uname -a` command from the board
1. Try to update the platform check code as I suggested [here](https://github.com/intel-io

[2019-01-06 19:07] alext-mkrs commented on #937
@yoann-solana, ping?

@Propanu, do you want to pursue this one as per your earlier comment in case this is no longer actual for @yoann-solana?

[2019-01-06 19:19] alext-mkrs commented on #943
@Windows10010 mraa doesn't directly use those pins to produce UART "traffic" - it rather attaches to OS-level devices that are exposed by the Linux device driver(s). Turbot is indeed currently only configured to have one port in the UART definitions in mraa (not sure why, @arfoll might remember) - but you could try to use the name-based init to use other UARTs: `new Uart('device name, e.g. /dev/tt

[2019-01-06 19:30] alext-mkrs commented on #939
Ok, never mind the second thing - I now see your PR #944 (catching up with GH notifications, sorry). I'll comment in the PR itself.

[2019-01-06 19:41] alext-mkrs commented on #946
I see - well, in this specific case the sensor data is not actually the point, the example is only used to demonstrate how to communicate using mraa via I2C, the specific thing we're talking _to_ is almost irrelevant.

However if you have a patch that would enhance the example - please feel free to send it as a PR, I'd be glad to review that (see CONTRIBUTING.md for details if you're up to that).

[2019-01-06 19:42] CODO77 commented on #946
Thank you. I will see what I can do

[2019-01-12 16:41] #946 closed

[2019-01-17 12:00] bozkurthan commented on #939
Hello, thanks for all your suggests. Actually, I'm newbie on github. This is my first Issue topic and PR. So, I don't want to do something wrong.

Here the output of `uname -a` :

[code]

I'll read your PR comment and try to resolve.

[2019-01-21 16:32] BinduRao2018 commented on #925
@Propanu, Could you let me know the Bosch make for Temperature & Humidity instead of TH02/SI7005 to use on GrovePI please?
Is the sensor I2C based? Please provide the details

[2019-01-22 14:21] donnm opened #947 "Python SPI wrapper (spiFromDesc) not working on rpi"
The method spiFromDesc in the mraa Python module does not work (at least for Raspberry Pi).

[code]

[code]

From /var/log/syslog:
[code]

Following the call through to mraa_init_io it appears that the parsing fails in the helper functions, resulting in the error "Invalid SPI context".

I changed initIo() in api/mraa/common.hpp to:

[code]

bypassing the IO parser and hardcoding the SPI bus to 0,

[2019-01-28 07:32] vmuthura opened #948 "JSON Platform loading: No platform info found in json file in log file"
Hi,

I am new to MRAA. I have gone through the docs in this git and I am trying to use JSON platform method for a quick testing of my apollo lake based board.

I have created json file based on the explanation provided in the doc section under mraa/docs and testing using python api.
Please find the below log taken from /var/log/syslog
libmraa[4576]: libmraa version v2.0.0-5-g7a1db24 initialised by

[2019-01-29 12:19] vmuthura commented on #948
It was the PLATFORM_KEY, GPIO_KEY in the json file which was causing the issue.
In all the sample json files available under /examples/platform the GPIO_KEY is explained as GPIO, AIO_KEY as AIO. This was causing the issue when processing the obj_key from json file and the platform was not properly initialized.

I have changed OBJ_KEY in my json file for PLATFORM, GPIO as g
"g" : [
{ "index" : 10,

[2019-01-29 12:19] #948 closed

[2019-02-03 19:45] alext-mkrs commented on #947
Okay, then looking at the code more closely, looks like the description parsing logic somehow doesn't recognize your description string - and specifically the very first part of it, `spi`.

Could you please try `s-raw-0-0` instead? Looks like we may have a bug in our docs/examples, as also recently reported in #948. I think ae391fe9fe79964b1cfa0d75918954a81a03fbf8 has changed those keys without up

[2019-02-04 12:57] BinduRao2018 opened #950 "Query: What is the rate at which AIO read and GPIO write can be called"
i am using mraa on Raspberry PI with Grove Kit.
I see occasional failures when I use mraa_aio_read (read_status = -1) and mraa_gpio_write (status = MRAA_ERROR_UNSPECIFIED).  I have several writes to GPIO and reads from AIO (various pins). All the calls are serialized and I invoke these apis continuously. I would like to know if there is any limitation w.r.t successive reads/writes using mraa.
Can

[2019-02-06 03:37] Mani-Sadhasivam commented on #950
Hi @BinduRao2018,

IMO this behavior is the limitation of SYSFS interface for both GPIO and AIO. You can test this by writing a simple shell script which just reads from AIO (/sys/bus/iio/devices/iio:device0/in_voltage0_raw) and writes to GPIO through SYSFS. I would suggest you to provide a delay after each read/write.

[2019-02-06 11:31] donnm commented on #947
I had previously tried many combinations of these strings.

[code]

[2019-02-07 09:32] BinduRao2018 commented on #950
Thanks for the info @Mani-Sadhasivam. I will look into this.

[2019-02-08 04:26] Windows10010 commented on #943
Oh God, it doesn't work at all even if I pass `0` as the argument like the last time........

[2019-02-08 16:47] tingleby commented on #943
So regrettably I haven't had any experience with this board. But you can find out what serial devices are available on the board by running `ls /dev/ttyS*`

Judging by https://elinux.org/Minnowboard:MinnowMax
UART 1 your looking for might be accessible via - `new Uart("/dev/ttyS4")`

[2019-02-14 07:11] arfoll commented on #943
The problem on minnowboard is you can change those pins using the BIOS. I think i just picked whatever came default and left it a that. Uarts are super easy to init with the device node rather than pin numbers. Could just be easier to init the uarts with matching IDs in sysfs - I guess improvements are welcome :)

[2019-02-22 09:49] vsivanagulu opened #954 "issue with uart devpath in tag 2.0.0"
I ma trying to add uart to my custom am335x based board . I have issues with devpath in uart initialization

`mraa_result_t
mraa_cosmic_uart_init_pre(int index)
{
    char devpath[MAX_SIZE];
    snprintf(devpath,MAX_SIZE,"/dev/ttyO%u",index);
    if (!mraa_file_exist(devpath)) {
        syslog(LOG_ERR, "uart: Device not initialized");
    }else {
        plat->uart_dev[index].device_path = devpath

[2019-02-22 15:58] Propanu commented on #954
Maybe check formatting/string termination on your written `devpath`? Just like you pointed out, this works with a constant literal so I doubt it's a mraa issue.

[2019-02-23 19:24] alext-mkrs commented on #954
@vsivanagulu, please post syslog contents around the time of you program run. The error message you post is not from the code you posted, but from UART example code, right? Posting full code you've changed may be helpful as well, but we can start with syslog.

[2019-02-25 17:14] icis4 commented on #742
uname -a
Linux beaglebone 4.14.94-ti-r93 #1 SMP PREEMPT Tue Jan 29 18:10:13 UTC 2019 armv7l GNU/Linux

sudo config-pin P9_17 spi_cs
sudo config-pin P9_22 spi_sclk
sudo config-pin P9_21 spi
sudo config-pin P9_18 spi

[2019-02-27 07:31] shmrymbd commented on #849
hi @Ladeia could you help how to compile lede with latest mraa and upm? @vanbwodonk

[2019-03-02 16:54] alext-mkrs commented on #742
I think that unfortunately no one of the current active contributors has a BBB available, so we'd gladly review a PR with the fix from anyone who's up to that. Let me add a lable for that.

[2019-03-05 19:27] lurabo opened #956 "UP-Board / Ubilinux : Onboard LEDs not working in mraa 2.0"
I used to control UPBoard onboard LEDs with mraa 1.8 version many times, no issue.  I used c prog. language to control them.

Since I upgraded to mraa 2.0 version, LEDS stopped to work.

I initialize them with this code :
led_context_green = mraa_led_init("green");
.... but  mraa_led_init("green") function returns 0

_Here is mraa syslog message :_
mar 03 18:31:59 ubilinux4 libmraa[2576]: **libmra

[2019-03-05 19:48] Propanu commented on #956
Hi @lurabo. The led APIs were updated in MRAA 1.9 as pointed out in the [changelog](../blob/master/docs/changelog.md). You will need to use the `mraa_led_init_raw(const char* led_name)` function instead in your code.

Here's a more interesting example that uses all the built-in LEDs on the UP2: https://github.com/intel-iot-devkit/iot-devkit-samples/blob/iss2019-update3/up2-leds/c/up2-leds.c

[2019-03-06 15:27] lurabo commented on #956
Thank You for answer. It works now.

[2019-03-06 15:27] #956 closed

[2019-03-07 00:34] jveitchmichaelis opened #957 "mraa in Docker reports that user doesn't have access (when they do)"
I'm running a Raspberry Pi 3B+ with Raspbian Stretch. This works fine (outside Docker):

[code]
I've got a Docker container in which I've also installed mraa as per https://github.com/intel-iot-devkit/mraa/pull/928. I'm running the container with:

`docker run -it -P --privileged -v /sys:/sys bash`

When I try to run mraa (as root), I get the following:

[code]

This stumped me for a bit, until I

[2019-03-08 17:57] kmh4ah commented on #936
I still cannot solve it using the methods provided from the link.
When I try to install
sudo apt-add-repository ppa:pj-assis/ppa

The error receives as below...

Traceback (most recent call last):
  File "/usr/bin/apt-add-repository", line 95, in <module>
    sp = SoftwareProperties(options=options)
  File "/usr/lib/python3/dist-packages/softwareproperties/SoftwareProperties.py", line 109, in __in

[2019-03-18 20:12] #715 closed

[2019-03-27 07:55] bozkurthan commented on #939
PR #944 fixed this issue. I'll try later but for a now MRAA detect my board.

[2019-03-27 07:55] #939 closed

[2019-03-28 18:57] tingleby commented on #957
@Mani-Sadhasivam Any clue whats going on there :/
 https://github.com/intel-iot-devkit/mraa/blob/master/src/led/led.c#L163

[2019-03-28 19:45] jveitchmichaelis commented on #957
If I have some time I can compile in debug and see which condition it's failing. Within the container I can still write manually to the led device (via /sys) so I'm not sure why `stat` would fail.

[2019-03-28 20:20] Propanu commented on #957
I always get this on the UP2 too when running as non-root even if the user has write permission to the LED classes.

[2019-04-10 13:43] caseydierking opened #959 "Error through during building using "make""
Trying to build from the source, and I get this error when running "make".

`src/javascript/CMakeFiles/mraajs.dir/build.make:67: recipe for target 'src/javascript/CMakeFiles/mraajs.dir/mraajsJAVASCRIPT_wrap.cxx.o' failed
make[2]: *** [src/javascript/CMakeFiles/mraajs.dir/mraajsJAVASCRIPT_wrap.cxx.o] Error 1
CMakeFiles/Makefile2:360: recipe for target 'src/javascript/CMakeFiles/mraajs.dir/all' fail

[2019-04-10 13:46] caseydierking commented on #959
This failed because i installed Swig 3.0 from the apt repository. I realize I needed to build it from source.

[2019-04-10 13:46] #959 closed

[2019-04-11 15:03] g-vidal opened #961 "Cannot import mraa in python3 (swig4 cmake3.13 RaspberryPI)"
I have compiled mraa on raspberryPi3 buster with swig4 and cmake version 3.13.4
Compilation is OK and installation goes well but even if the modules exist they cannot be imported :

[code]
If I change `CMP0078` to  `OLD` the issue is solved.
I have proposed a pull request  #960 which might be rough but works.
[code]

[2019-04-11 15:45] tingleby commented on #961
In your first output, mraa.Gpio has been typed with the wrong case on the 'p', could you please try without #960 but with the correct "casing"?
mraa.Gpio not mraa.G**P**io

I am just curious if the CMP0078 has effected it :)

[2019-04-11 16:20] g-vidal commented on #961
Hum hum hum You are right!
It seemsto work except the error fpor the cmake. BUT I still have the error with upm.... any idea?

[code]

[2019-04-24 11:19] gbr1 opened #963 "UP Squared: getPin returns 0"
Hi,
I'm using mraa v2.0.0 on Up Squared using C++ for a [ROS integration](https://github.com/gbr1/upboard_ros/tree/devel).
Everything is working but in my code I need to get pin number from a GPIO.
I can write on pin but result of **getPin()** is always 0 also for **getPin(true)**.
[code]
Faulty line:<br>
`std::cout<<gpio_22.getPin()<<std::endl;`<br>
Thank you in advance!

[2019-04-24 15:03] Propanu commented on #963
Hi @gbr1. This might be caused by using the chardev devices instead of sysfs classes on the UP2. Pin addressing in this case works with a chip + line tuple.
Perhaps the common `getPinName(int pin)` function can help instead? (see http://iotdk.intel.com/docs/master/mraa/namespacemraa.html)
If not, you'll have to compile MRAA from source and disable chardev for the platform.

[2019-04-24 17:41] gbr1 commented on #963
Hi @Propanu! Just checked. <br>
`std::cout<<mraa::getPinName(22);`<br>
give me **GPIO25** and I assume it should be correct because [here](https://wiki.up-community.org/Pinout_UP2) it is called _BCM25_.
I solved inheriting Gpio class to a new Gpio class that override getPin method because I'm trying to make easy to install my ROS wrapper (just a git clone and catkin_make).
I don't know if this iss

[2019-05-05 13:37] alext-mkrs commented on #954
@vsivanagulu, is this still actual?

[2019-05-05 13:38] alext-mkrs commented on #943
So I think we can close this one with the recommendation to use device node names as listed above. Closing and feel free to post if you need further help.

[2019-05-05 13:38] #943 closed

[2019-05-05 13:41] alext-mkrs commented on #937
Okay, closing for no activity - feel free to reopen if still relevant.

[2019-05-05 13:41] #937 closed

[2019-05-05 13:43] alext-mkrs commented on #963
This looks like resolved to me  - closing. Feel free to post if you need further help.

[2019-05-05 13:43] #963 closed

[2019-05-22 04:21] vsivanagulu commented on #954
@alext-mkrs ,i have stoped this currently for some other important work. i will do it soon.

[2019-05-31 16:11] vijvcic opened #967 "Error when running an app using node command"
Hello guys, i'm having  an error when i'm running my application with node command

[code]

my nodejs version is  8.11.3
Could anyone help me to resolve this problem  ? . I was thinking it because my nodejs version is > v6 so it cause the error when running the app

[2019-06-19 11:43] sgallagher opened #969 "Build failure with Node.js 12.x"
When building against Node.js 12.4.0 on Fedora Rawhide, we get the following output:

[code]

The noteworthy piece is:
[code]

Node.js 12.x moved to running atop version 7.4 of v8, which is a backwards-incompatible major version upgrade from Node.js 10.x (which used version 6.8 of v8).

[2019-06-20 10:59] pixsysedp commented on #742
Is there any news about SPI mraa support on a recent kernel in  BeagleBone Black?
In my code I try to open SPI device using:
`spi = mraa_spi_init(SPI_BUS);`

I'm usind  SPI_BUS = 2 but it's wrong. In python I can open the device with:

`from Adafruit_BBIO.SPI import SPI`
`import time`
`#https://adafruit-beaglebone-io-python.readthedocs.io/en/latest/SPI.html`
`spi = SPI(2,1)`
`spi.msh = 100000`
`pr

[2019-06-23 15:00] Psychokiller1888 commented on #434
3.5 years later it is still not available? It's a shame, because mraa is good, but total waste of time to install in virtual environement

[2019-06-28 09:12] cschaf commented on #936
Is there a solution found?

[2019-06-29 05:32] Propanu commented on #969
Hi @sgallagher, maybe follow [this](https://github.com/swig/swig/issues/1520) for now, as I don't think there is a swig patch ready yet.

[2019-06-29 05:42] Propanu commented on #967
Hi @vijvcic, you might have to compile mraa from source with a custom version of swig for node 8 support. Please refer to the documentation [here](https://github.com/intel-iot-devkit/mraa/blob/master/docs/building.md#dependencies-continued) and let us know if you have further questions.

[2019-06-30 19:00] Erikvv opened #970 "Compiler swap messes up includes"
I'm probably doing something wrong but I don't know how to proceed. Would like a pointer if anyone knows.

I can compile the library. But now I want to cross-compile to ARMv8.

When i change the build command from

`cmake ..`

to

`cmake .. -DCMAKE_C_COMPILER="aarch64-linux-gnu-gcc"`

The compiler command changes from

[code]

to

[code]

The added `-I/usr/include` will cause the wrong headers to

[2019-06-30 19:32] Erikvv commented on #970
This is fixed if I remove line https://github.com/intel-iot-devkit/mraa/blob/0a12c5a0177f9fa8e7c4c564e70a65c4a0bb81af/CMakeLists.txt#L143

[2019-07-01 22:48] tingleby commented on #970
When cross compiling, you might need to specify a cmake toolchain file.

[2019-07-09 17:37] Propanu opened #971 "RPI 4 support"
Has anyone tried MRAA on the Raspberry Pi 4 yet? @Mani-Sadhasivam, @arfoll do you have any idea if we need to update the existing definition files? I don't have one of the new boards. Thanks!

[2019-07-10 04:16] Mani-Sadhasivam commented on #971
@Propanu I don't have any info about Rpi 4. Maybe I can ask @nullr0ute to help on this. AFAIK he is working on bringing Fedora on Rpi 4 and having MRAA support would be very beneficial.

[2019-07-11 10:33] rolly-ng opened #972 "Error trying to compile on RockPi 4B with Ubuntu Mate Desktop"
Hi Everyone,
I am trying to compile the mraa library on my RockPi 4 which I was told to support mraa library. Before that I tried to install with apt-get but I have no pins with mraa-gpio list.
Anyway, here are the output of errors, could anyone please take a look and advise?

rock@rockpi:~/Downloads/libmraa/build$ make
Scanning dependencies of target mraa
[ 1%] Building C object src/CMakeFiles/mr

[2019-07-13 11:04] viptuyen101 opened #973 "Can not find suitable cross - compiler on Windows with Eclipse IDE using version 2.0.0"
Hi,
I've tried for 2 days to figure out that I can not find any toolchain for Windows OS that is suitable with version 2.0.0. I find out this problem when I try to use ver 1.7.0 and it works.  I've been using toolchains from [http://gnutoolchains.com/raspberry/](url) but get the error depicted in attached screenshot.
![image](https://user-images.githubusercontent.com/40498743/61170776-70f18800-a59

[2019-07-19 18:51] tingleby commented on #973
Hi thanks for reaching out. Whilst this insnt a bug with mraa, i might be able to help out a bit.

Are you compiling mraa yourself with the toolchain you are using?

[2019-07-19 18:53] tingleby commented on #972
So the errors come from the swig aspect of the build. Do you know what Swig version and NodeJS version you are using?

[2019-07-20 12:31] bozkurthan commented on #971
I have raspberry pi 4, I can hand for you. Can you assign me for this issue ?

[2019-07-20 14:42] Mani-Sadhasivam commented on #971
@bozkurthan Awesome! Please go ahead and submit the PR. Thanks

[2019-07-21 01:13] Chuckduey commented on #971
I already had a version that I was working on.  I just put in a PR.  It just enables the basic detection so the 40 in version and the correct pin map is detected.  It does not have the advanced overlays.  It does detect the 3 different versions 1GB, 2GB and 4GB have different revision codes.  I mapped them all to the same name.  If you want to expand on this or have a better version, please be my

[2019-07-21 13:45] bozkurthan commented on #971
I guess I'm not as expert as you, @Chuckduey . I examined your PR and I can't write better than you :) Please go ahead. I can test with 2 GB if you wish.

[2019-07-22 07:14] viptuyen101 commented on #973
Hi tingleby,

Yes I built the mraa API into dynamic library (.so files) on Raspberry Pi (Linux terminal ) using Cmake version 3.13.4 and also compiled a simple example with the toolchain on Eclipse.

At first glance I thought the lastest version (the 2.0.0) may not be compatible with the toolchain because the 1.7.0 version .so file which I deploy from my colleague completely works. The thing I jus

[2019-07-22 07:28] edmodi opened #976 "I2C as slave?"
Hi,

Is possible set i2c mraa as slave?. I'm try to desing a system with touch screen and multiple Upboard but i can not configure it

Thanks in advanced

[2019-07-22 07:32] Mani-Sadhasivam commented on #976
That would require I2C slave support on the System I2C controller. IIRC, only few drivers in linux support slave mode (like designware). But I'm not sure whether Upboard has I2C slave functionality added in its kernel driver. Only after that, we can think about adding slave support to MRAA.

[2019-07-22 15:31] tingleby commented on #973
Yeah so, if you want to just focus on C/C++ usages, I would disable the language bindings builds (Swig). That simplifies the build process somewhat.

Add ` -DBUILDSWIG=OFF` to your CMake invocation.

[2019-07-24 02:47] viptuyen101 commented on #973
Thanks for your reply.
One more thing I would like to ask. The thing I confront firstly when I start build myself the dynamic library.
I tried these following commands on Raspberrian terminal to download and install the lib:
`sudo apt-get install git build-essential swig3.0 python-dev nodejs-dev cmake libjson-c-dev
cd /tmp
git clone https://github.com/intel-iot-devkit/mraa
cd mraa
mkdir build
cd b

[2019-07-24 03:44] Propanu commented on #973
Hi TIA, is the compiler version the same on the board where you compiled MRAA, and with the toolchain you are using on your Windows host? Glibc errors are usually an indication of an incompatible/incomplete toolchain or a different/old gcc version.

[2019-07-30 12:28] bozkurthan commented on #971
@Propanu are we ok about @Chuckduey PR?  #975

[2019-07-30 23:15] Propanu commented on #971
#975 looks good but unfortunately I can't merge it here anymore. @Chuckduey would it be possible to open this PR on the new official Eclipse MRAA repo?
https://github.com/eclipse/mraa
You should be able to simply update your git remote and reopen. Thanks!

[2019-08-01 01:43] lbxl2345 opened #978 "Behavior of mraa_uart_set_flowcontrol()"
If the parameter `xonxoff` is set to false, the function will call `tcflow()` and stop the device from transmitting data to the system.

This will lead the uart example in [https://iotdk.intel.com/docs/master/mraa/python/example.html](url) fail. The function `setFlowcontrol()` will eventually call `mraa_uart_set_flowcontrol()`. Since no data is transmitted after calling `tcflow()`, the program wil

[2019-08-12 10:50] viptuyen101 commented on #973
Hi Propanu,
In terms of compiler's version, I come up with that using the toolchain on Windows host to build shared library instead of the native compiler on Raspberry Pi, but seem like it's not compatible with built-in content of CMakeLists.txt
![New Bitmap Image](https://user-images.githubusercontent.com/40498743/62860111-57736580-bd29-11e9-8e4f-ff1bb699bed2.png)
I also edited the content of CMa

[2019-08-19 13:34] vsivanagulu commented on #469
I'm also got same issue how to resolve

[2019-08-22 13:51] fzc20070415 opened #980 "BeagleBone Green Wireless - PWM won't initialize"
When I tried to initialize Pwm, it fails:
[code]
And the system journal gives the following log:
[code]
Did I miss a step?

[2019-08-26 17:34] thedim-witted opened #981 "Invalid gpio pin specified"
I am using Arrow DragonBoard 410c to handle some interrupts on the GPIO pins. However, as I try to execute the example python script it says "Invalid GPIO pin Specified". I have tried changing the gpio pin to other number like 25, 26, 30 but nothing works. Where can I get the GPIO mapping for dragonboard 410c?

Also, I was unable to install nodejs-dev in my board due to presence of libnode-dev. I

[2019-08-27 08:13] ukBaz commented on #981
You don't show what examples you are running or how you have installed mraa so it is difficult for people to debug what your issue is. As some general instructions:
GPIOs are labelled "GPIO-A" through "GPIO-L" on the DragonBoard 410c

You can look up what the pin number using mraa. For example:
[code]

An example of an interrupt might be:
[code]
How I build and install mraa for python3:
[code]

Ho

[2019-08-27 08:57] thedim-witted commented on #981
Hi, Thank You for your reply. I had used the general instructions given in the readme for ubuntu. While building the error I was getting was regarding nodejs-dev installation. It said that it already has libnode-dev which is replacing nodejs-dev. I tried removing libnode-dev but wasn't able to.
However, even after all this I tried importing mraa in python and it did not throw an error after which

[2019-08-27 09:02] thedim-witted commented on #981
And when I tried to follow your code for the list of GPIO pins, I got the following error:

[GCC 8.3.0] on linux2
Type "help", "copyright", "credits" or "license" for more informa
tion.

...     pin = 'GPIO-{}'.format(chr(i))
...     num = mraa.getGpioLookup(pin)
...     print(pin, num)
...
Traceback (most recent call last):
  File "<stdin>", line 3, in <module>
  File "/usr/lib/python2.7/dist-pac

[2019-08-28 07:19] thedim-witted commented on #981
Hi,

So I was able to build the mraa into my board and I tried that PinLookup code again but it threw an error saying mraa has no attribute 'getGpioLookup'

What does that mean? I mean apart from the fact that it can't find it in spite of it ben built?

I had also tried the same code on python2.7 and 3.4

[2019-08-28 07:29] ukBaz commented on #981
What version of the OS are you using?

It might be worth posting a question over on the 96Boards forum for DragonBoard 410c:
https://discuss.96boards.org/c/products/dragonboard410c

[2019-08-28 08:24] thedim-witted commented on #981
Its Debian Buster 10 with kernel version as 4.14.0-qcomlt-arm64

[2019-08-28 08:31] ukBaz commented on #981
I have no experience of building on that OS and kernel. I am still on:
[code]

[2019-08-28 09:08] thedim-witted commented on #981
But I am guessing with an updated kernel version the max that would have changed is the linking of the files when they get called. And given that all the supporting files are already installed and built on the machine, it should be possible to reconfigure the link file

[2019-08-28 10:36] thedim-witted commented on #981
And one thing that I couldn't understand is why is it trying to check for linkit board when it is installed on dragonboard? I tried removing that part in the code and it shifted to the next line checking for Omega2 board. It should just stop at 96boards

[2019-08-28 10:42] thedim-witted commented on #981
BTW This is also linaro OS only. Just the kernel version is upgraded

[2019-08-30 08:16] #981 closed

[2019-09-02 13:06] AndreasAZiegler opened #982 "Provide modern CMake FindMraa.cmake"
Please provide a modern CMake interface as explained in https://pabloariasal.github.io/2018/02/19/its-time-to-do-cmake-right/.

[2019-09-03 04:25] Propanu commented on #978
hi @lbxl2345, I think this behavior is highly depend on uart controller when using soft flow control. Besides, you may need different modes during device init vs. normal operation, so I don't think it's necessarily a bug, but I'm happy to discuss it further. Maybe I'm not fully understanding what you are trying to achieve?

In the example you are using it's specified that `u.flush()` may be unnece

[2019-09-22 11:18] novski opened #983 "fix support for linkit Smart 7688 on openWRT 18.06"
I noticed that libmraa is broken on linkit smart 7688 on openWRT 18.06. (+)
I get an error in `logread`:`libmraa initialised for platform 'Unknown platform' of type 98`.
The[ syslog ](http://iotdk.intel.com/docs/master/mraa/debugging.html)way of debuging does not work as openWRT 18.06 does not support it.

Im not sure at what point this package stoped working. It could be a mraa v2 or a openWRT/LE

[2019-09-23 20:30] alext-mkrs commented on #983
The syslog way of debugging is exactly what you've pasted as a `logread` :)

Anyway, looks like that new OS version disables `/dev/mem` - as many modern distros do - and that upsets the library setup flow, [right here](https://github.com/intel-iot-devkit/mraa/blob/master/src/mips/mediatek.c#L121), so the platform isn't getting fully initialized.

At the moment I have no time to analyze this in mor

[2019-09-23 20:31] alext-mkrs commented on #982
@AndreasAZiegler, why exactly would you need that and what doesn't work for you in the current setup?

[2019-09-24 09:15] novski commented on #983
As this device should in the end be used as a IoT board i don't think it's a good idea to make it work in a developer agnostic kernel root debug access mode.
That s what i read in your link:
```If this option is disabled, you allow userspace (root) access to all of memory, including kernel and userspace memory. Accidental access to this is obviously disastrous, but specific access can be used by p

[2019-09-25 02:40] nxhack commented on #983
https://bugs.openwrt.org/index.php?do=details&task_id=1496&status%5B0%5D=&pagenum=4

[2019-09-25 19:08] novski commented on #983
Thanks for the path. I tried that now and got a different error:
[code]
Looks like the `/dev/mem virtual device support` is not the only thing that blocks working with mraa. But that seams to make it work better...

Is somebody familiar with such a errorcode or message?

[2019-09-25 19:27] novski commented on #983
oh just noticed that pin2 is not [mapped](https://github.com/intel-iot-devkit/mraa/blob/master/docs/linkit_7688.md)
it works!

Still i'm a bit cautious. Wondering:
How big is the security hole i'm opening with /dev/mem?

[2019-09-27 18:59] alext-mkrs commented on #983
Glad it works for you.

As for the "security hole", well, one anyway has to be root to use that due to typical filesystem permissions on that character device. Not a huge justification, but still :) Essentially that's just not the best security practice as it provides too much access to userspace where normally a kernel driver with more limited API must exist - so it violates the principle of leas

[2019-09-28 04:46] AndreasAZiegler commented on #982
@alext-mkrs Because it is best practice and quite troublesome if someone want to use modern CMake and has to work with ugly work-arounds because the library maintainer don't provide the required CMake interface.

I wrote the following Findmraa.cmake but actually library maintainers should provide the corresponding Config.cmake e.g. ```mraaConfig.cmake.```

[code]

[2019-09-29 22:29] Chuckduey opened #984 "Anyone working on BeagleBone AI Should it be a new board?"
The BeagleBone AI has been out for a while. The BegaleBone AI uses a dual-core ARM Cortex-A15. Not too bad on the CPU speed. The  BeagleBone AI has the same 2X44 pin connectors like the Black and Green.  However, the pinmux is completely different.  Some pins can have the same function but now there is up to 4 I2C buses, 4 SPI buses and 10 UART TX/RX.  The GPIO(chip)_(pin) numbering system is comp

[2019-10-02 10:24] AndreasAZiegler opened #985 "lambda function modifying member variables segfaults as isr callback"
I want to use a lambda function as a callback function form my isr in the following way.
[code]
On an interrupt I get the following stack trace.
[code]

Is there any other way how to use a lambda function as isr callback?

[2019-10-03 16:54] tingleby commented on #984
I'm not aware of anyone working on it.
If you do submit a PR, please send it to https://github.com/eclipse/mraa
This repo will be locked soon.

[2019-10-09 07:40] mgiaco opened #986 "Is anyone working on a port for stm32mp1 boards?"

[2019-10-09 08:20] Mani-Sadhasivam commented on #986
@mgiaco Support for Avenger96 is on my plate. If you want to contribute, please feel free to post the PR here: https://github.com/eclipse/mraa. This repository has been migrated to eclipse org.

[2019-10-09 14:33] mgiaco commented on #986
okay that sounds great... by the why is there a new repo?

[2019-10-09 14:34] mgiaco commented on #986
will there also be any support for load m4 code via python?

[2019-10-09 15:14] Mani-Sadhasivam commented on #986
Because MRAA project is now part of Eclipse IoT.

[2019-10-09 15:15] Mani-Sadhasivam commented on #986
That is out of the scope of MRAA.

[2019-10-28 21:36] drasko opened #987 "Website is down"
http://mraa.io/ not available...

[2019-10-29 21:06] tingleby commented on #987
Thanks for letting us know. Should be back now!

[2019-10-29 21:06] #987 closed

[2019-11-04 03:49] lbxl2345 commented on #978
The example works without u.flush(). I think you're right: The behavior is highly depend the on the implementation of the controller, it's not necessarily a bug.

[2019-11-04 03:49] #978 closed

[2019-11-04 17:20] wirsing opened #988 "Respeaker2 core board node"
I'm trying to get the node library running on a ReSpeaker Core v2.0 board (https://www.seeedstudio.com/ReSpeaker-Core-v2-0.html) but no luck. The developers are using the python library to talk to GPIO and it works but not on node.

Here is my code:

[code]

And here is the output:

[code]

Any idea why the node version would throw this error? I tried running as root as well with no success, pin 1

[2019-11-04 18:08] Propanu commented on #988
Hi @wirsing, can you please post the output of your systemd logs when initializing the pin? Usually you can do so with `journalctl`. I don't think anyone has added a board file/support for the ReSpeaker boards to the MRAA project yet so it's likely initializing as an 'unknown platform'. Technically you'd still be able to initialize GPIO pins in raw mode, but that requires the linux pin # and the A

[2019-11-04 18:22] wirsing commented on #988
Hi @Propanu thanks for getting back so quickly. Here it is when starting from node, so apparently pin count is 0?:

[code]

Here it is when i run in python:

[code]

Here the output of  sudo apt list --installed | grep mraa:

[code]

Suspecting they wrote a forked version?

[2019-11-04 19:06] Propanu commented on #988
Yes, you're right, I found it here: https://github.com/respeaker/mraa
So if you use those sources to build, your node bindings should work just like the python example. I assume you built the `intel-iot-devkit` version instead?

Also, it seems like you may not need to even do a build since the `node-mraa` package is also available among the [ReSpeaker deb packages](https://github.com/respeaker/deb

[2019-11-04 19:12] wirsing commented on #988
Thanks! No, I just used the npm package. Not super sure how to require when installing with apt but i guess it's just a question of finding the correct path.

[2019-11-04 20:39] Propanu commented on #988
That's right, you can simply set `NODE_PATH` to the location where `node-mraa` gets installed and that should do it. It may also help to remove the npm version. It's equivalent to the upstream version of the MRAA project that does not include support for this board.

[2019-11-19 20:51] #783 closed

[2019-11-25 13:26] mgiaco commented on #986
@Mani-Sadhasivam Do have any timeline for that?
many thanks

[2019-11-25 14:09] Mani-Sadhasivam commented on #986
@mgiaco Sorry for the delay. Unfortunately, my time is limited these days. Will try to do it soon.

[2019-11-26 08:13] mgiaco commented on #986
Many thanks

[2019-11-27 00:02] bootsy52 commented on #972
you can check out my repository

https://github.com/bootsy52/mraa

this works at least on Debian Buster on Rock Pi 4, I used armbian and kernel 5.3

the build command would be

dpkg-buildpackage -us -uc

There were problems which I have fixed

a) the patch for makeing yui optional does not seem work (File is unchanged) so I disabled the building of docs

b) the package nodejs-dev is not available

[2019-11-27 00:04] bootsy52 commented on #972
Forgot to mention that you still have to run

`wget https://git.yoctoproject.org/cgit.cgi/poky/plain/meta/recipes-devtools/swig/swig/0001-Add-Node-7.x-aka-V8-5.2-support.patch
cd /usr/share/swig3.0
sudo patch -p2 <~/0001-Add-Node-7.x-aka-V8-5.2-support.patch`

from [https://github.com/intel-iot-devkit/mraa/blob/master/docs/building.md](https://github.com/intel-iot-devkit/mraa/blob/master/docs/buil

[2019-11-27 07:52] bootsy52 opened #993 "Replace Yuidoc with JSDoc or alternative"
yuidoc is not included anymore in recent Debian versions, so maybe it is worth to change this to jsdoc which is included in recent linux distributions (as native package).

There is also another project describing what has to be done

[https://github.com/hugomd/vyltr/issues/10](https://github.com/hugomd/vyltr/issues/10)

I've found already where to change that in CMakeList.txt and I think i could

[2019-12-09 08:04] ColeMurray opened #994 "Cross Compiler Mraa Version Conflict"
Posting this for discovery of others to save someone some time.

I experienced an issue with cross-compiling for the Intel Edison using 1.7.3.
I downloaded the [edison toolchain](http://downloadmirror.intel.com/25028/eng/edison-sdk-linux64-ww25.5-15.zip) and attempted to compile my program which #include <mraa.hpp>

A sample program
[code]

When compiling, I faced errors as below
```error: 'SUCCES

[2019-12-09 08:05] #994 closed

[2020-01-24 18:04] brsbilgin opened #997 "Jetson Nano Support"
I have tried with jetson nano board for I2C and it has failed. Does anyone know when will come jetson nano support. Is there any way to manage it by adding source code.

[2020-02-20 11:25] g-vidal opened #998 "mraa does not work any more with Kernel 5.X legacy GPIO REMOVED from kernel"

[2020-02-20 18:32] whbruce opened #999 "Orange Pi support"
I'm not a "Pi" expert. Would [OrangePi](http://www.orangepi.org/Docs/mainpage.html) support be a tweak of existing Rasperry Pi?

[2020-03-19 21:19] novski opened #1000 "mraa 2.0.0 pwm period invalid argument"
I built my own openwrt and ajusted mraa to work with pwm. I can dimm a LED. But the command `logread` says `local1.err libmraa[2056]: pwm0 write_period: Failed to write to period: Invalid argument`
I tried all [period](http://iotdk.intel.com/docs/master/mraa/classmraa_1_1_pwm.html) commands with all kind of types (float and int of all sizes) but it seems not to be happy with what i feed.
Can I som

[2020-03-21 20:13] Jianfengusa opened #1001 "ValueError: Error initialising UART"
Having trouble initialising UART on Ubuntu 16.04.
Traceback (most recent call last):
  File "gps.py", line 10, in <module>
    u = mraa.Uart(gps_port)
  File "/usr/lib/python3.5/dist-packages/mraa.py", line 1073, in __init__
    this = _mraa.new_Uart(*args)
ValueError: Error initialising UART

my systemlog is
Mar 21 15:12:01 irrigationgps-16 libmraa[10208]: libmraa version v2.0.0 initialised by us

[2020-03-28 19:31] jakekarnes42 opened #1002 "Publish mraa 2.1.0 to Maven Central"
It appears that MRAA has released version 2.1.0, but Maven Central only has up to version 2.0.0. Could you please publish the latest version (2.1.0) to Maven Central as well?

I opened issue #934 to get 2.0.0 published to Maven Central and @tingleby and @Propanu were able to help make this happen. I'm hoping they can do the same again.

Still happy to be using your project and thanks for the suppo

[2020-03-30 14:24] Bjergking opened #1003 "Rasp pi3 use cmake bug！ #Cmake"
when i use command

the error report :
![messageImage_1585120288356](https://user-images.githubusercontent.com/52433928/77922842-29508f00-72d4-11ea-85e6-688de8550230.jpg)

so i check my MRAAConfig:

![tmp](https://user-images.githubusercontent.com/52433928/77923396-fd81d900-72d4-11ea-86bc-4b9b7d7229a8.JPG)

is not have boolean with marr_found
so pls help me soult this issue ！

[2020-04-02 07:03] xlla opened #1004 "API lack in chardev version"
I am try to migrate a chardev version edison mraa lib.
In my prototype, it does not work well.

I was set chardev_capable to 1 in constructor.

1. my customized adv_func->gpio_dir_post was never called, I need manipulate tristate line in this function.
2. in mraa_gpio_init_internal, no routine for chardev_capable == 1 , so my mux/bias line was not got init.
3. how to set meaningful consumer name i

[2020-04-03 16:04] xlla opened #1005 "line flag check result wrong in chardev version"
I have init a line, and set direction to output successful.
later, when I check this line's direction by call function mraa_gpio_read_dir, it will think "Line used by kernel." and return ERROR.

in function mraa_gpio_read_dir, it will check line->flags with those macro
<pre>
#define GPIOLINE_FLAG_KERNEL		(1UL << 0) /* Line used by the kernel */
#define GPIOLINE_FLAG_IS_OUT		(1UL << 1)
#define GPIO

[2020-04-04 08:15] xlla opened #1006 "potential resource leak in intel_edison_fab_c"
there is a static variable mraa_gpio_context tristate, it is initialized when board create, but never got close even after call mraa_deinit.

is there any hook function can notice custom board to release their resource?

[2020-04-04 15:43] xlla opened #1007 "double free detected in tcache 2"
I was test ISR with mraa.
when I want quit, call mraa_gpio_close, it free dev->events, but not point to NULL,
then call _mraa_free_gpio_groups, here it will think dev->events should free again.

it seems many issue involve with gpio_chardev, is it under some test before release.

[2020-04-06 18:02] xlla opened #1008 "double operation on AIO mux pins in edison board"
when call mraa_aio_init,
  mraa_setup_mux_mapped will operate 2 mux on each Ax pin.
  then in customized aio_init_pre, mraa_intel_edison_aio_init_pre, will operate 1 mux and 1 bias pin. this bias pin is same as mux pin in mraa_setup_mux_mapped.

[2020-04-12 15:23] jpelletier opened #1009 "Compilation all broken"
cmake .. works.
make fails.
Environment Dragonboard 410c, linaro
uname -a
[make.log.tar.gz](https://github.com/eclipse/mraa/files/4466557/make.log.tar.gz)

Linux linaro-developer 5.4.0-qcomlt-arm64 #90 SMP PREEMPT Wed Feb 12 19:09:17 UTC 2020 aarch64 GNU/Linux

[2020-04-12 16:45] #1009 closed

[2020-04-12 17:34] xlla opened #1010 "GPIO mmap r/w was skip for chardev version"
I simple move mmap_write/read ahead chardev_capable check to solve this.

[2020-04-13 14:12] xlla opened #1011 "Edison IO11 spi.mux[n].pincmd not set correct"
it seems b->pins[10].spi.mux[n].pincmd was set twice,
b->pins[11].spi.mux[n].pincmd was never set.

[2020-05-17 21:07] RyanHan0127 opened #1018 "mraa_gpio_init always return NULL"
I am trying to run this example code
[code]

And then running this in command prompt
`gcc -lmraa buzzer.c -o buzzer`

I always end up with NULL in buzzer context object. I have downloaded everything and tried to follow the instructions in this repository, but still no luck. The device I am running is on BreagleBone Green with Grove Base Cape. The version I am running on is Debian 8.7. The MRAA ver

[2020-05-18 07:25] jpelletier opened #1019 "compilation broken on Dragonboard 410c"
Here is the result of cmake .. (as executed in build)
-- INFO - libmraa Version v2.1.0-3-ge52c5bb
-- INFO - cmake Version 3.13.4
-- INFO - Target arch is aarch64
-- INFO - Adding onewire backend support
-- INFO - Adding support for platform ALL
-- INFO - Adding support for all platforms
INFO - Adding ARM platforms
-- PYTHON2 attempting to build!
CMake Warning (dev) at /usr/share/cmake-3.13/Modules

[2020-05-18 07:29] jpelletier opened #1020 "compilation broken on raspberry pi4"
[make.log](https://github.com/eclipse/mraa/files/4642658/make.log)

[2020-06-04 18:43] jandrioli opened #1022 "library code to set spi frequency looks funky"
I'm not an expert in any way, feel free to bash my comments....
Having said that, I have the feeling that the code responsible for configuring the SPI clock (see [mraa/src/spi/spi.c @ line~242 function named mraa_spi_frequency()](https://github.com/eclipse/mraa/blob/master/src/spi/spi.c#L228)) does not make a reasonable attempt to actually get it done.

We see invokation to ioctl:
`if (ioctl(dev->

[2020-06-09 14:12] peterjeschke opened #1023 "[python] pwm resets to 0 after python script ends"
I have a RockPi 4 with a simple fan connected via PWM1. When the rockpi is booted, the fan is off.

Then I run the following python script:

[code]

While the script is running, the fan stays off, as expected (writing 0 would enable it). However, when the script finishes, the fan suddenly turns on! I don't know why the pwm would suddenly activate. I expect the fan to stay off.

jounalctl gives not

[2020-06-15 08:24] #1023 closed

[2020-06-27 05:57] saltyJeff opened #1027 "Why isn't there a strerror for mraa_result_t?"
Hi, I've been using the MRAA library with C++, so I have a lot of code that looks like:
[code]

I was wondering why there isn't just a strerror-ish function so I can throw exceptions with the actual message inside, like
[code]

I looked into the definition of `printError` and there is a giant switch statement for enum to string, but it prints instead of returning the actual message. Is it delibera

[2020-08-02 11:10] thenaeemcondition opened #1031 "Unable to install on raspbian/buster"
I tried to install this by doing
sudo add-apt-repository ppa:mraa/mraa
But the error message says that a suitable version could not be found for raspbian/buster?
Is there any way to get this on raspbian buster or do I need to roll back to another raspbian version

[2020-10-10 17:51] britus opened #1037 "Fresh compile and install from source on rock-4c on Armbian lates. No GPIO list!"
root@rockpi-4c:~/projects/mraa/build# /usr/local/bin/mraa-gpio list
No Pins

root@rockpi-4c:~/projects/mraa/build# cmake ../
-- The C compiler identification is GNU 7.5.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile fe

[2020-10-14 16:03] #1037 closed

[2020-10-16 09:14] Ataraxiall opened #1038 "Error in Rock Pi E"
Good,

I'm trying to install it on a rock pi e that has official mraa libraries.

, but I get this error.
`make: *** [mraa.target.mk:139: Release/obj.target/mraa/src/mraa.o] Error 1
make: se sale del directorio '/root/.node-red/node_modules/mraa/build'
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/usr/local/lib/node_modules/n

[2020-10-21 15:04] maykon-map opened #1039 "Using Linkit Smart 7688 Duo with mraa library"
Hi,
I saw in the mraa page that this library can be used with Linkit duo (http://iotdk.intel.com/docs/master/mraa/linkit_7688.html) but the pinout is diferent between Linkit Smart 7688 and Linkit Smart 7688 Duo and they doesn´t inform in this page about it. So my question is how can i access the Linkit Smart 7688 pins’ with the mraa library?
I’ve used the mraa library with Linkit Smart 7688 in a p

[2020-10-27 16:57] g-vidal opened #1040 "A trick to compile mraa with Node 15.0.1 and Swig 4.1.0"
This is a followup to   #969 and remarks from @Propanu  and @nxhack , it is **not a solution but just a trick** to reach a _successfull compilation_. If anybody with the necessary competences can transform this contribution into  a true solution it will be a great step... The changes made  are validated by the compiler but  I am not sure at all that they are correct or they will yield a totally op

[2020-10-29 01:42] #971 closed

[2020-11-11 11:05] g-vidal opened #1041 "Patch to compile under bullseye with gcc10 (RaspberryPi debian stabdard)"
gcc10 introduces stronger regulations and the linker fails  with duplicate `gVERSION` and  `gVERSION_SHORT`  definition error.
The trick I have found is to  make those variables extern in mraahome/include/version.h, here is the patch that worked for me, I do not know if it is the "right way" to handle the problem that's why I do not push a PR, I will if it is OK and helps.

[code]

[2020-11-11 19:57] g-vidal opened #1042 "python mrra fails with error "NameError: name '_uint8Array__mraa' is not defined" [solved]"
I compile successfully mraa on rpi3 rpi3P+ rpi4 under buster  (and bullseye)
mra-XXX commands work properly but  when I try to use mraa with python3 it fails at import  :
[code]
I have tried to compile
* with g++-7  and  g++-8
* with swig 3.0.12 and 4.1.0
* mraa version 1.9.0  and 2.2
with always the same error in python execution.  I used the [same method](https://blog.tremplin.ens-lyon.fr/Gerard

[2020-11-23 17:25] Fabricio-Valerio opened #1043 "Using MRAA with BeagleBone green"
Hello, I'm new to development using a Beaglebone board, I would like to know if MRAA can be used with BeagleBone Green or only with Beaglebone Black.

Thanks in Advance.

[2020-11-23 20:01] Fabricio-Valerio commented on #1043
I Keep getting this error: #error your machine is neither 32 bit or 64 bit ... it must be magical
![image](https://user-images.githubusercontent.com/33754194/100009349-2ba4b380-2da5-11eb-94a8-f3e7bcf1d76c.png)

[2020-11-26 17:08] jan-kiszka opened #1044 "Explicit object cleanup for garbage-collecting languages"
Looking for something put into the close handler of https://github.com/node-red/node-red-nodes/blob/master/hardware/intel/mraa-gpio-dout.js#L31. That shall stops that mraa nodes keep GPIOs open until the JS garbage collector finally decides to clean up. But I suppose there is nothing in the mraa API so far, is there?

And this issue should not be limited to GPIOs, correct?

How about other languag

[2020-11-27 21:05] Fabricio-Valerio opened #1045 "Cross compile to BeagleBone Green"
Hello.
I was able to build my project in the Beaglebone, after installing MRAA on it. But it isn't practical to code and build in the Beaglebone, so I tried to cross compile using a Ubuntu VM. I was able to build the application in my VM using gcc arm-linux-gnueabihf-gcc, but I was unable to build it using MRAA. This VM I used to build a project (cross compile) to Linkit Smart 7688 but I couldn't

[2020-12-02 18:16] Fabricio-Valerio opened #1047 "Beaglebone Green MRAA PINS"
Hello, I'm using MRAA in my project, and I've installed it in my Beaglebone. Is it possible to use the MMC pins as GPIO, this is the pin map:

01         GND:
02         GND:
**03     MMC1_D6:
04     MMC1_D7:
05     MMC1_D2:
06     MMC1_D3:**
07      GPIO66: GPIO
08      GPIO67: GPIO
09      GPIO69: GPIO
10      GPIO68: GPIO
11      GPIO45: GPIO
12      GPIO44: GPIO
13    EHRPWM2B: PWM
14      GPI

[2020-12-03 17:11] nickehallgren opened #1048 "python example on kernel 5.x"
Hi,

I've been using mraa on kernel 4.x on a Rock Pi S, I now tried with Armbian Focal (5.9) and I understand that I must initialize the gpio by name but I can't figure out how. Can you point me to the documentation or an example for for using mraa with python3 using kernel 5.x?

Thanks in advance!

[2020-12-09 16:15] #1048 closed

[2020-12-14 07:42] novski opened #1049 "Linkit 7688 support for SPI Slave or SPI1"
Mraa for Linkit Smart 7688 does only support SPI0 not SPI1.
While SPI0 is shared with flash it is much more safe to use SPI1.
Can somebody add SPI1?

[2020-12-28 21:00] Chuckduey opened #1050 "Adding Raspberry Pi 400"
The new Raspberry Pi 400 is a new CPU board built into a keyboard.  It still has the same 40 pin connector as the other Pi's but not as easy to put on a hat.  A simple cable and it can still run the and see the hats.  The Revision code from /prco/cpuinfo is coming up as c03130 - Raspberry Pi 400 Rev 1.0 and is confirmed by the Raspberry Pi Org site https://www.raspberrypi.org/documentation/hardwar

[2021-01-08 22:29] hellkaim opened #1052 "no python modules build on armbian \ Rock PiC"
Hi.
After cmake and make goes without an issue make install produces the following  output (listed below, this is a second run).
As it can be seen there are no python modules whats or ever installed.
The system is Debian 10.7 aarch64 running on Rock Pi 4C board.

All prerequisites are installed incl Python 2,7 and Python 3.7 and respective dev packages.

Please advice how to debug python module co

[2021-01-08 22:59] #1052 closed

[2021-01-27 13:30] jpelletier opened #1053 "linking fails on Dragonboard 410c with multiple definitions"
version.c.o multiple definition of `gVERSION'
mraa.c.o first defined here

[2021-01-27 14:02] #1020 closed

[2021-02-04 21:23] jpelletier opened #1054 "linking a program with the mraa library doesn't work"
The library has been successfully compiled and installed in /usr/local/lib. We can see all the labels in the .so file with midnight commander.
All the files are present, .so files, link files and includes.
When trying to link with the library, it fails to find the references.

[2021-02-04 21:43] jpelletier opened #1055 "The code seems to use deprecated code"
Here, I recompile the example in c++:

Scanning dependencies of target gpio_cpp
[ 78%] Building CXX object examples/c++/CMakeFiles/gpio_cpp.dir/gpio.cpp.o
In file included from /home/linaro/Documents/src/96boards/mraa/examples/c++/gpio.cpp:19:
/home/linaro/Documents/src/96boards/mraa/api/mraa/gpio.hpp: In member function 'mraa::Result mraa::Gpio::useMmap(bool)':
/home/linaro/Documents/src/96boards

[2021-02-04 21:47] #1019 closed

[2021-02-13 13:02] #1054 closed

[2021-02-13 16:36] jpelletier opened #1056 "Examples reject GPIO values as invalid"
On the Dragonboard 410c
Examples gpio_cpp and gpio_advanced_cpp reject all the GPIO values as invalid

Compiled examples are in build/examples/c++.
The 2 examples using GPIOs are gpio_cpp and gpio_advanced_cpp. All values that we put for the GPIO are rejected even when running with sudo or sudo su.

[2021-02-20 15:41] mwallnoefer opened #1057 "mraa C++ bindings: printError() needs to be prefixed"
In contradiction to the example here http://iotdk.intel.com/docs/master/mraa/classmraa_1_1_led.html and the others under https://github.com/eclipse/mraa/tree/master/examples/c%2B%2B the `printError()` function needs to be prefixed with `mraa::` -> `mraa::printError()`.

Please fix the examples, thanks a lot!

[2021-03-26 03:34] yishinhung opened #1058 "How to build the android library for arm64 or aarch64 platform?"
Hi
    I modify the build-android.sh for x86 to arm64 by the following link. But get some error.
Could you have any idea to build the android mraa aar for arm64 platform?
Thank a lot!

- build-android.sh for arm64:
     https://www.asuswebstorage.com/navigate/a/#/s/31AA6108FE9E4638A975ADAE5CE5BEE7Y
- command : docker-compose run android
[  4%] Building C object src/CMakeFiles/mraa.dir/mraa.c.o
In

[2021-04-09 04:22] LabIoT2021 opened #1059 "Lattepanda MRAA Support ?"
Hi Dev,
I'm Robert. I'd like to use MRAA on Lattepanda Delta Intel Celeron N4100. It also have an arduino leonardo connection. Is MRAA support for this device ?
I'd like to use GPIO on arduino leonardo by using MRAA Lib, but i can't find pin mapping for this device.
Any suggestion for this problem? What should I do first, if I want to make pin map for this device?

Best regerds,

Robert

[2021-04-29 17:04] OAkyildiz opened #1060 "Misleading example i2c_bmp85.py"
This is too small of a 'fix' to create a PR
At line 25 of [i2c_bmp85.py](https://github.com/eclipse/mraa/blob/master/examples/python/i2c_bmp85.py)
[code]
is misleading and will create headaches for new users.
Should be
[code]

Otherwise that string literal is not converted to what you want

[2021-05-19 20:54] nagercoil opened #1065 "Free called twice when gpio closed with Isr enabled"
In mraa_gpio_close(mraa_gpio_context dev)

[code]

    /* Free any ISRs */
`    mraa_gpio_isr_exit(dev);`

In mraa_gpio_isr_exit(mraa_gpio_context dev)

[code]
Since the dev->events is not assigned null, double free happens.  The freeing of events should be defined inside the
mraa_gpio_isr_exit. Two places is not correct

[2021-05-20 21:34] mgfink opened #1066 "ValueError: Invalid i2c bus when using mraa in a container on a Raspberry Pi 4B"
Hello -

I'm trying to get grove.py running on a Docker container on a Raspberry Pi 4B.  There have been several issues along the way and am at the point where I'm blocked when trying to call mraa.I2c(0).  Only on the container, it will fail with the message "libmraa[9]: i2c: Device not initialized" and other errors shown below.

I've been able to confirm general access to the GPIO pins using rpi.

[2021-05-20 22:54] #1066 closed

[2021-06-21 09:33] lpnaunau opened #1067 "Python mraa fails setup interrupt"
Hi,

I'm trying to setup an interrupt using the following provided in example via an IoT2040 using Python 3.8.2

`try:
    # initialise GPIO
    x = mraa.Gpio(pin)

    print("Starting ISR for pin " + repr(pin))

    # set direction and edge types for interrupt
    x.dir(mraa.DIR_IN)
    x.isr(mraa.EDGE_BOTH, isr_routine, x)

    # wait until ENTER is pressed
    var = raw_input("Press ENTER to st

[2021-06-21 09:59] #1067 closed

[2021-06-27 20:39] Jianfengusa opened #1069 "Nodejs for Up 2 Board: All of GPIO Pins can not be used"
Hello,

I am using Nodejs@4.7.0 on Up 2 Board with mraa@1.0.0, I am having an issue using GPIO pins for output, can anyone help?

Here are some error info.
![image](https://user-images.githubusercontent.com/31595152/123558768-a2e85e80-d75d-11eb-9c78-fa8b4431f8c9.png)
![image](https://user-images.githubusercontent.com/31595152/123558775-a8de3f80-d75d-11eb-94e6-5e47a262b838.png)

[2021-06-29 18:50] #1044 closed

[2021-07-01 15:31] #1069 closed

[2021-07-12 07:28] ssgnh opened #1070 "No module named 'mraa'"
python运行给的例子，提示：

Traceback (most recent call last):
  File "i2c_rgb.py", line 10, in <module>
    import mraa
ModuleNotFoundError: No module named 'mraa'

请问这个mraa模块是需要在python里单独安装吗？
deb包安装过了，终端里能识别GPIO，就是python文件调用缺少mraa库，没找到怎么安装这个库

初学小白，用的是rock pi x 开发板，Ubuntu20.04，python环境

[2021-07-14 05:32] jan-kiszka opened #1072 "Semantic of mraa_uart_set_timeout with zero read timeout unclear"
The documentation states "<= 0 will disable that timeout" (for all timeout values but. as we know, only read is implemented so far). Now, does disabling mean non-blocking or infinite blocking? Implemented is the former, @johnson325 once wrote a change (https://github.com/siemens/mraa/commit/a1bee1d7bd044a7658e54d894b5ffbfb33f58360#diff-e8bb0dd62dcd38efa1cafbb258e5b0a4a46624f361b3ec05329a4e10d08bcc

[2021-07-16 03:34] ssgnh opened #1073 "API Documentation：Error 521"
API Documentation：Error 521
Pyhton API
http://py.mraa.io/

[2021-07-17 20:47] #1073 closed

[2021-07-19 07:07] ssgnh opened #1074 "无法定位软件包 node-mraa"
Installing on Ubuntu:

sudo add-apt-repository ppa:mraa/mraa
sudo apt-get update
sudo apt-get install libmraa2 libmraa-dev libmraa-java python-mraa python3-mraa node-mraa mraa-tools

无法定位软件包 node-mraa

[2021-07-31 04:17] silver2row opened #1075 "RE: Building (again) on Debian Buster armhf/BeagleBone Black/Green/Gateway..."
Hello,

I am here: https://github.com/eclipse/mraa/blob/master/docs/building.md#basic-build-steps .

I am trying to understand this command:

    sudo ln -s <your install prefix, e.g. /usr>/lib/python2.7/site-packages/* /usr/lib/python2.7/dist-packages

I looked through my filesystem, Debian Buster on Linux, and have yet to see where ` /usr/lib/pythonX.X/site-packages/ ` is located due to the ` /s

[2021-08-22 11:57] arfoll opened #1076 "Doc no longer built/updated?"
Latest tag indicates 2.2.x but the doc on iotdk.intel.com points to 2.0.0?

@tingleby not sure if the autoupdates still working?

[2021-11-28 02:21] sgjava opened #1079 "HawtJNI instead of SWIG for Java bindings?"
I'm just starting with mraa, but I've built userspace bindings with https://github.com/fusesource/hawtjni which seems superior to SWIG. For example look at my userspace library https://github.com/sgjava/java-periphery. Just wondering after looking at the limitations in https://github.com/eclipse/upm/blob/master/docs/creating_java_bindings.md. I've also built U8g2 bindings this way https://github.c

[2021-12-05 10:53] g-vidal opened #1080 "RPI4-64 does not detect i2c sensors while RPI4-32 does"
I have compiled a debian 64 bit image using @drtyhlpr rpi23genimage, then compiled mraa  with no problem.  I change the code as stated in #1078  The binaries  work but no sensor is detected with mraa-i2c detect 0
[code]
The same command with the same breadboard works perfecty on a 32 bit image :
[code]
Am I doing something wrong or mraa needs some changes to work on 64 bit,  in that case any hope

[2021-12-05 16:23] #1080 closed

[2021-12-07 01:20] #1079 closed

[2022-01-08 22:11] dcb314 opened #1081 "mraa-2.2.0/src/iio/iio.c:165: missing parameter ?"
clang says

mraa-2.2.0/src/iio/iio.c:165:44: warning: more '%' conversions than data arguments [-Wformat-insufficient-args]

`Source` code is

            syslog(LOG_ERR, "iio: Channel %d with channel bytes value <= 0");

[2022-02-05 17:17] rzr opened #1082 "Wish: Foreign OS support / cooperation"
Hi,
During fosdem I mentionned mraa during:
https://fosdem.org/2022/schedule/event/gpio_linux_vs_zaphyr/

I'll be curious to have feedback from mraa team on how to deal with cross kernel I/O handling ?

cc: @arfoll

[2022-03-15 21:05] shawaj opened #1084 "add compute module 3 / 3 plus support"
Compute module 3 is not supported.

Revision shown here - https://oastic.com/posts/how-to-know-which-raspberry-do-you-have/

[2022-03-15 21:50] shawaj opened #1086 "add raspberry pi compute module 4 variants"
add raspberry pi compute module 4 variants a03140, b03140, c03140, d03140

https://github.com/raspberrypi/documentation/blob/develop/documentation/asciidoc/computers/raspberry-pi/revision-codes.adoc

[2022-04-24 11:22] jpramosi opened #1088 "mraa_iio_detect() memory leak"
The function 'mraa_iio_detect()' leaks memory: [#1](https://github.com/eclipse/mraa/blob/da36b7ae84f87dd97cee9550100aaaa0ef09033d/src/mraa.c#L362), [#2](https://github.com/eclipse/mraa/blob/da36b7ae84f87dd97cee9550100aaaa0ef09033d/src/mraa.c#L376).

Proof with LeakSanitizer without line numbers, but it is obvious anyway:
[code]

[2022-06-13 18:58] Petross404 opened #1089 "Possible support for Adafruit ft232h on Linux x86 desktop"
Hi,

I tried to use mraa (it's c++ bindings specifically) for controlling my Adafruit FT232H board and it's gpio pins but without success. Is this library supposed to work only on embedded arches or can I use it somehow on my x86 Linux for my board?

Thank you for your time.

[2022-07-14 07:13] matsujirushi opened #1090 "UART initialization failed on Raspberry Pi 4"
Hi,
When I try to use UART on Raspberry Pi 4, the following error occurs.

**Error message:**
[code]

**Code:**
[code]

It seems that device_path is not set.

https://github.com/eclipse/mraa/blob/046bdd0adbd0c7259ee0bd19e01091c25f043cde/src/uart/uart.c#L240

https://github.com/eclipse/mraa/blob/046bdd0adbd0c7259ee0bd19e01091c25f043cde/src/uart/uart.c#L217

Does anyone know the cause?

[2022-08-30 18:32] ric96 opened #1093 "mraa_uart_write(): off by one while writing arrays"
hi,
I have a `uint8_t data[256]` array.
If I read into it using `mraa_uart_read(uart, data, 256);` it works fine but if I write from it using `mraa_uart_write(uart, data, 256);` it seems to write from n-1, ie the first element being -1 and the last being 254.
however if i write from it in a loop like so, it works fine:
[code]

[2022-08-30 18:36] #1093 closed

[2022-09-03 08:44] ric96 opened #1094 "mraa_uart_set_flowcontrol(): rogue XOFF byte"
HI,
I am trying to setup uart on a DragonBoard410c, and I've set flow-control to off. but as soon as I call mraa_uart_set_flowcontrol() it sends a XOFF byte on the tx line.

[code]

[2022-09-13 02:48] dgatwood opened #1095 "Add build/release branch for jammy (Ubuntu 22.04[.1] LTS)"
I noticed that there's currently no support for Ubuntu 22.04 (released last April).  It appears to build correctly, so I'm assuming this is just a matter of setting up the builds somehow.  What else needs to be done to get an actual binary distribution built and available?

[2022-09-16 07:10] dgatwood opened #1096 "SIGINT results in segfault (C code) as thread gets terminated"
I'm running into what I think is a bug in libmraa while working on integrating it into a fairly complex tool that requires SIGINT for proper cleanup (https://github.com/dgatwood/ndi_camera_control).  At a high level, the code does this:

- Uses a wrapper function for each pin write.
- Creates a context for that pin (in a global array) if it does not exist.
- Calls the mraa_gpio_write function.

Th

[2022-09-21 06:46] MaoniinoaM opened #1097 "RISC-V linux platform support"
Hi, mraa team,
I try to build MRAA library in a RISCV LINUX platform, VisionFive board.
And it says, "Only x86, arm, mips, PERIPHERALMAN and mock platforms currently supported".

so When will MRAA support RISCV linux platform?

[2022-10-23 19:58] #1089 closed

[2022-10-31 09:47] mgodbole1729 opened #1099 "Unable to detect GPIO pins in python"
I'm trying to access the GPIO pins via the DIO input on IEI Tank 880. I've installed the mraa library as per the instructions provided in the repo. I have also loaded the _gpio_f7188x_ kernal which is necessary for IEI  Tank. But when I try to run the code:

[code]

I get the error "Invalid GPIO pin". What is going wrong here?
I also tried different pin numbers from 0 to 8.

[2022-11-01 04:55] tusha-nirmal opened #1100 "IEI tank detect pins with ISMMPlus but cant detect pins with mraa"

[2022-11-22 09:55] edbek opened #1101 "RPC for MRAA"
Is it planned to make RPC for MRAA as is IIOD for LIBIIO Analog Device?
Or are there third party solutions that can be used to work remotely with MRAA? Advise.
Thank you.