[2015-07-28 13:55] arfoll commented on #244
This is still wrong, you need this:
[code]
to be:
[code]

The serial output will still be on the FTDI header, it'll be on A2/A3 as well. The muxing doesn't actually disable the FTDI header I don't think that's possible. There's no difference using python or C, copy my python code and try that. In my setup I have two FTDI USB->serials one on the FTDI header and one on A2/A3, they both see the same

[2015-07-28 23:36] xthunderheartx commented on #244
OMG!  ROFL!  I'm sorry Brendan.  Apparently I need a weekend at the beach or something.  Ok 16 low, 17 high.  Got it.

[2015-07-29 13:25] arfoll commented on #244
No problem, we all need a holiday :). I'm assuming all working now?

[2015-07-29 23:27] leonyuhanov opened #247 "mraa causing nodejs script to crash, cannot kill proccess"
I posted this on the Intel support forum as well:
I have an Edison with a Mini Breakout Board. Running the latest IOT image with whatever version of mraa it comes with.
At completely random intervals, initiating or using the SPI module in my code causes my app to become dormant. I can not kill it via the terminal and have to reboot the board.

The process looks like this after its dead in TOP:

36

[2015-07-31 00:26] leonyuhanov commented on #247
FYI I am on the latest version of MRAA already. I ran the following code to test:
var m = require('mraa');
x = new m.Spi(0);
console.log("LIBMRAA Versoin details\n--->\t\t"+m.getVersion());
The resulting out put was:
root@edison:/node_app_slot# node main.js
LIBMRAA Versoin details
--->            v0.7.3

[2015-08-01 14:38] leonyuhanov commented on #247
Update, i have a feeling this issue is specifically with the Edison and not with the MRAA module. Have tested another SPI NodeJS driver and am getting the exact same failure.

[2015-08-01 14:38] #247 closed

[2015-08-01 17:55] arfoll commented on #247
Yes that looks kernel related, check the output of `dmesg` and report on the edison forums. Cheers

[2015-08-06 19:25] tripzero opened #251 "i2c writeReg() failure on MinnowboardMax"
Here's my output from testing:

I'm testing with the max and the pca9685 PWM controller from adafruit.  writeReg() returns INVALID_HANDLE (5).

[code]

i2cset, however seems to work:

[code]

[2015-08-07 17:15] arfoll commented on #251
Can you use i2c in raw mode to check its not an 0 != 7 issue?

Otherwise not sure, can you paste the output of journalctl &| syslog?

[2015-08-07 21:20] tripzero commented on #251
Tried with i = mraa.I2c(0, raw=True), same result.  Below is the journalctl output:

[code]

[2015-08-07 21:59] arfoll commented on #251
You'd want:

mraa.I2c(7, True)
On 7 Aug 2015 22:20, "Kevron Rees" <notifications@github.com> wrote:

[2015-08-10 23:52] tripzero commented on #251
[code]

[2015-08-11 03:39] leonyuhanov opened #252 "Compiling mraa from source on RPi A+ for use as a NodeJS module"
I previously gave up on using mraa on my rpia+ but had some time and wanted to give it another go.

Here is my pre installation instructions
http://www.elec-tron.org/?p=996

Here is my make log
http://www.elec-tron.org/wp-content/uploads/2015/08/makelog.txt
Seems to have completed correctly
Where do i find the actual mraa NODEJS module directory? or is there another step i need to do?

[2015-08-11 09:57] arfoll commented on #252
Hey, thanks for giving us another chance :) you're nearly there! The issue with your instructions (it's hard to know for sure because you didn't include the log of ```cmake ..```) is that when you configure swig you need to do ```./configure --prefix=/usr```. Then rerun cmake/make and it will build a .node file.

[2015-08-11 10:19] leonyuhanov commented on #252
hey mate...so i found
~/mraa/build/src/javascript/mraa.node
and copied that into my
~/project/node_modules/mraa/build/Release

and what do you know, it bloody well works!!!
Cheers

[2015-08-11 10:19] #252 closed

[2015-08-11 10:43] arfoll commented on #251
What mraa version are you running exactly? Any patches? Can you try with master and see if you can reproduce? I'd also like to see syslog output.

[2015-08-11 17:20] tripzero commented on #251
Testing master without any patches I get:

[code]

journalctl sees:

Aug 11 17:14:32 intel-corei7-64 libmraa[495]: libmraa version v0.7.3 initialised by user 'root' with EUID 0
Aug 11 17:14:41 intel-corei7-64 libmraa[495]: i2c: Failed to open requested i2c port /dev/i2c-1264
Aug 11 17:14:41 intel-corei7-64 libmraa[495]: i2c: Failed to get I2C_FUNC map from device
Aug 11 17:14:48 intel-corei7-64 li

[2015-08-14 09:16] wubi4292 opened #254 "nodejs environment, mraa/uart functions not able to read data that does not end with '\n'"
If incoming data ends with '\n', SerialPort.dataAvailable() returns true.
If incoming data does not end with '\n', SerialPort.dataAvailable() returns false.

[code]

[2015-08-14 09:39] sriranjanr commented on #137
Hello,

I also want to use a custom chipselect.I want the CS to be high initially just before the transfer and go low with the first falling edge of the SCK first bit transfered. How do I achieve this?
My CS (yellow) and SCK (green) should be as in the following diagram.
![img_20150801_151815](https://cloud.githubusercontent.com/assets/8640547/9271275/506e0d6a-4296-11e5-9eee-6edb712ad93a.jpg)

[2015-08-14 10:30] arfoll commented on #254
Are you sure you have baud rate setup correctly? I just tested this and it works as expected:

[code]

I just plugged a FTDI 6 pin UART to my PC and used minicom to send 'ds' without carriage return and then sent one with carriage return, see the difference. What do you have on the other end of the serial line?

[2015-08-14 11:24] wubi4292 commented on #254
Thank you! After I changed JS code(line 3, a different name), it works now. Moverover, it could not get data length of received. Not sure if you have comment on it?

var SerialPort=new mraa.Uart(0);
var devPath=SerialPort.getDevicePath();
var sp=new mraa.Uart(devPath);

[2015-08-14 17:01] arfoll commented on #254
The length of the received data? It's just a normal JS type, grab it's length however you want. It should already have the correct size.

[2015-08-14 17:02] #254 closed

[2015-08-17 11:19] leonyuhanov opened #255 "[RPi] spi.frequency(x) is not working above 500khz"
Ok I'm back, i know I'm annoying...
Running MRAA on an RPi A+ in NodeJs
MRAA Module Version:  'v0.7.3-20-gef28607'
Node Version: v0.12.6
NPM Version: 2.11.2
I manualy compiled mraa on the board as per previous instructions and got it working. However I can not change the SPI frequency above 500Khz. I can put in any number i like into

var mraaModule = require('mraa');
var spiDevice = new mraaModul

[2015-08-17 12:36] arfoll commented on #255
Reporting bugs != annoying.

@michael-ring I'm away from my rpi, and since you're the expert can you have a look at this?

[2015-08-17 12:42] michael-ring commented on #255
I will try my very best, will look at this in the evening

[2015-08-18 20:09] michael-ring commented on #255
The problem is described very easily:

mraa_spi_frequency queries the driver about the maximum possible speed and allows only setting values up to this speed.

You should have seen a message:
spi: Selected speed reduced to max allowed speed
in syslog.
The value that the driver returns is obviously rubbish as the raspberry can go a lot higher with the SPI clock. Commenting out the following code so

[2015-08-19 13:34] arfoll commented on #255
Actually the sanity check seems quite useful to me, let's keep it but just add an advance function hook to bypass it in the case of rpi. Also a bug should be filed to that SPI driver because it's obviously saying rubbish. Are you ok to do this?

[2015-08-19 14:07] michael-ring commented on #255
Fine with me, I will provide a patch for what you described in the next days.

[2015-08-19 14:11] leonyuhanov commented on #255
Awesome, no rush, im using a different spi node module for the moment, but would prefer to have mraa in the production version
Will i need to recompile this on my RPi again from scratch?

[2015-08-19 14:23] arfoll commented on #255
Sadly yes. However I'm planning on a making a new release soon and that
will have NPM on arch fixed (it's fixed but not pushed on NPM due to no
tag) so you'll be able to just do `npm mraa` on your rpi :)

On 19 August 2015 at 15:11, Leon <notifications@github.com> wrote:

[2015-08-19 14:24] leonyuhanov commented on #255
No stress

[2015-08-19 14:36] michael-ring commented on #255
@arfoll: Hmm, new release... I realized tha my patch for 16bit length spi on raspberry is not merged yet, could you include the patch in the release before it gets bit rot?

[2015-08-19 16:49] arfoll commented on #255
@michael-ring where is that patch? I tried to quickly find it but couldn't...

[2015-08-19 17:48] michael-ring commented on #255
I meant this one:
https://github.com/intel-iot-devkit/mraa/pull/153
It's about Soft-SPI

[2015-08-20 07:06] leonyuhanov commented on #255
Guys I'm a bit new to github, how do i know when you have committed the new changes? WIll there be an post here?

[2015-08-20 14:43] tingleby commented on #255
If in the commit message refers to "#255" in some way yes!

[2015-08-20 22:11] #251 closed

[2015-08-22 03:34] coloz opened #258 "mraa pin no.9 is invalid GPIO pin?"
i seen the breakout board's mraa number,i want to use no.9
but error said, 'Invalid GPIO pin specified'

[2015-08-22 04:13] Justin-Mai opened #259 "[API] I2C Read Function Implementation (Question)"
Hi everyone,

I'm trying to interface with a HoneyWell HIH6130 Humidity / Temperature sensor, and I was wondering if I could get some clarification on how the i2c functions... function in mraa.

I know this isn;t the greatest place to ask, but I figured I'd try anywhere I could.

So, what I need to know is: what's happening on the data line when I call the mraa_i2c_read function?

Say I give the i

[2015-08-22 17:02] alext-mkrs commented on #258
Are you talking about mini-breakout or an Arduino breakout board here?

A reproducer program listing woud also help a lot in troubleshooting this.

[2015-08-24 05:21] coloz commented on #258
import mraa
x = mraa.Gpio(9)

it is 'Invalid GPIO pin specified'

i try to use C/C++, it's same error

[2015-08-24 09:25] arfoll commented on #258
Can you tell us which board, what OS and mraa version (mraa.getVersion() will tell you) and maybe the output of syslog? There's some doc on doing so here: https://github.com/intel-iot-devkit/mraa/blob/master/docs/debugging.md

Without any of this there's not much anyone can do.

[2015-08-24 09:35] arfoll commented on #259
mraa/linux will handle sending the ACK and read/write signal in i2c addr for you so as long as your sensor follows the i2c standard there should be nothing for you to worry about there.

What you want is:

[2015-08-25 02:55] deadprogram opened #261 "Xadow GPIO mapping not clear, perhaps not working?"
When trying to use the Xadow breakout board with an Edison, I am unable to access some of the pins that would appear should be addressable.

I am trying to use the buzzer and/or vibration motor, that require P1 & P2, or P2 & P4:
http://www.seeedstudio.com/wiki/Category:Xadow

From this page of pin mappings here:
http://www.seeedstudio.com/wiki/Xadow_IO_pin_mapping

I would expect to want to use ei

[2015-08-25 13:55] arfoll commented on #261
Xadow breakout is treated like a miniboard so so gpio 5 is invalid, that's normal. However 15 works here for me on Xadow. 16 is also invalid as http://iotdk.intel.com/docs/master/mraa/edison.html.

However where I can't help you is that I have no idea how the Xadow board is wired up and which GPIO is which.

[2015-08-25 14:58] deadprogram commented on #261
Here is a link to the schematic for the Xadow Edison breakout board, in case that can prove to be helpful in determining the mappings:

http://www.seeedstudio.com/wiki/images/3/3b/Xadow-Edison_sch_v1.0.pdf

[2015-08-25 18:50] akulo opened #263 "DS18B20 support"
I would like to see support for One wire DS18B20 Temperature Sensor

[2015-08-25 18:51] akulo commented on #154
how about DS18B20 support?

[2015-08-25 19:02] wawrow commented on #154
I've tried using ds18b20 with edison but it seems like it wasn't switching in/out on gpio fast enough for 1wire, could probably be done with two gpios, but i haven't got a chance to try it out.

[2015-08-25 21:16] akulo commented on #154
the idea is to have it somehow exposed to node.js to consume without knowing all the implementation details

[2015-08-26 17:11] alext-mkrs commented on #263
There's already 1-wire support request #154, as you've already found out. Specific sensors support is a domain of intel-iot-devkit/upm, which uses mraa underneath.

So to me this looks like a candidate for closure - please continue the 1-wire discussion in #154 and feel free to copy/paste this request to the upm tracker.

[2015-08-26 17:12] arfoll commented on #263
Yes this is really a UPM request and look in #154. Feel free to suggest a way that will work generally, I don't know of any ways.

[2015-08-26 17:12] #263 closed

[2015-08-29 08:39] leonyuhanov commented on #255
Hey Team, wondering is this has been resolved?

[2015-08-29 09:58] leonyuhanov commented on #255
Hey team, i just realized that i could have just done this myself in my local copy. And that seems to have fixed this issue...
I commented out the lines of code as sugested above, recompiled and now I'm running a higher frequency. It looks as though its capping at around 4-5mhz.. But that is good enough for me.
Question: should i CLOSE this bug??

[2015-08-29 10:28] leonyuhanov opened #264 "Memory Leak in nodejs module on RPIA+"
Team I'm running into an old issue where im getting a memory leak by using the mraa.write(buffer).
My code sends about 4000 bytes in 1 frame at 4mhz at teh moment. and after about 2 minutes runtime the program goes form 40mb in top to 80mb... I ran into this problem on the Galileo Gen2 board but it was fixed previously...I checked the source code on my rp and it matches the fix...but still having

[2015-08-29 13:42] michael-ring commented on #255
Nope, i will fix it correctly, did not find the time last weekend

[2015-08-30 06:42] leonyuhanov commented on #264
Update...
Not 100% sure this is a problem with MRAA... May be a problem with iether NodeJS or the SPI driver on the RpiA+..
I ran 2 bits of code:
1: Send out 128Bytes of data in a tight while loop:
while(true)
{
 spiDevice.write(dataBuffer);
}
RAM usage climbs until I kill the script or until the Device crashes.
2: send out 128Bytes of data in a tight loop but delay each write with a console.log o

[2015-08-30 09:49] arfoll commented on #264
Run your code with `node --expose-gc test.js` and then call the garbage collector explicitly at certain moments `global.gc();`. The proper solution would be to tune node.js's garbage collector to be more aggresive by default on small platform. Hopefully this solves your problem!

[2015-08-30 09:50] leonyuhanov commented on #264
Tried that before posting my original issue. I think the problem is with Node as ive tested a different node spi module and got far worse memory leaks than mraa

[2015-08-30 09:51] #264 closed

[2015-08-30 09:55] arfoll commented on #264
Yeah sadly large data transfers from userspace do end up with a bunch of memcpy's so if node doesn't clean itself up on time it gets out of hands very quickly. If the memory comes back after a while then usually that smells of garbage collection issue :/

You could try add swap to your platform at least that would give you a bit more buffer room.

[2015-08-30 09:56] leonyuhanov commented on #264
All good, ive put in small pauses inbetween large transmitions to resolve this issue. Have had my app running for 4 hours with no rise in ram usage. Cheers

[2015-08-31 11:04] cosscat opened #265 "Trouble with isr interfering with gpio's pin normal functionality"
Hello,

Machine used: Minnow Max
mraa version: 'v0.7.3-39-g0256b68'
Setup: a 4.7K resistor between pin 10 and 5V

how to reproduce:
1) import mraa as m
2) io=m.Gpio(10)
def func():
  print "hello"

3)io.isr(m.EDGE_FALLING, func,6) ---> doesn't matter wht edge you choose; works until here
... touch the pin with a wire connected to ground
does well:
...
hello 134574196
hello 134574196
...

4) >>> io

[2015-08-31 13:20] cosscat opened #266 "Is Uart working for Minnow Max?"
Hi,

i was about to have a look on Uart for minnow max, but couldn't initialize the class in python. What i did:
systemctl stop serial-getty@ttyS0.service

and then in python:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python2.7/site-packages/mraa.py", line 1448, in __init__
    this = _mraa.new_Uart(*args)
ValueError: Error initialising UART

... is

[2015-08-31 14:21] cosscat opened #267 "Is SPI working for Minnow Max?"
Hi,

Wanted to do some testing on Spi and can't initialize the Spi object.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python2.7/site-packages/mraa.py", line 1270, in __init__
    this = _mraa.new_Spi(bus)
ValueError: Error initialising SPI bus

no luck with bus no. from 0 to 9

[2015-09-01 09:23] arfoll commented on #267
To use spi you have to load spidev, from here: https://github.com/MinnowBoard/minnow-max-extras/tree/master/modules/low-speed-spidev. It's a bug that it's not included in images by default but not a mraa bug :)

[2015-09-01 09:23] #267 closed

[2015-09-01 09:31] #266 closed

[2015-09-01 13:56] #265 closed

[2015-09-02 08:09] cosscat commented on #267
Thanks Brendan, I'll have a look

[2015-09-02 10:55] cosscat opened #268 "Edison having issues with gpio ISR in python"
Hi. how to reproduce:
in python:

...   print "hello"
...

0

0

[2015-09-02 11:15] cosscat opened #269 "i think there is a discrepance between PWM functions name and what they do"
Did this on Edison, but i guess is valid for other platforms
in python:
[code]

What this does is blink an LED with a frequency of 5 Hz.
The pulsewidth_ms() makes the LED dimmer or brighter depening on the no. of ms
It is behaving like the 5Hz frequency is a "carrier" frequency for a much higher frequency, that is the pulses of light themselves are the result of an other inner pwm. Hope i explaine

[2015-09-02 13:41] arfoll opened #270 "Uart::Flush() always returns 2 (MRAA_ERROR_FEATURE_NOT_SUPPORTED) on G2 and edison"
Surlely we can do a flush() on these platforms???

[2015-09-02 13:46] arfoll commented on #270
Well that's embarrasing... fixed with cfff6c3c9863460db5b1398d896c906f838a5bc2

[2015-09-02 13:46] #270 closed

[2015-09-03 17:55] alext-mkrs commented on #258
@coloz is this still actual? If yes, please provide the information @arfoll and I have requested above - that will help us to troubleshoot it. Other wise, please let us know and we'll close this one.

[2015-09-03 18:45] alext-mkrs commented on #246
I've just updated one of my Edisons to ww25.5 image and you can wind it up to 100% - the image has node 0.10.38 :smile:

[code]

[2015-09-03 18:48] alext-mkrs commented on #209
@arfoll, I'd propose to close this one as there's no response from the reporter and no one else is chiming in with "me too".

[2015-09-04 05:38] omkarpujari commented on #209
Dear Sir,
I will get back on Tuesday .
Can I post questions regarding Intel xdk in same thread or M I supposed to
create a new thread ?
I M having a moto g 2nd gen mobile which is not supported in Intel xdk Iot
mobile app . so how should I test my Android application  that I made ?
On 04-Sep-2015 12:18 am, "Alex T" <notifications@github.com> wrote:

[2015-09-04 09:54] arfoll commented on #209
@omkarpujari for XDK or anything that isn't mraa please use the intel IDZ forums, here isn't the right place.

[2015-09-05 15:15] Vayvala opened #272 "npm install error on Intel Edison Yocto release 2.1"
Intel Edison freshly updated to Yocto release 2.1

[code]

[2015-09-07 09:36] arfoll commented on #272
NPM module is broken currently on node.js <0.12.0. I'll release a new version asap to fix this.

[2015-09-07 09:55] #272 closed

[2015-09-07 09:56] arfoll commented on #272
This'll need a new release which I'll do later today to make sure it's in npm.

[2015-09-07 10:29] arfoll commented on #272
Should be fixed with 0.7.5 that's uploaded. Tested on node 0.10.x both on 64 and 32bit.

[2015-09-13 00:37] deadprogram commented on #261
Hi, @arfoll any further into on this?

[2015-09-14 13:46] arfoll commented on #44
@AdamMagaluk would you mind taking down the mraa-js module on npm since I don't think it's required anymore and has caused confusion for some users :/

[2015-09-14 13:57] arfoll commented on #261
No really, all I can tell you is that the 'xadow breakout' has i2c-6 (so '0' in mraa) broken out on the header if you plug it on the header with the 'power' side (on the other header it doesn't seem to work). I'll try get in contact with Seed to ge them to tell us because randomly probing is just a waste of time...

[2015-09-14 15:36] deadprogram commented on #261
I was able to easily get the i2c working. The GPIO, not so much. Thanks for looking into it.

[2015-09-15 20:03] Jon-ICS opened #280 "Commit 5c7bab1c79c0d3102d299137335b19f2b632fafe breaks analog input on edison"
Hi,

This commit breaks analog input on edison with the arduino breakout board.  With this patch applied, all analog reads return 0, regardless of the input voltage supplied to the analog pin.  Reverting this patch allows analog input to work again.

[2015-09-15 20:38] tingleby commented on #280
5c7bab1c79c0d3102d299137335b19f2b632fafe link for the lazy.
Neglects to consider the ADC.

[2015-09-16 06:40] #280 closed

[2015-09-16 06:42] arfoll commented on #280
Thanks for noticing this so fast @Jon-ICS saves @cosscat coming to shout at me tmrw!

[2015-09-16 16:37] Jon-ICS commented on #280
No problem! A first, I thought I had fried my arduino breakout board :)

[2015-09-17 09:33] cosscat opened #281 "gpio isr not working if pin was used previously"
Tried on Galileo v2 with mraa ver. 'v0.7.5-55-g5c7bab1'
[code]

trying here to touch pin 10 with 5V and nothing happens.
then:
[code]
Again, nothing.

The same happens if gpio is instantiated with a new pin(and not using it in advance for something):
[code]
 At this point isr is not functional.

[2015-09-17 09:44] tingleby commented on #281
The first part, did you set the GPIO back to Input mode?

[2015-09-17 12:01] cosscat commented on #281
Hi,
Yes i did. Forgot to add that part though. Here is a new try:
[code]

and again, nothing happens

[2015-09-17 13:12] cosscat commented on #281
... same on Minnow-Max

[2015-09-17 13:27] cosscat opened #283 "unwanted behavior of PWM on Minnow Max"
Hello,

Noticed an unwanted behavior of PWM on Minnow Max: 'v0.7.5-55-g5c7bab1'
Try the following:
[code]
where the first parameter is the  period in ms and the second the percentage of "on" state.
You will notice (for an LED) that when doing the p.config_percent(10, 0.9) it will light less than on
p.config_percent(10, 0.5)

[2015-09-17 14:08] cosscat commented on #283
same happens for:

0

0

The same behavior is valid for the second PWM pin: 24
It is something related to 90% duty cycle, no matter how one sets it.

[2015-09-17 14:12] cosscat opened #284 "Minnow Max unwanted behavior for pulsewidth_ms()"
Hello,

Tested on: 'v0.7.5-55-g5c7bab1'
The behavior of pulsewidth_ms() chaotic. An LED used for it on pin 22 would not follow the duty cycle settings:
[code]

[2015-09-17 14:13] cosscat commented on #284
happens for p.write(percentage value) too:
eg. p.write(0.2)

[2015-09-17 14:15] cosscat commented on #284
the percentage is set correctly:

0.89999997615814209

[2015-09-18 09:12] cosscat opened #285 "[Not sure if this is an issue] Should an analog pin support DIR_IN/DIR_OUT modes?"
mraa ver: 'v0.7.5-55-g5c7bab1'
[code]
Isn't AIO just for input?

[2015-09-18 09:22] cosscat opened #286 "Gpio can be initialized with pin no. that is not I/O"
Hello,

mraa version: 'v0.7.5-55-g5c7bab1'
[code]
This should not be possible.

[2015-09-18 09:40] cosscat commented on #281
same for Galileo v2 and Edison.

[2015-09-18 10:21] arfoll commented on #286
that's normal, AIO pins can be used as GPIOs this way.

[2015-09-18 10:21] #286 closed

[2015-09-18 10:21] arfoll commented on #285
well it's not correct but enums are just numbers so they fit in our SWIG typemaps... they are just numbers :/

[2015-09-18 10:21] #285 closed

[2015-09-18 10:26] alext-mkrs commented on #286
You run this on Arduino expansion board, aren't you? If so, that's perfectly ok, on Edison and Galileo gen2 you can use analog pins as GPIOs.

See https://github.com/intel-iot-devkit/mraa/blob/master/docs/edison.md, Arduino board description.

[2015-09-18 10:49] arfoll opened #288 "mraa broken with node.js v4.1.0"
@Propanu affects u too...

[2015-09-18 11:51] cosscat opened #289 "UART flush() not working as expected on Edison"
Hello,
mraa ver.: 'v0.7.5-55-g5c7bab1'
for uart module:
write something in Putty and then:
[code]
I didn't wrote something else in between those two u.dataAvailable() and the flush should have flushed the buffer.

[2015-09-18 12:09] arfoll commented on #289
we already went through this on IM but tcdrain() which is what is called by flush() simply blocks until everything is written as writes are async. It does not discard buffers as tcflush() would do. Tbh I'm not sure I like the behaviour but it's whats done in all the other serial libs I've seen :)

[2015-09-18 12:09] #289 closed

[2015-09-18 12:11] cosscat commented on #289
yes, you're right. i forgot this one. if it's ok for you i can consider this an exception for Edison

[2015-09-18 14:43] cosscat commented on #286
thanks Alext. Good info

[2015-09-20 15:35] alext-mkrs commented on #258
@arfoll looks like this one is no longer active, propose closing it.

[2015-09-20 15:36] alext-mkrs commented on #209
@arfoll one more inactive one, I propose closing it.

[2015-09-20 15:51] omkarpujari commented on #209
Dear sir ,
You can close this .
On 20-Sep-2015 9:06 pm, "Alex T" <notifications@github.com> wrote:

[2015-09-20 18:09] #209 closed

[2015-09-21 06:07] kersten commented on #247
could you paste the link here? I have the exact same problem and need a fix

[2015-09-21 06:10] leonyuhanov commented on #247
@kersten hey mate, Intel has confirmed this is a problem with the latest release of their Edison firmware. They have purposely kneecapped the spi driver to not work over 20khz. Have a look at this https://communities.intel.com/thread/78149?sr=inbox, its the forum post where we confirmed with Intel that this problem exists. It is not an issue with the mraa library

[2015-09-21 06:11] leonyuhanov commented on #247
And here is where i opened a support request with intel
https://communities.intel.com/thread/77705?sr=inbox

[2015-09-21 06:13] leonyuhanov commented on #247
This is what Intel support told me after 2 weeks of waiting on their support:
"Intel Edison uses the SPI driver available with the Yocto embedded Linux. Like most embedded devices the SPI driver is emulating SPI interface protocol use bitbang technique therefore the speed on the SPI is limited. Only device with hardware SPI interface can achieve high speed SPI. By increasing the SPI speed the SPI

[2015-09-21 06:15] leonyuhanov commented on #247
If you really want to get it working, downgrade your Edison board to the previous firmware. You will need to update mraa and will be stuck with old software. This is the link https://software.intel.com/en-us/iot/hardware/edison/downloads you need the v2 release, anything newer is broken

[2015-09-21 06:42] kersten commented on #247
@leonyuhanov thanks for your detailed answer. This is very sad. You know some other microcontroller boards that will not have this problems? I have some beaglebones and raspberry pis at home. Should they work?

Maybe I should have done this too. At this time I did not get any LED strip working like expected and this is the only thing I want to do, light up multiple strips. For now I am using a bbb

[2015-09-21 06:47] leonyuhanov commented on #247
Yep im using a rpi A+ succesfully with mraa to drive apa102 strips.
If u want something smaller, try the NodeMCU modules or teensys
Leon

On 21 September 2015 4:42:29 PM AEST, Kersten Burkhardt <notifications@github.com> wrote:

[2015-09-21 06:51] kersten commented on #247
Thanks. I first tried to get ws2812b strips to work over firmata / arduino, but this was not really fast enough. Working with one strip was OK, but talking to my ONLY six strips was horrible. Now I got one apa102 5m test strip and thought I can drive this one with the edison.

Did I understand the forum post correctly that the edison just emulates SPI and does not have a chip for it on board?

[2015-09-21 06:53] leonyuhanov commented on #247
that is what Intel is saying yea. Wether ita true or not we will never know. Fyi i was able to drive 2000 x apa102 leds with the edison on v2 firmware.. it can definitely do it, but some idiot at intel decided that they kill spi, i3c etc.. look on their forums,people are abandoding ship.
Leon

On 21 September 2015 4:51:17 PM AEST, Kersten Burkhardt <notifications@github.com> wrote:

[2015-09-21 07:03] kersten commented on #247
Ok, then I will try that. Is there anything I have to watch out for? I read that you nearly broke your device.

[2015-09-21 07:06] leonyuhanov commented on #247
If u use an rpia+ follow theae to the T http://www.elec-tron.org/?p=996
If u want to use the ediaon with v2 firmware, just reflash it . I didnt encounter any huge issues from memory
Leon

On 21 September 2015 5:03:26 PM AEST, Kersten Burkhardt <notifications@github.com> wrote:

[2015-09-21 14:25] vivitter opened #290 "Python's API's I2c.address() does not produce expected results"
Hi, I'm a beginner of Edison.
Now I'm trying to get data from Bosch BME280, combined humidity and pressure sensor.
https://ae-bst.resource.bosch.com/media/products/dokumente/bme280/BST-BME280_DS001-10.pdf

I've found a sample code for arduino.
https://github.com/SWITCHSCIENCE/BME280/tree/master/Arduino/BME280_I2C

It worked successfully.
Next, I would like to replace this arduino code to python wi

[2015-09-21 15:11] arfoll commented on #290
So m.address() simply sets the address of the i2c context for future operations. It doesn't actually do anything.

What version of mraa are you using? (check with m.getVersion()). You may want to update to 0.7.5 but this should just work...

[2015-09-21 15:17] arfoll commented on #290
Oh wait readRegByte doesn't exist. Use 'readReg()'

[2015-09-21 15:27] vivitter commented on #290
Oops! It was all my fault!
It worked correctly.

Thank you @arfoll !!

[2015-09-21 15:27] #290 closed

[2015-09-21 15:29] AdamMagaluk commented on #44
Will do. Give a day or two gotta update and test some dependencies that rely on it.

[2015-09-24 19:22] alext-mkrs commented on #246
If this one is a "wontfix" and it's two months old, shouldn't we close it, @arfoll or @tingleby?

[2015-09-28 06:18] BenWillett commented on #31
I had this problem too. Setting the board and shield to 5v solved it. Thanks @mmccool !

[2015-09-29 08:04] sriranjanr opened #293 "High speed ADC at 8khz or higher?"
I want to sample audio input at 8khz on ADC0. How shall I get high speed ADC on edison using MRAA?

[2015-10-01 17:14] xbolshe commented on #288
mraa is not broken with node.js v4.1.0. It does not support it because of some function changes. I have a plan to publish my mraa commit tested on node.js v4.1.1 with Galileo board.

[2015-10-01 20:50] xbolshe commented on #288
See https://github.com/intel-iot-devkit/mraa/pull/297

[2015-10-01 21:10] Propanu commented on #288
Could we ask for your help to check if UPM builds with the changes too?

[2015-10-01 23:31] xbolshe commented on #288
Yes, it does. https://github.com/intel-iot-devkit/upm/pull/279

[2015-10-01 23:54] xbolshe commented on #288
But need to check for errors:

![someprobs](https://cloud.githubusercontent.com/assets/10796236/10236638/d8eb22a0-68b0-11e5-9655-b0588bcc6498.jpg)

[2015-10-02 09:51] arfoll commented on #293
To sample at that speed you really want to be using a kernel driver on IIO

[2015-10-02 09:51] #293 closed

[2015-10-02 11:29] sriranjanr commented on #293
Could you tell me more about how to do it?I am working with microphone for an audio application.I am able to generate sound using fast PWM like given here https://github.com/llatta/edison-audio but I want to use some such similar code to sample ADC at a high speed.

[2015-10-02 11:46] alext-mkrs commented on #269
Hey @cosscat
What would you expect to see here and where it's different to what you actually see?

`period()` sets a period for PWM, that is 200 ms in your example. `pulsewidth_ms()` sets a pulse width, in milliseconds, 5 ms in your example. Taken together that means that PWM would take plase each 200 ms and out of those the pin will be in HIGH state for 5 ms. And that results in that blinking wit

[2015-10-02 12:36] arfoll opened #299 "iio: count only devices matching iio:deviceX when enumerating them"
As @alext-mkrs spotted we count every symlink in /sys/bus/iio which is wrong.

[2015-10-02 12:37] arfoll opened #300 "iio: add channel counting and sort channels by index & store/understand type"
This is required to understand the results of a triggered buffer read

[2015-10-02 12:37] arfoll opened #301 "iio: Allow attribute/raw channel writing"
Currently we only support reading, writing should be supported probably floats and integers/bools.

[2015-10-02 12:38] arfoll opened #302 "iio: Allow setting of callback on event on mraa_iio_context"
with the iio event mechanism allow mraa_iio_event_callback() for users to set a callback which will return an iio_event to analyse

[2015-10-02 13:10] alext-mkrs commented on #281
Hi @cosscat

With Python you need to put a `sleep()` at the end of the ISR-related script for it to work properly, like in the [example](https://github.com/intel-iot-devkit/mraa/blob/master/examples/python/hello_isr.py). See [this commit](https://github.com/intel-iot-devkit/mraa/commit/dcc4efbaf86a8908a84d9363968fe23365b2691a) (especially the docs piece) for details, but in general the reason is t

[2015-10-02 19:43] alext-mkrs commented on #268
According to my findings, this only happens when you run Python interactively (both 2 and 3) and the reason is a deadlock between `pthread_join()` in `isrExit()` (after we've sent an ISR thread cancellation command) and an attempt to get the Python global interpreter lock (GIL) in the code path it gets through when processing the thread cancellation.

I'm currently thinking on how to fix this prop

[2015-10-02 20:32] badr-badri opened #303 "Cross compile Libmraa for intel Edison from Linux x86_64"
Hello,
Could you please provide me the command line that allows me to compile the libmraa from my linux (Debian jessie x86_64) for intel Edison.
Thanks in advance.

[2015-10-02 20:39] arfoll commented on #303
This should have everything you need:

https://github.com/intel-iot-devkit/mraa/blob/master/docs/building.md
On 2 Oct 2015 21:32, "badr-badri" <notifications@github.com> wrote:

[2015-10-02 20:44] badr-badri commented on #303
I'm sorry but it's not very clear for me, what are the options to pass cmake to indicate the architecture i686 of intel edison ?

[2015-10-02 21:15] badr-badri commented on #303
When I do this : $cmake -DBUILDARCH=i586 then make then make install, the result still x86_64 library "libmraa.so.0.8.0: ELF 64-bit LSB shared object, x86-64, version 1 (SYSV)"

[2015-10-02 21:33] arfoll commented on #303
If you are cross compiling are using the or cross cmake toolchain file? You
can't just set target arch and have it work on edison....

Brendan
On 2 Oct 2015 22:15, "badr-badri" <notifications@github.com> wrote:

[2015-10-02 21:43] badr-badri commented on #303
I don't use it cause i don't know how can use it. That's why i'm asking for help. Could you please give me the instructions that I have to follow ?

[2015-10-03 09:46] tingleby commented on #303
The following should what you need to cross compile at least the C/C++ using cmake and the Yocto toolchain.

OK so first things first you will need a toolchain that matches what is running on the Edison. Intel provides one from.
https://software.intel.com/en-us/iot/hardware/edison/downloads
Download the "SDK - Cross Compile Tools" and as you're using Debian x86_64 you want "Linux* 64-bit"
[code]
Y

[2015-10-03 11:15] badr-badri commented on #303
It works :) Thank so much for your help, I really appreciate it :)

[2015-10-03 16:40] arfoll commented on #288
Closed with 3059c06fa05c4a5536ec82d00bd991891956704d by @xbolshe. Thanks a million!

[2015-10-03 16:40] #288 closed

[2015-10-04 03:57] sriranjanr opened #305 "Analog reading at 8khz"
Hello,

I want to analog read A0 pin at 8khz. How shall I get a fast read out? I am dealing with a project where I need to sample the microphone on the ADC at 8khz.I am using the intel arduino edison breakout board. Someone please tell me how to.

[2015-10-04 11:34] arfoll commented on #305
You'd be better off asking on the intel maker forums this is not the right place to ask, you need to sample your ADC directly from IIO. We're working on mechanisms to do this from mraa but it's not yet available. Try libiio.

[2015-10-04 11:34] #305 closed

[2015-10-04 15:32] sriranjanr commented on #305
The ADC used on edison arduino breakout board is ADS7951.So what kind of driver it might need.Is it possible to use MRAA to improve the ADC frequency?

[2015-10-04 15:39] arfoll commented on #305
You can't take a measurement at 8khz from Linux userspace accurately with the current mraa support, you would need the upcoming trigger buffer IIO support which the ADS7951 edison driver doesn't actually support and even then I'm not sure you'd be able to do that well.

Since you're trying to sample a microphone my advice would be to get a cheap USB soundcard instead, that will do the job much bet

[2015-10-04 18:06] alext-mkrs commented on #299
Let me start with this one, feel free to assign it to me.

[2015-10-05 04:08] sriranjanr commented on #305
Could you shed more  light on how to use IIO?

[2015-10-05 10:06] alext-mkrs commented on #305
As @arfoll mentioned, IIO is only a theoretical solution, because (a) real performance is not known and (b) Edison's ADC driver doesn't support the necessary mode anyway.

So using a usb sound card is really the best solution here.

[2015-10-05 10:09] sriranjanr commented on #305
I am thinking of using an external ADC with software SPI to sample and capture the mic data. SPIdev transfer calls are having 50us and 45us delays going in and out of the calls.

[2015-10-05 11:07] arfoll opened #306 "iio: understand channel names"
Currently we only deal with device indexes & names but we do not understand channel names, need to add a channel 'name' property which has to be a dynamically allocated string

[2015-10-05 11:08] arfoll opened #307 "iio: iio devices need to be in a seperate data structure"
Currently iio devices are stored in mraa_platform_t but this breaks test in all mraa modules which rely on checking if an iio platform is present. On platforms where we have iio but no other IO we should not force the creation of a dummy mraa_platform_t just to use iio.

[2015-10-05 11:09] arfoll commented on #300
this is now complete

[2015-10-05 11:09] #300 closed

[2015-10-05 19:52] alext-mkrs commented on #305
That's your call of course  but imho that will cost you more than a usb sound card, with the same result

[2015-10-06 06:53] coloz commented on #258
@arfoll  breakout board & Release 2.1 Yocto* complete image,thanks a lot

[2015-10-06 08:38] arfoll opened #308 "iio: Swig-ify mraa iio API"
First a C++ wrapper needs to be made on top of the IIO API then SWIG can 'wrap' it. Since we have callbacks we need to think a little about how it'll work and how to not duplicate the gpio module too much

[2015-10-06 10:34] arfoll opened #309 "iio: allow device index to be found via device->name"

[2015-10-06 11:09] arfoll commented on #307
done with 752d222d6488f010cf5ce00acd26f5be4d0d911a

[2015-10-06 11:09] #307 closed

[2015-10-06 13:41] #268 closed

[2015-10-06 18:41] alext-mkrs commented on #258
@coloz you still haven't provided any useful debug information. "breakout board" is too generic, which one do you use, can you provide e.g. a link to the web shop, if you don't know what the name is? On both Arduino break out board and mini-breakout board gpio pin number 9 is valid, so you shouldn't be getting such an error there, so I suspect you have something else.

Image version is also useles

[2015-10-07 15:23] #299 closed

[2015-10-07 19:29] alext-mkrs commented on #309
Let me take this one next.

[2015-10-08 09:39] badr-badri commented on #303
Hi guys,
I have another question, which variables should I change so I can get a deb package (with checkinstall) so I can install it in ubilinux with dpk -i ?
Thanks in advance.

[2015-10-08 09:58] tingleby commented on #303
So, the instruction I provided are targeting Yocto images provided by Intel. There will probably be a different way for targeting ubilinux, which I don't know exactly what is.

[2015-10-08 10:07] badr-badri commented on #303
Thanks for your response, I appreciate :)

[2015-10-08 10:13] badr-badri commented on #303
Do you know the instructions to cross compile for debian i386 ? This should work according to ubilinux forum

[2015-10-08 11:23] tingleby commented on #303
So, I may be wrong and these suggestions are *untested*!.

You will probally need to following packages
`gcc-multilib libc6-i386 lib6-dev-i386`

* Use your toolchain avaible on your host, gcc-multilib
* `rm cmake/modules/CPackDeb.cmake`
* Call cmake like this `cmake-DCMAKE_CXX_FLAGS=-m32 -DCMAKE_C_FLAGS=-m32 -DBUILDSWIG=off ../`

This might be partly the way todo it.

[2015-10-08 11:24] tingleby commented on #303
The rm command is to remove the modifications that are in mraa so it packages for IPK over DEBs. Removing use the standard debian behaviour, at least it should.

[2015-10-08 13:37] badr-badri commented on #303
it doesn't work actually but never mind, i'll find a way
Thanks a lot for taking time to respond :)

[2015-10-09 14:52] xueliu opened #315 "MRAA build foler for UPM"
As building instruction said, the building of UPM needs following information.

PKG_CONFIG_PATH=$PKG_CONFIG_PATH:.../mraa/build/lib/pkgconfig
CPLUS_INCLUDE_PATH=$CPLUS_INCLUDE_PATH:.../mraa/build/include
LIBRARY_PATH=$LIBRARY_PATH:.../mraa/build/lib

But after I compile the mraa, I can not find lib/, include/ and lib/ folder under build/.

Where or how can I find such folders ? Thx

[2015-10-09 20:24] alext-mkrs commented on #315
What exactly do you mean by "I compile the mraa", which command do you run?
To have this directory structure in place you need to run "make install" and set `CMAKE_INSTALL_PREFIX` and/or `DESTDIR` variables (otherwise the default location will be `/usr` - this equals to `../mraa/build` part in the UPM instruction).

You can see the install logic and locations in `src/cmake_install.cmake` in CMake'

[2015-10-10 10:21] xueliu commented on #315
yes, you are right. The problem is solved.

[2015-10-10 10:21] #315 closed

[2015-10-10 12:41] alext-mkrs commented on #315
Glad to help :smiley:

[2015-10-10 14:46] xbolshe opened #316 "spi: mraa does not support dynamic SPI bus enumeration (Linux Kernel 3.19)"
There is no static SPI bus in Kernel 3.19. MRAA does not support a dynamic SPI bus eumeration.
Boards: Galileo Gen1 & Gen2

![spibusenum](https://cloud.githubusercontent.com/assets/10796236/10411684/6b82b134-6f76-11e5-8cee-a6908e85bc66.jpg)

[2015-10-10 16:50] alext-mkrs commented on #316
My first question would be - where did you get a 3.19-based image for Galileos (or even Edison)? :smiley:, I haven't seen any official release with that one.

[2015-10-10 16:52] alext-mkrs commented on #301
I think this one would require some sort of DAC device to be available, to be able to test it, right?

[2015-10-10 17:05] xbolshe commented on #316
Actually I have own release :)
https://github.com/xbolshe/galileo-custom-images/tree/master/iot_1.1.0_dirty_kernel_3.19.2

[2015-10-10 21:42] arfoll commented on #301
For the chanel writing yes, but I really meant this function https://github.com/intel-iot-devkit/mraa/blob/iio-api/src/iio/iio.c#L181 which would implement the possibility of writing to attributes.

[2015-10-10 21:46] arfoll commented on #316
So essentially your spidev device is turning up on /dev/spidev169.0 instead of spidev0.0. I'm curious though why does yours turn up there?

I guess the solution would be to check /sys for where the device node is and enumerate them dynamically. I'd be happy to take a patch to do this.

[2015-10-10 22:37] xbolshe commented on #316
spidev0.0 / spidev168.0 is used for ADC on Galileo board.  spidev1.0 / spidev169.0 is used for an external SPI connection.

Last kernel versions like 3.19 have a feature:
https://www.kernel.org/doc/Documentation/spi/spi-summary
--------------------------------------
NON-STATIC CONFIGURATIONS

Developer boards often play by different rules than product boards, and one
example is the potential need

[2015-10-11 23:31] alext-mkrs commented on #301
Yep, I see, just double-checking if I'm able to take this on - I unfortunately don't have anything DAC.

I'll check if I can implement this without that.

[2015-10-13 06:38] GitAnonymous opened #318 "Implemented check to detect Arduino or Mini Breakout Board is not sufficient / fails"
Using mraa with my custom board fails since for some reasons my custom board is being detected as an Arduino Breakout Board instead of a Mini Breakout Board.

The actual board check is performed in intel_edison_fab_c.c:

------------------------------------------------------------------------------
    mraa_board_t*
    mraa_intel_edison_fab_c()
    {
    mraa_board_t* b = (mraa_board_t*) calloc(1

[2015-10-13 07:16] tingleby commented on #318
@arfoll Perhaps we could look for the ADC? Or scan the i2c-bus with the TI muxes on it?

[2015-10-16 07:49] laykuanloon commented on #301
i implement one for event using string, i do the same for mraa_iio_write and tested write into scale is working
mraa_iio_write(iio_device0, "in_accel_scale", "0.038326");

Should I check in?

[2015-10-16 13:15] alext-mkrs commented on #301
I think @arfoll meant actual integers/floats, not a string. If you could adjust it like that, then feel free to send it in, no sense for me to do the same.

Or you can create a temporary branch with whatever you have as-is an I'll take from there in a day or two.

[2015-10-19 07:52] arfoll commented on #301
@laykuanloon Can you make a new PR for that function? That looks useful, we can make it more generic afterwards, I can take it in the iio-api branch and we'll improve it later.

[2015-10-19 09:07] laykuanloon opened #320 "iio_driver.c example printf take extra argument"
printf("  value = %05f\n", chan->index, (float)res);

[2015-10-19 13:05] rclai opened #323 "Any bluetooth examples?"
Was wondering if there was a way to programmatically work with the bluetooth module?

I am a bit new to IoT tech.

[2015-10-19 20:00] alext-mkrs commented on #323
You probably mean Edison here, right?

Generally speaking, mraa is not targeting this, because (IMHO, @arfoll would be authoritative here) there's not much can be done to make it simpler (given all those profiles you have there), which is mraa's main goal. To use bluetooth, you could use standard linux BT programming approaches, involving BlueZ most probably.

Though while typing this I started to

[2015-10-19 20:05] rclai commented on #323
Yes, the Edison. I actually found another solution by using [this solution](https://github.com/bbx10/node-nRF8001), which depends on Noble. So I'm closing now.

[2015-10-19 20:05] #323 closed

[2015-10-19 21:07] DavidZemon opened #324 "Raspberry Pi link broken"
The link to Raspberry Pi from [here](http://iotdk.intel.com/docs/master/mraa/python/#supported-platforms) does not work (404)

[2015-10-21 20:47] alext-mkrs commented on #324
Thanks for reporting this, I've created a pull request with a fix.

[2015-10-21 20:50] alext-mkrs commented on #309
Hmm, interesting that this one is still open even though I've referenced it in the commit, @arfoll, could you please close it?

[2015-10-21 20:51] alext-mkrs commented on #269
@cosscat, do you think that's still actual or my explanation resolves it for you?

[2015-10-21 20:53] arfoll commented on #309
Maybe because it's not pushed to master? Not sure but closed.

[2015-10-21 20:53] #309 closed

[2015-10-21 20:56] tingleby commented on #309
Issue normally only gets actioned on with references when the commit hits master, which kind of makes sense as iio is a feature branch yet in "upsteam" mraa.

[2015-10-22 01:06] jiangzidong opened #329 "build libmraa for Pi and BB"
If I want to build libmraa for Raspberry Pi and BB, what should I do?
just in ubuntu and `cmake --DBUILDARCH=arm`?

[2015-10-22 06:47] arfoll commented on #329
You only need to set the architecture like that if you are cross compiling
or forcing it. If you are compiling on the target then it will detect the
arch.
On 22 Oct 2015 02:06, "Zidong Jiang" <notifications@github.com> wrote:

[2015-10-22 06:49] tingleby commented on #329
@arfoll no if during the cmake setup it sees a compatible arch, will it not set to that. So if you use gcc-arm it will automatically select arm platforms? The forcing is mainly a testing feature.

[2015-10-22 10:25] alext-mkrs commented on #309
Good point, I think that's exactly the case.

[2015-10-22 21:31] xbolshe opened #330 "SPI: JavaScript, SPI.write function prototype"
JavaScript, Node v4.1.1,  mraa/examples/javascript/spi.js

SPI.write prototype:
uint8_t * write (uint8_t *txBuf, int length)

NodeJS code:
x = new m.Spi(0)
buf2 = x.write(buf)
console.log("Sent: " + buf.toString('hex') + ". Received: " + buf2.toString('hex'))

Question: what is an output of the function: received data length or received data buffer ?

[2015-10-22 22:26] arfoll commented on #330
received data buffer - is it not working as you'd expect?

[2015-10-22 22:26] #324 closed

[2015-10-22 22:32] xbolshe commented on #330
Yes, an output is a noise, but it shall be as an input.
I have checked kernel driver and libmraa - no problem.
The problem is in mraajs.i
![spijs_before](https://cloud.githubusercontent.com/assets/10796236/10680136/bcdfb276-7925-11e5-9841-2e9dbe48341b.jpg)

[2015-10-22 22:43] xbolshe commented on #330
BTW, mraajs.i has the following code:

namespace mraa {
class Spi;
%typemap(out) uint8_t*
{
%#if SWIG_V8_VERSION > 0x040000
   v8::MaybeLocal<v8::Object> objret = node::Buffer::New(v8::Isolate::GetCurrent(), (char*) $1, arg3);
   free($1);
   if(!objret.ToLocal(&$result)) {
      SWIG_exception_fail(SWIG_ERROR, "Spi buffer failed");
      SWIGV8_RETURN(SWIGV8_UNDEFINED());
   }

Please pay your at

[2015-10-22 22:59] hansmosh opened #331 "Error when installing on Edison from master branch"
I have a fresh install of Ubilinux and I followed these install steps:
https://learn.sparkfun.com/tutorials/installing-libmraa-on-ubilinux-for-edison
(with one addition of adding a python 3 flag `cmake .. -DBUILDSWIGNODE=OFF -DBUILDPYTHON3=ON`)

Install goes fine but I can't `import mraa`.

It works when I install from the tag v0.7.3. I chose that one sort of randomly because I knew this worked a

[2015-10-22 23:18] xbolshe commented on #330
https://github.com/intel-iot-devkit/mraa/pull/332

[2015-10-22 23:23] xbolshe commented on #330
With changes I have:

![spijs_chk](https://cloud.githubusercontent.com/assets/10796236/10680928/f99d6bca-792c-11e5-91c6-8ba61fe10757.jpg)

[2015-10-22 23:43] xbolshe commented on #330
And need to add free(result); to free uint8_t* recv = malloc(sizeof(uint8_t) * length); from mraa_spi_write_buf

[2015-10-23 03:16] leonyuhanov opened #333 "Cannot build NodeJS module in latest Raspberry Pi A+ (Raspbian 4.1)"
When trying to build mraa from source i run in this error when it gets to compiling the nodejs module:

http://www.elec-tron.org/wp-content/uploads/2015/10/log.txt

These are my installation procedures from scratch -> http://www.elec-tron.org/?p=996

I have been able to get MRAA working on the previous Raspbian 3.18 kernel but on Raspbian 4.1 i run into the above.... Any suggestions?

[2015-10-23 11:12] alext-mkrs commented on #333
Looks like a v8 version incompatibility to me. Which node.js and v8 versions do you have on Raspbian 4.1 and on an older one that worked?

[2015-10-23 15:01] michael-p opened #335 "Installation fails on Edison with Node.js v4.2.1"
Dear all,

I'm trying to install mraa on an Intel Edison (running Yocto) using `npm install mraa` but the installation fails (`"... Failed at the mraa@0.8.0 install script 'node-gyp rebuild'. ..."`). I'm not running the preinstalled node.js version (which is an old 0.10 I think) but instead installed node v4.2.1 from source. npm version is 2.14.8. Installing other packages works fine.

Is mraa not

[2015-10-23 19:33] alext-mkrs commented on #335
Can you please post a full install process output? I wonder if this is the same as #333.

[2015-10-23 19:51] alext-mkrs commented on #331
That looks strange, because there's no such function in Python 3 indeed, it's from version 2.

It looks like if you've built the module against 2 and are trying to run it on 3. My first guess would be that you have a -dev package for 2 instead of 3 (because that would explain it and the instructions you refer to have a reference to namely that version).

What do the following commands return on yo

[2015-10-23 21:14] hansmosh commented on #331
1.
[code]

[2015-10-24 07:12] leonyuhanov commented on #333
Yes correct, ill downgrade. Thanks

[2015-10-24 07:12] #333 closed

[2015-10-24 10:07] michael-p commented on #335
Here is the full install output: https://gist.github.com/michael-p/b03bc7f06ad006ff0bdb

I also just rolled back to the old Node version (v0.10.38), installing and using mraa with that version works fine.

[2015-10-24 23:23] xbolshe commented on #335
mraa 0.8.0 is compatible with node v4.x (Galileo Gen1):

![node421](https://cloud.githubusercontent.com/assets/10796236/10713276/f831e41c-7abe-11e5-9fdc-e9d8b6a7daed.jpg)

What SWIG, gcc, g++, cmake, make versions do you use?

[2015-10-24 23:56] v1v3kdalal opened #336 "mraa not properly installing on Minnow Board Max. Running Debian 8| Not working in python|"
After following the Basic build steps section. I try to use mraa in python. (Tested in 2.7 and 3.4) In 3.4 it does import mraa but as soon as you call a function it gives errors. In 2.7 it won't even import.
The build examples written in cpp do work however.

Any help would be appreciated, i need to use mraa in python.
I have all the python dev's installed.
Thank you.

Here is the CMakeErrorLog

E

[2015-10-25 09:55] xbolshe opened #337 "PWM: mraa limits a period supported by a kernel driver."
mraa has a dedicated limitation of period like b->pwm_max_period definded for a board.
Actually my Galileo Gen1 board supports a period up to 690880 us.
But I cannot select it. I guess only a kernel driver may limit a period, not mraa.

![pwmlimit](https://cloud.githubusercontent.com/assets/10796236/10715021/6f695c88-7b17-11e5-893d-cb8dd48c44b9.jpg)

[2015-10-25 11:07] arfoll commented on #331
You have two versions of python3 it might have got messed up, can you put your cmake output on dpaste?

[2015-10-25 11:08] arfoll commented on #337
Is this using the official 3.8.x kernel? Weird maybe the limit set in the board config is just wrong, can you verify you can actually set that? If you can I have no issues with raising the max.

[2015-10-25 11:11] arfoll commented on #336
Try use a pastebin service like dpaste intead of this github messes up all the formatting.

Our cmake config can get confused between python versions, tbh by default it should force python2 usage unless you set -DBUILDPYTHON3=ON. Wipe the build/ dir and try building again with that option and paste your error in python3.

[2015-10-25 11:12] arfoll commented on #335
Need more info from your buildoutput, latest should work with node 4.x as @xbolshe points out

[2015-10-25 13:06] xbolshe commented on #337
I use my custom kernel 3.19.2, where I have changed cy8c9540a driver. And I got 1...690880 us.
Official Intel kernels like 3.8.7 and 3.14.23 for Galileo boards support only a narrow period range like 1...7968 us (do not know why, while cy8c9540a allows to make "690880 us" support easily).

Here is my test:

![osc2](https://cloud.githubusercontent.com/assets/10796236/10715737/d575f9ae-7b31-11e5-88a

[2015-10-25 13:20] xbolshe commented on #337
May be it is better to provide information about period limitation in the documentation.

[2015-10-25 13:20] alext-mkrs commented on #336
Yeah, the output is quite inconvenient to read. What I could derive from that is thet it can't find `pthread_create()` function.

@v1v3kdalal, please post the output of this command: `dpkg -l |egrep 'libc|pthread'`. If it's longer than a couple of lines, please use some service like dpaste.

[2015-10-25 13:33] alext-mkrs commented on #281
@cosscat, do you think we can close this one?

[2015-10-25 13:34] alext-mkrs commented on #259
@Justin-Mai, have you been able to communicate with the sensor, do you need any further help with this i2c communication?

[2015-10-25 14:35] mulderp commented on #329
Also, it might be to see the commands to fetch dependencies before running a build. E.g. for Yocto distributions, there are these commands:

    echo "src mraa-upm http://iotdk.intel.com/repos/1.1/intelgalactic" > /etc/opkg/mraa-upm.conf
    opkg update
    opkg install libmraa0

But on RPi or BB one would probably use some kind of "apt-get" commands?

[2015-10-25 14:38] mulderp commented on #154
A nice example of 1-wire protocol might be the DHT-22: http://www.adafruit.com/datasheets/DHT22.pdf - the DHT series is quite popular in Arduino examples (it's very cheap), e.g. see https://www.adafruit.com/products/386

[2015-10-25 14:40] mulderp commented on #154
sorry, dht-xx is not one wire: http://forum.arduino.cc/index.php?topic=253899.0

[2015-10-25 14:46] mulderp opened #338 "Provide a meaning to "MRAA""
Hi,

as follow up from the discussion on Twitter https://twitter.com/mulpat/status/658258093709635584

It might be nice to get some more meaning into "MRAA".

"Modules" for "wRapping" "hArdware" "Abstractions" maybe?

[2015-10-25 14:58] mulderp opened #339 "Working with JS callbacks"
Hi,

just curious about why there are no callbacks used in the JavaScript examples.
I am looking at using an input button: When it is pressed, a callback should be executed, e.g.:

      var button = new mraa.Gpio(4);
      button.dir(mraa.DIR_IN);

      button.read(function(d) {
          if (d==1) {
            console.log('ON');
          } else {
            console.log('OFF');
          }

[2015-10-25 15:03] mulderp commented on #339
My current code is:

[code]

But to detect very fast clicks, sampleRate is e.g. 100ms - so, I was thinking it might be nice to have a callback that is called whenever the button is pressed, without "polling" in setInterval or another kind of loop.

[2015-10-25 15:39] FlippieCoetser commented on #339
@mulderp  you can configure an Interrupt that has a callback. That way you don't have to loop and read the value continuously. You can further specify when the callback is triggered: On button press or on button depress. Depending on your application you might also have to implement some denouncing hardware or software.

[2015-10-25 15:44] xbolshe commented on #338
And why MAA was renamed to MRAA +1:

[2015-10-25 15:50] mulderp commented on #339
Exactly what I am looking for! Thanks! How would I attach/map an interrupt to a Gpio pin?

[2015-10-25 16:04] FlippieCoetser commented on #339
Their is a function called ISR that you can use to configure the interrupt. Just watch out not all pins can be used with interrupts. Check the documents for more details on the ISR func.

[2015-10-25 16:07] mulderp commented on #339
right, there is even an example for that:

https://github.com/intel-iot-devkit/mraa/blob/master/examples/javascript/isr.js

thanks!

[2015-10-25 16:07] #339 closed

[2015-10-25 16:11] mulderp commented on #339
works great:

[code]

[2015-10-25 16:20] arfoll commented on #338
Check #109. The rename from maa was because there was already a libmaa http://sourceforge.net/projects/dict/files/libmaa/libmaa-1.3.2/.

I'll leave this open so you the bike shedding can stay here, but sorry there isn't much reason behind the name... If you buy me a beer I'm happy to have lengthy discussions in persob about my disregard for project naming :)

[2015-10-25 16:34] xbolshe commented on #338
Hm... MRAA Beer Party.... sounds good :)

[2015-10-25 17:35] michael-p commented on #335
Hi guys, thanks a lot for the fast help - really happy to hear that it does work on node 4 ! :)

Here are the version numbers:
[code]

In addition to the output of `npm install mraa` I already posted above here are the contents of npm-debug.log after the installation attempt: https://gist.github.com/michael-p/8a1f41e723ab75f564a8

If you need further information or have ideas what else I could tes

[2015-10-25 17:47] xbolshe commented on #335
As I see: "0.8.0":"2015-09-22T16:08:06.701Z" and "modified":"2015-09-22T16:08:06.701Z"
But node 4.x patch was in October. Seems need to update a package in https://registry.npmjs.org/mraa

[2015-10-25 18:02] xbolshe commented on #335
May you try to execute and post an output?

npm install node-gyp
node-gyp rebuild

[2015-10-25 18:31] michael-p commented on #335
Ok so I first tried to compile mraa from source (the v0.8.0 tag) but make fails with the following output:
[code]

Then, in build/src/javascript:
[code]

I also see that 3059c06fa05c4a5536ec82d00bd991891956704d from October 3rd mentions node 4 support but release 0.8.0 is from September 22nd. Maybe node 4 support is just not yet on npm?
However, I also tried the above procedure on the master branc

[2015-10-26 02:45] leonyuhanov commented on #333
I have left step by step build instructions on my blog here:
http://www.elec-tron.org/?p=996

[2015-10-26 02:47] leonyuhanov commented on #329
I wrote up a step by step guide here
http://www.elec-tron.org/?p=996

[2015-10-26 02:53] leonyuhanov commented on #255
@michael-ring Wondering when this will be resolved? I am still commenting out these lines pre compilation:
// if (ioctl(dev->devfd, SPI_IOC_RD_MAX_SPEED_HZ, &speed) != -1) {
// if (speed < hz) {
// dev->clock = speed;
// syslog(LOG_WARNING, "spi: Selected speed reduced to max allowed speed");
// }

[2015-10-26 09:23] mulderp commented on #338
Interesting to hear the very radical approach to project naming :)

I just know that Arduino was apparently based on the bar where the folks met in Ivrea: https://www.quora.com/Where-is-the-Arduino-bar

For sure, MRAA looks interesting as it provides the needed hardware abstraction layer on somewhat different components with different pins.

[2015-10-26 15:33] arfoll commented on #335
Yes correct, you need master, npm has the latest release version which doesn't support it yet.

[2015-10-26 15:33] #335 closed

[2015-10-26 15:36] #330 closed

[2015-10-26 15:37] arfoll commented on #329
@mulderp our instructions are only valid for iot devkit images galileo/edison/minnowboard max, probabyl should make this clearer

[2015-10-26 15:38] #303 closed

[2015-10-26 20:37] alext-mkrs commented on #246
Closing this one for no activity & solution posted. @raunaqrox give us a shout if you still need help with this one.

[2015-10-26 20:37] #246 closed

[2015-10-26 20:44] alext-mkrs commented on #283
Unfortunately I don't have a MinnowBoard check this out, @cosscat are you able to reproduce this on either generation of Galileos or an Edison (all of which I have)?

[2015-10-26 20:45] alext-mkrs commented on #284
Same as with #283, if you could reproduce this on Galileo or Edison I'd be glad to look into this, otherwise we'd need to wait until @arfoll has time to check it out. Though I'm not sure if you have a MinnowBoard either, Brendan?

[2015-10-26 20:47] alext-mkrs commented on #258
Ok, it's been long enough with no activity - I'm closing this one. @coloz, feel free to add a comment if you still need help with this one.

[2015-10-26 20:47] #258 closed

[2015-10-26 21:01] alext-mkrs commented on #173
@rwaldron so how did this go, have you been able to run both shields or have you got any problems? Do you think there's a work to be done in mraa for those?

[2015-10-26 21:05] alext-mkrs commented on #108
@ddnionio it's been a while and both mraa and node.js were noticeably updated since your last post.

Do you still observe this problem and need help?

[2015-10-26 21:18] alext-mkrs commented on #52
@arfoll, do you think we can close this one, IMHO it's quite straightforward?

@rwaldron, any additonal suggestions on how we could make it clear, now that some time passed (I see just one mention so far, so looks like there weren't too many problems with that)?

[2015-10-26 21:19] alext-mkrs commented on #20
@arfoll, have you ever heard back from HW team on this?

[2015-10-26 22:09] rwaldron commented on #52
There is nothing to be done in software space.

[2015-10-26 22:09] #52 closed

[2015-10-26 22:22] rwaldron commented on #173
Not very well. I ran out of resource time to work on learning the best way to detect that the Edison is attached to one of these expansion shields. It's necessary to for mraa to know that information because AIO is provided by an I2C IO expander chip on the Romeo. Just testing for some device on the i2c bus with that address is potentially ambiguous. Here's the code they link to from the dfrobot w

[2015-10-26 22:50] v1v3kdalal commented on #336
@alext-mkrs We entered your command here is the output:
http://dpaste.com/37J5BCS
@arfoll When we built the  cmake files i entered the -DBUILDPYTHON3=ON when i ran make.
However we will see what @alext-mkrs suggests then if needed we will clean the build and reinstall again making sure we use that build command when we build.

[2015-10-26 23:20] v1v3kdalal commented on #336
@arfoll We wiped our build directory. Then typed make -DBUILDPYTHON3=ON .. then make.
Everything seemed to install correctly.

Then we tried running a MRAA test code in Python 3.4 and this is the error message.
http://dpaste.com/3JM4CC0

[2015-10-27 11:31] alext-mkrs commented on #336
Ok, so the build problem is gone, now you're trying to run a python script and it sort of fails. Please post your full script, that checksMRAA.py one.

[2015-10-27 11:40] arfoll commented on #336
@v1v3kdalal I pushed a fix to python3 builds just now, actually we did have a build issue where @alext-mkrs added some useful debug info but makes a call to a function that is python2 only :/. Try update master and build again with commit 083606790061d4c8c70c66007439410ce30de063.

But considering that you are building my guess is you have another issue yet. Please paste the full output of cmake li

[2015-10-27 19:21] alext-mkrs commented on #336
That's an interesting one, I actually had no problems compiling that for python 3 :-) And in this one it's a pthread_create(), which was a culprit.

AsString was in the error log for #331.

[2015-10-27 19:54] alext-mkrs commented on #331
@hansmosh could you please try with the latest code from master? @arfoll just brought in a potential fix and it would be nice to check if it fixes it for you.

[2015-10-27 20:21] v1v3kdalal commented on #336
@alext-mkrs Here is the checkMRAA.py that i run. http://dpaste.com/233Y3P8
It's error message is: http://dpaste.com/3JM4CC0

Yeah the import works for Python 3 interpreter but then it won't import for the python2.7 interpreter.

In python3 it imports as soon as i call print (mraa.getVersion()) in the checkMRAA.py script it throws the error. Found in http://dpaste.com/3JM4CC0

@arfoll Here is the o

[2015-10-27 21:32] mulderp commented on #338
in the comments on this hackaday article on Arduino is the idea of "HALAL" for Arduino - hardware abstraction layer abstraction layer.... http://hackaday.com/2015/10/20/the-case-for-arduino-in-real-engineering/

[2015-10-27 23:47] hansmosh commented on #331
Just installed from the master branch and it's looking good. Thanks! I'm now seeing another issue with the gpio interrupt detection that I will be creating another issue for.

[2015-10-27 23:56] hansmosh opened #341 "Python 3 gpio isr method's "args" do not work"
I'm using the isr functionality with python 3 and the "args" are not being passed to my callback function properly.
http://iotdk.intel.com/docs/master/mraa/python/mraa.html#mraa.Gpio.isr

Using the example here:
https://github.com/intel-iot-devkit/mraa/blob/master/examples/python/hello_isr.py
If you `print(args)` inside of `test` then it is just a random integer. I want to be able to pass somethin

[2015-10-28 08:07] alext-mkrs commented on #331
Thanks for confirming, sure, we'll take a look a5 the isr one.

[2015-10-28 08:08] #331 closed

[2015-10-28 11:51] arfoll commented on #341
That would actually be better - do you want to do a PR for this or do you want me to do it?

Passing self should be do-able with this method, or maybe something very close, I'd love to investigate but don't have the time. If someone is willing to spend time doing this I'd be happy to include this.

[2015-10-28 21:01] alext-mkrs commented on #336
This looks like  a basic import problem, if that's the case it shouldn't be related to the way the module was built, only the installation paths might matter.

Could you please try two things:

1. run the same commands you have in the script using the interactive python shell and post the full session output;
1. show the log of your `make install` command when you were installing the library - or

[2015-10-28 21:07] hansmosh commented on #341
Copying this over from #343. It mostly fixes this issue but you still can't pass `self` as args.

[code]

Note: someone can create a new issue for this if they feel it is appropriate to close this one out.

[2015-10-29 20:26] alext-mkrs commented on #281
Closing due to no activity and solution provided.

[2015-10-29 20:26] #281 closed

[2015-10-29 20:28] alext-mkrs commented on #269
Closing due to no activity and answer provided. Feel free to comment if you need further help.

[2015-10-29 20:28] #269 closed

[2015-10-29 20:29] alext-mkrs commented on #259
Closing due to no activity and answer provided. Feel free to let us know if you need further help with this.

[2015-10-29 20:29] #259 closed

[2015-10-30 21:39] kyrylkov opened #347 "Add support for recent versions of Node.js (4.x.x & 5.x.x)"
Installing `mraa` on Node.js 4.2.1 fails:

[code]

[2015-10-31 09:17] xbolshe commented on #347
See https://github.com/intel-iot-devkit/mraa/issues/335

[2015-10-31 11:33] kyrylkov commented on #335
@arfoll When are you planning to do a release supporting Node.js 4.x.x & 5.x.x ?

[2015-10-31 16:40] tingleby commented on #335
Ill give what we have on master a go and then tag 0.8.1

[2015-10-31 16:57] kyrylkov commented on #335
Great!

[2015-11-02 16:57] v1v3kdalal commented on #336
1. http://dpaste.com/1GF41AE

2. a. _mraa.so location: /home/johnson/mraa/build/src/python
    b. mraa.py location: /home/johnson/mraa/build/src/python

3. http://dpaste.com/00JC3GD

@alext-mkrs these are results I obtained after following you instructions. Sorry for the late reply as our hard-drive was giving us problems.

Thank you.

[2015-11-02 22:48] mtsys opened #349 "Install use Windows 8.1"
Already followed other tutorials and nothing able to install the lib mraa. I am use Windows 8.1

C:\>npm install mraa
|

C:\node_modules\mraa>if not defined npm_config_node_gyp (node "C:\Program Files\
nodejs\node_modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-g
yp.js" rebuild )  else (node  rebuild )
'sed' não é reconhecido como um comando interno
ou externo, um programa operá

[2015-11-02 23:35] arfoll commented on #349
Sorry but you can't compile mraa on windows, this implementation is Linux only. What are you trying to achieve? Maybe there's another way

[2015-11-02 23:38] mtsys commented on #349
I was seeing the ocean to attend an Intel event on Edsion. I thought I could use it on Windows for testing. As my plate has not yet come, he was only studying.

[2015-11-02 23:38] #349 closed

[2015-11-02 23:40] arfoll commented on #349
Fair enough, I'd recommend just using a Linux VM, mraa compiles well on
Ubuntu/fedora/Arch/Debian and you'll be ready for Edison!
On 2 Nov 2015 23:39, "Marlon Tiedt" <notifications@github.com> wrote:

[2015-11-03 13:20] barlesh opened #350 ""canonical mode" for uart (on Intel Edison)"
I try to send & receive data to/from a modem using mraa's uart lib.
Sending raw data not including 0x0A (10 Dec, ascii's "\n") works perfectly, but when adding 0x0A everything is massed up.
While trying to receive a packet from my modem, if a 0x10 isn't sent at the end of the buffer, mraa_uart_data_available() doesn't return (just like mraa_uart_read() ).
sounds like canonical mode at termios lib

[2015-11-03 20:19] alext-mkrs commented on #347
@kyrylkov try again - after 0.8.1 was released by @tingleby you should be good. I see npm already has it.

[2015-11-03 20:20] alext-mkrs commented on #320
@arfoll I wonder if we want to close such ones (living in a separate branch) manually or just wait until it's merged back? Tbh I'd propose to close them after it's on the branch because technically we've fixed it, but what do you think?

[2015-11-03 20:22] kyrylkov commented on #347
@alext-mkrs Yes thanks. I will try soon.

[2015-11-03 20:22] #347 closed

[2015-11-03 20:45] alext-mkrs commented on #350
As you can see in [uart.c](https://github.com/intel-iot-devkit/mraa/blob/master/src/uart/uart.c#L226-L229) we actually do set it into raw mode.

Can you provide an example of the code that doesn't work for you, elaborate on "everything is messed up" and clarify what modem are you talking about?

[2015-11-03 20:52] alext-mkrs commented on #230
@FlippieCoetser is this still actual? Could you please try with mraa 0.8.1 and whatever Node.js you prefer these days?

[2015-11-03 21:41] alext-mkrs commented on #336
Ok, looks like there's indeed something wrong with your installation. Can you provide exact steps/commands you've run wjen installing?

I've just installed a Debian 8 VM and was able to successfully build and run mraa on it, though it required a trick of manually copying Python wrapper binaries. Mraa installs packages into Python's site-packages dir, but [Debian's python looks in dist-packages](ht

[2015-11-04 16:51] geotheory opened #353 "“Invalid GPIO pin specified” when sudo in Edison Debian"
Efforts to connect to GPIO pin fails when using both Python and C methods detailed in the [Sparkfun tutorial](https://learn.sparkfun.com/tutorials/installing-libmraa-on-ubilinux-for-edison) for Ubilinux.  Our project's configuration is however more complicated: a jailed 7.9 Wheezy running on top of Yocto via `chroot`, which may be part of the problem.  Python returns error:

    sudo python blink.

[2015-11-04 16:54] tingleby commented on #353
IRC, stackoverflow and now here :)
Could you check the output of `ls /sys/class/gpio/` inside the chroot

[2015-11-04 17:15] geotheory commented on #353
Yes!  It's an important project..  That gives me:

    ls /sys/class/gpio/
    export   gpio125  gpio127  gpio129  gpio130  gpio132  gpio134  gpiochip0
    gpio124  gpio126  gpio128  gpio13   gpio131  gpio133  gpio44   unexport

[2015-11-04 17:57] arfoll commented on #353
What baseboard are you using and make sure you're giving it enough power.
If on arduino baseboard use external psu not just USB. Also what Edison
image version are you using and which mraa version.

Could you try from yocto directly first? Some device node may not have been
exported correctly in your chroot.
On 4 Nov 2015 17:15, "Robin Edwards" <notifications@github.com> wrote:

[2015-11-04 20:22] alext-mkrs commented on #353
I'd also recommed you to run the script under strace, the information captured might be quite useful for debugging.

[code]

[2015-11-04 20:32] geotheory commented on #353
@arfoll it's running on a Sparkfun Base Block together with MicroSD, GPIO and battery blocks.  Battery block is running plus 2 USB cables for serial connection with screen, so I'd imagine power is ok?

The reason for using `chroot` is partly i think that Yocto doesn't support apt-get.  I'm not sure how feasible this installation is without it..

[2015-11-04 21:04] geotheory commented on #353
@alext-mkrs thanks for the suggestion.  Here's the [strace report](https://gist.github.com/geotheory/2471a28147c9eaf39a71).

[2015-11-04 22:53] arfoll commented on #353
What's the mraa version? Also the default YP image for edison uses opkg instead of apt-get but what are your reasons for using apt-get? Which packages can you not get installed on YP? Tbh that strace report just confirms gpio31 can't get open leading to an error. Can you get this running without the chroot on the latest official edison image?

[2015-11-05 09:05] geotheory commented on #353
I cloned `https://github.com/intel-iot-devkit/mraa` so must be v0.8.1.  Not sure why opkg wasn't implemented - the project started life some years ago so perhaps it predates it, as it did Ubilinux back then - hence the Yocto/Debian chroot arrangement.  Migration to full Ubilinux is an aspiration, but this is the priority.  I haven't even tried to replicate this mraa installation on Yocto - partly

[2015-11-05 09:16] arfoll commented on #353
I think you're mixing a few things up. I would never recommend ubilinux.
Secondly opkg can handle anything apt-get can (at least at this simplistic
level). But that discussion is best left to the intel maker forum.

You don't need to build anything to get mraa on the std yp images, its on
there just update it via opkg if you want.

I don't know how you plan on using pin13 since the gpio block does

[2015-11-05 09:21] geotheory commented on #353
Probably am mixing it up - Yocto is fairly new to me.  Sounds like I need to try opkg.  Not sure why the references to pin13 though - my code is 31 (which I gather is gpio44).

[2015-11-05 09:24] arfoll commented on #353
Ah right yes my bad that should work yes. @srware, @tingleby could you give
this a quick spin if you have a miniboard?
On 5 Nov 2015 09:21, "Robin Edwards" <notifications@github.com> wrote:

[2015-11-05 11:28] geotheory commented on #353
On Yocto side I get the following error with `import mraa` in Python:

    Failed to write to export
    Intel Edison Failed to initialise Arduino board TriState,                         check i2c devices! FATAL
    Failed to write to export
    Intel Edison Failed to initialise Arduino board TriState,                         check i2c devices! FATAL

`opkg update` gets a couple of packages then s

[2015-11-05 11:28] geotheory commented on #353
@arfoll On Yocto side I get the following error with `import mraa` in Python:

    Failed to write to export
    Intel Edison Failed to initialise Arduino board TriState,                         check i2c devices! FATAL
    Failed to write to export
    Intel Edison Failed to initialise Arduino board TriState,                         check i2c devices! FATAL

`opkg update` gets a couple of package

[2015-11-05 19:54] #353 closed

[2015-11-05 19:55] alext-mkrs commented on #353
Nice, thanks for reporting back.

[2015-11-05 20:56] v1v3kdalal commented on #336
All of these commands are done in the terminal on our /homedirectory/mraa. I think this is the process we followed:
1. mkdir mraa
2.  apt-get install build-essential python-pip python-dev python-smbus git
3. apt-get install cmake
4. git clone https://github.com/intel-iot-devkit/mraa
5. mkdir build
6. cd build
7. cmake -DBUILDSWIGPYTHON=ON
8.make

I am not sure if we are actually installing after w

[2015-11-06 15:10] geotheory commented on #353
@arfoll I'd be very interested to hear your reservations about Ubilinux.  We'l be considering longer-term strategic options at some point, and whether to migrate to full Yocto vs Ubilinux/other will be a key question.  [This reddit](https://www.reddit.com/r/IntelEdison/comments/2zqcx9/advantage_of_using_distros_other_than_yocto/) might be a suitable place for discussion.  Views from others also mu

[2015-11-06 17:41] arfoll commented on #353
I'm actually currently on vacation in Scotland but I'll happily comment in
there when I get back on Tuesday.
On 6 Nov 2015 15:15, "Robin Edwards" <notifications@github.com> wrote:

[2015-11-06 21:21] alext-mkrs commented on #336
I see. Well, it's not going to work like that as you're missing some important things. I think while experimenting you might have messed up the environment a little which results in such a strange behavior.

To make it work you need to fully follow the instructons in docs/building.md. Below is a full step-by-step list I ran on my freshly installed Debian 8 VM (this is for Python 2 version):

1. su

[2015-11-09 13:10] Sanderhuisman commented on #350
I have the same problem with my edison: when I don't include '\n' in the transmitted string, dataAvailable() will not return. I am using the code as follows:

[code]

[2015-11-09 15:56] mikaye opened #357 "mraa not properly installing on Edison running node 0.12.27+"
After upgrading my edison to node 0.12.27, mraa@0.8.1 fails to npm install. I double checked that npm install works fine for mraa@0.8.0.

[2015-11-09 15:59] tingleby commented on #357
How does it fail,
Could you provide the output from NPM perhaps.

[2015-11-09 16:04] barlesh commented on #350
here is my code.....
actually I used termios to solve my problem (other version of this program), but maybe you can find something new....

#include "port5_trans.h"

void init(){
		f = 0;
		init_modem();
		sleep(1);
		send_garbage(PACKET_SIZE);
}

void main(){
	byte buffer[PACKET_SIZE] = { 0 };
	byte i=0,j=0, m_len=0, flag=0, len=0, X=0;
	byte payload_size = PACKET_SIZE-2, header_size =2;
	printf(

[2015-11-09 17:43] mikaye commented on #357
Console -
make: *** [Release/obj.target/mraa/src/mraajsJAVASCRIPT_wrap.o] Error 1
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/usr/local/lib/node_modules/npm/node_modules/node-gyp/lib/build.js:269:23)
gyp ERR! stack     at ChildProcess.emit (events.js:110:17)
gyp ERR! stack     at Process.ChildProcess._handle.onexit (child_p

[2015-11-09 17:54] alext-mkrs commented on #350
Thank you both, I'll analyze that and get back to you.

[2015-11-09 20:16] alext-mkrs commented on #357
Looks like there's nothing specific in this log unfortunately aside from the fact that node-gyp rebuild failed. It mentions npm-debug.log, could you please post that one, if it has any additional information?

[2015-11-09 20:21] mikaye commented on #357
The output from npm-debug.log is below the console output. The only other information is that it also failed when installing from npm node 5.0

[2015-11-09 20:42] FlippieCoetser commented on #357
I also had endless trouble to update node. Ended up with a re flash of Yocto and just updated MRAA to 8.1. Would be great if there is a good walkthrough of both updating Node and MRAA on the latest Yocto image on Edison...

[2015-11-09 22:48] arfoll commented on #353
@geotheory was going to comment on the reddit post but it's locked/closed so couldn't reply.

[2015-11-09 23:30] geotheory commented on #353
Oh yes. [Here you go.](https://www.reddit.com/r/IntelEdison/comments/3s77l0/yocto_vs_ubilinux_for_intel_edison/)

[2015-11-11 11:25] arfoll opened #358 "mraa broken on node.js v5.0.0"
Oh happy days...

[2015-11-11 11:26] arfoll commented on #357
Tbh node.js is seriously starting to get on my nerved, the v8 API keeps changing, v5.0.0 breaks more stuff.

I'll likely drop support for everything before v4 as that's the lastest LTS and we're starting to drag a bunch of untested code in leading to such bugs. Any objections?

[2015-11-11 11:28] arfoll commented on #20
Closing as this is a hardware issue but I'm not getting a good answer.

[2015-11-11 11:28] #20 closed

[2015-11-11 13:48] #358 closed

[2015-11-11 16:01] arfoll commented on #357
So I just managed to build this with node.js 0.12.7 using Arch. Can you try rebuild using cmake from master? I believe the latest fix for node v5.0.0  I just put in maybe have fixed this as well....

[2015-11-11 17:45] alext-mkrs commented on #357
FWIW, I'd vote for that, recently there's a real spike in Node-related problems. I just wonder how it's going to work for Edison and Galileo, for which there are no official 5.0 packages. And as far as Galileo is concerned, building even 0.12.x for it proved to be a problem as all the libraries there are quite old.

[2015-11-11 19:54] mikaye commented on #357
I'm for ignoring 5.0 until it stabilizes. I had to upgrade to 0.12.7 because 0.10.38 didn't support Promise. I followed these steps ( https://communities.intel.com/thread/80570?sr=stream ) to update it with the exception of step 1.

[2015-11-11 23:16] arfoll commented on #357
isn't 5.0 stable? At least 4.x seems to be the 'LTS' so not sure why you'd chose 0.12.? This might be a very stupid question I'm really not that well versed in the versioning system of node. Tbh my test was quite quick, I'll do a better one tmrw and try make a travis test so that we can automate the builidng on multiple node.js versions as this has been a common source of pain.

[2015-11-11 23:22] mikaye commented on #357
Immediately after I started using 5, I was unable to debug with WebStorm IDE. Their support tech told me it was a problem with 5. I then noticed other problems appearing on the web with 5. Today, WebStorm released a new version that addresses the problem they had with 5. I'm sure these are just teething problems and I'll return to 5.x as soon as I decide it's worth the while. 4 probably would have

[2015-11-12 19:17] alext-mkrs commented on #357
@arfoll, while not directly related, do you think we could setup building python3 bindings as well, alongside python2 ones? That was requested a couple of times and if we setup something for multiple node versions, multiple pythons would come in handy too :smiley:

[2015-11-13 20:55] v1v3kdalal commented on #336
Success!
After following your step by step guide listed in the previous post.
We are able to get the library working.
You were right we forgot to install swig; which that makes a lot of sense why all the c code was working and not the python.

Thank you for your help!

[2015-11-13 21:41] v1v3kdalal commented on #336
@alext-mkrs @arfoll
After running all the tests in the mraa/tests folder.
We get an error with the platform_checks.py
In the link is the output of all three tests, could you look at them and tell us if we have another issue?
Thank you.
http://dpaste.com/3NR1XD0

[2015-11-14 00:43] arfoll commented on #336
The tests are failing because they are made for Edison. To be honest with you the auto tests we have aren't that great, were working on open sourcing a better test framework with a hw harness

[2015-11-14 09:03] alext-mkrs commented on #336
@v1v3kdalal, glad you have it working now. I will look into adding your suggestions into docs and fixing the need to make symlinks on Debian (they're using a bit nonstandard paths).

[2015-11-14 22:24] xbolshe commented on #357
V8 version translation creates a problem like this. See https://github.com/intel-iot-devkit/mraa/pull/363

[2015-11-14 22:29] alext-mkrs commented on #350
@Sanderhuisman looks like I can't reproduce this. I've tried your program in a setup where I have Galileo with a dummy sketch sending a single string "test" (without any additional line endings) at one end and Edison with your program at another end. Works fine for me, receiving 4 bytes:

[code]

And I've double-checked the Edison end is not in the canonical mode when the program is running:

[cod

[2015-11-14 23:25] rwaldron commented on #357
FWIW, this is has been felt throughout the community for any project that depends on, or is, a compiled module. The good news is that all of this insane churn is over with; and there is no bad news. I recommend sticking with Node 4.2.1 and up, while dropping everything prior. I would also not rush on Node 5.0, mainly because there there isn't any reason to, which also means that it's totally ok to

[2015-11-14 23:51] xbolshe commented on #357
On my Galileo boards both NodeJS 4.2.1/5.0.0 versions work with MRAA 0.8.1, sqlite3, etc.
Do you know limitations of MRAA to work on NodeJS 4.x or 5.x only?

[2015-11-15 00:52] rwaldron commented on #357
Different versions of V8 ship with different versions of Node, but that's not really the point: I was hoping to bolster support for @arfoll's proposal to drop support for pre-4.x versions.

[2015-11-15 11:01] Sanderhuisman commented on #350
I ran the same command on my Edison and get this respond:
[code]
My Edison currently runs with Yocto version 159, libmraa0 version 0.7.3 and UPM 0.3.2

I tested with a USB-serial adapter which is hooked up with my laptop. I tried with Putty as well as a program I made in Visual Basic and I keep having the problem that when I don't include `\n` the data will not be received.

The program I made can

[2015-11-15 13:25] alext-mkrs commented on #357
Thanks @rwaldron, that's definitely useful input.

[2015-11-15 13:35] alext-mkrs commented on #350
Ok, I see what may be the reason. You have a bit old version of the library - 0.7.3.

I have fixed an UART init bug some time ago, but after that version. So just upgrade using opkg by running "opkg update && opkg install mraa" as root on the board and you will get version 0.8.1, which should work fine.

Please give it a try and let me know how it goes after the update.

[2015-11-15 13:58] Sanderhuisman commented on #350
Thank you so much! I had to update opkg first and then I was able to update MRAA. After the update, the UART works as it should! Thank you;)

[2015-11-15 19:56] alext-mkrs commented on #350
Glad to read that and you're most welcome :)

@barlesh, what about you?

[2015-11-16 11:04] arfoll commented on #357
@rwaldron thanks for opinion and advice on which version we should be on.

@xbolshe there are no limitations codewise about node.js 4.x or 5.x just that we can't test everything and we need a default to recommend. If people want to go outside of that it's fine and we encourage it but those users should expect the unexpected :) Thanks for your PR for converting versions to hex, I do wonder if that'

[2015-11-16 16:49] v1v3kdalal commented on #336
@alext-mkrs@arfoll
Are there any python api or documentation which we can use to make our own tests for gpio pins and other checks on the MinnowBoard Max??

Thank you.

[2015-11-16 16:53] arfoll commented on #336
Documentation for mmax is here: https://github.com/intel-iot-devkit/mraa/blob/master/docs/minnow_max.md

If you look int the tests/ folder you can see how to write your own tests or you can just play witht he gpios directly from python.

[2015-11-17 21:01] alext-mkrs commented on #230
Closing as no response and potential fix provided. Feel free to add a comment if you need further help.

[2015-11-17 21:01] #230 closed

[2015-11-17 21:06] alext-mkrs commented on #108
Closing as no activity. Feel free to add a comment if you need further help.

[2015-11-17 21:06] #108 closed

[2015-11-17 22:27] v1v3kdalal commented on #336
@arfoll the tests/folder doesn't have any python api or examples for MinnowBoard Max. I guess it has examples for checks on the Edison board like you mention in your previous post.

It would be great if we have some python api or documentation of functions which help us access GPIO pins on MinnowBoard Max.

Thank you.

[2015-11-18 00:38] jiangzidong commented on #329
Thanks, I will close the issue for now.

[2015-11-18 00:38] #329 closed

[2015-11-18 11:19] alext-mkrs commented on #336
Check out the link @arfoll provided in his previous message, it's exactly the Minnow-related documentation you're asking about. General Python API for mraa is described in online docs linkef in the main readme file, check it out.

[2015-11-18 11:24] arfoll commented on #336
@v1v3kdalal as @alext-mkrs said, there is really no need to have specific minnowboardmax examples, with the docs and general api docs (check py.mraa.io) you'll be able to do everything you need...

[2015-11-19 15:12] #336 closed

[2015-11-22 01:33] martinkronberg opened #367 "libmraa0 needs to be changed to mraa"
opkg install libmraa0 doesnt work opkg install mraa does

[2015-11-22 13:17] alext-mkrs commented on #367
Right, these days the package is named differently than it used to - thanks for reporting, I'll fix that.

[2015-11-22 18:24] alext-mkrs commented on #350
Closing for no activity and solution provided. If you need any further help - fee free to add a comment.

[2015-11-22 18:24] #350 closed

[2015-11-23 01:59] peidong opened #369 "mraa uart issue"
@alext-mkrs There is an issue about the mraa uart part.
We tried to use Edison break board to receive 37-byte (including a header) package Uno via UART continuously, the code is shown in this file:
[drone_include.h](https://github.com/peidong/drone/blob/master/Edison/main/include/drone_include.h#L496-L546)

The baud rate is 115200 in both Edison and UNO. And we use an space ' ' as a header of each

[2015-11-23 10:44] #367 closed

[2015-11-23 20:57] alext-mkrs commented on #369
Do you mean that after receiving 55-56 those packages each 37 byte long you see a sort of pause for those 50ms?

How the data sending piece looks like, are you sure that it sends the data continuously and it's not the sending side problem?

What else is running on your Edison in parallel to that program?

Generally that looks to me, at the first glance, as either an OS scheduling artifact or just

[2015-11-25 21:19] alext-mkrs commented on #369
@peidong, is this still relevant?

[2015-11-25 21:29] peidong commented on #369
@alext-mkrs , We set up a delay on Uno for about 17000us, and it seems better. But still waits for 3ms after several packages.
The uart sender part is [uart_code](https://github.com/peidong/drone/blob/master/Edison/main/include/mpu9250/mpu_uno_read/mpu_uno_read.ino)

We first want to use i2c to connect the gyro sensor with edison, but there is also a freeze bug randomly. Thanks!

[2015-11-25 21:46] peidong commented on #369
@alext-mkrs , and also, can we use one thread to read from UART and use another thread to write to UART? Will it conflict because they act at the same time?

[2015-11-28 17:58] alext-mkrs commented on #369
Sorry, that's not that much helpful - a ~1000-line file and I unfortunately don't have that much time to go through it in detail. What I meant was for you to provide a minimal program that reproduces the behavior you're talking about.

I'll see if I can set something like this up and then reproduce the issue.

UART is a physically single device, reading and writing from/to it fromtwo different thr

[2015-11-29 15:42] alext-mkrs commented on #369
Yesterday and today I was working on reproducing this and in short I don't think this is an mraa problem. This is generally something why you shouldn't use general-purpose OSes for time-sensitive workloads in userspace and why they've invented RTOSes and bare-metal applications (or MCUs, to that matter) or at least kernel-level workloads (like device drivers) for that.

I've wrote two simple piece

[2015-11-29 15:42] #369 closed

[2015-12-02 13:05] cosscat commented on #283
Sorry for the late reply,

Things are fine with Galileos ... will update shortly for Edison

[2015-12-02 13:10] cosscat commented on #284
Works fine for Galileo, will check for Edison shortly

[2015-12-02 18:36] BTWS opened #375 "Mraa autocomplete Python"
Is it possible to get autocompletion in Python an IDE?

I tried PyCham and iPython without luck.

[2015-12-02 18:36] arfoll commented on #375
@tingleby didn't you try this?
On 2 Dec 2015 18:36, "BrechtW" <notifications@github.com> wrote:

[2015-12-02 18:38] BTWS opened #376 "Uart python example"
Is it possible to provide a more elaborate example for uart in python?

[2015-12-02 19:40] alext-mkrs commented on #376
Definitely! Do you have any specific scenario or use cases in mind?

[2015-12-02 19:51] BrechtW commented on #376
Communicating with a Dynamixel servo to be specific. This requires features like only writing when the input buffer isn't full. Setting baudrate, timeout, flush, read, write.

[2015-12-02 21:22] alext-mkrs commented on #376
Ok, thanks. I don't have such a servo, but the information you've provided is enough for me to get the idea.

[2015-12-03 00:53] tingleby commented on #375
No, I haven't. But something worth looking at.

[2015-12-03 08:28] arfoll opened #377 "[iio-api] should use sys/ioctl.h not stropts.h"
In fedora glibc does not contain stropts.h, this header is not what glibc recommends for ioctl and we already use sys/ioctl.h in other places.

[2015-12-03 13:12] cosscat commented on #283
Edison is fine too

[2015-12-03 13:12] cosscat commented on #284
Edison is fine too

[2015-12-03 20:43] alext-mkrs commented on #375
Looks like this might be just a matter of [properly configuring PyCharm](http://stackoverflow.com/questions/5049842/autocomplete-in-pycharm-for-python-compiled-extensions?rq=1), @BrechtW, check this out.

[2015-12-03 20:45] alext-mkrs commented on #284
Got it, thanks @cosscat. Then unfortunately we'll need to wait for someone with Minnowboard to try this out as I don't have one as I mentioned.

[2015-12-04 08:40] BrechtW commented on #375
I tried to remove and add the python interpreter. I copied the mraa folder in c:\Python27\Lib\site-packages and did Project Interpreter>Gear Icon>More>Show path for selected interpreter>Refresh. The autocomplete still doesn't work. I still get "No module named mraa".

[2015-12-04 21:22] alext-mkrs commented on #375
Ah, looks like you're doing this on Windows, that's not going to work. Python binding consists of a simple .py wrapper, which imports a compiled binary (shared object, .so), which is compiled out of SWIG-generated code and is OS-specific, with Windows not being supported (mraa uses Linux-specific mechanisms). And autocomplete needs to actually import it to work, AFAIU.

[2015-12-04 21:28] BrechtW commented on #375
Is it possible to make a sort of list of functions and properties and let PyCharm derive autocomplete of this?

[2015-12-07 01:34] leonyuhanov opened #379 "SPI Maximum transfer Length"
I noticed in /src/spi/spi.c there is a line defining the maximum single transfer length of an SPI buffer:

#define SPI_MAX_LENGTH 4096

Is there a reason for this particular limit?
Can this limit be increased during run-time or does it have to be changed and then recompiled?
Is there any impact to it being increased to 4 times its size?

I also noticed that SPI transfers of larger than 4096 bytes

[2015-12-07 05:05] deadprogram opened #380 "Error: Illegal arguments for construction of _exports_Gpio in Node 4.2.3 using mraa 0.8.1"
When trying to run the example program https://github.com/intel-iot-devkit/mraa/blob/master/examples/javascript/Blink-IO.js on an Edison with the latest release Yocto image 2.1 using mraa 0.8.1 under node.js 4.2.3, I received the error `Illegal arguments for construction of _exports_Gpio`

[code]

[2015-12-07 12:00] arfoll commented on #379
Yes, there is, that's the maximum message size allowed via spidev using the linux kernel. However we don't actually use that define so it's useless in the code :/

It may be wise to enforce that limit strictly.

[2015-12-07 12:01] leonyuhanov commented on #379
Perfect thanks. Im happy splittng my message into blocks

[2015-12-07 12:01] #379 closed

[2015-12-07 15:39] deadprogram commented on #380
Did a little more research, the actually problem is a lack of permissions for that user (not running as root). Nothing to do with specific versions. I will close this, however, might I ask what would be an ideal udev rule to use on Edison to allow gpio & i2c permissions to a group named `gpio`?

[2015-12-07 16:28] arfoll commented on #380
Ah cool :) Had me confused.

Making nice udev rules is hard because you need to give permissions to created nodes. I've never tried it but this seems like it would be on the right tracks: http://raspberrypi.stackexchange.com/questions/23162/gpio-value-file-appears-with-wrong-permissions-momentarily

[2015-12-07 18:23] deadprogram commented on #380
Hi, @arfoll

I tried the followinig udev rule, and it did set the permissions as I expected, but still failing from code unless run as sudo:

[code]

Any suggestions? Seems pretty important to be able to run mraa code on Edison under other users accounts besides `root`

[2015-12-07 21:17] alext-mkrs commented on #375
It would look like it's not possible. Both in PyCharm and IPython autocompletion works by actually importing Python modules and indexing/analyzing them, not by using some additional dictionary file or something like this. So when you have such a "Windows IDE - Linux-only module" situation it's beyond of their capabilities.

Just as a wild idea you could try running indexing in PyCharm on Linux and

[2015-12-08 16:27] deadprogram commented on #380
I did some additional research, and even when setting the group to `gpio` to every file still getting same error. Is there a way to debug this from mraa side, so we can figure out what does not have the required permissions?

I modded my udev rules as follows:

[code]

Now I am seeing all files owned by gpio group.

[code]

I would strongly suggest that we collectively prioritize figuring this out

[2015-12-09 22:54] mulderp commented on #246
I just see similar problems with nvm and install of Node 4.0

[code]

[2015-12-10 11:33] alext-mkrs commented on #246
This actually doesn't look like a related issue :smileys: Error messages reveal that the command you run tries to execute sha1sum command, which apparently isn't installed on your board. Then it also tries to use tar with parameters that Busybox doesn't support. So you'd need to install both utilities first.

[2015-12-10 18:06] turon opened #382 "C++ API should support static allocation"
If libmraa is targeted at RTOS embedded platforms, then you may want to statically allocate say a Uart object, but still need a way to stop/release the resource for power management purposes without actually destroying the object:

/// Static allocation -- still need a way to "stop" the peripheral for power
/// (or simply close the fd) that doesn't necessarily free the memory.
Uart theUart(0);

 /

[2015-12-11 17:57] deadprogram commented on #380
@arfoll any thoughts on how I might be able to track down the required permissions on Edison?

[2015-12-11 18:03] tingleby commented on #380
I havent got an edison to hand right now. Have you tried looking at the permissions of the linked file. "../../devices/pci0000:00/0000:00:0c.0/gpio/gpio127"

[2015-12-11 18:05] deadprogram commented on #380
Hi, @tingleby

Yes, and it would appear to also have to correct group ownership?

[code]

[2015-12-11 18:09] deadprogram commented on #380
Likewise, I am certain on the correct group membership of current user:

[code]

[2015-12-11 22:46] deadprogram commented on #380
More info:

Here is the error as caught by my journal:

[code]

That would appear to be this code here:
https://github.com/intel-iot-devkit/mraa/blob/v0.8.1/src/x86/intel_edison_fab_c.c#L111

I tried adding that path to the udev rule, and was able to chown to the `gpio` group as seen here:
[code]

Despite that, still same problem... :crying_cat_face:

[2015-12-12 14:52] tingleby commented on #380
So Ive had a play this afternoon, Ive gotten most of the way but still I get some issues. Mostly I think with muxes.
Ive posted them to so we can modify them,
https://github.com/intel-iot-devkit/mraa/wiki/Edison-Udev-rules

[2015-12-12 19:31] alext-mkrs commented on #380
FWIW, it looks good and indeed @deadprogram's problems mostly look like some permissions still not accounted for. If you need a hand with e.g. testing those rules you've come up with - let me know. I have Edison and both Arduino & mini-breakout boards.

[2015-12-12 19:36] alext-mkrs commented on #382
I'm not 100% what you're coming at, but the piece of code you've posted is already available in our .hpp wrapper. And there's not much of an object - C++ code is just a wrapper to C one and at the end of the day we're operating on special files in the OS to make UART communication work, so static allocation wouldn't IMHO make a lot of sense, just because there's nothing to allocate.

[2015-12-14 15:34] #376 closed

[2015-12-15 11:15] arfoll commented on #382
So this implementation is aimed at Linux where power management should be done at the kernel level when nothing is been sent to the Uart.

On RTOS where power management is not in the kernel a different mraa implementation is used, but yes a call to 'release' the object without releasing the context may be good, I guess maybe a mraa_<module>_release() call? Is that what you where thinking?

[2015-12-17 11:28] #377 closed

[2015-12-17 19:29] alext-mkrs commented on #320
078b63 fixes this and is now on master  closing.

[2015-12-17 19:30] #320 closed

[2015-12-17 20:45] Propanu opened #386 "Useful feature: ISR on PWM pins"
@arfoll it would be really awesome if we could have ISRs enabled on a pin configured as PWM. This will allow for PWM timers and even more importantly, precise generation of a fixed number of pulses with minimal CPU overhead during the operation.

I haven't looked at this from a MRAA perspective to see if it's feasible for our IoT platforms. The idea would be to have the mux forwarding the PWM sign

[2015-12-23 11:33] Torsten85 opened #387 "FATAL ERROR: v8::HandleScope::CreateHandle() with nodejs (4.2.3) and button.isr()"
Hey there,
I'm totally new to the hole microprocessor stuff so there might be a good chance that I'm missing something.

I've installed mraa 0.9.0 on my edison and I'm using it with the [sparkfun OLED block] (https://learn.sparkfun.com/tutorials/sparkfun-blocks-for-intel-edison---oled-block-?_ga=1.205389012.595082432.1450255418).

Currently I'm trying to read the button state of that block by foll

[2015-12-23 13:48] arfoll commented on #387
At a quick glance can't spot anything obvious. Which version of node is this on and how did you install mraa (npm/opkg/src?) Can you also check mraa version being included with a getVersion() call. It may be worth trying a downgrade real quick as well.

I'll give this a quick double check when I get to a computer later today.

[2015-12-23 14:24] Torsten85 commented on #387
I tried Node 5.3 and 4.2.3 and I've installed mraa via npm. Also I've tried mraa version 8.1 and 9.

[2015-12-23 14:51] arfoll commented on #387
So does this happen when the button is pressed? i.e. when the isr/h() runs?

[2015-12-23 15:00] arfoll commented on #387
Actually can you try to add `Nan::EscapableHandleScope scope;` on before line 167 in api/mraa/gpio.hpp? It looks like that error is scope related and that may just fix it.

[2015-12-23 15:23] Torsten85 commented on #387
Yes the crash happens the moment the button is pressed. The callback function is never called.

I've tried to add the line of code you mentioned, but that brings up errors while building:

[code]

[2015-12-27 18:27] xbolshe opened #388 "There is no MRAA change log"
There is no MRAA change log. UPM has a change log :)

[2015-12-27 18:32] xbolshe commented on #388
Probably need to separate a change log from https://github.com/intel-iot-devkit/mraa/blob/master/docs/index.md to a single file.

[2015-12-27 18:35] xbolshe commented on #388
And need to add news in the version 0.9.0

[2015-12-27 23:14] arfoll commented on #388
I quite like the changelog on front page though see #216. Yes I forgot to do a news for 0.9.0 I'll fix that at some point. I guess doing it the way upm has it wouldn't be so bad....

[2015-12-27 23:52] xbolshe commented on #388
https://communities.intel.com/thread/96658

[2015-12-31 00:09] xbolshe opened #390 "Galileo Gen2 and AIO: pull-up resistor bug"
Let's see https://github.com/intel-iot-devkit/mraa/blob/master/src/x86/intel_galileo_rev_g.c

   // ANALOG
    strncpy(b->pins[14].name, "A0", 8);
    b->pins[14].aio.pinmap = 0;
    b->pins[14].aio.mux_total = 1;
    b->pins[14].aio.mux[0].pin = 49;
    b->pins[14].aio.mux[0].value = 1;

    strncpy(b->pins[15].name, "A1", 8);
    b->pins[15].aio.pinmap = 1;
    b->pins[15].aio.mux[0].pin = 51;

[2015-12-31 11:06] arfoll commented on #390
1. Very odd @tingleby any ideas? Our QA test this combination fairly well so I'm surprised if we have an issue there but maybe, at least there should be a comment to explain this oddity
2. I'm confused as to what you mean exactly there :/

[2015-12-31 11:46] xbolshe commented on #390
2. Look at https://communities.intel.com/thread/94135
It seems MRAA does not control pull-up resistors while using ADC convertor. And there is a voltage on an analog pin, when there is no external connection.

[2015-12-31 12:05] xbolshe commented on #390
And simplified picture:

![simpic](https://cloud.githubusercontent.com/assets/10796236/12064255/c57c089a-afcf-11e5-8da2-8b335f3dc578.jpg)

[2015-12-31 12:11] xbolshe commented on #390
And PIN configuration:

![pullup-config](https://cloud.githubusercontent.com/assets/10796236/12064292/b5448a0a-afd0-11e5-84f6-514220023a22.jpg)

[2015-12-31 12:14] xbolshe commented on #390
Now have:
Direction = Output
Value = 1 (VCC voltage to resistor)

Shall be:
Direction = Input
Value = Any

And code with bug:

mraa_result_t
mraa_setup_mux_mapped(mraa_pin_t meta)
{
    int mi;

    for (mi = 0; mi < meta.mux_total; mi++) {
        mraa_gpio_context mux_i;
        mux_i = mraa_gpio_init_raw(meta.mux[mi].pin);
        if (mux_i == NULL) {
            return MRAA_ERROR_INVALID_HANDL

[2015-12-31 12:20] xbolshe commented on #390
Seems need to add pull-up control for ADC conversion in MRAA API.

[2015-12-31 22:27] agaelema opened #391 "Unexpected behaviour of "mraa_spi_transfer_buf( )" - C"
I'm developing a lib to read/write some SPI flash memories like the W25x40/Winbond.

Some unexpected behavior has occurred when using the "mraa_spi_transfer_buf( )" function for transferring certain amount of data sequentially.

For 20 bytes or less the code works well, but for more the code crash randomly, beeing necessary reboot the Edison.

I'm using the last version of MRAA on the Eclipse.

[C

[2015-12-31 23:09] surfskidude opened #392 "Missing Lua bindings"
Why are there no bindings for Lua?

[2016-01-01 12:36] alext-mkrs commented on #391
Could you please post the exact crashes you observe?

There were several fixes for SPI for similar symptoms recently, which I think were not yet rolled up to an official image release, see the full list below. If you're up to that, you can build your own image with these added to see if that helps.

https://github.com/01org/edison-linux/commit/3964570409edc05d16d38a61644906747d4ecb5c
https://githu

[2016-01-01 12:40] alext-mkrs commented on #375
Unless anyone has any other ideas, I think we just have to state syntax autocompletion is not supported for Windows-based IDEs due to (a) the fact that mraa is a Linux-only library and (b) the way these IDEs work with autocompletion - by trying to actually import the module and retrospect it.

@arfoll, @tingleby, what do you think?

[2016-01-01 20:27] agaelema commented on #391
Thanks for the feedback.

The crash is a little random. I Tried to send/receive one array with 2000 elements. Sometimes the code finish, sometimes it crash during the transfer. After this crash , eclipse shows an error when I try to execute the code ("error during file upload"), being necessary reboot the system.

It's possible to enable a debug log to verify what's happening?

I tried other funct

[2016-01-03 12:33] massca opened #393 "How compile mraa on Edison"
Hi, I need to compile on Edison mraa (and upm) to work with node.js 0.12.x

I followed mraa github build instructions. I starded installing Edison OS 2.1 and run configure_edison.
According to build doc I checked/installed the prerequisites:
SWIG 3.0.5: already installed
python 2.7: already installed
CMake 2.8.8: already installed

install git:
opkg install http://repo.opkg.net/edison/repo/core2-3

[2016-01-03 13:42] arfoll commented on #393
Read docs/compiling.md, you need to set the prefix to /usr and use `make install`.

[2016-01-03 14:25] arfoll commented on #392
It's just waiting for someone to put the time to get SWIG to generate them :) PRs welcome. It's not really something on my roadmap but I'm happy to give you pointers if you need it!

[2016-01-03 19:31] massca commented on #393
I'm sorry I miss this obvious step. Now it works as expected.
Thanks!

[2016-01-03 19:31] #393 closed

[2016-01-04 00:33] fryguy1013 commented on #187
I am seeing this problem as well. No matter what I do, I get `Jan 04 00:26:44 edison libmraa[583]: i2c: Failed to write` in the journalctl log, when doing it in either c++ or python. What's interesting is the i2cdump seems to be able to communicate with the board since it looks like the values I would expect:

    root@edison:~# i2cdump -y 1 0x40
    No size specified (using byte-data access)

[2016-01-04 00:37] arfoll commented on #187
Please don't use old bugs this bug is more than likely a failure to use bus 1 or 6.

In your case what mraa version and can you share your code? Make sure your arguments to writebyte are the correct way round. Open a new bug with a code snippet if you still have an issue.

[2016-01-04 00:58] fryguy1013 opened #394 "I2C not working in mraa"
I'm using the Sparkfun DEV-13042 (PWM block) attached to the Sparkfun DEV-13097 (Edison Arduino breakout), and have version 0.9.0 of the mraa library.

I have this c++ code that uses mraa to read registers on the PWM block over i2c:

	i2c = new mraa::I2c(1);
	retval = i2c->address(0x40);
	cout << "return (address): " << retval << endl;

	int mode = i2c->readReg(MODE1);
	cout << "Mode (reg 0x00): "

[2016-01-04 01:59] fryguy1013 commented on #394
I have no way of testing this right now since I'm on Windows and don't have the stuff installed to compile cmake projects, but I suspect that this is the problem: https://github.com/fryguy1013/mraa/commit/c64999b1baa8bfff69782a860e236a781215889f

Also, I noticed that my board didn't have a /sys/class/i2c-dev/i2c-0, but the code in mraa.c::mraa_find_i2c_bus(...) assumes it exists, even if `startfro

[2016-01-04 02:19] fryguy1013 commented on #394
I think the pull request works, because I made this function and called it, and it seemed to make the i2c work for me:

    void HACK_fix_it()
    {
    	plat->i2c_bus[1].bus_id = 1;
    	plat->i2c_bus[1].sda = 7;
    	plat->i2c_bus[1].scl = 19;
    }

[2016-01-04 05:17] Nishanksingla opened #396 "Installation error Intel Edison Node v0.12.7 and npm 2.11.3"
I am having node version 0.12.7 and npm version 2.11.3 in intel edison and while installing "mraa", I am getting following error in the end:

gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/usr/lib/node_modules/npm/node_modules/node-gyp/lib/build.js:269:23)
gyp ERR! stack     at ChildProcess.emit (events.js:110:17)
gyp ERR! sta

[2016-01-04 10:44] arfoll commented on #396
What edison image are you using and how did you install node.js 0.12? My guess is you're missing the -dev package. If you're on ublinux you'll have to recompile node.js from scratch, if you're on Poky/IOTDK then this should work, can you upload `/home/root/npm-debug.log` to dpaste.com or similar pastebin?

[2016-01-04 10:51] arfoll commented on #394
Ah yes I understand the issue now, we don't support people stacking stuff on the arduino breakout though there is no good reason for not supporting it since as you've found the pins are there. Your PR won't work because we have checks to make sure that only bus 6 can be used on !miniboard (see intel_edison_i2c_init_pre()). I'll try get this working today.

[2016-01-04 12:00] #388 closed

[2016-01-04 15:37] arfoll commented on #394
Actually I'm going to go back on my word since adding i2c bus 1 on arduino is going to cause confusion, in this case please use the raw mode of mraa, I tried it using the sparkfun i2c breakout and it works well, just do something like

[code]

Is that ok for you?

[2016-01-04 15:58] Nishanksingla commented on #396
I am using latest yocto image and I am getting "159.devkit"  version name when I run  "configure_edison --version" command.
I have downloaded node 0.12 from this opkg repo "http://repo.opkg.net/edison/repo/core2-32/"
Here is the npm-debug.log file.
[npm-debug.log.txt](https://github.com/intel-iot-devkit/mraa/files/77372/npm-debug.log.txt)

[2016-01-04 16:51] fryguy1013 commented on #394
I made it work yesterday by including the mraa source into my project and changing the intel_edison_i2c_init_pre() function() and the other change in my PR. I didn't update my PR yet, but I'll put finish it off even though you won't put it in master, so if someone else like me sees this bug report they can just take my branch and fix their problem as well, even though it's not officially supported

[2016-01-04 17:22] arfoll commented on #396
Urgh there is indeed an issue with node 0.12.x when compiling from NPM. This does not happen when you compile from source please use that method for node 0.12.x, I'm guessing it's to do with the version conversion from node.js that was modified in 0.9.x, node.js has a weird versioning structure, it works on node 5 or node 0.10 but not 0.12 :/

[2016-01-04 17:39] Nishanksingla commented on #396
OK
which method you are talking about in this sentence
"this does not happen when you compile from source please use that method for node 0.12.x,"
Can you tell me steps for this method ?

[2016-01-04 18:07] arfoll commented on #396
See docs/building.MD. you can build on the Edison platform from git quite
easily, all the tools are already installed
On 4 Jan 2016 5:39 pm, "Nishank Singla" <notifications@github.com> wrote:

[2016-01-04 20:49] alext-mkrs commented on #391
The library logs errors to the OS' journal, you can check that with `journalctl --no-pager -xn40`. I don't think it's accessible from the Eclipse, you'll need to log onto the board using SSH.

As far as updating mraa versions - sure, by default on official images you have an opkg repo with all mraa and UPM releases configured. Just run "opkg update && opkg install mraa" to update it.

If that's in

[2016-01-04 20:56] alext-mkrs commented on #216
Now that we have changelog in a separate file thanks to @arfoll and 2bb00b, the natural next step could to use something like https://github.com/skywinder/github-changelog-generator (more advance, Ruby) or https://github.com/lalitkapoor/github-changes (less advanced, Node.js) to generate it.

What do you think?

[2016-01-04 21:00] alext-mkrs commented on #390
Just tomake sure (because as @arfoll mentioned this part of the functionality should be quite well-tested) - what exactly is the problem here from the user standpoint, sort of "so what if we don't control these"?

[2016-01-04 21:35] xbolshe commented on #390
Problem: ADC performs a measurement of unexpected signal (when an additional resistor is connected to the GND or VCC, or an analog pin is connected to the GND or VCC via diginal A0,A1,A2,...).

[2016-01-04 22:42] joemcmanus commented on #390
My perspective of the problem as a user of the Galileo Gen 2 is that the A0 can not be used to read input of sensors.

As an example I have an TMP36 wired to A0 and another wired to A1. Reading the values using python and MRAA I get different readings.

I use this program here: https://github.com/joemcmanus/analog/blob/master/analog.py

TMP36 on A0:

|      Raw MRAA Reading      |         1384

[2016-01-04 23:52] xbolshe commented on #390
In the problem case of @joemcmanus the following PIN configuration is applied while reading A0:

GPIOs 48-63, i2c/0-0027, pcal9555a, can sleep:
gpio-48  (sysfs               ) in  hi
gpio-49  (sysfs               ) out hi
gpio-50  (sysfs               ) in  lo
gpio-51  (sysfs               ) in  lo

gpio-49 enables a pull-up resistor to VCC.

[2016-01-05 15:11] arfoll commented on #390
It's weird because I've tried with the muxes, using mux_total=1, clean reboots and after initialising i2c (which will flip the muxes), and A0 & A1 are fairly stable. A1 is usually a little on the low side but I can't see anything much different to usual. I'm happy to take the change to set mux_total=1 since that seems to be what "should" be done and doesn't seem to harm anything but it doesn't imh

[2016-01-05 15:14] arfoll commented on #394
It's confusing because it's not a normally exposed bus on the arduino board and the arduino board is not meant to be 'stacked' on. I don't really want it showing during a scan and then people getting confused why they can't plug their jumper to it etc... i2c-6 is the I2c exposed on the SCL/SDA pins of the edison arduino breakout.

Using the raw mode to override the safety is the right approach in

[2016-01-05 15:16] #394 closed

[2016-01-05 15:28] joemcmanus commented on #390
My testing is on the Intel Galileo Gen 2 using the IoTDevKit image iot-devkit-201510010757-mmcblkp0-galileo.direct . I have tested this on two different Galileo Gen 2's reading using MRAA and reading from the file system  /sys/bus/iio/devices/iio:device0/in_voltage0_raw  .

Full thread on the intel community https://communities.intel.com/thread/94135 .

[2016-01-05 16:11] xbolshe commented on #390
@arfoll
I have checked circuit diagrams and found that:
- pull-up resistors are present on Galileo Gen2 and Edison Arduino board
- pull-up resistors are NOT present on Galileo Gen1

I may expect that after booting many boards have a stable and repeatable state of GPIOs.
That is why in many situations there is no problem. But if in some cases GPIOs are changes before operations (because of new firm

[2016-01-05 16:20] massca opened #398 "Problems to compile mraa on Edison running node 0.12.7"
Hi, I was able to build on Edison (OS 2.1) mraa with node 0.10.x following the steps in the build doc.
Unfortunately when I try the same steps with node 0.12.7 (installed from alexT repo) I got following errors:
root@max01:~/mraa/build# make 
[ 21%] Built target mraa
[ 46%] Built target _python-mraa
[ 47%] Building CXX object src/javascript/CMakeFiles/mraajs.dir/mraajsJAVASCRIPT_wrap.cxx.o
/home/r

[2016-01-05 17:20] arfoll commented on #398
Make sure to wipe the build directory so that cmake doesn't reuse cached values for nodejs versioning decisions. This worked on edison with a node 0.12.7 I compiled from source so no reason it shouldn't work here.

[2016-01-05 21:54] alext-mkrs commented on #398
+1, I was building it fine as well.

[2016-01-06 16:41] arfoll opened #401 "need a C++ equiv for mraa_get_default_i2c_bus"

[2016-01-06 17:47] Nishanksingla commented on #396
Thanks I will try this method.
If I uninstall current version of node and npm, then which version of node I have to install to get mraa library.

[2016-01-06 17:48] arfoll commented on #396
Mraa will build for your version of node, the only combination that doesn't work is installing from NPM with node 0.12.x. I'm not entirely sure why yet but looking into it.

[2016-01-06 17:57] Nishanksingla commented on #396
OK
Tell me the version of npm and node for it works. I will install those version.
The document "docs/building.MD" you told me to refer is not so clear, I am not getting the steps.
The document is written for apt-get and in edison opkg is used.

[2016-01-06 18:01] arfoll commented on #396
Follow the 'basic steps' in the documentation, those will work on opkg. You don't need to install any extra dependencies, they're all there.

[code]

in src/javascript/ you'll have your 'mraa.node' module.

Using this method, any node version will work.

[2016-01-06 18:08] Nishanksingla commented on #396
OK
Just one thing in which directory I have make build directory, in cloned repo directory or in src/javascript/ directory

[2016-01-06 19:18] Nishanksingla commented on #396
OK
I have done the following steps
1.) cloned this repo
2.) cd to the repo
3.) mkdir build
4.)cd build
5.)cmake ..
6.)make

Now, I have got src/javascript folder inside build directory and I have mraa.node module also.
now Which command to run to install "mraa" node module ?

[2016-01-07 05:11] massca commented on #398
It works, I forgot to upgrade nodejs-dev. Thanks!

[2016-01-07 05:11] #398 closed

[2016-01-07 10:15] arfoll commented on #396
just run `make install`, or pop what's in build/src/javascript wherever your node modules get loaded from.

[2016-01-08 15:08] xbolshe opened #402 "Raspberry Pi Pull-up resistors support"
MRAA does not support pull-up resistors while BCM2835 and BCM2836 support them.

https://github.com/intel-iot-devkit/mraa/blob/master/src/arm/raspberry_pi.c does not contain a definition of GPPUD = 0x0094 register which allows to control pull-up/pull-down resistors.

![rasppull](https://cloud.githubusercontent.com/assets/10796236/12200956/9ddf5b34-b632-11e5-9888-9ce4bc66048a.jpg)

[2016-01-08 15:36] sonofaforester opened #403 "Segmentation fault while using interrupt"
My program receives an interrupt and then reads from the spi bus. While running, usually after 30 seconds or so, I'll get a segmentation fault. I'm using mraa v0.9.0 and node v0.12.7.

Using segfault-handler, I get the following:

PID 719 received SIGSEGV for address: 0x6960001c
/kcftech/socket/bin/node_modules/segfault-handler/build/Release/segfault-handler.node(+0x1288)[0xb77df288]
linux-gate.so

[2016-01-08 15:45] arfoll commented on #403
Do you get the segfault when the interrupt is fired or randomly? How often does the interrupt fire? Just trying to get data so I can reproduce.

Also you may want to quickly try using master, ff6b304fd2225ed7147ae3e7d964fd37aa934e8f may fix some memory allocations on 0.12.x node.js.

[2016-01-10 04:12] ToddKlindt commented on #31
I was having the same problem with a Linkit One and a Grove shield. Switching the voltage to 5V fixed it. Thanks.

[2016-01-11 05:07] jiangzidong commented on #173
@rwaldron and @arfoll I met the same problem that Romeo is recognized as 'breakout board'. while is can work well with Arduino IDE. Have this problem been solved? or is there some workaround?

[2016-01-13 19:54] alext-mkrs commented on #403
Also, what do you see in the system log, `journalctl -xn 50 --no-pager` after it crashes?

[2016-01-13 19:57] alext-mkrs commented on #396
Just so you know, I'm going to take a deeper look into this one, as it seems to be quite strange that it builds fine standalone and fails in npm. And as long as we have official image shipping with older node (and some components like xdk-agent and so on depend on the version), it will still be around for a while, so I think it's worth investing at least some time to try to fix it.

[2016-01-13 19:58] alext-mkrs commented on #391
@agaelema, so what's in the system logs?

[2016-01-13 20:01] alext-mkrs commented on #396
Hmm, looks like I've missed some of the commit notifications, @arfoll, doesn't your commit c2681dc78c56ec2e9df88982bf05bf8c0fa18b04 by chance address this very problem we have here?

[2016-01-13 20:09] Nishanksingla commented on #396
To get mraa, I have to reflash my edison to get default version of node and npm.
Now mraa is installed but now I am getting a strange problem
For the first time when I run PWM program to control servo motor it runs good for few time after that motor got burnt.(never happen this thing before with arduino code and python mraa code)

After this when I connected new servo and as soon as I run the prog

[2016-01-13 20:38] sonofaforester commented on #403
Thanks for looking at this. Let me get back to you, I don't have the hardware to test it on this week.

To answer the earlier question, pulled master branch on 1/7/2016 and had the same problem. The interrupt fires about every 100ms, can't say if the segfault is on the interrupt or random but it only happens when receiving interrupts. When I get my hardware back, I'll test.

[2016-01-13 20:40] alext-mkrs commented on #396
Well, that's quite a generic description, which has not enough information to troubleshoot this and this honestly doesn't look like a library problem - such issues are much better suited for Intel Community forums at https://communities.intel.com/community/tech/edison.

[2016-01-13 20:42] Nishanksingla commented on #396
Ok thanks for the answer.
one more thing
Have you ever tried to run 2 servo using mraa pwm and intel edison ?

[2016-01-13 20:44] alext-mkrs commented on #403
Thanks. BTW if you're able to post your code (or better yet a reproducer - as short as possible) along with your HW description, that should help troubleshooting a lot.

[2016-01-13 21:00] alext-mkrs commented on #396
I personally haven't

[2016-01-16 19:34] alext-mkrs commented on #396
And just to confirm for those who look for a solution - commit c2681dc78c56ec2e9df88982bf05bf8c0fa18b04 by @arfoll indeed fixes this problem - great job!

Until this is released to npm the workaround is to

1. download the npm tar.gz file manually (using wget, the full URL you can find by running `npm info mraa`)
1. unpack it using tar into some directory
1. manually make the edit introduced by th

[2016-01-16 19:34] #396 closed

[2016-01-16 19:36] alext-mkrs commented on #357
the discussing went beyond the original issue, but just to let everyone know - @arfoll fixed the 0.12.x-related problem with commit c2681dc78c5 and I've just tested it to work ok on node.js 0.12.7 (the version I have in my repo).

Not sure if we'd want to close this issue, @arfoll?

[2016-01-17 16:05] alext-mkrs commented on #391
@agaelema is this still actual for you or you'll just wait for the kernel update/update it on your own?

[2016-01-17 21:20] agaelema commented on #391
Hi @alext-mkrs,

The problem keeps happening.

This is the log using the command "journalctl --no-pager -xn40".

--------------------------------------------------------------------------------------
root@edison:~# journalctl --no-pager -xn40
-- Logs begin at Sat 2000-01-01 00:00:11 UTC, end at Sun 2016-01-17 21:14:56 UTC. --
Jan 17 21:14:56 edison kernel:  [<c15c1130>] ? spidev_write+0xb0/0xb0
Ja

[2016-01-18 16:20] neuberfran opened #406 "Error to run NODE.JS application in intel edison"
Hi guys,

I put ubilinux in my intel edison and I blink led with c++ and python.

Now I have problems to blink led using node.js:

root@neuberfran:/usr/share/mraa/examples/javascript# node -v
v5.4.0
root@neuberfran:/usr/share/mraa/examples/javascript# npm -v
3.3.12
root@neuberfran:/usr/share/mraa/examples/javascript# node Blink-IO.js
module.js:423
return process.dlopen(module, path._makeLong(filen

[2016-01-18 16:24] arfoll commented on #406
you'll have to compile nodejs from source, don't use a prebuild binary. Get the source tarball and rebuild. Then do an npm install mraa and clear the existing stuff from node_modules.

[2016-01-18 16:34] neuberfran commented on #406
Please I need more detail step by step I have to do even
If possible with commands

[2016-01-18 16:59] arfoll commented on #406
You should be able to do something like this:

[code]

And then:
[code]

[2016-01-18 19:32] alext-mkrs commented on #391
Thanks. Yes, this looks very much like those SPI bugs fixed in the kernel, so unfortunately we can do nothing about them in the library. As I mentioned, you'll need to wait for the official kernel release with those incorporated or build one youself.

[2016-01-18 19:33] #391 closed

[2016-01-18 19:35] neuberfran commented on #406
I think the correct is node-v4.2.4-linux-x86.tar.gz

The instalation interrupetd here in make command

![image](https://cloud.githubusercontent.com/assets/7308528/12400854/b7278114-be09-11e5-9428-0fc39e9a31f0.png)

[2016-01-18 19:39] arfoll commented on #406
Are you sure you didn't just run out of disk space? I see no error there,
please send text not screenshots
On 18 Jan 2016 19:36, "neuberfran" <notifications@github.com> wrote:

[2016-01-18 22:21] agaelema commented on #391
@alext-mkrs Thanks for the answer. There is a tutorial of how to build my version, I'm begginer in linux.

[2016-01-19 08:26] miminashi commented on #91
I also facing same problem with IntelEdison + mraa 0.9.0 Python binding.
I'm not sure if it is hardware's matter or mraa's matter.
If it is mraa matter, I wish this issue will be solved.

`write(0)` to 3 LEDs, rightmost LED is `enabled(False)`.
![img_5459](https://cloud.githubusercontent.com/assets/90422/12413270/f24788b2-bed0-11e5-804c-33e6d3adbb3e.jpg)

[2016-01-19 11:10] alext-mkrs commented on #391
There's so called BSP building guide, which has all the build process ste by step. If you have further questions on the process - feel free to start a thread in Intel Edison community on communities.intel.com

[2016-01-19 11:19] flymaxty opened #407 "Error when build ipk on edison."
Hi all,
I'm trying to build ipk on edison, but got error on below,
[code]

Is there anything I forgot to install ?

[2016-01-19 13:47] neuberfran commented on #406
root@neuberfran:~# cat /proc/cpuinfo | grep -E '^(b|pr|v|mo|$)'; uname -a; echo;                                                                                                                      free; echo; df; echo
processor       : 0
vendor_id       : GenuineIntel
model           : 74
model name      : Genuine Intel(R) CPU   4000  @  500MHz
bogomips        : 998.40

processor       : 1
vendor

[2016-01-19 13:48] neuberfran commented on #406
![image](https://cloud.githubusercontent.com/assets/7308528/12420244/39575d90-be9a-11e5-881c-615950340eea.png)

[2016-01-19 13:49] arfoll commented on #407
You can't build the ipk using busybox, you'd need find from coreutils. To be honest building ipks that way is not really the 'correct' way you should be using Yocto/Bitbake.

But why are you doing this instead of just using `make install`? Having an ipk doesn't provide you with much unless you're distributing it and if you're doing that you really should be looking into bitbake.

[2016-01-19 13:50] arfoll commented on #406
I still don't see an error. Please stop with the screeenshots, paste logs in dpaste.com or a similar pastebin!

[2016-01-19 14:18] neuberfran commented on #406
I downloaded wget https://nodejs.org/dist/v4.2.4/node-v4.2.4-linux-x86.tar.gz and before tar I command cd node-v4.2.4-linux-x86
But I can't do command ./configure --prefix=/usr Because ./configure does not exist in this package

[2016-01-19 14:24] arfoll commented on #406
You where wrong I gave the correct tarball. You're downlading a pre compiled tarball. ```https://nodejs.org/dist/v4.2.4/node-v4.2.4.tar.gz```

[2016-01-19 14:35] neuberfran commented on #406
Ok. I'm trying this now and mistakes(fix) are repeating
where I find the logs files to put in pastebin ?

[2016-01-19 15:57] neuberfran commented on #406
below I will put the link for the end of the installation (make) and after (make install) and node -v and npm -v

http://dpaste.com/3BP8N0K

[2016-01-19 16:16] arfoll commented on #406
Looks like I made a mistake, you need gcc 4.8 and above for node 4.x so it won't build on edison. My bad. You may have to downgrade to 0.12.x

[2016-01-19 17:12] CurtisReedy commented on #387
I have run into the same issue as Torsten85 using node version 4.2.4 while installing mraa version 0.9.0 from npm. I tried adding "Nan::EscapableHandleScope scope;" between lines 166 and 167 and it built, but threw the same error. Ultimately I had to revert back to node version 0.10.36 (note that I am using ublinux and version 0.10.36 would not npm install mraa until I reflashed my edison), I am n

[2016-01-19 18:01] whbruce opened #408 "gcc compile error when building Node.JS binding on Fedora 22"
I'm getting a gcc error when building Node.JS binding on Fedora 22
cmake completes successfully and relevant output is as follows:
[code]

But when I build I see the following error
[code]

/usr/include/deps does not exist. I'm not sure if that is to be expected.

Some googling turned up redhat bug [nodejs-devel should depend on compat-libuv010-devel](https://bugzilla.redhat.com/show_bug.cgi?id=12

[2016-01-19 18:06] arfoll commented on #408
What versions of node-gyp and nodejs are you running? Can you paste the info from `rpm -qi` or similar?

[2016-01-19 18:36] alext-mkrs commented on #408
I have fedora 22 as my mraa dev system for some time and this piece got broken at some point. Tbh I don't recall all of the details of my investigation as it was a while ago, but I believe what I've found out was that the compat- library installed headers into a place where our build process doesn't see them and what gets picked is a standard set from a normal libuv package, which is too new for F

[2016-01-19 18:50] alext-mkrs commented on #407
And if you *really* that keen on building anipk on the board, start with installing tar and find (coreutils) from my repo (or the default IoTDevKit's one, I'm not sure if it has those packages though).

And then if and when you face other problems, repeat - but by that time you probably would want to follow @arfoll's advice and go the Yocto way :smiley:

[2016-01-19 19:06] arfoll commented on #407
After tar and find you'll also want opkg-utils though might be on ur board
already
On 19 Jan 2016 18:50, "Alex T" <notifications@github.com> wrote:

[2016-01-19 19:22] whbruce commented on #408
@alext-mkrs, great clue on compat-libuv010. I looked at where include files were installed (/usr/include/compat-libuv010) and added path before {NODE_INCLUDE_DIRS} and build worked.

I'll work on cleaner fix to cmake, do some testing and issue a PR.

[2016-01-19 20:50] alext-mkrs commented on #406
I have just tried - on Yocto image it compiles from sources just fine. Took about 1-1.5 hrs with "make -j2", but works nicely:

[code]
The error @neuberfran has looks like an incorrect gcc version indeed - however they should have added a check for that, so that's a bit strange. One more reason not to use ubilinux on Edison to me :smiley: with all due respect to Emutex folks.

@neuberfan, check wh

[2016-01-19 20:55] alext-mkrs commented on #408
Great, glad to help. I've never got to getting it fixed, just switched to compiling mraa with cross toolchain only :smiley: (prior to that I was running host builds as well). It's very nice that finally it gets sorted out.

[2016-01-19 21:00] alext-mkrs commented on #407
I think we've established that this way of using our build scripts is not a recommended one and anyway provided instructions on using it this way - so I'm closing this one.

[2016-01-19 21:00] #407 closed

[2016-01-19 21:50] arfoll commented on #408
Just adding this to the reasons I don't like fedora :)

Bar overriding this NODE_INCLUDE_DIRS var I don't see what we can do to
stop distros that ship a node.js compiled with another version of libuv...
imho that's just broken distro pkgs.

On 19 January 2016 at 20:55, Alex T <notifications@github.com> wrote:

[2016-01-19 22:04] neuberfran commented on #406
root@neuberfran:~# gcc --version
gcc (Debian 4.7.2-5) 4.7.2
Copyright (C) 2012 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

[2016-01-19 22:06] arfoll commented on #406
So you need to update your edison image :)

Btw @alext do you think you could push node 4.x to your repo instead of
node 0.12.x?

On 19 January 2016 at 22:04, neuberfran <notifications@github.com> wrote:

[2016-01-19 22:08] alext-mkrs commented on #406
I've been thinking about this for a while now, the biggest problem is that there are some node.js apps in the image (like xdk-daemon and somesuch), which sometimes are sensitive to Node.js versions, so I'd need to find all of them and somehow test.

But in general I'd like to do that, yes. Especially if we make 4.x the only officially supported branch for mraa.

[2016-01-19 22:37] neuberfran commented on #406
I'm not using edison image (yocto) in this intel edison. I'm using ubilinux. Because I need debian here also

[2016-01-20 03:32] flymaxty commented on #407
@arfoll @alext-mkrs Thanks for your reply!
Yes, I'm trying to distribute a specific version, but have less experience on yocto/bitbake, that's why I'm trying to build package on the board.
I will try them(use bitbake and coreutils) both in next few days.
Thanks for your help again!

[2016-01-20 09:01] alext-mkrs commented on #407
No problem

[2016-01-20 14:20] neuberfran commented on #406
I need help to upgrade gcc to 4.9

root@neuberfran:~/node-v4.2.4# cat /proc/version
Linux version 3.10.17-yocto-standard-r2 (root@p32mac) (gcc version 4.8.2 (GCC) ) #7 SMP PREEMPT Thu Feb 26 09:57:06 UTC 2015

root@neuberfran:~/node-v4.2.4# gcc --version
gcc (Debian 4.7.2-5) 4.7.2
Copyright (C) 2012 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There

[2016-01-20 14:25] arfoll commented on #406
Sorry but no one on here can help you easily upgrade your image to use gcc 4.9, it's not an easy task to do. I'd recommend not using ubilinux because we don't officially support it because it uses a mismatch of components leading to unreliability and isn't fully recompiled from source.

I would recommend rethinking why you want/need debian, but this is a debate best left to the community forum, no

[2016-01-20 14:25] #406 closed

[2016-01-20 15:28] neuberfran commented on #406
Don't close issue

[2016-01-20 15:31] arfoll commented on #406
Sorry but this is not the right place for generic upgrade help to gcc 4.9 or really to help with node compilation in general :) Since we've ascertained that there is no issue with mraa I consider this 'closed'.

[2016-01-21 04:55] whbruce opened #410 "cmake FindNodejs module should indicate that required include files have not been detected"
When the cmake option `BUILDSWIGNODE` is set, the `FindNodejs` cmake module is used to detect the presence of packages requires to build the Javascript binding. The current logic looks for the include files but no action is taken if they are not found. Thus the g++ include path is invalid and the build fails (can't find `node.h`). I hit this problem as package `nodejs` was installed but `nodejs-de

[2016-01-21 13:55] neuberfran commented on #406
I'll be waiting for the release ubilinux jessie  scheduled for January this year

[2016-01-21 20:25] deadprogram opened #411 "Unable to build from source on Edison using Node 4.2.3"
Pulled latest mraa from git.

The cmake file appears to run OK:

[code]

However, running `make` results in the following errors:

[code]

Here is a gist with the full output:

https://gist.github.com/deadprogram/6c5ce16ce3702fa734b7

Thanks!

[2016-01-22 11:31] flymaxty commented on #407
@arfoll @alext-mkrs ,sorry to disturb you again. I have some problem when I use bitbake to compile mraa package.
The compile is ok, and get 4 packages(mraa,mraa-dev,mraa-dbg,mraa-doc).
and I remove the offical mraa (use `opkg remove mraa`) on my board, and installed mraa-_0.9.0-r0_core2-32.ipk(has no `include` files), but when I try to install others, I got errors:
[code]

And I found that offical

[2016-01-22 11:35] arfoll commented on #407
This is normal, you get 4 pkgs which is better, the pkgs we generate on the repository contain the headers (mraa-dev), the binary libs (mraa) and I think the docs (mraa-doc). We don't even ship the debug symbols but you can install them with (mraa-dbg).

My guess is that your opkg DB has gotten a little confused since mraa (from repo) 'replaces' mraa-dev since it includes it. Make sure the package

[2016-01-22 11:45] arfoll commented on #411
That's really weird, because I just compiled that exact version of node from git and then built mraa and it works... Can you check /usr/include/node/v8-version.h and make sure that the V8 version matches what cmake found?

[2016-01-23 00:30] xbolshe commented on #411
It is strange, but I have the same issue:

DEBUG: Executing shell function do_compile
-- The C compiler identification is GNU 4.9.1
-- Check for working C compiler: /sde/r1.2.0/iot_1.2.0_kernel_3.19.8/build/tmp/sysroots/x86_64-linux/usr/bin/i586-poky-linux/i586-poky-linux-gcc
-- Check for working C compiler: /sde/r1.2.0/iot_1.2.0_kernel_3.19.8/build/tmp/sysroots/x86_64-linux/usr/bin/i586-poky-linu

[2016-01-23 00:45] xbolshe commented on #411
The C++11 flag is dropped somewhere. There is no C++11 flag in mraajs.dir/flags.make

[2016-01-23 03:04] xbolshe commented on #411
It seems the issue is related with an old CMAKE version 2.8.12 in my case where
[code]
does not work.

[2016-01-23 13:39] xbolshe commented on #411
My proposal to fix: https://github.com/intel-iot-devkit/mraa/pull/416

It looks like when CMAKE version is less than 3.1:

[code]

[2016-01-24 11:52] arfoll commented on #411
Oh interesting, great catch, makes sense I had an updated cmake on my board.

Rather than fail is rather set cflags in a dirty way if we're on an older
cmake, that way we won't break on Edison for the near future.
On 23 Jan 2016 13:39, "xbolshe" <notifications@github.com> wrote:

[2016-01-24 14:40] xbolshe commented on #411
I have made an update: change fail to set flags.

[2016-01-24 16:53] #411 closed

[2016-01-24 21:50] gregorykelleher opened #417 "mraa_uart_write() - Only string objects? Send values?"
Hi, I have a question. I want to be able to send hex values as binary data over UART using the MRAA library.

In the function documentation I found: **mraa_uart_write()** which takes the parameters: **mraa_uart_context, const char *, size_t**

However, I don't want to send a string object; I want to send a hex value like I would with Arduino using **Serial.write(0x7c)** for example.

How can I wri

[2016-01-24 21:54] arfoll commented on #417
Isn't a hex value like this essentially just a char? I mean yes there's no
call to send a single char down that way but surely sending a pointer isn't
much different? On the c++ interface but I'm not convinced of the
usefulness.
On 24 Jan 2016 21:50, "Gregory Kelleher" <notifications@github.com> wrote:

[2016-01-24 22:55] gregorykelleher commented on #417
Sorry, bit of novice migrating from Arduino to C++.

I should be using **mraa.hpp**, so in that case it's **int write (const char *data, int length)** which allows me to write bytes in a String object to a device.

But how might I send a hex value as a single byte, as I'm familiar doing in Arduino as **Serial.write(0x12)**?

[2016-01-25 14:59] arfoll commented on #417
No problem, that's fair enough, so it works the same in C++ & C really, you can't really send anything but char's on a uart, 0x12 or 0x7c is a 'char'.

See the example in examples/uart.c, but essentially to send a single byte you need to do:

[code]

So essentially you pass a pointer with one char to mraa_uart_write. You can't write less than a char on a uart, that's just the way it works, since t

[2016-01-25 15:32] gregorykelleher commented on #417
Cheers, that worked a treat. Simple question after all. Thanks again!

[2016-01-25 15:38] #417 closed

[2016-01-25 18:26] alext-mkrs commented on #403
@sonofaforester so how about logs and ideally a reproducer for this one?

[2016-01-29 02:22] codebikeclimb commented on #173
My Romeo for Edison is no longer programmable from the Arduino IDE. I set it up with Visual Studio and I can cross-compile C++ scripts and run them on the Edison or I can transfer the script via SFTP using WinSCP and compile and run them locally from the Edison's terminal. I am working on trying to use the GPIO & Analog pins from the Arduino breakout, but I can't figure out the mraa pin mapping. L

[2016-01-29 15:16] sonofaforester commented on #403
Here's a reproducer. I'm using Edison attached to the Sparkfun RaspPi block. I've got a square wave running at 100Hz on GP46. After about a minute or so the segmentation fault will occur.

var m = require('mraa');
console.log(m.getVersion());
var x = new m.Gpio(32); //GPIO Pin 8

var spi = new m.Spi(0);
spi.frequency(1000000);

function char(x) {
   return parseInt(x,16);
}

function a() {
var buf

[2016-02-01 19:55] wwhuang commented on #318
Hi, has there been any progress on this? We've run into the same problem on a custom board we have, and we've resorted to commenting out the check and forcing mraa to assume that we are not an arduino.

[2016-02-01 21:28] alext-mkrs commented on #318
I don't think there was any work done on this one yet. I have it on my list for the next weekend though.

[2016-02-02 17:16] petreeftime opened #419 "FTDI Interrupts do not work with Java and most likely Python"
At https://github.com/intel-iot-devkit/mraa/blob/master/src/gpio/gpio.c#L272 the FTDI GPIO interrupt handler is called, but setup for Java is called a few lines after this: https://github.com/intel-iot-devkit/mraa/blob/master/src/gpio/gpio.c#L295, additionally, Python is handling its' ISRs here: https://github.com/intel-iot-devkit/mraa/blob/master/src/gpio/gpio.c#L321, code which is again not call

[2016-02-02 17:24] arfoll commented on #419
@whbruce this is a bit of a problem, didn't realise this didn't work from SWIG :/ How can we fix this?

[2016-02-02 17:53] whbruce commented on #419
Sorry didn't test with SWIG bindings. As per @petreeftime's comments language bindings are not correctly handled and refactoring is required. I think I can fix this by making gpio interrupt adv_funcs more granular so ft4222 thread is handled the same way as gpio "poll" thread.  I'll get to this right away.

[2016-02-04 15:37] arfoll commented on #403
this just shows the xdk-daemon crashing and arduino doing it's `thing`. Have you tried running that without the XDK stuff?

[2016-02-04 21:27] sonofaforester commented on #403
So I removed the xdk-daemon, re-ran the test and had similar results. The difference being the log doesn't show the xdk stuff

-- Logs begin at Sat 2000-01-01 00:00:11 UTC, end at Thu 2016-02-04 21:26:03 UTC. --
Feb 04 21:25:52 edison launcher.sh[182]: /opt/edison/launcher.sh: line 17: /dev/ttyGS0: No such file or directory
Feb 04 21:25:53 edison launcher.sh[182]: /opt/edison/launcher.sh: line 17:

[2016-02-06 14:21] alext-mkrs commented on #410
This was implemented by PR #414 for a while now - closing this one.

[2016-02-06 14:21] #410 closed

[2016-02-06 14:22] alext-mkrs commented on #408
This was implemented by PR #414, closing this one.

[2016-02-06 14:22] #408 closed

[2016-02-06 14:24] alext-mkrs commented on #401
This was implemented by commit 1015beec4705f, so closing this one.

[2016-02-06 14:24] #401 closed

[2016-02-06 14:26] alext-mkrs commented on #357
@arfoll, ping

I would vote for closing this one, as the original problem is long solved and if we'd want to tackle the side thread of making Node 4.x or 5.x the only officially supported Node version, we'd rather open a new issue/do it outside of issue tracker at all.

What do you think?

[2016-02-06 14:29] alext-mkrs commented on #255
@michael-ring, is there any chance you'll takle this one?

[2016-02-06 14:54] alext-mkrs commented on #132
Looks like we can close this one - the original issue is fixed by @michael-ring in his commit 3a5b99252419b5, so we now check the driver for the max SPI frequency.

We also have a hardcoded value in `mraa_spi_init_raw()`, which caps the frequency to 4MHz, even if driver tells us it can support more. And that magic value was there since the very beginning of the SPI support in mraa, as far as I can

[2016-02-07 07:05] arfoll commented on #357
Agreed. Actually travis now builds for node 0.10/0.12/4 & 5 so this type of issue is hopefully gone. Still need to implement an npm check though.

[2016-02-07 07:05] #357 closed

[2016-02-07 07:18] mikaye commented on #357
I agree as well. It should be closed.

Mike

On Sat, Feb 6, 2016, 11:05 PM Brendan Le Foll <notifications@github.com>
wrote:

[2016-02-08 11:16] #226 closed

[2016-02-10 03:02] leonyuhanov commented on #255
Guys I am just commenting this out when I compile and it works just fine. Not sure why this is in there...

[2016-02-10 11:41] alext-mkrs commented on #255
This is to make sure we use the actual max frequency - and the assumption is that driver has the ultimate knowledge. And apparently on rpi the driver is broken in this part.

[2016-02-10 11:42] leonyuhanov commented on #255
I have been able to get 10mhz but anything higher seems the same(but only if i comment out these lines of code)
Iether way,im happy to close this if its not worth looking into

[2016-02-10 22:03] leonyuhanov commented on #255
I'm closing this issue. As stated above, this code depends on the RPI driver reporting correct information back to the MRAA module. It seems like this is not happening properly.
To fix this, all you need to do is comment out:

// if (ioctl(dev->devfd, SPI_IOC_RD_MAX_SPEED_HZ, &speed) != -1) {
// if (speed < hz) {
// dev->clock = speed;
// syslog(LOG_WARNING, "spi: Selected speed reduced to max all

[2016-02-11 06:44] alext-mkrs commented on #255
Actually, it's worth it to be fixed properly, and that means exactly what @arfoll discussed with @michael-ring earlier. Namely, to implement a RPi-specific _replace function, which would make it work without commenting suff out and rebuilding + a bug should be filed for the driver to make it work properly.

That's why I pinged @michael-ring earlier, to see if he's still willing to do that. That's

[2016-02-12 11:26] #318 closed

[2016-02-12 13:24] rahul2704 opened #426 "Failed at the mraa@0.9.1 install script."
hey there i keep getting this error when installing mraa
I want to use blynk library with mraa still installed
im using this `npm install -g mraa blynk-library`
i contacted blynk devs, they say the problem is with mraa lib. i can use blynk lib without mraa but i want both installed

[2016-02-12 13:28] arfoll commented on #426
What version of node?
On 12 Feb 2016 13:24, "rahul2704" <notifications@github.com> wrote:

[2016-02-12 13:31] rahul2704 commented on #426
on the board?? or mac?
v5.3.0

[2016-02-12 13:33] rahul2704 commented on #426
on edison running `node --version` gives
v0.10.38

[2016-02-12 13:34] arfoll commented on #426
where are you trying to install mraa? Because it won't work on your mac

[2016-02-12 13:37] arfoll commented on #426
mraa 0.9.2 builds for me on 0.10.38 and 5.40. You're going to have to be more specific/provide logs or explain why the blynk guys think it's my fault ;-)

[2016-02-12 13:38] rahul2704 commented on #426
i have ssh into edison
im installing into edison after running /dev/cu.usbserial-XXX.. etc
in fact i use bloop to screen directly into edison
i can install blynk only, which erases mraa that came in with yocto firmware in devkit then i can't use example projects in xdk iot as it says mraa missing

[2016-02-12 13:40] rahul2704 commented on #426
`yp ERR! cwd /usr/lib/node_modules/mraa
gyp ERR! node -v v0.10.38
gyp ERR! node-gyp -v v1.0.1
gyp ERR! not ok

npm ERR! mraa@0.9.1 install: `node-gyp rebuild`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the mraa@0.9.1 install script.
npm ERR! This is most likely a problem with the mraa package,
npm ERR! not with npm itself.
npm ERR! Tell the author that this fails on your system:
npm ERR!

[2016-02-12 13:42] rahul2704 commented on #426
i am new to node.js, i am sorry! edison interface is not easy at all, especially with linux!! is there any user friendly way of installing packages without such hassle?

[2016-02-12 13:45] arfoll commented on #426
ok so to start with that's not a mraa issue ;-)

Update mraa using opkg (the xdk should even have examples how this works). The readme.md at front pretty much explains how to do that very easily and the XDK should provide a way to do it as well.

[2016-02-12 13:46] rahul2704 commented on #426
oh you mean the echo... command??

[2016-02-12 13:47] arfoll commented on #426
Yes

[2016-02-12 13:50] rahul2704 commented on #426
[code]
done?
now i can run npm install -g mraa blynk-library?

[2016-02-12 13:51] arfoll commented on #426
remove mraa from that npm line and yes.

On 12 February 2016 at 13:50, rahul2704 <notifications@github.com> wrote:

[2016-02-12 13:52] rahul2704 commented on #426
won't this erase existing mraa?

[2016-02-12 13:53] arfoll commented on #426
It shouldn't since blynk-js doesn't depend on mraa so npm won't go and
fetch it.

On 12 February 2016 at 13:52, rahul2704 <notifications@github.com> wrote:

[2016-02-12 13:54] rahul2704 commented on #426
[code]

how to I check which libraries are in the edison? any software providing GUI? maybe cyberduck?
thanks for your patience :)

[2016-02-12 14:08] arfoll commented on #426
easiest way is to call mraa.getVersion() from node.js.

On 12 February 2016 at 13:54, rahul2704 <notifications@github.com> wrote:

[2016-02-12 14:10] rahul2704 commented on #426
ERROR:     throw err;
  ERROR:         ^
ERROR: Error: Cannot find module 'mraa'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Module.require (module.js:364:17)
    at require (module.js:380:17)
    at Object.<anonymous> (/home/root/.node_app_slot/main.js:19:12)
    at Module._compile (module.js:456:26)
    at Object.Module._exten

[2016-02-12 14:11] rahul2704 commented on #426
same as before! installing as you told me does this again! i believe installing blynk-lib overwrites mraa?
any walkarounds? as i need both libraries? how to get mraa back?? using echo cmd as before
?

[2016-02-12 14:49] arfoll commented on #426
Ah urgh they run a script to install the lib afterwards...

in any case, I dont get it, I did the following:
[code]

And it worked fine for me.

[2016-02-13 19:48] alext-mkrs commented on #255
Let me open this one back as I believe this should be fixed (worked around) properly in mraa to avoid user confusion.

[2016-02-13 19:53] alext-mkrs commented on #419
Fixed with PR #420, closing.

[2016-02-13 19:53] #419 closed

[2016-02-16 11:37] BTWS opened #430 "Errors when reading ADC values"
I have a similar issue to #117.

I'm using a Intel Galileo Gen 2. It works a few times and then it stops working.

![image](https://cloud.githubusercontent.com/assets/16107991/13075077/e56fb1a8-d4a8-11e5-8a53-d3100b474cc6.png)

![image](https://cloud.githubusercontent.com/assets/16107991/13074950/1ce2c9f0-d4a8-11e5-98c1-e3c4f73b067a.png)

This is the code i'm using:

[code]

[2016-02-16 17:28] smuellener opened #431 "Other Hardware"
Hello

We use a different board with an NXP iMX6. Without having a supported plattform, I am currently excluded from using Mraa properly. What is the standing on this? Can I add a generic Platform definition or make the driver code not crash if "platform" is NULL?

Thanks

[2016-02-17 10:04] uchobby opened #432 "Blink example fails on Edison"
Using the following code in node...
blink.js......
var mraa = require("mraa");

mraa.init();
console.log('MRAA Versions: ' + mraa.getVersion()); //write the mraa version to the Intel XDK console
console.log('MRAA Platform Name:'+mraa.getPlatformName());
var myOnboardLed = new mraa.Gpio(4); //LED hooked up to digital pin 13 (or built in pin on Galileo Gen1 & Gen2 plus Edison Arduino Breakout board)

[2016-02-17 10:38] arfoll commented on #432
I'm confused - why are you asking for pin4 but want pin13 to flash? Just open pin13 ```new mraa.Gpio(13)```.

[2016-02-17 10:51] dfowler7437 commented on #432
Tried pin4 in case pin13 was bad. Expect LED to flash on 13. Used an O-Scope to monitor pins.  Why would pin4 create an error?  Why would 13 not flash the LED?

I'm thinking that mraa is not detecting the Arduino carrier board correctly.  I did see a mention of some tristate issue with an insane suggestion that you should not reset the board with the reset button.  Will test this...

[2016-02-17 10:54] arfoll commented on #432
oooh yes you should not use the reset button (agreed it's insane), just pull the power. Check mraa.getPlatformVersion() should return 'arduino'

[2016-02-17 11:04] uchobby commented on #432
Just tested and that was the issue!  OMG so LAME!! we cant use reset? Really?  And this is not in bold H1 on the getting started with mraa pages?

I think the bug report he is a failure of the documentation to inform users about this issue.

The fix is and H1 tag in the readme.rd with something like "Beware poor hardware design makes reset button unusable with mraa"

Yes I'm frustrated, hours..  I

[2016-02-17 11:12] arfoll commented on #432
I'm real sorry for your lost time, it's not on the front page because mraa is for all platforms not just for edison. Though I've added something in the edison.md page

My personal experience of embedded devices is to never use the soft reset buttons and always do a full cold reboot as those are always the more reliable option.

[2016-02-17 11:12] #432 closed

[2016-02-17 13:57] arfoll commented on #431
You can indeed make a generic platform, there's no reason not too, generally people like to add their board in though. I'm happy to take a 'generic' platform that will just call the _raw functions in passthrough.

[2016-02-17 13:58] arfoll commented on #426
Closing due to lack of activity and 'works for me'

[2016-02-17 13:58] #426 closed

[2016-02-17 17:59] alext-mkrs commented on #430
And getVoltage() is?

[2016-02-17 21:00] dfowler7437 commented on #432
Reset buttons are by no means soft resets. They should, by design, be equivalent to power up reset. The button is typically called a hard reset. It's usually better to press the button as a power cycle could be brutal to the components in a system. Power cycling is temperature cycling...

I recommend that you do use a reset button when a hard reset is required.

[2016-02-17 21:18] arfoll commented on #432
What I meant is that its implemented as a warm reboot which changes a few
things. I'm not saying its correct or good, just that's the way it is. I'm
not the hardware designer of Intel boards or eve a hardware engineer so
complaining here won't do much ;-) we've already conveyed our displeasure
but feel free to join the Intel forum and complain more if you wish...

'Could be brutal'. Sure hardware

[2016-02-17 23:41] Propanu opened #433 "Unable to use both UPM & MRAA with FT4222"
Title says it all, if you try to use both MRAA and some UPM driver with the FT4222, the second subplatform init will fail. So far only tested this with node but I assume it will happen in other languages too.
Here's the code:
[code]
And here's the log:
[code]

Thus you could use one or the other but not both. Using multiple UPM sensors seems to work as expected though.

[2016-02-18 00:00] whbruce commented on #433
Think of libft4222 as serial port; it can can only be opened once. If it opened a second time it will fail. That's what you;re seeing. This is a mraa documentation bug.

[2016-02-18 00:28] Propanu commented on #433
Yeah that part is clear and I don't have an issue with that. But I would expect us to be able to return the existing subplaform handle on an init call the second time around. In fact I'm sure we already do this to some extent or you won't be able to use multiple sensors from UPM, we're just not catching this UPM+MRAA case.

[2016-02-18 00:37] uchobby commented on #318
I'd suggest that we have a way to override the detection, a configuration option, an environment variable, or at the very least an API call into MRAA to fix it when it's wrong.

[2016-02-18 01:04] whbruce commented on #433
Thanks for clarifying failure. If platform is already initialized I can't figure out how mraa_init() manages to initialize sub-platform a second time.I'll take a closer look.

[2016-02-18 11:09] arfoll commented on #318
I'm not sure how it would help though. If mraa detects it wrong then likely your platform is in a state where we'll just bork it even further by doing what we expect to work and won't. I suspect we'll get something like this eventually for some subplatforms that can't be autodetected and to provide custom platform files as is being worked described in json but until then I don't really see the use

[2016-02-18 13:13] miminashi opened #434 "pip support?"
Is there a pip support for Python binding?

For node.js, I can install mraa by:

[code]

I want to install mraa by following command:

[code]

[2016-02-18 13:32] arfoll commented on #434
Yeah it would be nice, but not really on my priority list I'll be honest, if someone has an idea on how to make it work nicely I'm happy to add it to our infra so we push it to the right place, but I'm guessing we'd need to do something similar to what we do for node.js which is quite a bit of work.

[2016-02-18 21:07] wwhuang commented on #318
Custom platforms is exactly the use case I have in mind. My lab has its own Edison based hardware platform which mraa detects as an Arduino. A JSON file or mraa api call would be fantastic.

[2016-02-18 21:41] whbruce opened #435 "FT4222 sub-platform does not support multiple "expander" GPIO ISRs"
The FT4222 sub-platform supports extra GPIO via i2c expanders. If an ISR is registered for one of these expander GPIOs it will disable ISRs for any existing expander ISRs.

[2016-02-19 13:18] MuhammadAnnaqeeb commented on #148
By chance, I have found a workaround to install mraa on ubuntu 14.04

    sudo apt-get install nodejs-legacy
    npm install mraa

works just fine for mraa 0.9.3 and nodejs 0.10.25

[2016-02-19 16:02] sonofaforester commented on #403
Any updates or more info that I can provide?

[2016-02-20 00:25] jontrulson opened #436 "Analog input on Edison/Arduino breakout is broken with latest MRAA master (9.3)"
Hi, I've recently started on a new analog driver, and started by updating to the latest MRAA (9.3, latest commit: 6b3794003f36f880d5b9d90c6e6bf7dab6bcea5b ).

The driver works fine on the G2.  On edison, analog reads always read 0.  Reading the sysfs files directly also always report 0 (before and after an analog context has been initialized), and of course analog drivers no longer function.

Ther

[2016-02-20 09:26] arfoll commented on #436
Argh - so I tried to fix this in the adc branch - can you take a look and verify as I'm away from an edison board all weekend :/ I was assured that this wasn't a problem by Constantin, I'm mostly annoyed at myself for having let this one slip yet again :/

[2016-02-20 19:54] jontrulson commented on #436
Yes, this seems to have fixed the problem.  Analog reads seem to be working fine now.  Thanks!

[2016-02-21 12:30] BTWS commented on #430
I'm sorry. I didn't upload the whole file.

# -*- coding: utf-8 -*-
# eglibc needed: https://software.intel.com/en-us/iot/hardware/galileo/downloads
import mraa  # https://github.com/intel-iot-devkit/mraa
import math
import os
import os.path
import time

print mraa.getVersion()

# Analog read example for Intel Galileo Gen 2

RESOLUTION = 12
NUMOFSENSORS = 6
REFERENCEVOLTAGE = 5.0 # Can be changed

[2016-02-21 18:20] arfoll commented on #430
Wow - ok, remove all that initlisation stuff, this is what mraa does for you... You don't need anything else. if someone isn't working with:

[code]

Then file a bug. Likely the multiple muxing is confusing stuff, admitedly the driver crashing is not a good thing (tm) :) But you should not be doing any pin setup behind mraa's back. If you really want to that's why we have mraa's 'raw' GPIO api..

[2016-02-22 10:18] BTWS commented on #430
I wrote some simple code to test. Connecting Ground/5V/3.3V directly to A4 or A5 gives errors.

[code]

In this image I connected Ground to A3. The second time to A4.

![image](https://cloud.githubusercontent.com/assets/16107991/13215481/db758f04-d955-11e5-8bbd-7f4be65f47e4.png)

[2016-02-22 10:52] arfoll commented on #436
0.9.4 released with the fix.

[2016-02-22 10:52] #436 closed

[2016-02-23 11:47] arfoll commented on #148
To be honest the issue is because ubuntu nodejs packages are broken, we can build on node4/node5 and node 0.12 because it's what travis does :)

[2016-02-23 18:06] BTWS commented on #430
Is it possible to implement this in the mraa library (see link)?

https://communities.intel.com/message/375502#375502

[2016-02-23 20:06] whbruce opened #437 "mraa_gpio_isr_exit does not allow ISR thread to shutdown cleanly"
Assuming` HAVE_PTHREAD_CANCEL` is defined, `mraa_gpio_isr_exit()` cancels a thread before giving it the chance to complete (i.e. waiting for it to join).

[code]

This means that sub-platforms that override `mraa_gpio_wait_interrupt()` do not have the chance to close down their ISR thread cleanly. They can do this by using the `isr_thread_terminating` flag to determine when they should exit.

Perh

[2016-02-24 02:03] whbruce commented on #433
I dug deeper and found that the mraa node module links to mraa object files, not the shared library. upm node modules do the right thing and link to the mraa shared library. Thus when a node project uses both mraa and a upm modules you end up with two mraa instances so mraa_init() is called twice. The second mraa_init() call results in the libft4222 double load and subsequent failure. Java and Pyt

[2016-02-24 11:31] arfoll commented on #433
Yeah it's valid - if it works as expected :D, there where some issues previously which is why mraa was built this way, wasted a few kBs.

[2016-02-24 22:32] Propanu commented on #433
@whbruce thanks for tracking this down and finding a fix. I can see many use cases were both MRAA & UPM are desired within the same application.

[2016-02-25 00:11] whbruce commented on #433
The Java fix is proving to be more complicated. There is JNI code in gpio.c (and maybe elsewhere) that complicates linking. It should be moved to src/java so it is exported by libmraajava.so and not libmraa.so. I'll get to this, but not for a few days.

[2016-02-25 12:16] pdumais opened #440 "GPIO output toggle on start"
I have Node.js application that controls 2 GPIO for controlling relays.
Whenever I start my application, my relays seem to toggle. I can here them click. I've isolated the problem down to just including MRAA in my application. Ideed, if I remove all code and just do a "var mraa = require("mraa");", I here my relays click.

Is this a know issue/limitation?

libmraa.so.0.8.0

[2016-02-25 13:16] tingleby commented on #440
Is this Intel Edison?

[2016-02-25 13:21] pdumais commented on #440
Yes, I'm sorry.
Using Linux version 3.10.17-poky-edison+ (sys_dswci@tlsndgbuild004) (gcc version 4.9.1 (GCC) ) #1 SMP PREEMPT Fri Jun 19 12:06:40 CEST 2015

[2016-02-25 17:25] petreeftime commented on #433
UPM Java libraries link with libmraajava.so, and MRAA Java class should also load libmraajava.so. Are there any cases in which this doesn't happen already?

[2016-02-25 17:38] whbruce commented on #433
Currently libmraajava.so statically links to mraa but UPM jini shared libraries dynamically link to libmraa. So if a Java app instantiates both mraa and upm objects, the underlying platform object is instantiated twice as well which causes the problem reported by @Propanu.

I have a fix in progress, will issue a PR by EOD which Java team can review.

[2016-02-25 17:53] alext-mkrs commented on #440
First of all, I'd strongly suggest you to update mraa, the latest is 0.9.4.

Second thing, what expansion board is this and which exact GPIOs are we talking about?

[2016-02-25 21:48] whbruce commented on #433
Done. See PR #441.

[2016-02-26 00:18] pdumais commented on #440
I'm using the arduino board. It seems to be doing this with any GPIO. But for my particular case 15,16,17,18, 19 (which are the A1-A5 on arduino). I've also had the same proble with arduino pin D3,D4,D5.

The problem seems to be that if the app sets the output high then exists, upon re-executing the app, the GPIO seems to get pulled low again when executing the require() instruction.

So since my

[2016-02-26 18:57] youcangetme opened #442 "Java/Edison; Writing to the /dev/ttyMFD1 does not work BUT reading does"
I am having trouble reading serial data from a Java capped mraa app running on an Edison. The Java app reads just fine but when it transmits data the listener never receives it. I have used another Arduino to mimic the opposite end and the listener does in fact receive serial data when sent.

[code]

[2016-02-26 18:59] arfoll commented on #442
Use Uart(0) instead of giving device, that'll set the pinmux correctly
On 26 Feb 2016 18:57, "JB" <notifications@github.com> wrote:

[2016-02-26 20:46] youcangetme commented on #442
Works correctly now, thank you for your fast response!

[2016-02-27 09:52] #442 closed

[2016-02-28 12:47] alext-mkrs commented on #440
Okay, that sounds to me like the need to add a cleanup section to your program. Library initialization brings subsystems into a known, specific state and that's I would say a feature, not a bug.

[2016-02-28 12:50] alext-mkrs commented on #132
@tingleby, ping - any comments on the above?

[2016-02-28 13:09] alext-mkrs commented on #403
I'm looking into this right now.

[2016-02-28 13:12] alext-mkrs commented on #403
Which expansion board are you using, @sonofaforester? You use `var x = new m.Gpio(32); //GPIO Pin 46` as GPIO initializer, but I don't see any pin 32 listed in the [pin muxing guide](http://www.emutexlabs.com/project/215-intel-edison-gpio-pin-multiplexing-guide)

[2016-02-28 13:26] alext-mkrs opened #444 "mraa packages 0.9.1-0.9.4 are not published to intelgalactic 2.0 repo, should we use 3.0?"
Looks like starting from 0.9.1 packages are being uploaded to http://iotdk.intel.com/repos/3.0/intelgalactic instead of 2.0 they used to be in.

Should we update the readme.md, which still points to 2.0?

[2016-02-28 14:10] sonofaforester commented on #403
It's the Sparkfun RaspiPi board.
https://www.sparkfun.com/products/13044

[2016-02-28 14:18] arfoll commented on #444
Yeah we should I forgot, thanks for pointing that out
On 28 Feb 2016 13:26, "Alex T" <notifications@github.com> wrote:

[2016-02-28 14:57] alext-mkrs commented on #444
Ok, the PR is in.

[2016-02-28 16:43] arfoll commented on #444
Closed with PR

[2016-02-28 16:43] #444 closed

[2016-02-28 22:00] lrntplc commented on #403
FWIW, I'm having the same issue with both Nodejs 0.10 and Nodejs 0.12.7, on a Minibreakout board. The libmraa version is 0.9.2. My setup is a little different though. I am using 2 gpio pins (31 and 32) and I have 2 different ISRs, registered on falling edge. When the ISRs are called, I communicate over I2C with the boards generating the interrupts, in order to read the state, clear the interrupt,

[2016-02-28 22:30] alext-mkrs commented on #403
Yeah, generally what I'm observing is:

1. This is not related to SPI or anything specific going on in the ISR itself - it's just the fact that ISR is run.
1. This is only Node.js, C or Python are not affected
1. With simple `console.log()` as the ISR Node 0.10.38 crashes in ~1 minute, Node 0.12.7 in ~3 minutes and Node 4.3.0 didn't crash in ~15 minutes. Adding a fix for #387, which I've found alo

[2016-02-29 01:17] alext-mkrs commented on #403
Just as a working note - here's how it looks in the gdb.
[code]

Looks like at some point our
[code]
does not succeed and we are calling something empty or undefined.

[2016-02-29 10:09] #387 closed

[2016-02-29 21:24] pdumais commented on #440
I understand. This is limiting though since my app really is just a script to toggle a relay. So I want the relay to stay in that state once the app exits, and I want to stay the same once I re-enter it.

Also, what if a an application would crash for any reason? I would  like to resume my app and keep the GPIO state as it was before.

While I do expect a library to initialize cleanly in a known s

[2016-02-29 23:24] ivictbor commented on #247
Still have the same issue on Edison, thanks for explanations. The edison firmware is very bugged now, CS0 on SPI also not works at all, MRAA hangs, I am waiting for next bug...

[2016-02-29 23:25] leonyuhanov commented on #247
@ivictbor throw out your Edison, its garbage.

[2016-03-01 10:27] Pillar1989 opened #448 "compile mraa on BeagleBone"
Hi,
   I try to follow the compile docment build mraa for beaglebone black. But it popup error.
nodejs:v0.12.10
swig:v3.0.8
root@beaglebone:~/mraa_and_upm/mraa/build# make
Scanning dependencies of target mraa
[  1%] Building C object src/CMakeFiles/mraa.dir/mraa.c.o
[  2%] Building C object src/CMakeFiles/mraa.dir/gpio/gpio.c.o
[  3%] Building C object src/CMakeFiles/mraa.dir/i2c/i2c.c.o
[  4%] Bu

[2016-03-01 11:31] alext-mkrs commented on #247
@ivictbor, there were several spi fixes in Edison's kernel repo, see "01org" on GitHub. If you're up to that, you can build your image with those patches by following Edison's bsp build guide.

[2016-03-01 11:47] arfoll commented on #247
FYI the response from Intel support is incorrect, edison does not use an upstream driver from 'yocto linux' or anything like that. It also does not bitbang a SPI bus, it's using another piece of hardware (i believe it's some kind of UART HW) to emulate a SPI bus. This driver however does have some limitations but has been improved notably as was mentioned by @alext-mkrs.

@ivictbor you haven't men

[2016-03-01 11:51] leonyuhanov commented on #247
@arfoll I wasted allot of time and money on Intel boards and got sick and tired of their s###t, Im just saying it how it is mate. For 1/4 the price the Rpi will do more than any of their boards AND mraa works as intended

[2016-03-01 12:42] tingleby commented on #132
The cap of 4Mhz was probably a limitation of the original board, Galileo Gen1. If you can get the clock higher than that, then by all means.

[2016-03-01 12:43] tingleby commented on #448
@arfoll Should be no problem with node 0.12 right?

[2016-03-01 12:54] arfoll commented on #448
can you wipe the build dir and paste the output of cmake's configuration again? Likely the SWIG_V8_VERSION is parsed wrong on that particular version of node.js, moving to 4.x will mean less issues that should 'just work'

[2016-03-01 14:21] longwei opened #449 "compiling issue on upm with mraa/firmata branch"
I run into this issue when compiling upm with mraa/firmata branch.
mraa/firmate itself build ok, but when I built upm. I got a multiple definition regarding common.hpp.

[code]

I don't have this build error if mraa is built from master branch.

[2016-03-01 14:42] arfoll commented on #449
@Propanu seems we broke upm :) haven't looked at why can you take a look?

[2016-03-01 20:44] Propanu commented on #449
Yep, new `addSubplatform()` function is not inlined. Will submit a patch shortly!

[2016-03-01 21:40] Propanu commented on #449
#451 should fix it.

[2016-03-01 21:51] arfoll commented on #449
Fix merged

[2016-03-01 21:51] #449 closed

[2016-03-02 00:10] mkellner opened #452 "MRAA on Beaglebone - Jessie (Debian 8.3)"
I see in the beaglebone sources, a define:
    #define SYSFS_DEVICES_CAPEMGR_SLOTS "/sys/devices/bone_capemgr.*/slots”
On my system running the old Debian 7.9 (Wheezy), this directory exists.

With a newer kernel and version of Debian 8.3 (Jessie), there is no longer a /sys/devices/bone_capemgr.*

It is now /sys/devices/platform/bone_capemgr/slots
The ubuntu releases have this directory as well.

[2016-03-02 00:49] pdumais commented on #440
Also, I worry about what will happen if one script is running, setting a GPIO high, while a second script gets invoked and also require mraa. In that case, my GPIOs would toggle.

[2016-03-02 03:30] Pillar1989 commented on #448
#398 Thanks, I need update node-dev.

[2016-03-02 03:30] #448 closed

[2016-03-02 07:33] Pillar1989 commented on #452
Hi
root@beaglebone:~/mraa/build/examples# ./mraa-gpio version
Version v0.9.5 on Beaglebone Black Rev. B
root@beaglebone:~/mraa/build/examples# uname -a
Linux beaglebone 4.1.18-ti-rt-r49 #1 SMP PREEMPT RT Thu Feb 25 21:59:17 UTC 2016 armv7l GNU/Linux
root@beaglebone:~/mraa/build/examples#

[2016-03-02 17:22] g-vidal commented on #81
Hi @sajingeo @arfoll ,
Thanks for your efforts !
Unfortunately I cannot understand  most of  the technical part of your discussion but if I may express the opinion of an end user, __It is really needed__ to be able to use I2c sensors that require _repeated start_ on an Edison breakout.
It is very frustrating  to be unable to plug more than one sensor on the I2c bus ! From my experience only one se

[2016-03-02 23:32] mkellner commented on #452
I see that it builds for you. It builds for me too.

Are you able to connect to pins and perform IO?
I'm trying to connect to AIN1 (P9_40, mraa pin 86). I've tried to mraa_aio_init(1); or mraa_aio_init(86) and both indicate that the pin can't do Analog.

When I try the analogin_a0 example, I get this in the syslog:
Dec 11 18:20:15 arm libmraa[2433]: libmraa initialised for platform 'Beaglebone Bla

[2016-03-05 18:55] thoughtentity opened #455 "MRAA docs for enum Mode"
I was reading through the [docs](http://iotdk.intel.com/docs/master/mraa/node/classes/common.html#enum_Mode) for MRAA and noticed something odd in the table describing the enum for Mode. The docs describe the enum Mode as follows:

Enum | Description
---------|---------------
MODE_STRONG  | Default. Strong high and low.
MODE_PULLUP | Interrupt on rising and falling.
MODE_PULLDOWN | Interrupt of ri

[2016-03-05 19:09] arfoll commented on #455
Indeed some poor copy & paste there.

Thanks for the catch and report!
On 5 Mar 2016 6:55 pm, "Erik Medina" <notifications@github.com> wrote:

[2016-03-05 19:13] #455 closed

[2016-03-06 13:34] ivictbor opened #456 "Edison SPI can't work on frequency more then 10 kHz"
Hello.
I started using Edison with latest firmware **Release 2.1 Yocto* complete image**. But after first tries to make SPI exchanges on 1MHz I noticed freezing and errors in **dmesg** and found issue on communities https://communities.intel.com/thread/78149?start=0&tstart=0 .
Now I followed recommendation in that topic and downgraded to **Release 2.0 Yocto* complete image**. (edison-image-ww25.5-

[2016-03-06 13:37] ivictbor commented on #247
@arfoll Ok, thanks, I performed some experiments and wrote detailed issue here: https://github.com/intel-iot-devkit/mraa/issues/456

[2016-03-06 23:15] ivictbor commented on #247
@alext-mkrs Can you please tell me more details about 01org, is I need to use this repo https://github.com/01org/edison-linux ? I tried to build yocto using this guide http://www.intel.com/content/dam/support/us/en/documents/edison/sb/edisonbsp_ug_331188007.pdf and next archive http://downloadmirror.intel.com/25028/eng/edison-src-ww25.5-15.tgz . Building for core-image-minimal runs ok, but there a

[2016-03-07 08:21] xbolshe commented on #456
Hi,

as I know this problem is out of MRAA. It is related with a SPI driver of edison-image-ww25.5-15.
You may find more information here:

[https://communities.intel.com/thread/78149?start=15&tstart=0](https://communities.intel.com/thread/78149?start=15&tstart=0)

If you will downgrade the Linux image, the problem may be fixed.

BR,
xbolshe

[2016-03-07 08:31] BTWS commented on #430
What are the correct settings of the pins A4 and A5 to use it as an ADC and not I2C?

I used these settings and it didn't work.

![image](https://cloud.githubusercontent.com/assets/16107991/13564055/f3ed0962-e446-11e5-90e6-b5816112efc1.png)
[source](http://www.emutexlabs.com/component/content/article?id=203:getting-started-with-intel-galileo-gen-2)

[2016-03-07 12:27] ivictbor commented on #456
@xbolshe as I wrote in issue I already downgraded it

[2016-03-07 12:45] xbolshe commented on #456
@ivictbor I have tested edison-image-ww25.5-15 and edison-image-ww18-15.zip for SPI bus. Both of them do not work in my case. So now I use edison-image-ww05-15.zip. Here is a link to download:

[https://downloadcenter.intel.com/download/24909/Intel-Edison-OS-Image-release-2-0](https://downloadcenter.intel.com/download/24909/Intel-Edison-OS-Image-release-2-0)

BR,
xbolshe

[2016-03-07 12:51] ivictbor commented on #456
@xbolshe Thanks very much for help! I will try it. It is very sad that Intel released several releases one after other with the same critical bug and they all can be downloaded at the official Intel site... I had a better opinion about Intel

[2016-03-07 16:00] mihok commented on #387
I'm also seeing this error and not sure why.

node v5.6.0
npm v3.9.0
mraa v0.9.4

[code]

I get the same error:
[code]

[2016-03-07 18:03] arfoll commented on #387
@alext-mkrs is it possible that we're missing a `scope.Escape(self)` in there?

[2016-03-07 21:19] alext-mkrs commented on #387
I think we don't as I've considered that when preparing a patch, but let me double-check tomorrow when I'm in front of my dev machine.

[2016-03-08 11:06] mihok commented on #387
Ah thanks @arfoll and @alext-mkrs, looks like mraa 0.9.5 solves the issue!! Thanks! :+1:

[2016-03-08 11:08] arfoll commented on #387
@alext-mkrs Ooops I totally missed that it was on 0.9.4 and not 0.9.5.

[2016-03-08 11:31] alext-mkrs commented on #387
Glad we've clarified that :)

[2016-03-09 23:08] whbruce opened #457 "RPM files with NodeJs binding files fail to install."
If BUILDSWIGNODE and RPM cmake flags are both set, the rpm created by the cpack command will generate the following error when installing. Although error log shows version 0.9.1, the same behavior is observed for 0.9.6.
[code]

[2016-03-10 20:33] whbruce commented on #435
Fixed by release 0.9.6.

[2016-03-10 20:33] #435 closed

[2016-03-11 02:04] xbolshe commented on #390
Also there is a problem with:

A4:

    b->pins[18].aio.mux_total = 3;
    b->pins[18].aio.mux[0].pin = 60;
    b->pins[18].aio.mux[0].value = 1;
    b->pins[18].aio.mux[1].pin = 78;
    b->pins[18].aio.mux[1].value = 0;
    b->pins[18].aio.mux[2].pin = 57;
    b->pins[18].aio.mux[2].value = 0;

A5:

    b->pins[19].aio.mux_total = 3;
    b->pins[19].aio.mux[0].pin = 60;
    b->pins[19].aio.mux[0]

[2016-03-11 02:12] xbolshe commented on #117
This issue may be related with this one: https://github.com/intel-iot-devkit/mraa/issues/390
When a pull-up/pull-down resistor is enabled on A4/A5, an I2C bus is blocked with messages like shown above. That causes the issue.

[2016-03-11 02:13] xbolshe commented on #430
I guess the problem is related with https://github.com/intel-iot-devkit/mraa/issues/390
Also check https://github.com/intel-iot-devkit/mraa/issues/117

BR,
xbolshe

[2016-03-11 02:17] xbolshe commented on #390
It is possible that enabled and uncontrolled pull-up/pull-down resistors block I2C bus on A4/A5.

[2016-03-11 02:35] xbolshe commented on #430
@BTWS
Try to setup gpio57 and 59 to INPUT direction. It will disable resistors. I guess it will fix a time-out issue.

BR,
xbolshe

[2016-03-11 02:52] xbolshe commented on #390
Some pictures how to reproduce an I2C time-out issue:

![a5to33v](https://cloud.githubusercontent.com/assets/10796236/13691875/767505f2-e74d-11e5-81ec-bfae13e97824.png)

![a5www](https://cloud.githubusercontent.com/assets/10796236/13691877/7c3a2cec-e74d-11e5-8506-3b27c360d414.png)

[2016-03-12 20:52] xbolshe commented on #390
Here is my proposal to fix:
https://github.com/intel-iot-devkit/mraa/pull/459

BR,
xbolshe

[2016-03-12 20:54] xbolshe commented on #430
Here is my proposal to fix:
https://github.com/intel-iot-devkit/mraa/pull/459

BR,
xbolshe

[2016-03-12 21:00] rwaldron opened #460 "Firmata: use cases, guidance?"
Hello everyone! I'm trying to get a better understanding for how the Firmata implementation is expected to be used. I've been working with the protocol for a little over 4 years and I'm currently the active maintainer of [Firmata.js](https://github.com/jgautier/firmata/), which is a Node.js module for communicating with microcontrollers running  [StandardFirmata](https://github.com/firmata/arduino

[2016-03-13 17:07] ivictbor commented on #456
Downgrading to edison-image-ww05-15.zip solved issue

[2016-03-13 17:07] #456 closed

[2016-03-13 21:13] turon commented on #382
I'm basically making two comments on the currently defined C++ api:

1) a) There should be at least one "static allocation safe" constructor that does not call mraa_uart_init, as order of operations of static constructors is undefined.  Clocks may need to be setup before calling any such init.  Such a constructor can safely store the uart # as instance data, but shouldn't call the init.
    b) C++

[2016-03-13 22:51] alext-mkrs commented on #403
JFYI, I'm still looking into this, Haven't bee able to spend too much quality time, but I'm progressing.

Looks like it's even deeper than that and it currently looks like our GPIO context gets destroyed somewhere in the process at some point, which ends our `mraa_gpio_interrupt_handler()` loop (at least that's what I observe on Node 4.3.0 I was testing with today). It may be the same on 0.12.7, t

[2016-03-14 10:00] arfoll commented on #460
Hi Rick, the firmata stuff is a bit WIP so that's why there's no docs etc :) But let me try answer your questions.

1. Initially this is targeted at the the Arduino 101, realistically there's nothing board specific about what we're doing so it'll likely work on all although testing will likely be limited.
2. We actually want it to be easier than uploading anything with the IDE. We're creating some

[2016-03-14 10:01] arfoll commented on #457
This is weird seems we're not allowed to 'create' /usr/lib/node_modules. Honestly I have no idea, iin the meantime you may want to add `--force`.

[2016-03-14 14:43] rwaldron commented on #460
How is the correct version determined?

[2016-03-14 14:48] arfoll commented on #460
Correct version is currently simply flashing with what we have set in /etc/imraa.conf which will point to a binary sketch in /usr/share/mraa/. For now we're using a StandardFirmata sketch but we'll move to a sketch based on ConfigurableFirmata with the IMU plugin v.shortly.

[2016-03-14 14:50] rwaldron commented on #460
Can you give me a concrete example?

[2016-03-14 14:53] arfoll commented on #460
see examples/i2c_firmata.c in firmata branch, be essentially here's an example that reads the test byte from a bmp085 sensor over i2c.

[code]

[2016-03-14 15:10] rwaldron commented on #460
Thanks, I think I was having trouble understanding what subplatform meant in this context.

Re: the Firmata IMU plugin, I think there needs to be a "non-standard command" byte defined in the Firmata protocol, which you can use to safely implement any additional commands/responses.

cc'ing @soundanalogous

[2016-03-14 15:24] arfoll commented on #460
Indeed, this is what we have, i'll publish it this week.

[2016-03-14 16:11] soundanalogous commented on #460
Is this regarding the Arduino 101 on-board IMU?

[2016-03-14 16:13] arfoll commented on #460
@soundanalogous yes the byte we're using is
```#define CURIE_IMU (0x11)```

[2016-03-14 18:04] soundanalogous commented on #460
FYI I'm considering the use of 14bit IDs for devices: https://github.com/firmata/ConfigurableFirmata/issues/16#issuecomment-184387110

[2016-03-14 19:17] rwaldron opened #463 "Firmata: I2C read/continuous read have inconsistent signatures"
Firmata allows _optionally_ specifying a register to read from in both read and continuous read modes. [Presently, the following is true](https://github.com/intel-iot-devkit/mraa/blob/firmata/src/firmata/firmata_mraa.c#L119-L178):

- `mraa_firmata_send_i2c_read_req` doesn't accept a `register`
- `mraa_firmata_send_i2c_read_cont_req` does accept a `register`, but cannot be called without `register`

[2016-03-15 13:51] arfoll commented on #463
Yeah sure, the two functiosn are very much similar, no issues with that

[2016-03-15 20:43] Propanu opened #464 "Node: mraa.node installs under lib instead of lib64 on x64_86"
Node builds fail to suffix the lib folder on the install path for 64-bit builds. Should be an easy fix from cmake.

[2016-03-15 20:46] Propanu commented on #457
This is likely related to #464.

[2016-03-17 21:24] jancassio opened #468 "Incorrect version of swig detected after cmake command"
Hello,

I'm trying to compile mraa to use with nodejs but I can't because (I guess) the `cmake`routine found a incorrect version of `swig` installed in my system.

I'm 100% sure I'm using swig 3.0.8 in my Ubuntu image, for some reason the version found is 3.0.2 and the required is 3.0.5.

Below the full output:

[code]

Also, I tried to do the same step using branch `tocompile` without success.

T

[2016-03-17 21:27] arane4114 opened #469 "Error: Illegal arguments for construction of _exports_Uart"
Im working with the javascript [uart example](https://github.com/intel-iot-devkit/mraa/blob/master/examples/javascript/uart.js) its giving me the following error when I attempt to run it with node version v4.4.0 on an Edison. Ive run it as a normal user and as root.

/home/abi/tma-comms/mraa_test.js:4
u = new m.Uart(1)
Error: Illegal arguments for construction of _exports_Uart
    at Error (native

[2016-03-17 21:36] xbolshe commented on #468
So, /usr/bin/swig3.0 has a version 3.0.2.
May you execute "/usr/bin/swig3.0 -version" and post an output here?

And where is swig 3.0.8 installed?

BR,
xbolshe

[2016-03-17 21:43] jancassio commented on #468
I installed swig from the source, the location is:
`/usr/local/bin/swig`

At `/usr/bin` I found swig2.0 and swig3.0 (shame of me).

Can I change the swig path at make process? Or is better to move my latest swig to /usr/bin ?

[2016-03-17 21:50] xbolshe commented on #468
You may use any as you wish: setup SWIG_EXECUTABLE or move a file to /use/bin, change a prefix to /usr/bin during swig compilation.

BR,
xbolshe

[2016-03-17 21:57] jancassio commented on #468
I'll keep the latest one and remove others, seems fair enough.
Thank you!

[2016-03-17 21:57] #468 closed

[2016-03-17 22:18] xbolshe commented on #469
MRAA defines only one UART for Edison - Uart(0).

BR,
xbolshe

[2016-03-18 06:26] wouterds commented on #469
I have the exact same issue on Raspberry Pi (1) with Linux Jessie (it's occurring in a vendor lib that I'm using).

[2016-03-20 07:21] wda2945 opened #470 "Error handling"
Error handling in mraa needs work! Look at this:

`uint8_t
mraa_i2c_read_byte(mraa_i2c_context dev)
{
    if (IS_FUNC_DEFINED(dev, i2c_read_byte_replace))
        return dev->advance_func->i2c_read_byte_replace(dev);
    i2c_smbus_data_t d;
    if (mraa_i2c_smbus_access(dev->fh, I2C_SMBUS_READ, I2C_NOCMD, I2C_SMBUS_BYTE, &d) < 0) {
        syslog(LOG_ERR, "i2c: Failed to write");
        return 0;

[2016-03-20 09:16] arfoll commented on #470
Agreed, some of the types used try to be as simple as possible and sometimes end up being a bit confusing. The plan is to introduce functions that take a pointer for these causes. Use mraa_i2c_read_byte_data if you'd like an error message.

The reason the log always says that we failed to write is that in Linux using i2c-dev we don't know much more than that. It means we failed to write what we ex

[2016-03-20 09:16] arfoll commented on #469
Does this fix the issue?

[2016-03-20 22:30] alext-mkrs commented on #403
At the end of the day looks like the reason is more or less trivial. What we're seeing here is that our GPIO context is getting destroyed, just like I wrote previously. And it's the same on 0.12.7 and 4.3.0, just pops up at sligthly different stages of the mraa GPIO interrupt handing chain.

The actual reason is that in the example script you're using as a base for your program (and I used as a re

[2016-03-21 00:25] wda2945 commented on #470
Hi Brendan,
Thanks for the response.

It's not just "a bit confusing" it's bad practice. Out-of-band error signaling is fundamental to good programming practice. The libc low-level io primitives, for example, like read and write used a signed type (ssize_t) so they can provide an out of band error return. It's virtually a standard. And who wants to perform an io operation and not get an error mess

[2016-03-21 10:46] arfoll commented on #470
I get your point and thanks for reporting on this - after the FIrmata stuff has quietened down a bit I'll queue these changes up. We're actually planning a minor API break for 1.0 so I'll get these fixed. In the meantime, feel free to submit patches in the mraa-ng branch. I'll try get syslog output to be a little more helpful.

More suggestions are more than welcome.

[2016-03-21 20:00] rwaldron commented on #463
I'm not sure how to resolve this. I tried using the approach I explained above, but the current compiler and configuration disallow that form of function overload definition. Any ideas how I should proceed to get around that?

My second approach was an attempt to use stdarg, but that was quickly abandoned.

[2016-03-21 20:14] arfoll commented on #463
Ok so I got the wrong end of the stick. Continuous read is not at all what I'd assumed it was, it's very much a firmata thing (https://github.com/firmata/protocol/blob/master/i2c.md). So for now I'll change it to a standard read all the time.

If we want to do something like that it'll have to be done via firmata sysex calls, or something similar To be fair I need to work out how to get those APIs

[2016-03-21 20:55] rwaldron commented on #463
Ok, but there is still the issue that `mraa_firmata_send_i2c_read_req` requires a register (it's called `command` here), but a register is optional.

Also, just to illuminate on continuous reads: I2C continuous read is actually the exact same semantics as digital and analog reporting, ie: "send a request once, which results in a read and report on every sample interval until told to stop" (https:/

[2016-03-22 07:23] wda2945 opened #474 "Edison Miniboard config is missing a uart"
The edison miniboard provides two uarts at its expansion pins but only one is configured in intel_edison_fab_c.c

It needs something like the following:

[code]

[2016-03-22 18:35] arfoll commented on #474
possibly, I think there was a reason for us not having that as a default option, for now just use the mraa_uart_init_raw() option. I'll check tommorow on a board why it's not enabled in the config.

[2016-03-23 00:28] arane4114 commented on #469
I uninstalled and completed from source. The issue persists with u = new m.Uart(0), but works with u = new m.Uart('/dev/ttyMFD1'). Im getting garbage from the reads, but I suspect thats an issue with my settings/electrical not so much MRAA.

[2016-03-23 00:30] arane4114 commented on #469
The example provided in the node js docs for setting the mode of UART won't compile. Specifically it states that UART_PARITY_NONE isn't defined.

[2016-03-23 13:56] sonofaforester commented on #403
Thanks for working on this! I'm sorry it was sort of a red herring.

[2016-03-23 17:06] Propanu commented on #433
Awesome, thanks everyone for the quick turnaround!

[2016-03-23 17:06] #433 closed

[2016-03-24 20:15] xbolshe opened #478 "MRAA_ERROR_PLATFORM_ALREADY_INITIALISED"
DEBUG: Executing shell function do_compile
| -- The C compiler identification is GNU 4.9.1
| -- Check for working C compiler: /sde/r1.2.0/iot_1.2.0_kernel_3.19.8/build/tmp/sysroots/x86_64-linux/usr/bin/i586-poky-linux/i586-poky-linux-gcc
| -- Check for working C compiler: /sde/r1.2.0/iot_1.2.0_kernel_3.19.8/build/tmp/sysroots/x86_64-linux/usr/bin/i586-poky-linux/i586-poky-linux-gcc -- works
| -- D