[2014-07-03 03:14] lawliet004 opened #1 "failed to build mraa"
hello, I am confused when I build the mraa library. I just follow the step as the building.md said, it is like follow:

[code]

But error occurs when doing make task, like follow:

[code]

It seems that swig does not support parameter -javascript & -node, how to resolve this problem?

[2014-07-03 08:40] #1 closed, assigned to arfoll

[2014-08-08 17:26] rwaldron opened #2 "Instructions for installing on Gen 1 and Gen 2?"
Are there any straight forward, step-by-step instructions for getting mraa onto either/both Gen 1 or Gen 2 boards?

[2014-08-08 17:28] rwaldron opened #3 "make error: unknown type name 'pthread_t'"
I'm trying to build mraa, all build commands works correctly until `make`:

[code]

Mac, OSX 10.9.4 with dev tools installed.

[2014-08-09 21:03] #3 closed, assigned to nobody

[2014-09-02 18:46] #2 closed, assigned to nobody

[2014-09-04 17:17] MustafaFayez opened #8 "can't find libmraa.so.0 in the default installation path!"
1-First, I cloned your repo then CMake and make as you illustrated here:
https://github.com/intel-iot-devkit/mraa/blob/master/docs/building.md
and i didn't found libmraa.so.0 in /src/local/lib.

2-I installed the package as here:
https://github.com/intel-iot-devkit/mraa#installing-on-your-board
but i couldn't find where the installed lib is.

3-Finally, I am doing this because I am trying to link

[2014-09-04 17:28] #8 closed, assigned to arfoll

[2014-09-19 20:20] rwaldron opened #9 "Add ability to silence `fprintf` debugging messages"
There needs to be a "silent" mode or some mechanism to shut off debugging messages that are produced by mraa.

[2014-10-03 18:05] #9 closed, assigned to arfoll

[2014-10-03 18:06] arfoll opened #10 "Support edison minibreakout board"
Currently only the arduino breakout board is working with libmraa, this is a bug to track this issue.

[2014-10-06 19:16] wallaroo opened #11 "Node.js Gpio.dir() crash"
in my hello world project (xdk onboard led blink template) in node.js the program exits without writing any log when trying to execute

[code]

mraa version : v0.5.0-17-g2b5e38b
device : Intel Edison

[2014-10-07 18:24] #11 closed, assigned to nobody

[2014-10-08 17:05] #10 closed, assigned to nobody

[2014-10-11 00:46] rwaldron opened #12 "~"

[2014-10-11 15:14] #12 closed, assigned to nobody

[2014-10-12 16:05] rwaldron opened #13 "I2C: Frequent, but inconsistent write failures, reporting MRAA_ERROR_INVALID_HANDLE"
I've been encountering `MRAA_ERROR_INVALID_HANDLE` failures with every I2C device I try. The result is inconsistent: sometimes a write will fail, sometimes it won't. Sometimes writes just fail completely and that inevitably leads to a seg fault. What are the conditions that could cause this? I followed the call graph back to `ioctl()`, but that's as far as I've gotten to this point.

[2014-10-13 20:13] #13 closed, assigned to nobody

[2014-10-15 00:44] versamodule opened #14 "mraa_spi_bit_per_word, Does not have any affect"
Changing the bits parameter in mraa_spi_bit_per_word, does not change bytes written out.
They still are sent out as 8-bit. tried on Intel breakout board.
Code used to try it as follows.

int main (void)
{
    mraa_spi_context spi;

[code]

}

[2014-10-15 19:34] ovicin opened #15 "python aio.py segmentation fault on the edison minibreakout board"
When trying to execute the aio.py example on Edison I get the following:
v0.5.0-25-g5e20a1c
Segmentation fault

The minibreakout board doesn´t have the ADC converter but the segmentation fault doesn´t looks like a normal behaviour.

The same happened with i2c_HMC5883.py and rgblcd.py

[2014-10-16 17:39] #15 closed, assigned to arfoll

[2014-10-18 16:40] KurtE opened #17 "Add mraa_spi_transfer_buf"
Most of this comes from a thread on the Intel forum: https://communities.intel.com/thread/56112

I have been playing around with Adafruit 2.8" tft display which uses SPI with an ILI9341 Controller chip.  I have now my own versions of the Adafruit_ILI9341 library ported over to run on the Intel Edison.  I have an Arduino version, and I have the version I am playing with now that runs under Linux an

[2014-10-19 08:12] #17 closed, assigned to arfoll

[2014-10-19 08:14] arfoll opened #18 "uart on edison arduino breakout (and miniboard) cannot be set"
@KurtE correctly discovered we don't support uart setup on edison. First step is to not crash on uart creation if not supported in board definition and next step is to make it work :). See @KurtE's branch for a rudimentary fix.

[2014-10-19 15:30] #18 closed, assigned to tingleby

[2014-10-20 17:13] KurtE opened #19 "mraa_uart_init still not working"
I am actually in the process of debugging the MRAA code now.  Before I thought that it was properly setting up the UART, but I think I was mistaken.  It was sort of working before for me as I had previously run an Arduino sketch to test it out, which pre-init the IO pins.  I rebooted but forgot to remove the sketch program which restarted and reinit the stuff.

When tracing through the Arduino ini

[2014-10-20 18:13] #19 closed, assigned to tingleby

[2014-10-21 23:17] rwaldron opened #20 "[Galileo gen2] Analog pin defect?"
With nothing attached to the analog pins:

Test:
[code]
Result:
[code]

Test:
[code]

Result:
[code]

Disregarding the line noise, A1 is obviously experiencing some issue and I'm not sure how to find it. This may not even be an mraa issue, but I don't know where else to report.

_edit_

If I put a jumper across 5V and A1, the value is a nice 1023.

[2014-10-22 20:09] #14 closed, assigned to arfoll

[2014-10-23 01:55] masa-a opened #21 "PWM is not working on Edison"
I tested the PWM sample on XDK IoT Edition by Edison on Arduino Expansion Board but it seems that PWM is not working well.
It actually create pulses but the duty cycle couldn't be configured by MRAA.
The duty cycle looks always almost 0.

At first, I haven't changed the sample code at all but didn't work so please refer the sample.
Strangely, it seems that only period could be configured.

[2014-10-23 15:04] versamodule opened #22 "[Edison] mraa_spi_lsbmode Does not have any affect"
using mraa_spi_lsbmode(spi,0) or mraa_spi_lsbmode(spi,1) does not have any affect on how data is sent.

also, the function for it could be trimmed up a bit by getting rid of the first if statement. to this:

mraa_result_t
mraa_spi_lsbmode(mraa_spi_context dev, mraa_boolean_t lsb)
{
    uint8_t lsb_mode = (uint8_t) lsb
...

[2014-10-29 05:11] ReidCarlberg opened #23 "Basic Blink Fails - Javascript / Edison / Arduino Board"
Hi, I'm getting a failure when I do a basic sample program.
mraa is installed via the opkg instructions.

This code:
var m = require('mraa');
console.log(m.getVersion());
var led = new m.Gpio(8);

Gets me:
v0.5.1-18-ge5c3e49
Segmentation fault

Same happens in Python.

When I modify the pin:
var m = require('mraa');
console.log(m.getVersion());
var led = new m.Gpio(13);

I get this:
/home/reid/bli

[2014-10-29 21:40] #23 closed, assigned to nobody

[2014-10-30 00:25] versamodule opened #26 "[Edison] Writing spi in odd bytes causes Edison to go into limbo land"
When using SPI in 16 bit mode, and you want to send say 3 bytes you would use
mraa_spi_write_buf(spi,3);

If you do this the Edison becomes non responsive. On the scope it just blasts a bunch of data out for a while then quits. The terminal even becomes non responsive. In playing with this I have tried sending 1,3,5,7,9 bytes and they all do the same. Only even numbers work.

[2014-10-30 14:14] KurtE opened #27 "Edison mraa_gpio_write is a lot slower than digitalWrite"
I was doing some testing of the mraa_gpio_write to see the speed of it and it currently is a lot slower than doing digitalWrite in the Arduino environment.  Something in the order of 19us versus .4us
More details with test cases and logic analyzer output up on the thread:
https://communities.intel.com/thread/56516

Note: looking through Arduino code, it is using a fast GPIO interface to the PCI de

[2014-10-31 04:57] masa-a opened #30 "Value range of I2C writing by script languages"
It seems that the write function of I2C object accept a value only if the value is less than 128 due to the argument type of write function is not unsigned char but char.
For example, the following code gives an error.

[code]

Is this an expected behavior? Do I need to use twos complement or something?

[2014-11-05 11:20] mmccool opened #31 "Grove LCD display does not display text on Edison"
The "Grove-LCD RGB Backlight v2.0" Node.js example code given at
https://software.intel.com/en-us/iot/sensor/grove-lcd-rgb-backlight
does not work on Edison (I have not tested on Galileo).

Specifically, the backlight color can be changed, but no text can be displayed on the LCD (these functions are apparently controlled by two different devices at different I2C addresses).

I tried with two separ

[2014-11-05 11:46] #31 closed, assigned to arfoll

[2014-11-05 11:51] #30 closed, assigned to arfoll

[2014-11-05 11:52] arfoll opened #32 "[API] Aio module could do with function that returns normalised 0.0f-1.0f float"

[2014-11-06 15:56] arfoll opened #35 "mraa_get_platform_name() call"
libmraa should just provide, eg mraa_get_platform_name() would need to pass a char\* pointer in C API and return an std:string in object API. See discusion on #34.

[2014-11-16 03:02] xthunderheartx opened #36 "uart not properly mapped for revg"
Calls to mraa_uart_init() return NULL on GEN2.  I believe it is because the uart array in the instance of mraa_board_t is not properly initialized in intel_galileo_rev_g.c->mraa_intel_galileo_gen2().  In fact it isn't initialized at all.  For the GEN1 board, intel_galileo_rev_d.c->mraa_intel_galileo_rev_d() contains the following code at the very bottom of the routine:

[code]

I couldn't find any

[2014-11-17 16:00] KurtE opened #37 "Intel Breakout board - pin defined wrong"
I believe that this definition is wrong for the breakout board:

[code]

I believe the 182 is supposed to be 183

[2014-11-17 16:07] #37 closed, assigned to nobody

[2014-11-17 17:47] #27 closed, assigned to tingleby

[2014-11-18 08:22] arfoll opened #38 "minnowboard max support"
Being worked on in github.com/whbruce/mraa. Will support calamary lure and low speed expansion header

[2014-11-19 22:04] Sorbier opened #39 "mraa_uart_init is failing on Edison Breakout Board"
It seems that mraa_uart_init is always returning  NULL, as tristate is NULL.

[code]

Apparently,  mraa_uart_init  NULL value is coming from mraa_gpio_write, as dev=tristate=NULL

[2014-11-20 14:51] #39 closed, assigned to tingleby

[2014-11-20 15:01] #36 closed, assigned to tingleby

[2014-11-20 15:10] #38 closed, assigned to arfoll

[2014-11-20 20:33] arfoll opened #40 "pinmapping for arduino boards needs to be clear"

[2014-11-21 11:08] arfoll opened #41 "mraa rpi support"
rpi support currently being dev'd in 'arch' branch

[2014-11-21 12:01] #40 closed, assigned to arfoll

[2014-11-21 16:22] arfoll opened #42 "gpio isr on pin2 & 3 on galileo gen1 is unreliable"

[2014-11-23 16:52] AdamMagaluk opened #44 "Support installation from NPM for Nodejs"
Currently installing mraa Nodejs requires installing from `opkg`, this is normal for c++ libraries but rarely in the Nodejs community. In the Nodejs community dependencies are handled through the [npm](https://npmjs.org) package management system, which does support native modules.

I would like help with this anyway possible. I currently have a module [mraa-js](https://github.com/AdamMagaluk/mraa

[2014-11-25 15:36] #42 closed, assigned to arfoll

[2014-11-26 00:13] KurtE opened #45 "mraa_i2c_read_word_data only returns a byte..."
If you look at this function in i2c.c
You will see:
    return 0xFFFF & d.byte;

I believe it should be:
    return 0xFFFF & d.word;

Note: in my case with playing with the I2C Compass does not help me as this assumes: LSB, MSB, but the compass data is MSB, LSB...

[2014-11-26 07:53] #45 closed, assigned to arfoll

[2014-11-26 15:17] #35 closed, assigned to nobody

[2014-12-01 11:57] ddnionio opened #49 "[Edison Arduino] mraa(for js) fail after press "reset" button in Edison/Arduino"
when i press the reset button (SW1u15) on edison arduino board, the system will reboot and then the mraa fails. (type reboot in yocto or press power button on board are both fine to mraa, only press reset will result in failure)

the blink example can not "blink" the led, sometimes the error message is as follows
Failed to write to export
Intel Edison Failed to initialise Arduino board TriState,

[2014-12-02 10:59] #21 closed, assigned to nobody

[2014-12-02 13:35] #44 closed, assigned to nobody

[2014-12-02 21:56] rwaldron opened #52 "[Edison Arduino] Illegal arguments for construction of _exports_Pwm on IO 10/11 (PWM swizzler)"
Environment:

[code]

Error:
[code]

(blurr => edison)

[2014-12-05 21:20] KurtE opened #53 "mraa_gpio_dir performance when switching back and forth from input/output..."
I have been playing around some with a Parallax ping sensor and you current performance makes it unusable on Edison Arduino board (will be doing testing with mini as well).
More details currently up on the Edison thread: https://communities.intel.com/thread/57568

A ping sensor works, by doing a quick pulse on a pin and then switch the pulse to input and wait for the device to give you a pulse bac

[2014-12-06 23:06] arfoll opened #55 "edison platform config init lives in fantasy ideal world"
plenty of uncleaned handles etc never been cleaned properly. Code needs a nice big cleanup.

[2014-12-08 13:30] #55 closed, assigned to arfoll

[2014-12-09 05:03] yoneken opened #58 "Error: Unknown SWIG preprocessor directive @SWIG3.0.3"
In swig 3.0.3, it seems to be [changed a preprocessor directive of Comments](http://www.swig.org/Doc3.0/SWIGDocumentation.html#SWIG_nn5).

alva@ubilinux:~/work/mraa/build$ make -j2
[  1%] Swig source
[ 23%] Built target mraa
[ 25%] Swig source
/home/alva/work/mraa/src/javascript/../mraa.i:48: Error: Unknown SWIG preprocessor directive:
/home/alva/work/mraa/src/javascript/../mraa.i:52: Error: Unkno

[2014-12-09 15:20] #41 closed, assigned to nobody

[2014-12-09 15:23] arfoll opened #59 "[API] Buffered IIO reads for ADC"
Instead of hardcoding an IIO file for the ADC we should really iterate on the IIO devices of type ADC and then use that. Secondly it should be possible to ask for a number of AIO reads instead of one read.

[2014-12-09 15:24] arfoll opened #60 "[deb] mraa deb pkg"
We should support the making of a deb pkg for submission into debian repos.

[2014-12-09 15:26] arfoll opened #61 "[API] Support writing on SPI bus in anything other than 8bit"

[2014-12-09 15:29] arfoll opened #62 "i2c bus frequency switching from userspace"

[2014-12-09 15:31] arfoll opened #63 "[API] Add possibility to get raw GPIO number from mraa_gpio_context"

[2014-12-09 22:53] arfoll opened #64 "mraa_init() should be more verbose"
mraa_init() should at least print username instead of 'user 0', complain about inadecate permissions and print the platform name instead of the enum value.

[2014-12-09 22:55] arfoll opened #65 "[SWIG] mraa_init() runs twice on SWIG'd builds"
Whilst harmless this is a bit dumb. Unclear what is causing this - again. I guess the DEFINES don't work as they should which requires investigation. At least verified for nodejs build from jenkins using cpack.

[2014-12-09 23:45] arfoll opened #66 "On older (ww42 & less) edison (arduino) GPIO (13 & others) seems broken"
See: https://communities.intel.com/thread/57877?sr=stream&ru=167828

It sounds to me like non mmape'd fallback is failing or that magic PCIe string is not working.

[2014-12-11 09:24] #58 closed, assigned to arfoll

[2014-12-11 14:52] #66 closed, assigned to arfoll

[2014-12-12 20:19] mhirst1960 opened #67 "SPI MOSI initialization is messed up on Galileo Gen2"
There are typos in intel_galileo_rev_g.c related to pins[11].spi causing SPI MOSI to be incorrect.

This is what it is:

 b->pins[11].spi.mux_total = 3;
b->pins[11].spi.mux[0].pin = 72;
b->pins[11].spi.mux[0].value = 0;
b->pins[11].spi.mux[1].pin = 44;
b->pins[11].spi.mux[2].value = 1;
b->pins[11].pwm.mux[2].pin = 24;
b->pins[11].pwm.mux[2].value = 0;

I believe the correct configuration should be

[2014-12-12 20:40] #67 closed, assigned to nobody

[2014-12-14 02:00] rwaldron opened #68 "[gen2] Initializing Gpio instances appears broken"
[code]

Not sure what caused this regression, but it was reported to me by Johnny-Five users who don't understand low level fail like this.

[2014-12-15 03:35] cobookman opened #69 "[API] Javascript Syntax improvement"
Instead of:
`var myLed = new m.Gpio(﻿36);`

Could it be written as:
`var myLed = new m.Gpio(m.EDISON.GP14);`

Having to read a lookup table becomes troublesome for new users.

[2014-12-15 09:19] miyamoto-daisuke opened #70 "Mraa have an error on decision of current board type"
I use Intel Edison Kit for Arduino.

[code]

When I execute `require("mraa").getVersion();`, it outputs following logs in journal:

[code]

I use _not_ breakout board (= Miniboard) but arduino board.
But mraa confuse that the current board is breakout board, doesn't it?

[2014-12-15 11:41] #70 closed, assigned to nobody

[2014-12-15 11:53] #68 closed, assigned to nobody

[2014-12-16 20:39] #64 closed, assigned to nobody

[2014-12-17 22:22] michael-ring opened #74 "Output of mraa_pin_mode_test looks strange on Intel Edison"
I am porting mraa to freepascal, I am doing some small test-apps, one app displays the pin and the capabilities of the pin with a call to mraa_pin_mode.

The result looks a little strange, Fast GPIO is always 0 and UART is also 0; 12 pins are marked as AIO capable.
When I look at the board structure then gpio_count is 14 but all 20 pins are gpio capable. Same with AIO, 6 in aio_count and 12 when I

[2014-12-18 14:33] #74 closed, assigned to arfoll

[2014-12-18 14:56] michael-ring opened #75 "[API] Please expose 'plat' struct with an api call"
the plat struct contains helpful information and the struct is part of the exposed headers but it is only accessible as an export, it would be a little nicer to be able to access the content with an api call like the other structs.

[2014-12-22 11:03] yoneken opened #77 "Pwm period, is it correct?"
When I set a pwm period at 20[ms].
Then, the actual period seems to 21.8[ms].
Is this a hardware issue or something??

[Here is a video](https://twitter.com/k_yone/status/546983375563948033).

[code]

[2014-12-22 11:27] #77 closed, assigned to nobody

[2014-12-22 12:47] michael-ring opened #78 "[BBB] Port to Beaglebone Black"
Hi,

is anybody already working on a port for the Beaglebone Black?

If yes, fine, if no then I would like to (try to) do the port.

[2014-12-22 17:29] arfoll opened #79 "[npm] non x86 NPM builds don't work"
Because of the structure change the binding.gyp file generated by `make npmpkg` only works for x86. This needs to get fixed, requires a bit of thinking since that would require setting the src macros and then deciding which to use, meaning we can do the same in the gyp build system that is generated.

[2014-12-23 08:44] arfoll opened #80 "[API] Add high & low to direction enum in mraa_gpio_dir"
@KurtE in https://communities.intel.com/thread/58176?sr=inbox&ru=161660

Something I wonder about maybe handling in MRAA is that in the mraa_gpio_dir call for the MRAA pin associated with GPIO182 (mini board MRAA pin 0),

In that call you open the file: /sys/class/gpio/gpio182/direction

and you either write in or out to this file to set the actual direction, but I have seen examples (actually in

[2014-12-23 15:24] sajingeo opened #81 "[API] I2C repeated start"
I was trying to implement a I2C Repeated start for a sensor, is there a way around it or is it a feature.

http://www.i2c-bus.org/repeated-start-condition/

[2014-12-23 16:07] #53 closed, assigned to nobody

[2014-12-26 09:30] IoTboy opened #82 "edison - spi read error"
Issue reading from spi returns  a copy of the content of the write buffer in the read buffer, though the data on receive line is different.

Please refer https://software.intel.com/en-us/forums/topic/537676 for more info.

[2014-12-31 01:50] Jon-ICS opened #84 "[API] allow querying mraa for UART device path"
When using a uart in mraa, it would be nice if there was a method to retrieve the proper tty device path for the given uart.

On Galileo 2, an mraa_uart_init(0), makes /dev/ttyS0 available for accessing the device.  On the Edison, the same call seems to enable /dev/ttyMFD1.  It would be nice if, after calling mraa_uart_init(), one could then get the correct device path to access the device, via so

[2014-12-31 04:24] geisbruch opened #85 "Basic blink example doesn't work"
Hi,
 I have some issues trying to start with mraa (I don't know if it's the best place to put it)

I am using mraa version v0.5.4-46-g74d172c into intel edison version 16 (as configure_edison said the last version)

When I try to run the node.js BlinkExample the led doesn't blink, the same with the python example, however if do the same blink effect with the arduino interface (I did it after test

[2014-12-31 12:14] #85 closed, assigned to nobody

[2015-01-05 14:49] arfoll commented on #62
implemented for i2c-6 if i2c debug is enabled.

[2015-01-05 14:49] #62 closed

[2015-01-05 22:39] michael-ring opened #86 "break missing in mraa.c - mraa_pin_mode_test"
I found out that a break before the default case is missing in mraa_pin_mode_test.

The result of this bug is that I get a log entry in syslog even though all is OK:

Jan  5 23:22:36 beaglebone libmraa[2380]: requested pinmode invalid

adding a break statement fixes that:

ring@beaglebone:~/devel/mraa/src$ git diff mraa.c
diff --git a/src/mraa.c b/src/mraa.c
index 70be118..3b4bc34 100644
--- a/src

[2015-01-05 23:06] #86 closed

[2015-01-05 23:06] arfoll commented on #86
Thanks alot for reporting @michael-ring!

[2015-01-05 23:18] KurtE commented on #80
I did a minimalist fix for this, which simply added two new directions you can pass into mraa_gpio_dir.
the above values: The current stuff is checked in at:
https://github.com/KurtE/mraa/tree/gpio_in_out

This may be sufficient.  Did a simple test program on my mini-breakout board where first I did it the two step method and then did it with the new values.  I had a GPIO pin MRAA 14 go to breadbo

[2015-01-06 17:22] KurtE commented on #82
Not enough information here to look at. Like what arfoll mentioned.  No code fragment to look at?
Is it related to this thread? https://communities.intel.com/thread/58728

[2015-01-07 20:13] jamidwyer opened #88 "Illegal arguments for construction of _exports_Gpio Edison on mini breakout with NodeJS"
Basic blink code gives me this error:
MRAA Version: v0.5.4-64-g3efb7a0

/home/root/b.js:13
var myLed = new m.Gpio(12);
            ^
Error: Illegal arguments for construction of _exports_Gpio
    at Object.<anonymous> (/home/root/b.js:13:13)
    at Module._compile (module.js:456:26)
    at Object.Module._extensions..js (module.js:474:10)
    at Module.load (module.js:356:32)
    at Function.Module

[2015-01-07 20:24] arfoll commented on #88
The other issue is very different. Gpio12 isn't a valid pin check our pin table - https://github.com/intel-iot-devkit/mraa/blob/master/docs/edison.md. Not sure what you meant maybe J17-12 which would be pin11? Please check the output on syslog using `journalctl -f` whilst running your code.

Please close if fixed.

[2015-01-07 20:35] jamidwyer commented on #88
Well how about that. I must be reading the GPIO to pin conversion chart wrong. Thank you for such quick help!

[2015-01-07 20:35] #88 closed

[2015-01-07 20:42] jamidwyer commented on #88
Nothing wrong with the chart at all -- don't know where I got the idea that J18 pin 2 was GPIO 12. Thanks again.

[2015-01-07 20:50] arfoll commented on #88
J is the 10th letter in the alphabet + 2? :)

Have fun using your Edison board! Please excuse our hardware guys who
decided labelling pads with numbers was too obvious :/

We do have an enum I recently added to try make it easier:
https://github.com/intel-iot-devkit/mraa/blob/master/api/mraa/types.h#L64
So it should work from node wihtout the MRAA_ prefix.
On 7 Jan 2015 20:43, "jamidwyer" <notific

[2015-01-08 20:54] fduignan opened #89 "mraa problem with Galileo Gen 2 and IOT Dev kit image"
There seems to be a problem using mraa with python on the Gen 2 Galileo board
Intel IoT Development Kit Version 1.1
Kernel version: Linux quark017f89 3.8.7-yocto-standard #1 Wed Sep 3 10:41:56 BST 2014 i586 GNU/Linux
mraa version: v0.5.4-64-g3efb7a0
Sample python code:

import mraa as m
spi_test = m.Spi(0)

Python returns error:
Traceback (most recent call last):
  File "<stdin>", line 1, in <modu

[2015-01-09 16:08] tingleby commented on #89
Confirmed. Investigating.

[2015-01-09 16:45] #89 closed

[2015-01-09 23:14] sajingeo commented on #81
I looked at the i2c-dev that is being used, I don't think i2c-dev supports mixed transactions. We will have to use an i2c_msg struct to support repeated start, does it make sense? or is there a software I2C (bit banging) that would be easier to implement/ port.

[2015-01-11 01:36] Fleker opened #91 "[API] PWM should disable pin when 0 is written"
If one writes 0 to a PWM pin, it should automatically disable that pin.

    var pin = new mraa.Pwm(pin, -1, false);
    pin.enable(false) // Should be called if PWM is 0.

I'm working with some LEDs and they keep showing through even when they have a value of 0. They only stop working when manually disabled.

Also, the Node.js API is poorly documented. I'm not too sure what each part of the const

[2015-01-11 09:16] arfoll opened #92 "[doc] Publish mraa jsdoc docs"
Publish the static mraa jsdocs

[2015-01-11 09:17] arfoll opened #93 "[API] mraa:Pwm() should have owner prop before chipid/raw prop"

[2015-01-11 09:20] arfoll commented on #91
Hi @Fleker, try the C++ API docs - http://iotdk.intel.com/docs/master/mraa/classmraa_1_1_pwm.html#a234a0b528c55d2157de74abf4b38daa8 for the argument description.

You should really only be providing the first constructor parameter unless you understand what owner/chipid means. Note those two args will likely get switched around since 'owner' is a prop people will want to set on a non raw pwm objec

[2015-01-12 09:07] arfoll commented on #82
Closed due to lack of information.

[2015-01-12 09:07] #82 closed

[2015-01-12 09:08] arfoll commented on #69
Done, see new types.h enums.

[2015-01-12 09:08] #69 closed

[2015-01-12 15:36] tingleby commented on #80
I plan on pulling this into the mainline in the next few days. Your comments around if a replace hook does not implement the HIGH and LOW aspects of the switch-cast statement don't worry me too much. As long as the default case is present.

[2015-01-12 18:16] KurtE commented on #80
Sounds good.  I only tested it on the Edison, but my assumption is the same thing will work on Galileo as in both cases in the Arduino IDE core sources, sysfs.c uses the values "high" or "low" when switching IO pin directions to output.

[2015-01-14 00:21] sajingeo commented on #81
Hi, I have a temporary fix here https://github.com/sajingeo/i2crw and I have verified it works :) we still need to integrate it to MRAA.

[2015-01-14 10:14] arfoll commented on #81
Thanks that's really helpful, question is do we want to support just a simple Rx/Tx buf combination or do we want to be more flexible and let users construct their own i2c_msg? The first should be fairly easy, the second is much more complicated (especially when it comes to exposing this via SWIG).

[2015-01-14 12:02] #93 closed

[2015-01-14 14:24] arfoll opened #96 "[mmax] blink_onboard requires calamary lure but doesn't mention it"
blink_onboard on mmax expects an LED on pin 21 and tells you to press S1 without explaining this is on the calamari lure not an LED on the mmax itself and if the user presses SW1 it will shut the board down. Whilst a fun 'first' experience with mraa not the one we encourage :).

[2015-01-16 13:40] arfoll opened #97 "[SWIG] javascript module builds broken with SWIG 3.0.4"

[2015-01-16 13:41] arfoll commented on #97
[ 49%] Swig source
swig: DOH/base.c:36: DohDelete: Assertion `0' failed.
/bin/sh: line 1: 25735 Aborted                 (core dumped) /usr/bin/swig -javascript -node -I/home/brendan/git/mraa/build/src -outdir /home/brendan/git/mraa/build/src/javascript -c++ -I/usr/include -I/home/brendan/git/mraa/api -I/home/brendan/git/mraa/api/mraa -I/home/brendan/git/mraa/include -I/usr/include/src -I/usr/inclu

[2015-01-16 13:45] #97 closed

[2015-01-19 11:28] arfoll opened #98 "mraa should print version to syslog in init stages"

[2015-01-19 11:30] arfoll opened #99 "galileo gen1 initalisation is treated as 'error'"
There is no 'correct' gen1 initialisation anymore meaning we print an error message even if it isn't the case.

https://github.com/intel-iot-devkit/mraa/blob/master/src/x86/x86.c#L63

[2015-01-20 10:46] arfoll commented on #80
Closed with #100.

[2015-01-20 10:46] #80 closed

[2015-01-20 16:08] #84 closed

[2015-01-20 18:33] #63 closed

[2015-01-20 23:45] arfoll opened #102 "d.ts header for libmraa"
As discussed in #101 by @barais it would be great to provide a typeface d.ts header to libmraa.

[2015-01-20 23:51] #96 closed

[2015-01-21 15:12] tingleby commented on #75
There is going to be get_pin_count() exposed. This combined with existing/future functions it will be possible to determine board information.

[2015-01-21 15:13] #75 closed

[2015-01-21 22:00] barais commented on #102
Ok I just release here the d.ts generator from hpp header

https://github.com/HEADS-project/mraa_hpp2ts_generator

I you disagree with the mapping of type you just have to change that file.

https://github.com/HEADS-project/mraa_hpp2ts_generator/blob/master/src/main/java/eu/heads/project/ts/HPPSourceParser.java#L61

[2015-01-24 19:07] rwaldron opened #104 "Questions about pin map table"
In the table https://github.com/intel-iot-devkit/mraa/blob/master/docs/edison.md#intelr-breakout-board, what do the following mean:

1. "NC"
2. "Nothing from mraa"

[2015-01-24 19:35] tingleby commented on #104
https://communities.intel.com/docs/DOC-23252
NC = No Connect

Nothing from mraa was just a perhaps badly worded status saying mraa has nothing todo with that pin other than it being aware its there for padding.

[2015-01-24 19:35] #104 closed

[2015-01-24 22:08] rwaldron commented on #104
Thanks!

[2015-01-25 01:20] eschaton opened #105 "Don't check for root at initialization"
Right now it looks like `libmraa` checks whether it's in a process with effective uid 0 at initialization. In order to implement least-privilege access control, I'd like to restrict access to I/O managed by `libmraa` to just members of a specific group.

It really shouldn't be `libmraa`'s job to perform this check, especially pre-emptively. Since this check was probably added to help troubleshooti

[2015-01-25 13:54] alext-mkrs commented on #105
@arfoll, @tingleby I'd be curious to have your opinion here gentlemen, but my personal understanding is that it's currently not feasible to run mraa as non-EUID 0, because that would mean a lot of messing up with [at least] permissions on GPIO files for the user. That's why we've added it in the first place.

[2015-01-25 14:02] tingleby commented on #105
I was under the impression that it it wouldn't be possible to setup permissions under the sysfs to use gpio for non root users to write into it.
There would be more luck in the modules that use /dev/ (i2c/spi) to run as non root with permissions set.

[2015-01-25 14:57] alext-mkrs commented on #105
Right, that's what I had in mind as well. So @eschaton it looks like it's simply not possible to do that.

If you have any specific scenario in mind, please share and let's see if something could be done here and generalized for the benefit of more use cases.

[2015-01-25 15:04] alext-mkrs commented on #99
Just to make sure I understand the intent - we simply don't want to log this a namely error (but e.g. notice) or we want to change the init logic and e.g. stop using Gen1 clause as a fallback?

Feel free to assign this one to me, BTW - I'll drive it to closure.

[2015-01-25 15:27] arfoll commented on #105
@eschaton I agree it's not really our job, we do it because it makes our debugging life much easier :) I guess it should just log it as a warning and see how far we can go. But I'd be really interested in how you can setup your system to handle not running as root, could you detail that so we can maybe document it for our users?

@tingleby that's not entirely true, AFAIK you can chown/chmod sysfs

[2015-01-25 15:31] arfoll commented on #102
That is quite cool, however I feel it's too complicated to add to our build system. How about I add this to our CI system so every time we make a new build it generates a d.ts file and uploads it somewhere so people can grab it?

The mapping of types still seems a bit off, I'm not too sure how your program works but uint8_t pointers should get mapped to a node_buffer which I'm not sure is supporte

[2015-01-25 15:43] tingleby commented on #105
@arfoll Yes making it a bit dodgy. What I would be afraid of would be users with permissions twiddling a gpio that shouldn't be touched. Ones that could reset/damage a system.

[2015-01-25 17:27] alext-mkrs commented on #49
Looks like I'm observing something very similar right now on my board, however it's not related to the Reset button (i.e. happens if I `reboot` or power it off as well).

And looks like it fails at testing whether it's an Arduino expansion board (it actually is) by trying to initialize GPIO 214 and I see this check is there for quite a while in the code, so it must work. There also were no changes

[2015-01-25 17:32] arfoll commented on #99
@alext-mkrs gen1 as fallback is ok I think, I dont have a better idea for now so I don't want to change the behaviour for now.

The issue is that there there should be an `else if (strncasecmp(line, "Galileo", x)` and then the default should do the same but also log an error. Does that make sense?

[2015-01-25 17:46] alext-mkrs commented on #99
Yep, it does, thanks. Let me implement that.

[2015-01-26 13:16] dreamkeep commented on #39
Hi Sorbier
    How can I usr ioctl() function to get the uart buffer count that have recieved before read() the uart data.
Tks.
connor

[2015-01-26 15:09] #98 closed

[2015-01-26 15:15] #99 closed

[2015-01-27 02:29] ddnionio opened #108 ""new GPIO" repeatedly in mraa(js) will cause the segmentation fault or strange error"
mraa: 0.5.4
platform: edison ww42
nodejs: 0.10.28

code:
[code]
(you can change the interval form 1000 to 10, in order to see the error soon)
After running some time( __about 2min for 1s interval ,and 5s for 10ms intervals in my case__), it shows __"segmantation fault" or__
[code]
**or traceinfo as follows**
[code]

[2015-01-27 07:48] ddnionio opened #109 "curious: what does mraa stand for?"
just a question: what does mraa mean? why it is called "mraa"?

and what does upm stand for?

[2015-01-27 07:53] arfoll commented on #109
It's short, easy to type and means whatever you want/nothing, though i think the first letter stands for 'monkeys'.

[2015-01-27 07:53] #109 closed

[2015-01-27 07:59] arfoll commented on #108
I have an idea but need to check with a debugger. Could you post the output of `journalctl -t libmraa` or use `journalctl -f` whilst running your code.

Honestly you should never use mraa like that because performance will be poor. You should always reuse the gpio context and avoid having multiple ones for the same pins.

[2015-01-27 15:52] rwaldron commented on #108
In my experience, up-front allocation of all the Gpio objects that the program will use gives the best perceptible performance. If I have a chance I will do some benchmarking and memory profiling.

[2015-01-27 20:48] alext-mkrs commented on #49
Looks like there was a [similar report](https://communities.intel.com/thread/59649) in the Intel's Edison Community as well, so I've asked Intel tech support folks to report that to the Edison dev team and referenced this bug record. IMHO that doesn't look like mraa fault, rather like something more generic, so worth an investigation.

[2015-01-28 01:49] oloynet opened #110 "can't use ISR with javascript"
I've try to adapt unsuccessfully the python example [hello_isr.py](https://github.com/intel-iot-devkit/mraa/blob/master/examples/python/hello_isr.py) to do the same with javascript with no chance.

[code]
and I've the following error message
[code]
If I change the following parameter by
[code]
The program start, and when I push the button, I've got a segmentation fault.
It's normal because the cal

[2015-01-28 03:12] ddnionio commented on #109
sorry, i still cant understand. why "mraa" means "whatever you want/nothing", and what the relationship with monkeys...
I searched a long time in the web, and no one tells why it is called “mraa” or “upm”

[2015-01-28 05:24] ddnionio commented on #108
@arfoll
sorry that I don't know well about "journalctl", it shows "invalid option -- 't'", and -f shows: (i think it is not what you need)
[code]

I know it is an abnormal usage to instantiate mraa object repeatedly, but in my case, it is needed.

[2015-01-28 07:52] arfoll commented on #109
Upm is meant to be useful packages for mraa. Mraa means nothing, sorry to disappoint I'm just bad/have complete disregard for picking project names.

[2015-01-28 07:57] arfoll commented on #108
Unfortunately, mraa is not thread safe and causing objects to be instantiated like that can lead to the garbage collector cleaning up resources whilst things are being created. Can you explain why you can't instantiate the objects first? I'm interested in the use case.

I'm still looking into the issue to see if we can't lock down creation on close but this will take a while.

[2015-01-28 07:58] arfoll commented on #110
Sorry, the isr call does not yet work in js.

[2015-01-28 08:52] arfoll commented on #108
Actually I think I know what happens, in your case to start with you'll need to set Owner to False, so use `Gpio(num, False)`. This will force mraa to not unexport a gpio fully even when the garbage collector starts. Typically in C/C++ when the destructor is called in a predicatable way this is not an issue but in js/python the gc will cause an unexport even if something else know expects to see t

[2015-01-28 10:36] ddnionio commented on #108
I will try it tommorow (because I am in China, and already off work).

We are developing a task manager. Users may write the task by mraa, such as turn on the light for 1s
[code]
and then he chose to set the task will run repeatedly in every 10s. so the problem happened.

We don't plan to constrain users' coding, they should code as without our manager.

I hope i explained clearly, if not, just te

[2015-01-29 00:40] ddnionio commented on #108
@arfoll it still reports after running about 5s
[code]

my code now is as follows: (using __new io.Gpio(pin,false)__)
[code]

[2015-01-29 21:50] rwaldron commented on #108
...

Neither of these points precludes doing the allocation up front, which _will_ solve the problem that you're reporting.

[code]

[2015-01-30 05:16] ddnionio commented on #108
@rwaldron
you may misunderstand what i mean.

*The user of our tool will firstly write the implementation of the single action, like turning on the LED for 1s. They should write the single action just as they do without out tool. so they may use mraa and write
[code]

*If they want to implement a task that the single action will run repeatedly in 10s intervals, and they use our tool by providing t

[2015-01-31 08:59] eschaton commented on #105
Thanks everyone for the feedback!

@arfoll I haven't actually set it up that way, I was going to try setting it up just by doing a `chown` of the sysfs files to a `gpio` group and running the process as a user which is a member of that group.

@alext-mkrs Mainly I want privilege separation, and I figured that without capabilities that user/group would be the next logical mechanism. I really don't

[2015-01-31 09:29] arfoll commented on #105
@eschaton You convinced me, it's not our job to do this check. It's removed with baa1a0ae03aca521d2fb5a3e043fe5ef02a52b36

As for mmaped IO sadly alot of the drivers we find don't do things in 'sane' ways so setting up non root access to the IO may be more difficult on some platforms than others. Personally I'd recommend abstracting your IO at a high-ish level with a daemon running itself as root

[2015-01-31 09:29] #105 closed

[2015-02-01 21:50] michael-ring opened #112 "SPI Interface not fully initialized on mraa_spi_init"
I found out that on the Beaglebone I need to first set the spi Interface Mode before the interface works correctly.

There are now two possible ways to solve this, either

initialize spi as master per default on mraa_spi_init

or

change the examples so that they always include a call to mraa_spi_mode

I can provide patches for both, I have no access to galileo/minnow/nuc board so I cannot test if

[2015-02-01 21:54] tingleby commented on #112
Thanks Michael!
Out of the two I think "initialize spi as master per default on mraa_spi_init" would be a better fit.
Please go ahead and provide a patch, I will test it out on at least the galileo/edison.

[2015-02-01 21:58] michael-ring opened #113 "Extended SPI Functions"
I have implemented an example for the MAX 7219 Chip.

This chip uses 16Bit SPI which causes some problems on Raspberry Pi and possibly other devices because their SPI driver only supports 8/9 Bits.

To make this chip work I would like to implement an extended mraa_spi_bit_per_word function that takes a GPIO Pin as an additional parameter. This GPIO Pin then takes over the functionality of CS and m

[2015-02-01 22:02] michael-ring commented on #112
Will do.

Could you please reject my previous pull request, I would like to create a new pull request and take into account the tips I received for the old one. I found out that with the github UI it is only possible to handle one pull request to one repo, there seem to be workarrounds for this but I think it is easier to trash the hole request and to start over with more atomic patches.

[2015-02-01 22:11] tingleby commented on #112
Are you talking about #95 ?
If you were to submit the PR from a branch then you can have as many PRs as you feel like. If you take a look at AlexT's #111 it has been submitted from a "feature" branch.
Just found this link to try and provide you a rough guide, http://blog.milkfarmsoft.com/2011/03/on-feature-branches/

[2015-02-01 22:12] michael-ring commented on #112
Thank you, I will have a look at this

[2015-02-03 14:41] petrklus opened #114 "[question] Using time-sensitive code"
Hello!

I am planning to interface with a digital AC dimmer. What is not 100% clear to me, how do I define precise wait times as I would do in arduino code? My goal is to convert my arduino dimmer controller, that works by detecting zero-cross, and opening a TRIAC for defined amount of time:

For example, consider this Arduino snippet:

    void zero_crosss_int()  // function to be fired at the ze

[2015-02-04 18:23] #32 closed

[2015-02-04 19:39] alext-mkrs commented on #114
I would say this question is better suited for Edison or Galileo community at makers.intel.com, because it has nothing to do with mraa :smiley:

And looks like you have two questions here:
1. How to add a delay into your program, similar to Arduino's `delayMicroseconds` function. This generally depends on the language you use and don't expect it to be precise at the end of the day. Unless you have

[2015-02-04 20:14] petrklus commented on #114
Thank you for your reply! The no. 1 I completely understand, which brings me to to 2. According to Edison spec, it should have: "2 Atom Silvermont cores running at 500 MHz and one Intel Quark core at 100 MHz (for executing RTOS ViperOS)". That's why I was asking about the Quark, as I understand that the normal linux will not be able to guarantee any precise timing. As your library seems to be a de

[2015-02-04 20:16] arfoll commented on #114
@petrklus whilst the quark core is running viper OS there is still currently no way of using it directly so your code is essentially always running on the atom cores. Sorry!

[2015-02-04 20:16] #114 closed

[2015-02-04 20:33] petrklus commented on #114
@arfoll Thanks! Is there any roadmap when and how will the functionality be accessible? I can think of a dozen projects that can benefit from this. Also, how is the Atom maintaining comms with i2c/spi when not really real-time? Is it handled by lower-level drivers?

[2015-02-04 20:40] arfoll commented on #114
@petrklus sadly nothing I can share here, maker.intel.com is the right place to ask for this info.

Realistically this is the issue with every MCU<->Linux development, if you look at the arduino YUN/lininio architecture they have this exact problem. Writing code on the micro only helps if you do not have to go back to Linux to make a decision on the operation. I2c & SPI are not bitbanged they are

[2015-02-06 17:32] petrklus commented on #114
Thanks! Will add arduino to the Edison for the time being and use Edison
just for the web UI..

On Wed, Feb 4, 2015 at 9:40 PM, Brendan Le Foll <notifications@github.com>
wrote:

[2015-02-07 17:51] rwaldron opened #117 "Initializing Aio instance fails on Galileo Gen 2 (aio: unable to setup multiplexers for pin)"
- Galileo Gen 2
- mraa@v0.5.4-110-g459ecc0

Test case:

[code]

Result:

[code]

[code]

[code]

[2015-02-08 18:37] tingleby commented on #117
Do you have, perchance, A4 or A5 connected to anything like GND.

[2015-02-08 19:03] rwaldron commented on #117
Connected to nothing.

[2015-02-08 19:23] tingleby commented on #117
Ok, Ill take a look next chance I have.

[2015-02-09 02:15] amersaw commented on #108
I had exactly the same problem when I used "oled-js" with "johny-five" with "edison-io" plugin, the "edison-io" module uses "mraa" and that error occurs when I call some output process using setTimeout().

I've tried to modify the "galileo.js" file that calls

[code]
by default, and set the owner to false as @arfoll mentioned but also the same, I've tried later to set the owner to undefined variab

[2015-02-09 11:44] arfoll commented on #117
I don't see this behaviour on my gen2. It looks from the log as if your kernel module has gone haywire. weird.

[2015-02-09 16:34] rwaldron commented on #108
@amersaw can you file this with https://github.com/rwaldron/galileo-io? Thanks.

[2015-02-09 19:20] rwaldron commented on #108
@amersaw does `new Pin.IO.Gpio(1, undefined);` have the same result?

[2015-02-09 20:20] alext-mkrs commented on #59
I'm thinking about taking this one on, so let me try to understand the idea better.

It looks like we can't just convert the existing read functions to be able to return several values without breaking the API. Do we care? I presume we do, so the next best seems to be introducing a pair of additional functions for this sort of reading, say `mraa_aio_read_buffered()` and `mraa_aio_read_float_buffer

[2015-02-09 22:40] amersaw commented on #108
@rwaldron  Yes it works too.

[2015-02-10 02:13] ddnionio commented on #108
sorry, I am confused.  Does it solve my problem?

if I type
[code]
it shows:
[code]

if i type
[code]
it shows
[code]

[2015-02-10 12:22] tingleby commented on #117
I have been unable to reproduce this.

[2015-02-10 22:30] lectroidmarc commented on #110
+1

[2015-02-11 16:01] arfoll opened #119 "python I2c.write() with invalid arg causes a segfault"

[2015-02-13 14:05] cosscat opened #121 "PWM write() accepts values bigger than "1" as parameter"
Hello,

While doing a test on mraa v0.5.4-118-g818e1a8  I noticed in Python that for PWM class, the write() method accepts values for duty cycle bigger than 1, which physically is not correct. It returns no error though and considered the value to be a duty cycle of 1 (like a logic 1)

It would be nice to have a small message that when such a value is introduced something like "Warning: duty cycle

[2015-02-13 14:25] tingleby commented on #121
This was done on purpose, a warn message to syslog could be added.

[2015-02-13 14:26] cosscat opened #122 "PWM config_ms(int period, float duty) needs better documentation and is not doing anything on Galileo v1"
Hello,

While trying tho get more in debth with PWM on mraa v0.5.4-118-g818e1a8, when issuing (in Pyhton) the help(), the documentation didn't pointed out to when this function should be used (before or after enable(True)). Also, tried it with two different duty cycle values 0.3 and 0.7 and the intensity of the LED is the same in both cases.
Here is my code:

4

0

0

4

0

Regards,

Costin

[2015-02-14 21:33] michael-ring commented on #112
Fixed in pull request #125

[2015-02-14 21:34] michael-ring commented on #113
Implemented in Pull Request #125

[2015-02-15 02:58] tripzero commented on #119
Here's a stack trace and how to reproduce:
[code]
Program received signal SIGSEGV, Segmentation fault.
0xb7eed7ed in mraa_i2c_write () from /usr/lib/python2.7/site-packages/_mraa.so
(gdb) bt
#0  0xb7eed7ed in mraa_i2c_write () from /usr/lib/python2.7/site-packages/_mraa.so
#1  0xb7eeaec7 in mraa::I2c::write(unsigned char const*, int) () from /usr/lib/python2.7/site-packages/_mraa.so
#2  0xb7ee3f5b

[2015-02-15 08:17] arfoll commented on #119
Yes I should have been clearer. For now use writeByte if your argument isn't a bytearray. If you give write() anything but a bytearray it'll likely segfault instead of simply complaining.

[2015-02-15 12:10] michael-ring commented on #61
Please check #124, this should extend SPI support to 9 and 16 bits, those two are the methods of transfer that usually get used afaik.

Or were you thinking of manually triggering CS, this could come handy to support 16 bit transfer on raspberry pi and other devices with rather limited spi drivers

[2015-02-15 12:25] michael-ring opened #127 "Need a way of getting pin name from platform config"
Is there a reason why the pin description was removed from gpio list?

Output now looks a little empty for buttons without function (like GND and VCC):

01
02
03 GPIO I2C
04
05 GPIO I2C

[2015-02-15 21:11] arfoll commented on #127
Yes, we changed gpio to use the public api instead of hackily recovering the platform config. There's currently no public API to get the pin 'name'.

A function of the style `char* mraa_pin_name(int pin);` could be implemented if there's interest.

[2015-02-15 21:14] michael-ring commented on #127
Yes, there's interest ;-)

Assign it to me, then I will add this and change gpio to use it.

[2015-02-16 19:18] cosscat opened #128 "I2C module accepts addresses that are out of range of the 7 bit standard"
Hello,
I was doing some tests on the I2c class and observed that when setting the address, I can use also addresses that extend from 7 bits: eg. 0x41. The last bit -LSB- should be reserved for direction on the bus: 0 for write on the bus and 1 for read from the bus. I think an error should be thrown when violating this rule.

Tests done on:

'v0.5.4-118-g818e1a8'

Regards,

Costin

[2015-02-17 05:31] cosscat opened #129 "readReg() from I2C accepts false addresses"
Hello,

Not sure if this is a bug or not, but when trying readReg() with a false value for the register address, it returns 0L. This can be confusing, because one cannot know when this is correct or not. However, writeReg() does it's job fine by returning exit code 5 when a wrong address is used.

'v0.5.4-118-g818e1a8'

Regards,

Costin

[2015-02-17 08:37] arfoll commented on #129
Not much we can do about that because an operation is only performed on a
read/write.
On 17 Feb 2015 05:31, "cosscat" <notifications@github.com> wrote:

[2015-02-17 11:17] abdullahyildiz opened #130 "How to generate node module for mraa?"
How can I generate mraa.node under /usr/lib/node_modules/mraa directory so that I can use my own compiled version of it?

[2015-02-17 11:33] arfoll commented on #130
If you want a full source build you need to follow the building instructions - https://github.com/intel-iot-devkit/mraa/blob/master/docs/building.md (you'll need SWIG 3.x).

[2015-02-17 12:34] abdullahyildiz commented on #130
OK. It worked.

[2015-02-17 12:34] #130 closed

[2015-02-17 13:00] abdullahyildiz opened #131 "Cannot run OnBoard LED Blink example on Galileo Gen 1"
I cannot run the default example which uses the GPIO pin 13 for the onboard LED:

[code]
When I run the code, the onboard LED does not blink. However, when I use an Arduino LED blink sketch using Arduino IDE (and use the pin 13), it works.

I tried updating mraa and upm, but it didn't work.

As a workaround,

I changed the line 85 at file api/mraa/gpio.hpp:

[code]
as

[code]

to make mraa use `mr

[2015-02-17 13:08] arfoll commented on #131
Did you try this?
`var myOnboardLed = new mraa.Gpio(3, false, true);`

And yes on gen1 there is no good way of doing this as the LED is not on the same pin as pin13, it's an annoying hardware 'feature'.

[2015-02-17 14:11] abdullahyildiz commented on #131
[code]
is definitely a lot easier :+1:

Do you have an idea that why using the pin number 13  on Arduino sketch worked? That is, is it the firmware which is kept on 8 MByte SPI Flash that translates the pin numbers?

[2015-02-17 14:41] arfoll commented on #131
When you compile an arduino sketch for a g1 the wiring library has a hack to change both gpios at the same time. I don't like this 'feature' so I decided not to implement it as the LED & pin13 won't flip at the same frequency and I consider the behaviour confusing and essentially removes a 'fast' GPIO. Also previously the library couldn't really handle it, nowadays it would be fairly easy with an

[2015-02-17 14:41] #131 closed

[2015-02-17 14:58] #129 closed

[2015-02-17 14:58] arfoll commented on #128
This is interesting but I think we probably support 10bit i2c addresses too, which is why the ioctl doesn't fail. but true we don't do any checking maybe we should

[2015-02-17 15:25] cosscat commented on #129
Thank you arfoll. I imagined what you said, and this is why i said not sure if it's a bug.

Regards,

Costin

[2015-02-17 19:11] cosscat opened #132 "SPI module, setting frequency imposes no limit"
Hello,

While testing SPI of mraa on Gallileo v1, I observed that there is no limit for setting the frequency in Hz except the boundries of integer values. Is there a way to interogate the hardware for the max. frequency it accepts?

'v0.5.4-118-g818e1a8'

0

0

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python2.7/site-packages/mraa.py", line 795, in

[2015-02-17 21:17] arfoll commented on #132
Yes, we probably should have a MAX limit for spi bus freq, we currently don't and just accept anything that spidev will let us set.

[2015-02-17 21:21] michael-ring commented on #132
I think there are two problems here.

First is that python is called with something that is most likely too big for an int. (No idea if this is really the case, me not python)

the second problem is that the frequency value can be too high for the spi interface, this problem should be fixed with latest commit, you should get a warning in syslog and the maximum is set to what the spi says is max.

[2015-02-18 16:45] #110 closed

[2015-02-18 16:46] arfoll commented on #110
You can now do:
[code]

[2015-02-19 01:46] richardfickling commented on #110
:+1: thanks @arfoll!

[2015-02-20 13:49] arfoll commented on #128
We do the correct thing AFAIK. We support only 7bit addressing (feature anyone??? :)). You're correct the LSB is the write/read but the kernel does that for us and it's done with the 8th bit not the 7th. So the max valid address is 0x7F and as you can see 0x80 fails. 0x41 is perfectly valid.

[code]

[2015-02-20 13:49] #128 closed

[2015-02-21 01:22] desertgourd commented on #78
Hi,
I am trying to get TRMh20's RF24 library working with MRAA for the Beaglebone Black BBB.  TRMh20 has it working with RPi and the github branch can be found at https://github.com/TMRh20/RF24/tree/Updates.  An issue has been started "Porting TMRh20 RF24 Libraries to the BeagleBone Black" and the progress can be followed their.

My current status is that I have the BBB working with the TMRh20 RF2

[2015-02-21 07:59] michael-ring commented on #78
I have not yet created the pull request for the beaglebone black so there is no support for the beaglebone available at the moment in mraa. The pull request mentioned in this issue was too big so I split up this work in several pieces.

My first priority was to make the support for the Raspberry Pi complete, but Beaglebone is next, I still need to implement access to gpio via /dev/mem, then I will

[2015-02-21 14:33] desertgourd commented on #78
@michael-ring
Thanks for the reply.  How is the progress on implementing access to gpio via /dev/mem on the BBB coming?  You mentioned in your Dec. 30 post that you had something working.  Do you have any time frame on how long before a pull request?  Do you need any testers?

[2015-02-21 14:58] michael-ring commented on #78
Finishing it as we speak ;-) I can test with led's on Sunday evening, right now I can only test with the 4 on-board led's.

If you want you can check my forked repository in 2-3 hours for a new commit on branch arm_beaglebone, I am very thankful for help on testing the code.

https://github.com/michael-ring/mraa

[2015-02-21 16:18] michael-ring commented on #78
Today's work was pushed to the branch, have fun testing

[2015-02-21 17:30] desertgourd commented on #78
I have been looking at the code and will start going over the examples.  Hours of FUN

[2015-02-21 19:49] desertgourd commented on #78
@michael-ring
I could not find where to start a new issue on your fork so I am posting this here.
I tried to run the /mraa/examplex/c++/Blink-IO.cpp and got the following error.

root@beaglebone:/home/rnh/mraa/build/examples/c++# ./blink-io-cpp
mraa: FATAL error, failed to initialise platform
Provide an int arg if you want to flash on something other than 8
terminate called after throwing an insta

[2015-02-21 21:19] michael-ring commented on #78
mraa allows you to control the pins available on the extension headers P8 and P9. The UserLeds are not visible on those headers so you cannot change those without hacking the code (as I did for testing).

To get your feet wet you should start with the gpio example, build the code and do:

sudo examples/gpio list (this will show you which pins are available an can get used as gpio)
and
sudo example

[2015-02-21 22:45] desertgourd commented on #78
Running the gpio example gave the following output:
root@beaglebone:/home/rnh/mraa/build/examples# ./gpio set 7 1
mraa: FATAL error, failed to initialise platform
Could not initialize gpio 7

System Info:
cat /proc/cpuinfo
processor       : 0
model name      : ARMv7 Processor rev 2 (v7l)
BogoMIPS        : 298.24
Features        : swp half thumb fastmult vfp edsp thumbee neon vfpv3 tls
CPU implemen

[2015-02-21 22:54] desertgourd commented on #78
Output from cat /var/log/syslog  after running  ./gpio set 7 1
Feb 21 17:17:02 beaglebone /USR/SBIN/CRON[9707]: (root) CMD (   cd / && run-parts --report /etc/cron.hourly)
Feb 21 17:34:27 beaglebone libmraa[9920]: libmraa version HEAD-HASH-NOTFOUND initialised by user 'root' with EUID 0
Feb 21 17:34:27 beaglebone libmraa[9920]: Beaglebone: failed to initialize
Feb 21 17:34:27 beaglebone libmraa[99

[2015-02-22 00:52] desertgourd commented on #78
If 'examples/gpio set 7 1'  turns pin 7 of Connector P8 to 1 then how do you address pin 7 of connector P9

[2015-02-22 04:57] Nyceane opened #136 "Can not access UART1 on XDK"
var m = require('mraa'); //require mraa

u = new m.Uart(1)
console.log(u.getDevicePath())

would give me

ERROR: Error: Error initialising UART
    at Object.<anonymous> (/node_app_slot/main.js:23:14)
    at Module._compile (module.js:456:26)
    at Object.Module._extensions..js (module.js:474:10)
    at Module.load (module.js:356:32)
    at Function.Module._load (module.js:312:12)
    at Function

[2015-02-22 05:20] #136 closed

[2015-02-22 08:08] michael-ring commented on #78
Kernel version: uname -a
P9: Each of the connectors has 46 pins, you will need to add 46 to the pin number to reach P9 --> Pin1 P9 = 47 in mraa.

I am a little puzzled about the failed to initialize message, this is the root cause of your problems.

I have a Beaglebone Rev C at home, but not with me right now so I cannot check.

Please follow the steps listed below that we make 100% sure we have t

[2015-02-22 18:27] desertgourd commented on #78
Thank you for the help. I followed your instructions on debuging (gdb and cgdb really great, learning new stuff all the time) and found the following error.

mraa/src/arm/beaglebone.c
[code]
it appears to be working, when I run examples.gpio list  it list out the pins and their assignments.  I will continue to check it out.
Thanks again

[2015-02-22 21:34] desertgourd commented on #78
I have tested the gpio pin outputs with a logic probe and I can use 'gpio set pin value' to high or low.

What is the status of the SPI interface, I tried the example/spi_max7219 but get:
Initialization of spi failed, check syslog for details, exit...
I do not have a max7219 connected but wanted to see if I was getting anything on the CE and CSN pins with the logic probe.

syslog:
Feb 22 16:24:39

[2015-02-22 21:46] michael-ring commented on #78
For SPI:

Have a look at

http://elinux.org/BeagleBone_Black_Enable_SPIDEV

You will need BB-SPI0-01-00A0.dtbo and BB-SPI1-01-00A0.dtbo in /lib/firmware to be able to use SPI, the overlay first needs to get loaded before SPI is available.

If you have trouble creating those files yourself you can download them here:

http://temp.michael-ring.org/BB-SPI0-01-00A0.dtbo
http://temp.michael-ring.org/BB

[2015-02-23 16:01] desertgourd commented on #78
Hi, I added the .dtbo files and the spi initializes when I start the example/spi_max7219.

When I try to use them with the TRMh20 RF24 libraries the spi initializes but it is not reading/writing data to the RF24 spi module.  The logic probe shows activity on the CSN and MISO pins but not on any others.  I believe this is caused by the .dtbo files not configured for the right pins.  I am working on

[2015-02-23 18:07] michael-ring commented on #78
Which port are you using, spi0 can only be used when hdmi is disabled...

Von meinem iPhone gesendet

[2015-02-23 22:54] desertgourd commented on #78
I have the RF24 board installed on SPI1 and have disabled the HDMI. It was working on that port with CSN on P9-25 and CE on P9-27 with the TRMh20 RF24 library.

Your arm_beaglebone branch is using CSN P9-28, I have checked the documentation and that is correct for SPI1.  I will change my wiring to conform to that.

On the CE pin I am using P9-27 which is initialized as:
mraa/scr/arm/beaglebone.c
1

[2015-02-24 14:55] oloynet opened #137 "How I am running my device MAX31865 on SPI with a custom CS for workaround"
After investigating why I can't read values from the MAX31865 (RTD-to-Digital Converter), I've develop a custom chip select.
The original MRAA custom select, change of state for each bytes sended, so I've develop a custom one, just to demonstrate that could fix in MRAA lib.

# The program that should works but....
[code]

The result is
[code]
From the logic analyser you can see the CS change for e

[2015-02-24 16:21] arfoll commented on #137
What mraa calls a spi context or object really is a SPI Bus + HW CS. So asking for '0' will give you a spidev5.1 we could make '1' give you spidev5.2 with a different CS. I'm reluctant to do any soft CS stuff because on some devices (like galileo gen2 or edison + arduino) doing so could cause the ADC to crash or on some devices (vocore) cause the MMC to be corrupted. With that in mind, no one is s

[2015-02-24 17:27] michael-ring commented on #137
I have had a similar problem, here are my 10 cents:

Depending on Hardware (Intel Edison for example is fine) you can set the number of bits that spi transfers in mraa. I used this to transfer 16bits to the max7219 device (look at the example on github in mraa/examples)
So with the right hardware you may not need to use a custom CS

One thing I wanted to do some day is to to the SPI ioctl to disab

[2015-02-24 20:10] oloynet commented on #137
As you said, it works in 16 bits mode without a custom CS. I've made some change in my code to support the new format.
One thing to know, data are sended in LSB mode. I've try to change this with *mraa_spi_lsbmode* but I've the error : spidev spi5.1: setup: unsupported mode bits 8 ??????

Here the new code for who are interesting
[code]
Now the CS is set low state during all the 16 bits transfer (

[2015-02-24 21:35] alex-ter commented on #59
@arfoll, @tingleby, ping :smiley:

[2015-02-24 21:38] tingleby commented on #59
pong!
Yes it would be wise not to break the existing API. Not at this point at least ;)

[2015-02-24 21:47] arfoll commented on #59
Yes having a _buffered() or _block() functions. Tbh the trick is working out ow to do this from IIO which is tricky, the function names can be worked out afterwards :)

[2015-02-24 21:53] alex-ter commented on #59
Thank you both!

Yeah, there's apparently more to it than just defining the names, but I want to lay the foundations right from the very beginning :smiley:

[2015-02-24 21:54] arfoll commented on #137
@oloynet this is weird, wonder if it's like this on other platforms I'll investigate and get back to you - keeping this bug open is fine, bit long but that's life ehehe!
@michael-ring by disabling cs_change I wonder if we can just disable the HW CS. Again I'll try this and get back, if it's really that easy then it makes sense to do this IMHO.

[2015-02-24 21:55] arfoll commented on #59
If you manage to do this tbh you can call them mraa_aio_read_alex_is_awesome() for all I care!

[2015-02-24 21:55] michael-ring commented on #78
I checked SPI Interface tonight with my logic analyzer. Here are the Results:

SPI0 works
CS = P9.17
D1 = P9.18 This is Data Out, has to be connected to the Input of your device
D0 = P9.21 This is Data In, has to be connected with the output of your device
SCLK = P9.22 The Clock Signal

SPI1 works
CS=P9.28 is CS
D1 = P9.30 Data Out
D0 = P9.29 Data In
SCLK = P9.31

Both results based on the dts I p

[2015-02-24 22:03] tingleby commented on #59
Coisdetnally I was reading about IIO for something else today. Perhaps this will help.
http://wiki.analog.com/software/linux/docs/iio/iio
http://events.linuxfoundation.org/sites/events/files/slides/iio_high_speed.pdf

Some might be out of date, not even attempted anything with it.

[2015-02-24 22:05] alext-mkrs commented on #59
Thanks, that could be useful.

[2015-02-24 22:10] michael-ring commented on #137
I guess it is that simple,  search for no-cs in
https://www.kernel.org/doc/Documentation/spi/spidev_test.c

We can make the whole thing (nearly) transparent to the end user if the cs is not needed for more that 32 bits. On the Raspberry it might be that we can use the old CS pin, even though it is reserved by SPI. But I did not do any serious testing on that. If you consider implementing a feature

[2015-02-24 22:16] desertgourd commented on #78
Where are the .dts files of  BB-SPI0-01-00A0.dtbo and BB-SPI1-01-00A0.dtbo so I can see how they are structured.  I have been debugging today and found that the SPI.dtbo files from running the TMRh20 libraries were still active and had to be disabled before trying the MRAA libraries.  I will reboot the BBB and copy  your  BB-SPI0-01-00A0.dtbo and BB-SPI1-01-00A0.dtbo files to /lib/firmware and tes

[2015-02-24 22:22] arfoll commented on #137
I dont understand - "the cs is not needed for more that 32 bits"? Can you explain?

[2015-02-24 22:32] michael-ring commented on #78
You can download them from http://elinux.org/BeagleBone_Black_Enable_SPIDEV , they then have .txt ending, but those are the dts files. Make sure to grab the right versions that define D1 as output

[2015-02-24 23:20] michael-ring commented on #137
usually I see CS for 8,9,16 and 32 bits on spi devices. For those cases soft-spi could work as a drop in replacement for platforms like Raspberry that can only do 8 or 9 bit cs.
The other usecase I see is to extend the number of available cs pins, but this would need more work because then there is a need to support 'virtual' spi devices that use the real spi device in no_cs mode and do the handli

[2015-02-25 00:58] desertgourd commented on #78
I am starting to get some positive response from the SPI interface to the nRF24L01 board.  I had both BB-SPI0-01-00A0.dtbo and BB-SPI1-01-00A0.dtbo installed to /lib/firmware, with the RF24 board on the SPI1 pins.  The MRAA is only initializeing SPI0.  SPI1 never gets activated.  I moved the RF24 board to the SPI0 pins and am getting pulse activity on the CSN, SCLK, MOSI and MISO pins with the log

[2015-02-25 01:00] desertgourd commented on #78
Is there some way to specifiy the SPI1 to be used instead of SPI0.

[2015-02-25 05:25] prophet-roshak commented on #78
Hi!
SPI0 is currently hardcoded in rf24 lib, you can change it in
arch/mraa/spi.c
25 февр. 2015 г. 4:00 пользователь "desertgourd" <notifications@github.com>
написал:

[2015-02-25 11:20] cosscat opened #138 "UART module accepts initialising with the port no of the serial console"
Hello,

I did this test on Galileo v1 and when initialising Uart with port no. 1 it reports no warning/error message. The /dev/ttyS1 is assigned to the serial console (the on-board jack alike serial port). Also getDevicePath() reports back the assigned port:

'/dev/ttyS1'

Costin

[2015-02-25 15:45] arfoll commented on #112
Closed as this is no longer an issue as I understand?

[2015-02-25 15:45] #112 closed

[2015-02-25 19:28] arfoll commented on #119
Fixed with a2220e36362246cd0c0748924f3731600f73d488

[code]

[2015-02-25 19:28] #119 closed

[2015-02-26 01:35] JulioLP opened #139 "Undefined reference to 'mraa_spi_write_word' or 'mraa_spi_write_buf_word'"
I´m programming accelerometer data receiving via SPI.

The problem is, even though every other function of the library works fine for me, this two ('mraa_spi_write_word' and 'mraa_spi_write_buf_word') can not be complied in my Edison. The OS is yockto linux (last version) and the version of mraa is 0.6 (also last). I´m using gcc and I am including -lmraa for the compilation.

I´ve also tried compl

[2015-02-26 09:35] oloynet commented on #139
In MRAA 0.6 there is no method for **mraa_spi_write_word** or **mraa_spi_write_word** like in the master branch
See : https://github.com/intel-iot-devkit/mraa/blob/v0.6.0/src/spi/spi.c

Lke my previous issue #137 for MAX31865, you can try to set SPI to works in 16 bits per word
[code]

[2015-02-26 09:41] arfoll commented on #139
@oloynet is correct, essentially 0.6.0 is behind master (which sadly still  builds as 0.5.4 - don't ask!). I've just tagged/released 0.6.1 which fixes this issue, 0.6.1 has the functions you're looking for. It should be in the intelgalactic opkg repo shortly.

[2015-02-26 09:41] #139 closed

[2015-02-26 11:04] JulioLP commented on #139
Thank you both! I tend to get confused when using github, always wrong about the branch I`m really using (also the version numbers here are a bit strangely organised :) ). You saved me a lot of time!

[2015-02-26 11:44] arfoll commented on #139
Yes I messed up on v0.6.0, in the future the part where the branch branched off will be tagged.

[2015-02-26 22:47] desertgourd commented on #78
@michael-ring  and  @TMRh20

I have the MRAA working with the TMRh20 RF24 libraries and have tested the 'gettingstarted' and 'transfer' examples in the /examples_RPi directory.  In the process I moved the RF24 board to the default SPI0 pins:
P9-17___CSN
P9-18___D1_MOSI
P9-21___D0_MISO
P9-22___SCLKP
The CE pin was assigned to:
P9-13___CE

The TRMh20 RF24 constructor sets up the CE and CSN with the

[2015-02-27 10:45] arfoll commented on #137
Just to give a small update - this looks like an edison spi kernel issue and not a mraa issue, it's happening only on that platform. We're working on our end on to find out what's wrong there.

@michael-ring on rpi that sounds like the spi kernel driver should fix the CS, alot of platforms (edison included) use a gpio in kernel to replace the HW CS in cases when it's not possible to get the HW to

[2015-02-27 14:15] desertgourd commented on #78
@prophet-roshak
Thanks for the information on the where the SPI0 is defined.  I found it in the arch/mraa/spi.c and find it useful.

[2015-02-27 15:27] KurtE commented on #137
Quick notes:

there appear to be issues with SPI with current beta.  Sample program at top of this message tries to work around with output 0 character to get CS right...  Appears to be new power management issue, I talk about in thread: https://communities.intel.com/thread/60326 I also mention a hack to the file I did to get the Adafruit display to work. (Intel_mid_ssp_spi.c)

Actually I think Ed

[2015-02-27 15:29] michael-ring commented on #78
SPI as it is currently implemented uses the default mechanism provided by the linux kernel driver which means that CS is managed by the kernel completely on the pin mentioned in one of my last posts.

You can perhaps define a gpio pin for TRM20h to make the API happy, but you should not try to use the pin that is associated to the SPI Port as this pin is not available to you when you use mraa beca

[2015-02-27 16:23] arfoll commented on #137
@KurtE yes edison should use a normal IO pin for cs spidev but it seems it does not in the case of writing bytes which is weird - do you know if the behaviour is the same on arduino code? I haven't tried that. Anyways the edison kernel guys are on it, I'll post an update here.

cs_change does something else you're right, we have to change spi mode thought that doesn't seem to work, I tried with sp

[2015-02-27 20:53] michael-ring commented on #137
Nice!

I would like to take this code and extend it a little, please keep me posted when you add more functionality to the disable cs code.

[2015-02-27 23:44] desertgourd commented on #78
I did some testing to check performance of the TMRh20 RF24 library with the MRAA framework. Their were 3 variables; the spi-max-frequency set in the device tree overlay file with a default of 24 MHz, The mspi frequency set in the /RF24/arch/mraa/spi.cpp, and the Air Data Rate set with radio.setDataRate(RF24_2MBPS); in the gettingstarted and transfer example files the /RF24/examples_RPi directory.

[2015-02-28 08:37] arfoll commented on #138
@cosscat I'm not too sure if we want to fix this, it's nice to be able to use that serial port from mraa if the user wants and at the same time there's no good platform independant way of finding out if a serial port is already in use. We could hack something up to check systemd services/gettys but I think that's horribly nasty.

The best I can think of is to document this in the galileo gen1 plat

[2015-02-28 08:39] arfoll commented on #26
This works (and afaik worked for a while). We know support 16bit and odd number of bytes write on edison.

[2015-02-28 08:39] #26 closed

[2015-03-01 02:20] tripzero opened #142 "[platform] Improve behaviour when running on platforms not yet defined"
Running mraa on my haswell-based desktop, I got "Intel Galileo Gen 1" when querying getPlatformName().

[2015-03-01 03:07] tingleby commented on #142
Yes, this is the current expected behaviour if mraa is running on a platform is is not equipped to work with. If you check your syslog, it should be complained a plenty in there.

[2015-03-01 03:45] digerati73 opened #143 "i can't install mraa at intel edison, how can i ??"
below text is copied from putty.

i want to do this
echo "src maa-upm http://iotdk.intel.com/repos/1.1/intelgalactic" > /etc/opkg/intel-iotdk.conf
opkg update
opkg upgrade

but i failed...

/sbin/ldconfig: file /usr/lib/libfaad.so.2 is truncated

/sbin/ldconfig: file /usr/lib/libfaad.so.2.0.0 is truncated

/sbin/ldconfig: Writing of cache data failed: No space left on device

Configuring libfreety

[2015-03-01 03:45] tripzero commented on #142
Shouldn't it return ""?  Or "unknown system"?

[2015-03-01 03:47] digerati73 commented on #143
what is the maximum size of SDHC card ?
i am using 8G size
![df -h](https://cloud.githubusercontent.com/assets/7827525/6429392/25c18928-c011-11e4-8626-3deb03ea4090.png)
![opkg update bug](https://cloud.githubusercontent.com/assets/7827525/6429393/25c8c5e4-c011-11e4-9211-90c90e161589.png)

[2015-03-01 03:48] tripzero commented on #142
Let me describe the use-case that's broken here:

Let's say you want to write a higher-level library that introspects mraa using getPlatformName and uses pre-defined pin settings for that platform.

If an unknown system returns "Intel Galileo Gen 1", then the pin-outs will be wrong and the library will be broken

[2015-03-01 04:10] tingleby commented on #142
This is an element of legacy behaviour, nerveless something that could do with a rethink.

My current proposal is: When the library is run on a system without additional definitions it will attempt to find the limitations of the current system, and in the case of getPlatformName return something like unknown.

[2015-03-01 09:55] michael-ring commented on #143
look at the size of your / filesystem, it is 100% full.

I looks that your last install  (ffmpeg or something that uses ffmpeg I guess) alreay failed as I see that /usr/lib/libfaad.so.2 is truncated.

You need to free up some space on root filesystem to be able to install anything on your edison.

[2015-03-01 10:09] arfoll commented on #143
@digerati73 having a SDHC card makes no difference see it's mounted on /media/sdcard but you've run out of space in /. Try the latest r2 edison images they use AUFS to share / & /home so you might not run out of space so quick.

[2015-03-01 10:09] #143 closed

[2015-03-01 10:16] #142 closed

[2015-03-01 10:18] arfoll commented on #142
Agreed this behaviour was pretty rubbish, it makes no sense now that we support quite a few platforms, fixed & changed. Note that arm module by default will init an rpi as well. This is a bit more difficult to treat since arm platforms rarely have a nicely exported name such as the one in DMI.

[2015-03-01 10:21] #65 closed

[2015-03-01 10:34] arfoll opened #144 "[nodejs] building with swig 3.0.5 and nodejs 0.12.0 is broken"
Tested on arch linux, log in https://gist.github.com/arfoll/f450a0630c8b120a1f94

[2015-03-01 11:57] tingleby commented on #142
Now the behaviour is
[code]
@arfoll I'll talk to you later about my further plans for this.

[2015-03-01 16:55] lectroidmarc opened #145 "Changing i2c bus speed on Edison"
I apologize if I'm totally off base here, my C is a bit weak so I'm just going to ask stupid questions...

In [mraa_intel_edison_i2c_freq()](https://github.com/intel-iot-devkit/mraa/blob/e8bc227a92fa702bceef5052961123c2e511e811/src/x86/intel_edison_fab_c.c#L675) it appears that to change the I2c bus speed it's trying to write "std/fast/high" to `/sys/devices/pci0000:00/0000:00:09.1/i2c_dw_sysnode`

[2015-03-01 17:26] arfoll commented on #145
Hi @lectroidmarc, you're 100% right, I have no idea how this worked previously - what's weird is that I checked with a scope and all... maybe the folder structure changed between the test build I used and the r2 edison SW release.... In any case I've fixed it with 677af126aab3c3773f5bd26ca17ba917c9403216.

I've also had a look at i2c bus 1, I think I've got the correct path but I can't check as I

[2015-03-01 17:26] #145 closed

[2015-03-01 17:43] michael-ring opened #146 "Error Code gets lost in mraa_spi_write"
I am right now extending the spi module to learn new tricks and during that process I saw a problem in the code of mraa_spi_write:

This function always returns an uint8_t. when for some reason the ioctl for sending the data fails it returns -1 (=0xff), so an error situation cannot get distinguished from a proper return of 0xff

Any ideas?

[2015-03-01 18:53] michael-ring opened #147 "SPI transfer with 16 bits per word for platforms that do not support this in hardware"
I have implemented and tested code to enable support for 16bit transfers with the Raspberry Pi. There is still support for some cases missing (lsb first and MODE1) but so far this works really nice.
I would like to add checks to spi_write and spi_write_word that they refuse to send data when the numer of bits set does not match the size of the data. example:

mraa_spi_write should refuse to work w

[2015-03-01 19:20] arfoll commented on #146
This is definately not ideal, -1 definately is not the right thing to return and I'm surprised our coverity scans haven't picked that up...

I dont know of a good solution but I think we can do two things, in cases of error complain in syslog and return 0 or the value that was written. I'm edging towards 0 being a fail. I'd really rather avoid changing the function signature, I guess we could also

[2015-03-01 19:27] arfoll commented on #147
Do you mean: "mraa_spi_write_word should refuse to work when bits per word is *not* 16" or am I missing something?

I'm happy with something like this as long as there is good syslog(LOG_ERR, "") message on those cases which is clear. If there are specific rpi type things you are worried about then it's perfectly fine to have advance functions specific to that platform to stop 'dangerous' cases. O

[2015-03-01 19:32] michael-ring commented on #146
I was hoping on a signature change (returning an int instead of uint_8 but syslog & returning 0 if fine.
errno is perhaps not so ideal because it is used nowhere else in mraa (At least I never stumbled over this)

[2015-03-01 19:42] arfoll commented on #146
Agreed, I'd like to avoid errno because it makes the lib more complex than
is like.

Let me sleep on the signature change its probably relatively harmless.
On 1 Mar 2015 19:32, "michael-ring" <notifications@github.com> wrote:

[2015-03-01 20:06] michael-ring commented on #147
Yes, this is one of the cases I wanted to cover.

I also would like the same to be true for mraa_spi_write (it should not try to transfer 8 bits when bits_per_word is set to 16 because the clock will always do 16 cycles this means you must transfer 16 bits.

I can promise tons of syslog messages, they are already there ;-) ;-)

[2015-03-02 21:54] srlmproductions opened #148 "Building From NPM fails"
I've tested this with Node v0.10.36 on Ubilinux on the Edison, and Node v0.10.33 on Ubuntu 14.04 (on my desktop).

The package from NPM fails with:
[code]

The key line is
[code]

The following hack will allow mraa to cleanly compile:
[code]

The problem seems to stem from the fact that mraa expects node-dev (which doesn't actually seem to be used any more?) to have put sources in `/usr/include/no

[2015-03-03 00:30] desertgourd commented on #78
@michael-ring
Thanks for the help on getting the MRAA working with the TMRh20 RF24 library on the BBB.  Based on suggestion from you TRMh20 made changes and everything is working great.

MRAA, 1MBPS, Transfer = 47.8 KBPS, No Drops / 10K Packets, Rock Solid Connection
MRAA, 2MBPS, Transfer = 68 KBPS, No Drops / 10K Packets, Rock Solid Connection

[2015-03-03 09:31] arfoll commented on #148
This is a problem in joyent's nodejs repository, they expect all headers to come from node-gyp instead of the nodejs package itself and they don't build a real nodejs-dev package (I did tweet to them about it but they seemed to have misunderstood the issue).

Here's how we find node.h
[code]
We're pretty nice, we'll even go hunt in /usr/local!

If you look at the content of ubuntu's 14.04 nodejs p

[2015-03-03 14:33] #137 closed

[2015-03-03 14:35] arfoll opened #149 "[edison] spi kernel driver does not let you disable CS"
Using the NOCS flag does not work on edison spi kernel driver.

[code]

We should be able to implement something like this - http://dpaste.com/1N276PZ to disable HW CS completely.

[2015-03-03 14:36] arfoll commented on #137
Since this thread got too long, #149 is for NOCS discussion. The edison issue of CS going high between every byte is now fixed.

[2015-03-03 16:21] #146 closed

[2015-03-03 17:18] arfoll commented on #144
After a bit of hunting we now need to define SWIG_V8_VERSION  to 0x032873 (nodejs 0.12.0 platform) in the SWIG generated code. This fixes a multitude of issues but we still have some issues with v8::Undefined for example. We also now need to include <uv.h> in gpio.hpp header to get uv_work_t and similar.

Here is the issue http://dpaste.com/0XPA6VW if someone wants to hunt.

[2015-03-03 17:38] arfoll commented on #144
I guess all the answers are now in here:
https://strongloop.com/strongblog/node-js-v0-12-c-apis-breaking/

This requires a bit of rethink do we care about nodejs 0.12 yet?

[2015-03-03 18:54] rwaldron commented on #144
I would say yes, but to buy time you might consider simply failing with a message that says something like "currently only supports node 0.10.x". That would at least make it clear to the end developer that node 0.12.x isn't going to be successful yet, and how to get around that.

[2015-03-05 13:50] X-Y opened #150 "[Edison Arduino] Illegal arguments for construction of _exports_Pwm"
A related discussion here: https://communities.intel.com/thread/60203

For some reasons it's impossible to use any of the pins as PWM, trying to use servo/pwm will leads to the same error message. However, the same code runs fine a day after.

root@edison:~# node

undefined

Error: Illegal arguments for construction of _exports_Pwm
    at repl:1:9
    at REPLServer.self.eval (repl.js:110:21)
    a

[2015-03-05 15:29] arfoll commented on #150
this works here, could you do a m.getVersion() to give me an idea of the version/platform you are using?

[2015-03-05 15:41] X-Y commented on #150
It's v0.6.1
Now the problem happens when I'm using the Edison mini-breakout board. The same Edison and code would work on a Arduino extension board(which had the same problem previously, but disappeared after night). I've tried with 2 mini-breakouts.

[2015-03-05 15:53] arfoll commented on #150
So on a minibreakout board pin 3 does nothing, it's J17-4, see docs here http://iotdk.intel.com/docs/master/mraa/edison.html - you can also use the gpio.c sample from the examples to list all the pins and their capabilities, that can be helpful.

[2015-03-06 09:58] X-Y commented on #150
OK thanks! It's quite confusing for me though, when the same pin number refers to different hardware pins when using different platforms. It would also be better for hardware migration, if I don't have to change the values in my code.

Now it makes sense for the issue on Arduino module. It's possible that I deleted some journey files(to free up space, a bug in Edison makes it so each time one re-f

[2015-03-06 10:43] arfoll commented on #150
Yes, it's not as simple as I'd like, however there's not really a good way of doing this, this is why there is getPlatformType and you can change your pins depending on your hardware.

If you look at types.h you can use the MRAA_INTEL_EDISON_GPxx enum which means you could use the kernel GPIO numbering (or the MRAA_INTEL_EDISON_MINIBOARD_Jxx_yy miniboard enum if you wished).

[2015-03-06 10:43] #150 closed

[2015-03-06 12:32] cosscat opened #151 "PWM is not working on v0.6.0"
Hello,

I have an Intel Galileo v1 and installed an Yocto image on it with mraa. Simply put, PWM is not working.
(in Python) I did:

0

0.10000000000000001

0

0.69999900000000004

My setup is an LED in series with 470 ohm resistor connected between the respective pin and GND. LED remains at the same level of intensity. Unfortunatelly i have no frequency and duty cycle measuring instrument at hand

[2015-03-06 14:14] cosscat commented on #151
Hello,

I managed to solve it out. it was my fault. This is not a bug.

Costin

[2015-03-06 14:14] #151 closed

[2015-03-06 14:33] KurtE opened #152 "mraa_uart_init(int index) - on Edison will init UART0 regardless of index..."
Looking at the function: assuming mraa was init, it will always call: mraa_intel_edison_uart_init_pre(int index)

This function, does not even look at the index, but blindly starts the process of initializing the hardware uart.

Couple possible fixes.  Have the uart_init_pre function check the index.  Or have teh mraa_uart_init function, verify the index is at least valid before calling the init p

[2015-03-06 14:41] KurtE commented on #152
Edit: Actually wondering about the stuff in the Pre as it look like the main function, then tries to look up the pin mapping and set the pin mux for the input and output pin.

Note: I think there is also another bug in the main function (mraa_uart_init)
    if (pos >= 0) {
        pos = plat->uart_dev[index].tx;
        if (plat->pins[pos].uart.mux_total > 0) {
           ...
Should be:
    pos =

[2015-03-07 22:48] Yoda12999 commented on #22
Is there a possibility that the SPI device on the Edison does not support LSB mode? I have looked at the documentation for the Atom processor and it says nothing about this, but this is a rather odd feature.

[2015-03-08 19:39] jmealo opened #154 "Feature Request: 1-wire support"
Please add 1-wire support to mraa.

It looks like it should be supported in Yocto.

Does anyone have any progress on this?

**Related links:**
[1] http://bigdinotech.com/tutorials/galileo-tutorials/using-1-wire-device-with-intel-galileo/
[2] https://groups.google.com/forum/#!topic/wandboard/fPf1fbEj9Io
[3] https://communities.intel.com/thread/56822
[4] http://owfs.org/

[2015-03-09 00:59] eschaton opened #155 "Some definitions in common.h belong elsewhere"
There are a couple of definitions in `<mraa/common.h>` that really belong in different files:

- `mraa_boolean_t` should be in `<mraa/types.h>`
- `mraa_adc_raw_bits()` and `mraa_adc_supported_bits()` should be in `<mraa/aio.h>`

[2015-03-09 01:01] eschaton opened #156 "Move platform types from types.h to their own headers"
There are a bunch of platform-specific types in `<mraa/types.h>` that should probably be in separate headers specific to the platform:

- `maa_intel_edison_miniboard_t` and `mraa_intel_edison_t` should be in a separate `intel_edison.h` header
- `mraa_raspberry_wiring_t` should be in a separate `raspberry_pi.h` header

[2015-03-09 01:02] eschaton opened #157 "Move mraa_i2c_mode_t from types.h to i2c.h"
The header `<mraa/types.h>` purports to be for basic shared types, but it contains an i2c-specific type, `mraa_i2c_mode_t`. That should really be in `<mraa/i2c.h>` instead.

[2015-03-09 01:06] eschaton opened #158 "The mraa_platform_t type should be a struct or string, not an enum"
The type `mraa_platform_t` that defines a platform should be designed for extensibility, by being a struct that can be defined in a per-platform header, or by being a string that can be managed via a registry within the library. Right now it's an enum, which requires recompilation of the library to extend for a new platform, can cause binary-incompatibility between builds of the library (if new ca

[2015-03-09 01:15] eschaton opened #159 "Make platforms extensible without modifying libmraa"
The `libmraa` API should have an `<mraa/platform.h>` header that defines the interface between `libmraa` and an MRAA-supporting platform. The built-in Edison, Galileo, Raspberry Pi, _et al_ platforms should be defined in terms of this API, and it should also be possible to register a platform — in the form of a C struct containing a version number, a string name, and a series of callback function

[2015-03-09 01:35] tingleby commented on #159
This is certainly the direction I want to see mraa heading towards. @arfoll  and I have skirted around this area of discussion last week.
I also see your #158 Which I would think would be resolved in the growth of this sort of addition to the library.
Over the next few weeks Ill roll out some implementation ideas into a branch.

[2015-03-09 01:38] tingleby commented on #158
Yes, I think in principle this isn't a bad idea. Some care will need to be taken as to not break any existing usages of the API.some negative feelings.
As platforms should now already define a string within there board configuration, I see less of a need for this.
Perhaps @arfoll will have stronger feelings for keeping this practice around.

[2015-03-09 03:57] eschaton commented on #158
Even if the existing API needs to be kept, it (and the enum) can be marked `__attribute__((deprecated))` (for compilers that support it, eg modern cc and clang) and implemented as indices into the registration table for binary compatibility. Existing code would still work, new code would be discouraged from using the old API, and new platforms wouldn't add to the problem by defining their own enum

[2015-03-09 04:05] eschaton commented on #159
Awesome, thanks! My expectation for such an API would be something like

    struct _mraa_platform_desc {
        uint32_t version; /*!<< structure version, pass MRAA_PLATFORM_DESC_VERSION_CURRENT */
        constant char *name; /*!<< platform name */
        // callback function pointers for init, deinit, subsystems, etc.
        // or pointers to separate structure for that stuff
    };
    type

[2015-03-09 10:40] arfoll commented on #155
Note they are _adc_ functions not _aio_ functions. Realistically they allow you to query the platform config not the Aio module. I see no real harm in keeping them where they are - any particular reason why you want to move them?

[2015-03-09 10:44] arfoll commented on #154
You'll have to be more specific, the problem with one wire is one it's reliance on exact timings which from userspace linux is 'hard'. The other issue is that it's heavily board dependant and alot of sensors handle it differently. Hacking it as your [1] shows is trivial from mraa.

It would be interesting to have a look at how to use it from the kernel and expose that from mraa, the 1wire driver s

[2015-03-09 10:46] arfoll commented on #156
I don't see the point of doing this, these are part of the API so everyone needs them, I'm happy with them in types.h, until that file grows too big.

If you want to send a PR for this I'm happy to merge it.

[2015-03-09 10:46] #156 closed

[2015-03-09 10:50] arfoll commented on #157
Agreed, the struct should 'ideally' be duplicated in the C++ header and the C header so that SWIG uses the correct name. The reason for throwing it in the types.h is that swig takes that file (but not i2c.h) and will strip the prefix away (since we have the namespace/module/package name). So it really depends on whether you prefer enum duplication or things in the right place :) I'm happy to take

[2015-03-09 10:55] arfoll commented on #158
My suggestion would be to keep mraa_platform_t as it is, custom platforms would regsiter as MRAA_CUSTOM_PLATFORM and then use the platform name to indentify themselves. It's also a good way to check we're running on something user defined.

I dont see the binary incompatibility argument, if you run code that uses the symbol MRAA_MY_PLAT and your lib doesn't have it the fact you crash is IMHO not a

[2015-03-09 22:22] eschaton commented on #156
I cannot submit a PR for making a change like that without going through a lot of red tape. The point of filing this was that everyone doesn't need the definitions for all of these different platforms: Someone using libmraa on RPi doesn't need Galileo definitions, etc.

[2015-03-09 22:23] eschaton commented on #157
I can't submit a PR, sorry.

[2015-03-09 22:27] eschaton commented on #158
Since these are enums right now, there's a constant generated in the binary that invokes the library, not a symbol that's looked up by the dynamic loader.

[2015-03-09 22:34] eschaton commented on #155
I just figured all analog I/O stuff — which is how I think of ADC anyway — would be in the same place in the API.

[2015-03-10 04:13] srlmproductions commented on #148
For any who come across this thread, building from NPM works best. Note that at this time you'll need to build 0.10.x since 0.12.x mraa support is still in progress.

[code]

Other than taking about an hour, building from source works well. mraa compiles cleanly.

[2015-03-10 14:52] arfoll commented on #148
Thanks for coming back to me on this - see #144 for node.js 0.12 support.

[2015-03-10 14:52] #148 closed

[2015-03-10 14:57] arfoll commented on #144
I got it building with 0.12 in this branch https://github.com/intel-iot-devkit/mraa/tree/node012. Unclear whether ISRs work. Note if someone wants to test this you need to set `#define SWIG_V8_VERSION 0x032873`. I need to find a good way of setting this from cmake/binding.gyp, node seems to export `NODE_MODULE_VERSION` and 0x000D (v0.11.13+) seem to be what we want to aim for.

[2015-03-10 20:46] srlmproductions opened #160 "Node: I2C readWordReg is too quick"
It appears that when I invoke the `readWordReg()` function the read command appears immediately after the write command, with no delay. This is too fast for my I2C peripheral.

If I artificially recreate the same sequence that `readWordReg()` produces, but with a delay between the write and read portions, then the process works.

Here's my Node code:

[code]

`readWordReg()` produces the following

[2015-03-10 21:38] arfoll commented on #160
The reason you're not seeing a gap is that this is using `I2C_SMBUS_READ` which is only one command, this is very efficient and the right thing for most devices. In your case I would say doing it manually is currently the way I'd prefer to handle this. I guess we could maybe put an optional delay parameter but the problem is that delays from userspace are only minimum values and very hard to enfor

[2015-03-10 23:21] srlmproductions opened #161 "Node: segfault when using I2C and GPIO"
I've run across a curious combination that produces a segfault:

[code]

The important combination are the `wind.read(2)` line and the two `button` lines. When I run this on a Sparkfun Edison stack, with no button or I2C (at address 2) hooked up I get the following error:

[code]

If I change the button to mraa pin 31 or 48, I get
[code]
I tried playing around with the button pin numbers some, and

[2015-03-10 23:22] srlmproductions commented on #160
Thanks. I'll go ahead and make sure to do it manually for the time being.

On a related note, I posted this issue in part for the idea, and in part for the documentation. I'd like to help on the documentation in a more formal matter as I learn about mraa. Maybe I can contribute to some sort of FAQ or troubleshooting guide?

[2015-03-11 06:38] srlmproductions opened #162 "Node: Kernel Panic in Ubilinux on non-existent I2C address"
I managed to induce a kernel panic from Node. The program:

[code]
The key point is that there is nothing with the address of 3 on I2C bus 1.

The panic is:
[code]

[2015-03-12 01:18] srlmproductions opened #164 "Question: Cross compiling, Node build process"
I've been running into some stability issues using mraa for Node (eg #160, #161, #162), and I'd like try and fix them in a fork. But I'm unsure of how to compile MRAA into a `node_module` ready set of files.

So, my questions are:
1. How do I cross compile mraa on my x86_64 Linux desktop for the Edison?
2. How do I produce the files that go into the NPM `node_modules` package, and can I cross comp

[2015-03-12 01:56] srlmproductions commented on #161
I got this same segfault with two I2C devices:

[code]

All that the first one does is `var gyro = new mraa.I2c(1);`. Nothing else was done with the `gyro` variable.  The second I2C bit does

[code]

And that's enough to cause the segfault. If I take out the `pwm.writeReg()` line or the `gyro` line it doesn't segfault.

[2015-03-12 03:02] srlmproductions opened #165 "Node: Feature Request: Callbacks"
The standard Node.js paradigm requires that I/O functions take callbacks so that they don't block the main thread. mraa doesn't currently do this. It appears to be primarily a [problem](http://www.swig.org/Doc3.0/Javascript.html) with SWIG itself:

Node addons do, of course, [support callbacks](https://nodejs.org/api/addons.html#addons_callbacks) but it looks like the wrapper code would all have t

[2015-03-12 04:59] rafaneri opened #166 "Help to build addon"
Hello everybody,

I need help to build a nodejs addon to create an interface for  Hx711 ADC ([repository](https://github.com/rafaneri/hx711-addon)).

The addon was build, but when I try to run the test script, I get the message: undefined symbol: mraa_gpio_close.

![captura de tela 2015-03-12 as 01 52 45](https://cloud.githubusercontent.com/assets/7685408/6612444/085a81e4-c85b-11e4-8031-05f7e32c3f

[2015-03-12 09:28] arfoll commented on #162
That's abit embarrasing, what breakout board are you using? I can't reproduce here with the arduino breakout using 0.6.1 tag.

[2015-03-12 09:32] arfoll commented on #164
We'd love to get your fixes :)

Please read https://github.com/intel-iot-devkit/mraa/blob/master/docs/building.md (the bottom includes how to cross compile) & https://github.com/intel-iot-devkit/mraa/blob/master/docs/contributing.md.

1. See building.md that explains how to use the oe toolchain. Lazy people (like me) compile on their board by installing cmake and swig 3.x on their board
2. the npm

[2015-03-12 09:32] arfoll commented on #164
Closing - feel free to reopen with Qs about compiling if any of the docs are not clear

[2015-03-12 09:32] #164 closed

[2015-03-12 09:45] arfoll commented on #166
That's awesome, have you looked at submitting this to UPM instead? Also you are aware there is a js interface to mraa (though nothign wrong with a nice native module :))

You don't link against mraa, you need to add -lmraa to the linker flags in binding.gyp something like (if you do ldd against your node module you'll see:
[code]
but no mraa :(. I've submitted a PR with a fix here:
https://github.

[2015-03-12 09:45] #166 closed

[2015-03-12 09:51] arfoll commented on #165
Yes, that is the node 'philosophy'. However most IO calls take such a small amount of time you'd spend more time scheduling work for your thread pool than actually doing work. Specially for the gpio stuff (i2c/spi stuff could be debtated but actually they're async from the kernel pov so again you're just sending tasks). Isr is obviously the exception so we accept some weird code to be able to hand

[2015-03-12 09:51] #165 closed

[2015-03-12 09:53] arfoll commented on #161
What version of mraa are you running? these issues are kind of weird.

[2015-03-12 09:56] arfoll commented on #160
Definately doc is more than welcome! Have a look at the doxygen stuff we build from here:
https://github.com/intel-iot-devkit/mraa/blob/master/api/mraa/i2c.hpp#L35
which ends up:
http://iotdk.intel.com/docs/master/mraa/classmraa_1_1_i2c.html

In the short term future we'll have jsdoc that gets build from the C++ stuff so if you doc stuff in there it'll reflect in the jsdoc. Platforms also have doc

[2015-03-12 09:56] #160 closed

[2015-03-12 12:03] rafaneri commented on #166
@arfoll I'm using the mraa to many sensors, but to this ADC, I did observed that the read time in nodejs was delayed. Then, to do a test, I wrote the native addon. Thanks for the comments, it was my first addon in my life, I going to better it! :D

[2015-03-12 21:13] rwaldron opened #167 "[edison][HW] Incorrect and unexpected return value for getPinCount()"
mraa@0.6.1-14-g0dd0395

[code]

Which can't be possible, since the Edison is currently attached to the Arduino board, not the Mini board.

[2015-03-12 21:29] rwaldron commented on #167
A few more notes:

- The issue occurs when the board is powered by 4 cell (14.8V), 2.0A LiPo that's regulated via a 12V BEC.
- The issue does not occur when the board is powered by the provided 12V 1.5A DC wall wart
- The issue does not occur when the board is powered by a 2 cell (7.4V), 1A LiPo with no regulator.

Is it possible that the .5A created a condition that produced the erroneous result?

[2015-03-12 21:34] tingleby commented on #167
Yes, It is very likely that under those power conditions the peripherals on the arduino board are not being correctly powered.
You can check for gpio 214 when running on that power source, if it doesn't exist then the i2c expanders on the board or not being used. Which are regretably required

[2015-03-13 01:12] srlmproductions opened #168 "Node: I2C readBytesReg commands are backwards"
I have the following program:

[code]

The `readWordReg()` function produces the following trace:
![readwordregorder](https://cloud.githubusercontent.com/assets/5284696/6631390/bcee94e2-c8fb-11e4-9aa7-6df407c3e0e5.png)
Notice the write, then the read.

The `readBytesReg()` function produces the following trace:
![readbytesregorder](https://cloud.githubusercontent.com/assets/5284696/6631397/cf0c95c

[2015-03-13 01:35] srlmproductions commented on #165
Can I take you up on that debatable? Take reading 6 bytes from an I2C sensor:

![readbytesregorder](https://cloud.githubusercontent.com/assets/5284696/6631438/b8080ab6-c8fc-11e4-8e9b-c9b847c4eda4.png)
(image taken from #168; I'm just using it to demonstrate the timing)

That read takes 220uS, from start to finish. Reading 3 bytes takes 146uS (measured). For an IMU type setup, there's three axes to

[2015-03-13 03:53] punitganshani opened #169 "GPIO - Galileo Gen 2 / I2C"
I'm trying to hook up Grove RGB LCD to Galileo Gen 2 using javascript.  Seems like we have to set some GPIO pins 60 and 19 to OUT direction as per the Python script

https://communities.intel.com/servlet/JiveServlet/download/272893-90734/seti2cGen2.py.zip

I've written few lines of code

![image](https://cloud.githubusercontent.com/assets/1032553/6632799/528b1c70-c977-11e4-8b4c-929bee75d7b4.png)

[2015-03-13 04:32] srlmproductions commented on #169
IIRC, that error is that you can't use that pin with the requested function. So, there is no GPIO pin 60 as mraa sees it.

In fact, I don't see a pin 60 on the [Intel Galileo Gen 2 pin mappings](http://download.intel.com/support/galileo/sb/galileoiomappingrev2.pdf). I see a pin 19 (the second half of your script). Are you sure both pins are actually outputting?

In addition, mraa does some mapping

[2015-03-13 08:22] arfoll commented on #169
@srlmproductions is 100% correct there is no gpio 60. If you want to use raw gpios pass the raw=True flag in the gpio constructor. Also ignore that script, mraa replaces all those hacks :)

But in this case this isn't what you want to do. You're trying to use i2c to control the grove rgb lcd. Open an i2c handle (I2c(0)) to your i2c bus and use it. Mraa will do the work for you in the background to

[2015-03-13 08:38] punitganshani commented on #169
For raw m.I2c(0) I'm getting this error

![image](https://cloud.githubusercontent.com/assets/1032553/6635284/2fb62b22-c99f-11e4-9d17-80629dda4d61.png)

I have tried this options before raising this issue - it did not not work on Galileo Gen 2 board

[code]

Nothing gets printed on LCD, only the color changes if I use setColor.

[2015-03-13 08:40] arfoll commented on #169
You need your board to be on 5V for the LCD screen to work - try flicking the switch on your grove shield.

Weird mraa direct does that - what version of mraa is it?

[2015-03-13 08:43] punitganshani commented on #169
mmra => Version 0.6.1

The board is powered with default Galileo Gen 2 power supply..  The code is able to change backlight, but does not show any text.

I also did i2cdetect on Galileo Gen 2, I'm getting this output

[code]

Anything needs to be changed, let me know

[2015-03-13 08:45] arfoll commented on #169
You're using he grove shield right? That has a 3.3v->5v physical switch on
it. What position is it in?
On 13 Mar 2015 08:43, "Punit Ganshani" <notifications@github.com> wrote:

[2015-03-13 08:51] punitganshani commented on #169
Ah!  For some reason, it was towards the left.  Flipping it to right, worked.

Cheers!

[2015-03-13 08:51] #169 closed

[2015-03-13 10:16] arfoll commented on #161
Sorry but I just don't see the segfault with the following:
[code]

Obviously the devices don't exist so it doesn't do much... Can you explain more what you are doing and how you're building mraa?

[2015-03-13 14:22] arfoll commented on #165
Of course - you're more than welcome :) To give you a bit of context the decision was done at the time when we only supported quark platforms which are considerably slower than the edison. But anyways I figured I'd never actually tried it so instead of spewing rubbish at you I should just test it - *for science*!

I made a simplisitc benchmark using rdtsc, a 2 byte read in mraa vs creating a libuv

[2015-03-13 14:27] arfoll commented on #167
I don't know enough about the low level hardware for my comments to be worth much but this looks like a power issue - can you check with i2c-detect to see if you can see any of the gpio expanders on your breakout board?

[2015-03-14 02:51] srlmproductions commented on #161
Your code is formatted a bit weird, but I think it's supposed to be:

[code]
That doesn't produce an error for me.

I'm running an Edison using mraa v0.6.1-14-g0dd0395 from npm under self-compiled Node v0.10.36 on Ubilinux Debian 7 (wheezy).

I don't really have a concrete idea on why/how this happens, only the program in the first post. It throws the error at line 1152 for me.

[2015-03-14 02:59] srlmproductions commented on #165
Interesting. I had no idea that forking and joining a thread was almost 3 milliseconds. That's pretty significant. Thanks for following up.

[2015-03-14 03:05] srlmproductions commented on #162
Hmmm. Now I can't reproduce it either. I did switch to homebuilt node, instead of the Debian package. If I get a second Edison I'll try it with the package node, but I'll go ahead and close this for now.

Current environment: Edison using mraa v0.6.1-14-g0dd0395 under homebuilt Node v0.10.36 on Ubilinux Debian 7 (wheezy). Sparkfun Edison blocks: Edison->Console->SD->I2C->GPIO->PWM->LSM9DS0.

[2015-03-14 03:05] #162 closed

[2015-03-14 20:55] tripzero opened #170 "SPI on MBMax with python strangeness"
Using the latest(as of this writing) mraa master on the minnowboard max I see some strange issues.  The following works:

$python

however, if I create a script, it fails (test.py):

#!/usr/bin/env python
import mraa
spi = mraa.Spi(0)

$python test.py
Traceback (most recent call last):
  [snip]
    self.spiDev = mraa.Spi(0)
  File "/usr/lib/python2.7/dist-packages/mraa.py", line 806, in __init__

[2015-03-14 22:16] arfoll commented on #170
You need to update mraa that looks like 0.6.1-5 which is not the latest, off the top of my head its -14 you *need* https://github.com/intel-iot-devkit/mraa/commit/c621fad5f3ebbdc0c9398e4f808ed7e379c9af5e. You dont show the full log but my guess is that you didn't install so Ipython grabs the correct module from your current dir but your script does not since its run from another dir.

Does spidev0

[2015-03-14 23:19] tripzero commented on #170
Odd...  I have installed the latest, which during build time cmake says
is:

INFO - libmraa Version v0.6.1-16-gc621fad

However, syslog still says it's 0.6.1-5.  I'll dig into this more...

On Sat, Mar 14, 2015 at 3:17 PM, Brendan Le Foll <notifications@github.com>
wrote:

[2015-03-14 23:21] arfoll commented on #170
thought that may be the case - it could be cmake caching version.c sometimes it's own cleverness gets in it's own way :)

Are you sure you're loading the same module from the same place with ipython & your script? Maybe if you call getVersion() from both scripts at the start to check.

[2015-03-14 23:34] tripzero commented on #170
I was about to try getVersion() :P... After applying PR #171 and running
make uninstall, it appears that I have a rouge version of mraa hanging
around.

On Sat, Mar 14, 2015 at 4:21 PM, Brendan Le Foll <notifications@github.com>
wrote:

[2015-03-14 23:44] tripzero commented on #170
The reason is on ubuntu, due to a missing patch PR #141 , mraa-python isn't being istalled in a place ubuntu's python can find it.  So a while ago, I had manually copied them...

After patching this mraa with PR #141 and reinstalling, the problem is fixed.

[2015-03-15 08:22] #170 closed

[2015-03-15 22:46] rwaldron commented on #167
I've now also encountered this issue with

- 12V 1A wall wart
- 12V 1.5A wall wart (the same used in the tests reported above)

[code]

[2015-03-16 00:46] tingleby commented on #167
Output from `cat /sys/kernel/debug/gpio` would be much more informative.
Do you have any peripherals hooked up during this?
I very much doubt there is anything we can do from a Software standpoint.

[2015-03-17 19:23] arfoll commented on #168
Fixed

[2015-03-17 19:25] #168 closed

[2015-03-18 07:54] ovicin opened #172 "Problems generating wrappers for Python 3.4.1"
I try to use mraa with Python 3.4.1 but I have problems in generating the mraa wrappers for this version because the cmake scripts is not detecting it. I tried the following on Intel Edison and Raspberry PI:
1. I compiled Python 3.4.1 from source
[code]
2. I simlynked the content from /opt/python3.4.1/lib to usr/lib/
4. I compiled mraa
[code]
When I run cmake it detected only Python 2.7 and at the

[2015-03-18 08:32] arfoll commented on #172
Try the `tocompile` branch. That has the new python detection (from #141) you should be able to pass `cmake -DBUILDPYTHON3=ON ..` and get the right thing (if that doesn't work please shout since that will get merged in master v.soon). Otherwise using master you'll need to set the following python vars by hand to force the correct python to get found - something like:
[code]

Note that simlinking t

[2015-03-18 15:06] rwaldron opened #173 "Support: DFRobot Romeo and DFRobot IO Expansion Shield"
- [Romeo for Edison Controller (With Intel® Edison)](http://www.dfrobot.com/index.php?route=product/product&path=166&product_id=1238)
- [IO Expansion Shield for Intel® Edison](http://www.dfrobot.com/index.php?route=product/product&path=166&product_id=1244)

(Currently neither are in stock)

It seems feasible that they will both work out-of-the-box, being identified as the Arduino Board. If not, I

[2015-03-18 15:43] arfoll commented on #173
We should definately support those - thanks for pointing these out. In the meantime if someone has one and wants to help please shout!

[2015-03-18 18:16] arfoll commented on #144
Updated branch builds for node 0.10.x and 0.12.x but now depends on SWIG 3.0.5. NPM pkg could work on both but would need to be updated.

[2015-03-18 18:18] arfoll commented on #144
Does anyone know how to get the nodejs (or even v8 version) from binding.gyp at compile time?

[2015-03-19 05:12] sdssly opened #175 "Lack of the mraa_init call in these example codes"
Such as the hellomraa.c, helloedison.c, the mraa_init call is needed

[2015-03-19 07:26] michael-ring commented on #175
Hmm, I guess it it more the opposite, mraa_init is called when the .so is initialized, when you check the return code you will see that it says MRAA_ALREADY_INITIALIZED, so those calls are obsolete.

[2015-03-19 09:15] arfoll commented on #175
Hi @sdssly, the mraa_init() call is entirely optional (unless your libc is compiled without CTORS). The reason it's not in the examples is because it's really just a safety check and our examples - hopefully obviously - lack alot of error checking in the hope to be clear and to generate decent *interesting* tags in our doxygen docs. Note documentation on mraa_init() hopefully makes this clear - ht

[2015-03-19 09:15] #175 closed

[2015-03-19 09:23] michael-ring commented on #175
Well, documentation seems a little outdated, is says:

Anything but MRAA_SUCCESS should be considered a critical failure

When you call mraa_init in application code you get

MRAA_ERROR_PLATFORM_ALREADY_INITIALISED

which is not really a critical failure but more a hint that init was already done for you automagically

[2015-03-19 09:31] arfoll commented on #175
Indeed I re-read that too quickly - fixed documentation with e03eec3ce16fe0a52bc709e259f5b2319739fdd4

[2015-03-19 10:38] arfoll commented on #167
Closing as this is a hardware issue. To get more exposure I'd recommend the intel support forums.

[2015-03-19 10:38] #167 closed

[2015-03-19 10:39] #155 closed

[2015-03-19 10:40] arfoll commented on #172
Closing - please reopen if this is still an isue.

[2015-03-19 10:40] #172 closed

[2015-03-19 10:43] arfoll commented on #117
Closing due to lack of ability to reproduce, likely hardware issue.

[2015-03-19 10:43] #117 closed

[2015-03-19 10:45] arfoll commented on #49
This has been addressed in the ww5 release note as a platform issue. Closing as HW/platform bug not under our control.

[2015-03-19 10:45] #49 closed

[2015-03-19 10:47] arfoll commented on #127
Closd by 827e1974bf12d9b318883818b9078f9b44335ad8

[2015-03-19 10:47] #127 closed

[2015-03-19 13:04] sdssly commented on #175
Thanks for your update! I just found the root cause. For some reason, my local build defined the SWIG. So the mraa_init is not a auto call.

I would like to know when we will define the SWIG? why use the SWIG?

[2015-03-19 13:42] arfoll commented on #175
When you do a build the swig modules it uses the %init {} prop in the interface file rather than the constructor https://github.com/intel-iot-devkit/mraa/blob/master/src/mraa.i#L27

How are you building? And why is SWIG defined? It should not be defined when building the C/C++ library only when building the SWIG interface wrapper files.

[2015-03-19 14:51] rwaldron commented on #167
I'll keep investigating when I have more time.

[2015-03-19 18:29] arfoll commented on #144
Now merged. Npm pkg is still not updated because our build machine is using swig 3.0.3 - @tingleby can you take care of that?

Note that from now on swig 3.0.5 is required to build mraa nodejs binding.

[2015-03-20 00:39] tingleby commented on #144
Build Machine updated. Builds passing!

[2015-03-20 07:23] ovicin commented on #172
In the end I didn´t managed to compile for Python3.
First I tried using virtualenv, but I don´t know why virtualenv was not copying the shared variables in ```myenv/lib``` so when running ```cmake -DBUILDPYTHON3=ON ..``` is not finding the Python3 libraries.
After that I also tried to rebuild python and install it in the /usr folder
[code]
So now in /usr/lib I have the libraries:
[code]
But when r

[2015-03-20 09:48] arfoll commented on #172
When you get the error above wipe your build/ directory cmake cache is likely getting upset because FindPython already 'cached' finding python2.

Failing that what distribution are you using?

[2015-03-20 10:58] ovicin commented on #172
I use the Yocto Intel Edison distribution downloaded about a month ago from the Intel website.

I deleted the content from the build folder before running cmake

[2015-03-20 14:38] arfoll commented on #172
I got that to work with:
[code]

Then note make install will go to wrong location unless you update the PYTHON_EXECUTABLE var. If that doesn't work dpaste `cmake -LA`

[2015-03-20 19:02] ovicin commented on #172
Great, the build now works, but unfortunately ```make install``` doesn't install it to the correct path.
See bellow the modules that I have in python3 after running ```make install``` and the output of ```cmake -LA ..```
[code]
Here is the output of ```cmake -LA ..```
[code]
Just in case I also put here the output of ```cmake -DBUILDPYTHON3=ON -DPYTHON_INCLUDE_DIR=/usr/include/python3.4m/ -DPYTHON

[2015-03-21 10:27] cosscat opened #176 "PWM method period_ms() returns error in python"
Hello,

While performing some tests on Galileo v1,  for PWM,  period_ms() returns 4 (ERROR_INVALID_PARAMETER = 4).
[code]

At the same time
[code]
so this is not a platform limitation
[code]
Costin

[2015-03-21 13:18] cosscat commented on #176
I also observed this behavior for setting the period in us:

4

0

4

0

0

4

4

0

4
 Same platform Galileo v1

Costin

[2015-03-21 13:36] cosscat commented on #176
Hello,

After having a look on mraa/src/pwm/pwm.c i saw there is a pwm_min_period and a pwm_max_period that further more are initialized in mraa/src/x86/intel$(machine_name).c. It would me nice to have a function inside Python's mraa Pwm class that can return these two values.

Costin

[2015-03-23 13:35] rwaldron commented on #173
Update: I added the "Romeo for Edison Controller (Without Intel® Edison)" to the list in the OP.

[2015-03-23 15:29] arfoll commented on #176
We should provide a way of exporting the min/max pwm period values of a platform

[2015-03-24 16:52] #121 closed

[2015-03-24 16:52] #176 closed

[2015-03-24 17:51] egradman commented on #117
I'm having exactly the same issue.  Aio:4

[code]

I'll try with new hardware.

[2015-03-24 18:27] egradman commented on #117
I swapped out the Galileo (same SD card) and now the problem happens intermittently.

[code]
Sep 03 11:46:23 quark017953 kernel: intel_qrk_gip 0000:00:15.2: controller timed out
Sep 03 11:46:24 quark017953 kernel: intel_qrk_gip 0000:00:15.2: controller timed out
Sep 03 11:46:24 quark017953 kernel: pca953x 0-0027: failed writing register
[code]

[2015-03-25 15:18] cosscat opened #178 "python SPI: lsbmode() accepts False but not True"
Hello,

On Galileo v1, the lsbmode(True) returns errcode 7:

0

7

'v0.6.1'

Costin

[2015-03-26 15:00] cosscat opened #179 "SPI: write_word() seems to return wrong values"
Hello,

This is for Galileo v1 and >>> m.getVersion()   --->  'v0.6.1'

I have a TMP125 SPI temperature sensor (http://www.datasheetcatalog.com/datasheets_pdf/T/M/P/1/TMP125.shtml) and did a small script to test if write_word() works well. To do this i did two scenarios where i read the same register of the sensor twice: once with write_word() and the second time with write(). In the case of write

[2015-03-26 23:27] michael-ring commented on #179
The problem is that spi is per default configured for 8 bit transfers. The write word function should throw an error in this situation as it cannot correctly transfer 16 bits in 8 bit mode, the cs needs to stay low for all 16 bits, this is not possible in 8 bit mode, cs will go up after 8 bits an then down again.
You do your own CS, but this is a special case.

Please call mraa_spi_bit_per_word wi

[2015-03-27 08:01] cosscat commented on #179
In the case of CS, how can i do a CS from inside SPI? The SPI connector (compatible with Arduino ones) has 6 pins, and none of them are (from what i understand) related to CS.

[2015-03-27 08:02] arfoll commented on #179
Use pin 10. Agreed the 6 pin connector is confusing imho best avoided
On 27 Mar 2015 08:01, "cosscat" <notifications@github.com> wrote:

[2015-03-27 08:13] cosscat commented on #179
Just did a test, and at this time I am confused ... my sensor is throwing wrong values on the screen that are not compatible with the datasheet itself. I will try to change it. However, I tried with pin 10 and result is the same. Why is there a pin (in this case 10) assigned for CS? If i have 4 devices how can i select each one of them?
Just to continue the test itself, I'll use two Galileos to se

[2015-03-27 08:21] arfoll commented on #179
Because that's the hardware CS. Technically using a GPIO for CS can have unintended consequences - see software CS debate. Techincally on galileo you only have one CS so you can't have 4 devices.

It's possible your sensor can't handle 16bit transfers.

[2015-03-27 09:53] michael-ring commented on #179
I briefly checked the Datasheet, the Chip seems 16Bit. cosscat, please have a look at the max7219 example, this should give you an idea how to do 16bit transfers with mraa, the max7219 is also 16bit.

@arfoll : Any news on merging the soft-cs pull request?

[2015-03-27 20:04] rwaldron commented on #167
I hadn't encountered this issue in a few weeks and then all of a sudden it was there again today. Here's the output requested:

[code]

[2015-03-30 18:40] cosscat opened #181 "DIR_OUT/ DIR_IN/ DIR_OUT_LOW/ DIR_OUT_HIGH from mraa.Gpio() not recognized as a predefined values"
Hello,

Came accross this issue wen trying to set the direction of a pin to output. I  can use the substitute value for the DIR_OUT / DIR_IN label, but not the label itself:

[code]

Using galileo v1 with  m.getVersion() ---> 'v0.6.1'
The same issue is encountered for DIR_OUT_LOW/ DIR_OUT_HIGH

Costin

[2015-03-30 18:53] arfoll commented on #181
Use m.DIR_IN. that const comes from the mraa package so its not global.

[2015-03-30 18:53] #181 closed

[2015-04-01 16:20] dyosick opened #183 "The getPinName() routine is absent"
According to the documentation to the 0.6.1 release (http://iotdk.intel.com/docs/master/mraa/namespacemraa.html#aa436b58bf20a87909c7344bf58d42706), but the compiler says:
"aio.c: In function ‘int main()’:
aio.c:6:38: error: ‘getPinName’ is not a member of ‘mraa’"

[2015-04-07 10:04] tingleby commented on #183
What version of mraa do you have installed?
`opkg info libmraa0`

[2015-04-07 10:16] arfoll commented on #183
More importantly this is not a feature of v0.6.1 but is a feature for
upcoming releases:
http://iotdk.intel.com/docs/mraa/v0.6.1/namespacemraa.html#aa436b58bf20a87909c7344bf58d42706

You need to use master from intelgalactic-dev to get that function.

On 7 April 2015 at 11:04, Tom Ingleby <notifications@github.com> wrote:

--
Brendan Le Foll
http://www.madeo.co.uk

[2015-04-08 02:56] pnovotnak opened #187 "Python API's I2c.writeReg() Does Not Produce Expected Results"
When using the Python I2c module, I don't get the results I expect with writeReg().

My `/proc/version` reads

    Linux version 3.10.17-poky-edison+ (sys_dswci@tlsndgbuild004) (gcc version 4.8.2 (GCC) ) #1 SMP PREEMPT Fri Jan 30 14:16:35 CET 2015`

Not only does most of the mraa.I2c module seemingly do nothing, it produces no meaningful error messages either, making it nigh impossible to debug. T

[2015-04-08 03:04] pnovotnak commented on #187
Tried upgrading per instructions in readme which went fine...

    Upgrading libmraa0 on root from 0.5.2-r0 to 0.6.1+git0+805d22f0b1-r0...
    Downloading http://repo.opkg.net/edison/repo/core2-32/libmraa0_0.6.1+git0+805d22f0b1-r0_core2-32.ipk.
    Removing obsolete file /usr/lib/libmraa.so.0.5.2.
    Configuring libmraa0.

Proof-

    'v0.6.1'

But still no dice

[2015-04-08 08:15] dyosick commented on #183
Sorry, guys, it's my fault. I've looked into the wrong doc page. Thanks for help.

[2015-04-08 08:15] #183 closed

[2015-04-08 21:44] arfoll commented on #187
You don't mention what breakout board you're using but I guess you're needing i2c-1, mraa respects the krenel i2c bus numbering so just ask for I2c(1). I suspect you haven't looked at the debugging page http://iotdk.intel.com/docs/master/mraa/debugging.html which explains how to use journalctl to get debug messages from syslog. If you use printError(5) you'll get the error message which is invalid

[2015-04-08 21:49] arfoll commented on #178
galileo g1 does not seem to support lsbmode LSB_FIRST. Thus the ioctl's fail at a kernel level returning MRAA_ERROR_INVALID_RESOURCE (ideally on fail it should return MRAA_ERROR_FEATURE_NOT_SUPPORTED) we should add a _replace() hook for this on g1.

[2015-04-08 22:58] pnovotnak commented on #187
It gives me `MRAA: Invalid Handle.`

It's a Sparkfun DEV-13042 board

[2015-04-09 00:08] pnovotnak commented on #187
As for syslog... Looks like that code doesn't output anything there. Alls I see is right after boot:

[   14.223182] wl_bss_connect_done succeeded with 58:6d:8f:56:83:a8
[   14.293219] wl_bss_connect_done succeeded with 58:6d:8f:56:83:a8
[   15.772075] ip (330) used greatest stack depth: 5344 bytes left

[2015-04-09 08:56] michael-ring opened #188 "Support for cross compiling with linareo toolchain"
I today discovered the directory cmake/Toolchains, a nice place to put my cmake toolchain file for crosscompiling the arm targets.

I am not a cmake guru, perhaps you guys can have a look on how to better optimize the file so that it works for as much platforms as possible:

One easy thing to do is to remove the absolute paths to gcc and g++,
I am not sure how to handle

SET(CMAKE_FIND_ROOT_PATH

[2015-04-09 10:17] arfoll commented on #188
Looks ok tbh, the cool thing about the oe/yocto toolchain is that it comes with it's own 'env' file so that compiler paths etc don't have to be hard set. Does the linaro toolchain not come with something like this?

[2015-04-10 17:55] arfoll commented on #187
Sorry for the delay, I've had a quick look - it seems like the kernel i2c driver is refusing to write to 0x40 for some reason. I'm thinking the edison arduino breakout must use the same module or something and the kernel is getting confused. It'll need a further look.

[2015-04-10 18:27] pnovotnak commented on #187
The breakout board has a few places to bridge the chip to change it's address. I'll give that a shot and post results.

[2015-04-10 18:58] pnovotnak commented on #187
Disabled the all call address (0x70), moved the chip to 0x40 and rebooted the Edison with the same result as before. I'll take a look at the debugging document and see what information I can collect.

[2015-04-10 19:17] arfoll commented on #187
Very weird - btw you're not looking at syslog use `journalctl -f` whilst running your calls you should at least get one message from mraa on initialisation.

[2015-04-10 19:31] pnovotnak commented on #187
D'oh!

Ok, the relevant lines from `journalctl -f` are...

`libmraa[382]: Above i2c bus count` for 0 <= bus number <= 9

Between 0 and 8 I get `libmraa[382]: Invalid i2c bus, moving to default i2c bus` *except for 6, which appears to run successfully.*

After that, no matter what bus number I choose, I get `libmraa[382]: i2c: Failed to write` when writing to an address.

[2015-04-10 21:45] rwaldron opened #190 "Sparkfun Arduino, PWM, GPIO and ADC block support"
- Base Block: https://www.sparkfun.com/products/13045
- Arduino Block: https://www.sparkfun.com/products/13036
- PWM Block: https://www.sparkfun.com/products/13042
- GPIO Block: https://www.sparkfun.com/products/13038
- ADC Block: https://www.sparkfun.com/products/13046

Found: https://communities.intel.com/message/268147#268147

I don't remember any activity that was specific to these breakouts,

[2015-04-13 09:22] vvvverre opened #191 "Arguments swapped between C and C++ APIs"
In some places the order of arguments differs between the C++ and the C API. Examples of this are the C++ functions `WriteReg` and `WriteWordReg` in the I2C API.
This could get a little confusing for people using both (and it makes changing from C to C++ more of a hassle than it should be).
Maybe something that  can be changed when the API gets changed in the future?

[2015-04-17 19:09] rwaldron commented on #190
Works out of the box.

[2015-04-17 19:09] #190 closed

[2015-04-17 21:06] rwaldron commented on #190
Sorry, I jumped too soon there. The GPIO block works out of the box, but the Arduino block connects via UART, so is not applicable.

[2015-04-29 00:57] yongli3 opened #198 "I2C bus_id is incorrect on DE3815?"
I am testing the MRAA on NUC DE3815. I found the custom solutions header is using i2c-8 and i2c-9. It is not 0 and 1:
/hellomraa
hello mraa
 Version: v0.6.2-7-gf6e87f6
 Running on Intel DE3815

i2cdetect -l
i2c-0   i2c             i915 gmbus ssc                          I2C adapter
i2c-1   i2c             i915 gmbus vga                          I2C adapter
i2c-2   i2c             i915 gmbus panel

[2015-04-29 03:44] tingleby commented on #198
Would it be possible to get the kernel version please `uname -a` and what distro (if any) you are running.
This is something I was afraid of when I added support for this platform.

[2015-04-29 05:51] yongli3 commented on #198
Thanks for your update. I am using the 3.19 kernel:
Linux DE3815 3.19.0 #27 SMP PREEMPT Thu

[2015-04-30 16:36] tingleby commented on #198
Ok, When I get chance ill create a patch to try and avoid having I2C statically assigned to 0/1 and move to where it sees the appropriate device

[2015-05-05 14:05] abdullahyildiz opened #200 "Which pins used for SPI on Galileo Gen1?"
Which pins are (CLOCK, MOSI, MISO, CS) when

[code]

or

[code]

runs?

[2015-05-05 14:35] abdullahyildiz commented on #200
In file **intel_galilieo_rev_d.c**:
[code]

[2015-05-05 14:39] arfoll commented on #200
So yes, that's it, use the pins you've found. There's only one spi bus and one chip select.

[2015-05-05 14:39] #200 closed

[2015-05-08 13:36] cosscat commented on #138
Hi Brendan,

Sorry for the delay in getting back to this. Yes, i guess what you said is fine. Adding something to the doc file is best.

[2015-05-09 16:27] nourshirazi opened #204 "Analog reading error"
Hello,

Since i upgraded the libmraa i am get an error reading analog pins on the Edison Arduino Breakout

The error given:

ERROR: /home/root/.node_app_slot/main.js:22
ERROR: var analogPin0 = new mraa.Aio(0); //setup access analog input Analog pin #0 (A
                 ^
ERROR: Error: Invalid AIO pin specified - do you have an ADC?
    at Object.<anonymous> (/home/root/.node_app_slot/main.js:22:

[2015-05-10 12:19] tingleby commented on #204
Hi,  You can install previous version of mraa for node with npm
For example
`npm install mraa@0.6.1`
You can find all the versions of mraa using `npm show mraa`

In this case, are you using anything attached to A4 or A5? or I2C?

[2015-05-12 19:19] cosscat opened #205 "Galileo v2 i2C module can't be initialized"
Hello,

While performing some tests on I2C module, a strange thing happened  when initializing the port 0 (which i am sure is correct since it worked 20 min. ago):

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python2.7/site-packages/mraa.py", line 895, in __init__
    this = _mraa.new_I2c(bus, raw)
ValueError: Invalid i2c bus

root@galileo:~# journalct

[2015-05-16 04:25] dandyd449 opened #206 "pwm->read() failure"
I've been unable to read the current duty cycle percentage.
[code]

This should:
Turn on the led
Set the duty cycle to 90%
Set the duty cycle to 1%
Turn off the led

This seems to work but I am unable to read the duty cycle. Logs from my edison show this:
[code]

[2015-05-16 04:29] dandyd449 opened #207 "Erratic PWM behavior"
I've been unable to read the current duty cycle percentage.
[code]

This should:
Turn on the led
Set the duty cycle to 90%
Set the duty cycle to 25%
Turn off the led

This does not work. In fact it looks as if the led changes to 100% upon exiting.
However if I set the duty cycle to 1% prior to disabling the led. It will turn off.

There is no log message generated.

[2015-05-16 09:25] cosscat commented on #207
Hello dandyd449,

What board did you use?
I'm using a Galileo v1 and just compiled your code:
g++ -lmraa pwm_test.cpp
and works for me.

Here is my output:
oot@galileo:~/c++_tests# ./a.out
0.899998
0.400000

regarding the led->enable(false); i don't think it should turn off the LED. The reason for this is because what pwm does is to refer to the /sys pwm chip as mapped in kernel:
// from mraa/src/

[2015-05-16 09:37] cosscat commented on #206
Hello dandyd449,

I had a look on mraa/src/pwm/pwm.c (after cloning mraa) and i saw there that the period is read via:
...
snprintf(bu, MAX_SIZE, "/sys/class/pwm/pwmchip%d/pwm%d/period", dev->chipid, dev->pin);
...
int period_f = open(bu, O_RDWR);
...
ssize_t rb = read(period_f, output, size + 1);

I don't have an Edison at hand, but maybe there is an issue with file permission (i remember having

[2015-05-16 17:36] dandyd449 commented on #206
Hmm... So it is starting to sound more like an issue with the device than with the mraa library... Thats sad for such a capable device.

[2015-05-16 17:58] tingleby commented on #206
So, I have an rough idea where this could be happening. As the Edison PWM devices all share a period value, a quirk of the hardware, it may have to be read from another file.
Ill look at this in the next couple of days.

[2015-05-16 18:01] tingleby commented on #205
So the line
`May 12 15:39:27 galileo kernel: pca953x 0-0027: failed writing register`
suggest that the multiplexers which are on another I2C bus have crashed,

[2015-05-16 18:05] tingleby commented on #207
Based on previous issues filed this is on the edsion yes? There is an outstanding issue with the PWM device is that if disabled it acts as a HIGH pin.
There is a patch in the works that works when the pin is being set to a duty of 0% the pin is to change mode into a GPIO and be set to LOW

[2015-05-16 21:19] dandyd449 commented on #207
That is correct. This is an edison.

Whats curious is why it seemly works if I set the duty to 1% prior to led->enable(false) and why at 0% it still outputs something. I look forward to this patch for sure. I was very close to abandoning the platform for something else.

Thanks!

[2015-05-16 21:23] dandyd449 commented on #206
Hmm, not that I've had any reason to change the period yet but you're saying that PWM is true hardware PWM vs say the raspberry pi's software based PWM?

[2015-05-16 21:55] tingleby commented on #206
So the PWM is hardware based but it isn't terribly flexible. All 4 PWM channels share a period value which is set in a way not following the Linux sysfs interface for PWM.

[2015-05-17 17:30] cosscat commented on #205
Thank you tingleby. Unfortunatelly, I have an other Galileo v2 that has the same issue too :(
Not  a good sign for me ...

[2015-05-19 19:10] FlippieCoetser opened #208 "Segmentation Fault"
Hi,

Please see the following code snippet (using Node)
[code]
When triggering the interrupt a few times Node exits with an Segmentation Fault.

Node Version: v0.10.29
MRAA Version: v0.6.2

Any workaround?

Kind Regards,
Flippie

[2015-05-19 19:14] srlmproductions commented on #208
Related? https://github.com/intel-iot-devkit/mraa/issues/161

[2015-05-19 20:22] arfoll commented on #208
Can you clarify what platform you are on? @srlmproductions I don't think so.

[2015-05-19 20:23] arfoll commented on #161
Try compiling with debug and run with gdb to get a good stacktrace on the latest git master or release version (0.6.2). Instructions are here: https://github.com/intel-iot-devkit/mraa/blob/master/docs/building.md. Since I can't reproduce this is really the only way I can help you.

[2015-05-19 21:43] dandyd449 commented on #206
I can confirm that I can cat the file needed to read the period file.
[code]

[2015-05-20 09:56] arfoll commented on #208
Can you try on latest git master? I had a go with edison and fired interupts at between 1000 & 100000 hz and I can't get it to segfault.

[2015-05-20 10:19] #144 closed

[2015-05-20 11:36] FlippieCoetser commented on #208
@arfoll I am indeed using Edison.
Note: I loaded the OS image and MRAA in the December time frame which worked well.
It was only after loading the latest version yesterday which broke the interrupt function.
it is also important to mention that the interrupt works for a while before the Segmentation Fault appears.

On the hardware side I am using a capacitive based touched sensor which triggers th

[2015-05-20 12:03] FlippieCoetser commented on #208
@arfoll

I just updated the MRAA library however the problem persists.
Below is a screen shot of the output in the console window.
I manually trigger the capacitive based touched sensor which trigger the debounce code which then logs the 'Input: Click'. Debouncing is happening at a rate of 200 msec. The interrupt is therefore triggered more much more than the 'Input: Click' log displays.

![image]

[2015-05-20 12:47] cosscat commented on #205
Hi tingleby,

Please close the issue. It is something related to the hardware. It appears randomly.

Costin

[2015-05-20 12:51] arfoll commented on #208
Ok this is weird, can you give me the output of the following:
[code]

Then on the miniboard (I'm assuming you're on a miniboard/edison right?) Short Pin 36 (J19-9) to J17-11 (SPI SCK). Then run the following code:

[code]

Even changing to 10000 I can't get a segfault, so it looks fairly solid on my end :/. Can you do the same?

[2015-05-20 12:52] #205 closed

[2015-05-20 14:24] FlippieCoetser commented on #208
MRAA version: V0.6.2

Unfortunately I am using the GPIO board from Sparkfun which do not have the SPI interface pins.
I have slightly adjusted your code to use another pin as output and switch that on and off.

[code]
With this code the ISR triggers correctly.
What I don't understand is that the older OS Image do work.

I am clueless...

[2015-05-20 15:50] arfoll commented on #208
ok, I have sparkfun gpio board I can try with as well, but I'm a little confused why you're not seeing the issue with the code you just pasted but you do with your capacitive button. Are you able to compile mraa with debug symbols and then run node via gdb so you can get a stacktrace of the sigsegv? That would give us an idea as to where the error is.

[code]

Then run (hit r in gdb shell to start

[2015-05-20 16:19] omkarpujari opened #209 "Intel Galileo Gen 2 Python code for Analog read gives error after some time"
Dear Sir ,
I am facing a issue with the intel galileo gen 2 . I am using the mraa library on python
Here is a sample code which works properly

import mraa
x = mraa.Aio(0)
y = mraa.Aio(1)
....upto mraa.Aio(5)

and then i save it in an array  say
array = x.read() , y.read() , z.read() , a.read() , b.read()

But when i run a loop say for 100 times the analog read works for some time and suddenly sto

[2015-05-22 10:39] FlippieCoetser commented on #208
@arfoll Here is the trace you needed.

[code]

These were the comamnds I ran to get this output
[code]

[2015-05-22 10:43] arfoll commented on #208
could you get the full backtrace by running `bt` in the (gdb) prompt?

[2015-05-22 10:48] FlippieCoetser commented on #208
Here you are:

[code]

[2015-05-22 11:08] FlippieCoetser commented on #208
I updated to

[2015-05-22 11:11] arfoll commented on #208
Sorry one last thing - could you past the output of a full `thread apply all backtrace`? I'm curious to see if there is another libuv thread calling v8::Function::Call at the same time.

Another thing you could do would be to build the `jsmutex` branch and see if you can still reproduce.

[2015-05-22 11:28] FlippieCoetser commented on #208
Downgraded Node again to the latest available via Debian 7.8 package manager `v0.10.38` and here the segfault was also reproducible.

Here is the according gdb output:

[code]

[2015-05-22 13:40] FlippieCoetser commented on #208
Resolution:
When creating interrupt using `MRAA GPIO v.06.2` ensure you use `Node v.0.12.3` to avoid segment fault. Happy coding!

[2015-05-22 13:40] #208 closed

[2015-05-29 13:49] alext-mkrs commented on #59
Just wanted to let you know gentlemen that I'm still on this one, just got thrown back by some private stuff - but I'm back now (better late than never :smiley: ).

[2015-05-29 14:38] arfoll commented on #59
Assigned ;-) You're on the hook now ehehe

[2015-05-29 23:14] Propanu opened #211 "JS build errors with node 0.12.4 and SWIG 3.0.5"
Offending code from the swig generated javascript wrapper:
[code]

With the node 0.12.4 binaries in place, the V8_VERSION is queried as `3.28.71.19`.

I can fix the build by manually defining the V8_VERSION in the SWIG_FLAGS property set in the cmakelist file for javascript. However I don't understand what is causing this perceived version discrepancy?

[2015-05-31 16:22] pinwaven opened #212 ""Error: Module did not self-register" with node.js v0.12.4 on Intel Edison"
npm install mraa -g

root@edison:~/# node

Error: Module did not self-register.
    at Error (native)
    at Module.load (module.js:355:32)
    at Function.Module._load (module.js:310:12)
    at Module.require (module.js:365:17)
    at require (module.js:384:17)
    at repl:1:12
    at REPLServer.defaultEval (repl.js:132:27)
    at bound (domain.js:254:14)
    at REPLServer.runBound [as eval] (dom

[2015-05-31 18:22] arfoll commented on #212
Can you past the full output of the compilation of mraa? How did you compile node.js 0.12.4? My guess is that either you compiled mraa before recompiling node or that node 0.10.x is still present on the board and for some reason got chosen.

I've just double checked and mraa 0.7.0 works for me with node 0.12.4

[code]

[2015-05-31 19:36] alext-mkrs opened #213 "Question about Edison's ADC resolution"
As per our [docs](https://github.com/intel-iot-devkit/mraa/blob/master/docs/edison.md) and [source code](https://github.com/intel-iot-devkit/mraa/blob/master/src/x86/intel_edison_fab_c.c#L1134-L1135) we treat Edison Arduino board's ADC as ADS7955 with "10 bit packed into 12 bit" resolution.

At the same time driver sources (even though it calls itself ads7955 there, the resolution parameters are f

[2015-05-31 19:50] alext-mkrs commented on #209
What mraa version do you have? Have you tried anything else than Python (Node.js or C)?

I'll check this in a moment, but if you could provide the smallest possible program that reproduces the issue, that could be helpful to make sure we're talking about the same thing.

[2015-05-31 22:04] alext-mkrs commented on #209
Ok, my check will need to wait a day or so because my Galileo Gen2 board needs a console-level intervention to work and I don't have one at hand.

So reproducer program would be really useful until then.

[2015-06-01 02:43] omkarpujari commented on #209
Please find attached 2 codes for scanning a sensor matrix for one of our
projects .

Both are python codes

In the first one it is properly working

I am scanning 30 sensors for 11 times in a loop and it is perfectly working
.

But in the second code you can see when i make the loop count to 12 it
shows some error after executing 11 times and then stops .

Please find attached the code and please

[2015-06-01 06:22] alext-mkrs commented on #209
Ok, thanks, I'll check it out and get back to you.

[2015-06-01 16:37] #211 closed

[2015-06-01 19:04] alext-mkrs commented on #213
@arfoll @tingleby any comments on this one?

[2015-06-01 19:18] arfoll commented on #213
Hey Alex, I had a look at the BOM for the edison arduino breakout (http://www.intel.com/support/edison/sb/CS-035273.htm) and the chip itself is a ADS7951SBRGER which according to TI is a 8 channel 12bit chip as you say (http://www.ti.com/lit/ds/slas605a/slas605a.pdf). I'll try get an official response.

[2015-06-01 19:25] alext-mkrs commented on #213
Yep, exactly. In addition to that, the very driver used declares it as 12/16 as well.

Thanks, let's see what you find out.

[2015-06-01 19:38] alext-mkrs commented on #209
Hmm, any chance you could post this as a gist or check into the repository? Copying the text outside of the GitHub page turns it into a single continuous line, which is totally unreadable and even autopep8 is not able to fix that.

By inspection it looks like you're doing some intertwined GPIO reads/writes with ADC reads and not using any of the read analog values, is this th actual full program?

[2015-06-01 23:39] wahbahdoo opened #215 "Documentation & function signature differ"
See Spi.transfer & Spi.transfer_word in spi.hpp

Output of doxygen2jsdoc tool:
Warning: Spi.transfer has documentation for an unknown parameter: data. Did you mean txBuf?
Warning: Spi.transfer_word has documentation for an unknown parameter: data. Did you mean txBuf?

[2015-06-02 03:08] omkarpujari commented on #209
Sir,
You may remove everything in my program.
Forget about my program.
If you just write a continuous program to just read analog value and print
its value.
i.e.

while(1)

{
variable=a0.read()
print variable
}

in python in mraa library of intel-iot linux big image on sd card .
Even this loop turns out to give an error after some time.
please find the screenshot attached which gives that error .

[2015-06-02 05:46] alext-mkrs commented on #209
Thanks, this is much better and easier to test. As I mentioned, I haven't yet been able to test it, just inspected, but generally I was going to use a standard image for that, not an IoT DevKit or Debian. Generally speaking, the driver should be the same in all of them, so there shouldn't be any difference. But we'll see.

In the meanwhile as an experiment you can try adding a small delay into the

[2015-06-02 07:56] omkarpujari commented on #209
I had tried adding delay but in fail.
 On 02-Jun-2015 11:16 am, "Alex T" <notifications@github.com> wrote:

[2015-06-02 09:33] alext-mkrs commented on #209
You mean, you've added a delay and it failed in exactly the same way, or the failure was different?

[2015-06-02 11:30] arfoll opened #216 "Changelog should be present on frontpage of mraa"

[2015-06-02 12:54] omkarpujari commented on #209
Same way.
It is showing same error
On 02-Jun-2015 3:03 pm, "Alex T" <notifications@github.com> wrote:

[2015-06-02 13:28] #215 closed

[2015-06-02 21:02] alext-mkrs commented on #209
Okay, I've just tested it and I can't reproduce the error you get even if I run it for 10-15 minutes uninterrupted.

To have the level set, here's my configuration:

1. IoT DevKit image version 1.1 downloaded from: http://iotdk.intel.com/images/iot-devkit-latest-mmcblkp0.direct.bz2. I now recall that uClibc-based official image doesn't have MRAA, and neither does my repo based on uClibc image, bec

[2015-06-03 13:11] rwaldron commented on #173
@arfoll @tingleby

My order of both of these has just shipped, so presumably they are all back in stock (unless pre-orders wipes them out?)

- http://www.dfrobot.com/index.php?route=product/product&product_id=1241&search=edison&description=true#.VW78SVxViko
- http://www.dfrobot.com/index.php?route=product/product&product_id=1244&search=edison&description=true#.VW782lxViko

[2015-06-03 14:35] arfoll commented on #173
I still haven't got one of these, hopefully soon. I did however receive one of the xadow edison baords - http://www.seeedstudio.com/wiki/Xadow_-_Edison

[2015-06-03 18:24] rwaldron commented on #173
@arfoll that's totally awesome, thanks for the link!

[2015-06-03 19:15] alext-mkrs commented on #213
Here's by the way a correction of 10-in-16 to 12-in-16 in the driver sources: https://github.com/01org/edison-linux/commit/f4251192d6f20c8895d2c7d23dd621ea05fbe33c

[2015-06-04 13:47] omkarpujari commented on #209
Sir,
I am on leave for some time. I will get back after 4 -5 days.
 On 03-Jun-2015 2:33 am, "Alex T" <notifications@github.com> wrote:

[2015-06-04 16:40] tingleby commented on #206
Yeah this doesnt seem to be a problem with me
[code]
Im going to close the Issue but if you can check against the latest version of mraa and edison image. If it still occurs I will re-examine the issue.

[2015-06-04 16:40] #206 closed

[2015-06-04 16:51] tingleby commented on #207
Sorry for the delay in getting to this.
If you could please upgrade your Edison firmware, the team working on the Kernel drivers seems to have fixed a number of issues regarding PWM, making it behave in a much more predictable manner.
https://software.intel.com/en-us/iot/hardware/edison/downloads
Again if you still have the issue, feel free to re-open and Ill try and see whats wrong :)

[2015-06-04 16:52] tingleby commented on #204
Hello, Im strugling to reproduce on v0.7.1+ could you try with the latest version.

[2015-06-04 18:57] alext-mkrs commented on #209
Ok, no worries.

[2015-06-04 19:09] alext-mkrs commented on #187
@pnovotnak, is this still actual?

Here's a working program (though in C) for this expansion board: https://communities.intel.com/thread/63552

It uses I2C bus #1 and address 0x40 and looks like it worked back in April - so should work with any recent mraa version.

[2015-06-05 01:51] dandyd449 commented on #207
I was already on the current version. But just in case I reloaded the firmware.
[code]

I still have this issue.

[2015-06-05 01:53] dandyd449 commented on #207
I am also unable to reopen the ticket.

[2015-06-05 01:59] dandyd449 commented on #206
Please check my other issue that needs reopened.
It also appears that you are using python. My issue is obviously with the C implementation.

[2015-06-05 10:08] arfoll commented on #213
Hopefully then newer images will not have this issue. Mraa should be able to deal with it just fine, currently it knows the edison ADC is 12bit and lets you set the res to be 12, obviously if your kernel is 10-in-16 then that'll be a bit pointless for you. Mraa keeps ADC's at 10bits since that's what most people expect and from what I understand quality past 10bits of some 12bit ADCs can be questi

[2015-06-05 10:08] #213 closed

[2015-06-05 18:54] alext-mkrs commented on #213
The kernel commit was just an additional evidence that it's actually 12-in-16 and that it was corrected there as well. Given the date of the commit, it's highly unlikely anyone uses OS image without this fix - that was 2 official releases ago.

I understand the 10 bit by default setting, though I would still suggest to correct the documentation for the Edison Arduino board - right now we state tha

[2015-06-05 19:06] tingleby commented on #206
The implementation is the same, We use SWIG to hook into the c++ headers like you used.
Ive found the problem #207 is reopened until its fixed.

[2015-06-05 19:07] tingleby commented on #207
So the problem is with the Kernel for the PWM, on internal newer versions this seems to be fixed, im going to confirm and hope they release it soon.

[2015-06-05 19:16] alext-mkrs commented on #213
Oh and while we are at it (feel free to let me know if there's a better channel for discussing things like that - IRC is a bit quiet :)

In the source code we have three distinct designations of the ADC resolution:
1. `value_bit` field in `struct _aio`
2. `adc_raw` field in `mraa_board_t`
3. `adc_supported` field in `mraa_board_t`

Out of which `adc_supported` isn't really used anywhere in the lib

[2015-06-05 19:19] arfoll commented on #213
Ah yes - PR away :)

IRC is quiet but I'm usually on there just not talking.r

[2015-06-05 19:27] arfoll commented on #213
@tingleby can you add some doc around adc_raw and adc_supported? @alext-mkrs is 100% correct that code is a bit messy, there's no bounds checking when calling adc set bits, it should be capped to (probably) adc_raw.

[2015-06-06 09:33] alext-mkrs commented on #213
@tingleby and feel free to let me know if I can help, I'd be glad to.

[2015-06-06 13:37] dandyd449 commented on #206
I upgraded all of my kernel modules using:
[code]
I then ran your python code and found that it worked correctly. I then ran my C code to find that it was still broken.
My next step was to clone mraa master branch and compile with that to ensure it wasn't already fixed. It was not.

I certainly understand not wanting to try and diagnose an mraa bug knowing there are kernel issues but I'm not convi

[2015-06-06 17:22] alext-mkrs commented on #206
As @tingleby said that's really strange - the code being executed is the same at the end of the day, Python, C++ and JavaScript are just bindings to the C core.

I've just ran your C++ code posted at the beginning of this thread and it worked fine:
[code]

as well as the Python one posted by @tingleby
[code]

I'm running Release 2.1 image (the latest one, it has "weekly-146" in `/etc/version`) and

[2015-06-06 18:10] dandyd449 commented on #206
@alext-mkrs
I had not updated the kernel image. I added the repo and did a "list-upgradable".

I just updated to your kernel and compiled directly on the edision as you did and can confirm that I can now read the pin. Very strange... Thanks for the help!

@tingleby
Sorry, for the bad report and thanks for all the great work!

[2015-06-06 19:17] alext-mkrs commented on #206
@dandyd449 I see, yes, `list-upgradable` would list kernel modules but not the kernel itself (and it would anyway need some tinkering to get updated).

And having kernel modules installed with a different kernel (when they're not compiled together) may lead to such hard to debug and subtle glitches. Generally the kernel in my repo is the same as the official one source-wise, but due to the fact I'

[2015-06-06 19:39] dandyd449 commented on #206
I didn't install your modules until this morning so I don't believe that was the problem. I'm starting to believe its either my build environment (as I'm cross compiling using the SDK) or remote GDB isn't working as it should.

[2015-06-07 08:02] alext-mkrs commented on #206
Understood, thanks for clarification.

[2015-06-07 19:12] alext-mkrs commented on #59
Some information on buffered reads which I'd like to run by you, @arfoll and @tingleby

After  exploration on IIO in general and ADC driver implementations on Galileo and Edison in particular my understanding is that using IIO triggered buffer, which is theoretically the natural way of doing what the enhancement request entails, is meaningless and result-wise is not really different than implement

[2015-06-08 03:57] yongli3 opened #218 "Incorrect return value for mraa_i2c_read_bytes_data"
According the Doc in http://iotdk.intel.com/docs/master/mraa/i2c_8h.html#aa18cc27c8137f078030e4d862ed5e346:
Returns
The length in bytes passed to the function or 0

However the source code is:     return ioctl(dev->fh, I2C_RDWR, &d) < 0 ? -1 : length;

Return -1 is inconsistence with the document

[2015-06-08 23:15] raoloka commented on #132
On the other hand, even though the function is called to increase the frequency, it doesn't seem to be
effective. I noticed the clock frequency still hovered around 4MHz.

[2015-06-09 02:07] rexstjohn commented on #209
@alext-mkrs is there a way to throw a warning on startup to tell people that their MRAA is out of date? Bet you could avoid a lot of errors like this if there was a default warning if the user's MRAA is older. I have seen several errors submitted which this would solve.

[2015-06-09 07:08] arfoll commented on #59
That's a bit dissapointing, I haven't looked in enough detail but that sounds reasonable. Weird that you can get the trigger to be done by the kernel at least and not userspace. I guess we'll leave it open and hopefully someone will show us how wrong we are :)

[2015-06-09 07:24] #218 closed

[2015-06-09 07:24] arfoll commented on #218
Thanks alot, great spot.

[2015-06-09 19:27] alext-mkrs commented on #59
Yeah, looks like that's the best option as of today.

BTW as far as automatic discovery of ADC-type devices is concerned, that looks infeasible too :) Generally, there's no "type" for the device in IIO, only a device's channel type, which theoretically could be used for that (there's a "voltage" type, which is generally teh one used for ADCs). But then what would we do when there are two devices w

[2015-06-09 19:36] alext-mkrs commented on #209
Well, technically that could be done, however as long as MRAA is a library and not an end-user application, in my opinion such feature is not really suitable for a library.

It would lead to adding code and additional external dependencies to the library itself, slower application startup for apps using MRAA (due to that Internet polling for newer version) and finally complaints from those who don

[2015-06-12 15:27] Proclivis opened #221 "UART Failure on Edison"
I am having trouble getting the UART to work on Edison, but I have some debug data that might narrow it down. I can't give C code, because I have layered the application over mraa with a FFI of Haskell. But, I have a trace of a working vs. non-working, where with the working case I open the UART with a non-mraa library first, and this fixes it. The traces indicate a difference in initialization.

[2015-06-13 19:05] rwaldron commented on #173
Quick update: the [DFRobot Romeo for Intel Edison](http://www.dfrobot.com/index.php?route=product/product&product_id=1241&search=edison&description=true#.VXx-cRNVikp) is being detected as the 56 pin mini breakout.

[2015-06-13 20:12] rwaldron opened #222 "Xadow I2C bus"
- Xadow board is detected as a 56 pin miniboard, which might imply [I2C bus 1 & 6 are available](https://github.com/intel-iot-devkit/mraa/blob/master/docs/edison.md#intelr-breakout-board) for use.
- A Johnny-Five user reported that the Xadow board uses bus 0 (I don't have one, so I can't confirm)

Similar to the `adcRawBits` and `adcSupportedBits` functions, I think that this could be most easily

[2015-06-14 11:29] alext-mkrs commented on #179
@cosscat have you been able to run your program since then? Do you have any further troubles/questions within this thread's topic, or it can be closed?

[2015-06-14 17:31] alext-mkrs commented on #22
While preparing a fix for issue #178 I've came across this issue too. I'm going to look more into this to see if I can find any additional clues, however as a data point - below is what I see in the `dmesg` output when trying to set lsbmode to true (the log has several attempts listed, it's one line per one lsbmode function invocation):
[code]

[2015-06-14 17:52] alext-mkrs commented on #138
I've just checked the sources and what's interesting is that for Gen1 we specify two UART devices in the platform config file, while for Gen2 we specify only one (excluding the one with the console). Is there any specific idea behind this? Should we maybe align the two and then document as already agreed in this thread?

[2015-06-14 18:23] alext-mkrs commented on #122
@cosscat the official Python documentation for this method is here: http://iotdk.intel.com/docs/master/mraa/node/classes/pwm.html#method_config_ms. What you see by using "help" is I think autogenerated by SWIG and contains only stuff it could find out automatically, i.e. the class it belongs to and argument types - not much and you better use the recommended docs source for finding information.

A

[2015-06-14 18:31] alext-mkrs commented on #52
FWIW, I would vote for just closing this one - we state clearly in the docs that we only support PWM on default swizzler pins and anything else (e.g. allowing to use 10 and 11) would indeed require something outside of the library control - a user action on swizzler config - which IMHO is more dangerous than beneficial.

Same as right now someone could be confused by not being able to drive PWM on

[2015-06-14 19:04] alext-mkrs commented on #152
@KurtE as far as the index is concerned - it's actually ok, because the pre function is a hook one and it is called from a platfom-specific file, so it's allowed to have intimate knowledge about platfom HW and not to use all the passed parameters. In this specific case index is irrelevant because we have only one UART listed in the [platform config](https://github.com/intel-iot-devkit/mraa/blob/ma

[2015-06-14 20:53] alext-mkrs commented on #22
After looking into the driver and Linux SPI sources I would say it is indeed the case that Edison's SPI controller we use in MRAA doesn't support LSB_FIRST mode, just as that log message I pasted above confirms.

@arfoll, shouldn't we implement the same _replace hook function for Edison as for the Galileo Gen1 in #178?

[2015-06-15 08:10] coloz opened #224 "mraa spi is too slow T T"
excuse me,it refresh very slow when i use SPI to drive the TFT screen,is there any good solution?
The TFT is ST7735, i use mraa spi C++ API to write it.

[2015-06-15 08:56] #178 closed

[2015-06-15 08:58] arfoll commented on #224
Hi @coloz - sorry there is not much that can be done to speed up edison SPI, this is a hardware/kernel issue.

[2015-06-15 08:58] #224 closed

[2015-06-15 09:00] arfoll commented on #222
Yes this is correct - Xadow simulates a miniboard so i2c bus 1 & 6 are usable, bus1 is default so that leads 0 to 1 meaning it does work.

The logic of mraa and i2c buses is that there is MAX_BUS and default bus. Anything below <= MAX_BUS goes to default bus unless it's a valid bus number. So 5 will give you bus 1 on xadow but 6 will give you 6. We could return a list of buses but I'm not sure of

[2015-06-15 10:00] arfoll commented on #22
Yes, the same _replace hook would probably be a good idea. Are you willing to send a patch for this as well?

[2015-06-15 10:12] alext-mkrs commented on #22
Yep, will do

[2015-06-18 18:27] robotskirts opened #226 "char() helper function in Javascript example code unnecessary"
The char() helper function in the js example code isn't necessary.

In bmp85.js for example:

x.address(0x77)

is used to set the address and is perfectly fine. But later

x.writeReg(char('0xf4'), char('0x2e'))

this isn't needed at all, the following piece of code does the same thing

x.writeReg(0xf4, 0x2e)

This superfluous code makes the examples hard to understand.

[2015-06-19 13:56] arfoll commented on #221
Sorry for the delay, haskell bindings sound awesome - is your code available for us to see?

I honestly don't really understand the issue, before reading no data maybe just check there is data available?

I don't think there are differences between the poky/YP image and ubilinux since they don't recompile the kernel but I don't really know anything baout ubilinux. I'd recommend getting gdb onto mr

[2015-06-19 14:00] arfoll commented on #212
Closing as no update.

[2015-06-19 14:00] #212 closed

[2015-06-19 14:01] arfoll commented on #226
Yes you're right they're no longer needed, I'll test the samples and update them

[2015-06-19 15:37] alext-mkrs commented on #221
Yeah, ubilinux is just a debian userspace on top of yocto-generated kernel and drivers, so theoretically there should be no difference.

[2015-06-19 17:29] Proclivis commented on #221
Does anybody know what the extra text line in my log means and if there is any possibility it matters?

On Jun 19, 2015, at 9:37 AM, Alex T <notifications@github.com> wrote:

[2015-06-19 20:38] alext-mkrs commented on #221
What exactly do you call an extra text line?

As @arfoll mentioned it would help if you could share your FFI code, otherwise it's a bit hard to say. I personally have analyzed your traces, but as I've never seen FFI at work and from an strace prospective, nothing stands out there.

[2015-06-20 10:05] alext-mkrs commented on #209
@omkarpujari do you still need help with this one? It doesn't honestly looks like a library problem to me, as I've shown below the currently released MRAA version doesn't exhibit this.

[2015-06-20 10:42] omkarpujari commented on #209
Yes.. I forgot to reply
The image I was using was very old something 0.4...
Now I m using 0.6
But I m not able to connect my board to internet as I am in college campus
and I am not understanding how to login into cyberoam using Intel Galileo.

I want to update this 0.6 image of mraa library to 0.6.2 as you updated
Can you please help me how should I log into cyberoam client using Intel
Galileo ?

[2015-06-20 18:31] xthunderheartx opened #228 "Return value from mraa_i2c_read_byte_data not sane."
Does it make sense to return a negative result from a function that is typed as unsigned?  What if I read a register that legitimately returns 0b11111111?  Like say one of the data registers from the MCP23017's on a Numato I/O extender shield?

/**
 * Read a single byte from i2c context, from designated register
 *
 * @param dev The i2c context
 * @param command The register
 * @return The result

[2015-06-20 19:40] #228 closed

[2015-06-20 19:42] arfoll commented on #228
Thanks for the catch! You're entirely right, the doc is outdated, we used to have -1. However I don't understand what you say here:

If you read 0xFF, then it'll work just fine. Tbh we don't really need the '0x0FF &' anymore either... That's just 'heritage' from our past use of smbus.c from the roadnarrows i2c lib...

[code]

[2015-06-21 01:13] xthunderheartx commented on #228
Ok in light of the document change how am I to interpret a result of "0"?  An error?  But it isn't an error.  '0' is a legitimate thing to read from an i2c device isn't it?  For instance we use the Numato GPIO extender shield which has 2 MPC20317's (U2 and U4) providing 28 additional bits of GPIO.  They are arranged in 4 separate read data registers of 8 bits each (two, a&b, on each chip, though b

[2015-06-21 07:30] arfoll opened #229 "i2c returns uint8_t error value of '0' is not sane"
Either error should be -1 and type changed or errno used.

[2015-06-21 07:30] arfoll commented on #228
@xthunderheartx agreed, it's not ideal, however I don't want to change types without a bit more thought. Can you detail how you would prefer this to be fixed in #229?

[2015-06-21 07:33] arfoll commented on #122
This should be fixed with the max pwm stuff now

[2015-06-21 07:33] #122 closed

[2015-06-21 13:14] xthunderheartx commented on #228
Sure.  I'll code it up for ya and you can look at the delta's and pull if you want.  The ideal solution is to change the functions to work like their reciprocal 'write' operations, i.e. pass the result in the return and the data in an uint8/uint16 pointed to in a formal parameter of the function.  Prototypes would look something like:

mraa_result_t mraa_i2c_read_byte_data(mraa_i2c_context dev, ui

[2015-06-21 18:24] alext-mkrs commented on #209
Cyberoam is I guess a framework used by your college for providing Internet connectivity to students? I haven't worked with that one so I won't be able to advise on the connection, but I can suggest you a way to install packages using offline method.

Just download them manually from the repo using your main computer, then copy them to the board using SD card or SSH-over-RNDIS connectivity with Ed

[2015-06-21 18:29] arfoll commented on #228
That sounds like a great plan, in C++ we can just throw exceptions. I've got a few API breaks planned for 1.0 so that would fit right in. I guess your protorype would be more this though right?
[code]

Whilst we're breaking the API i'd rather switch the order of command and data, it feels like command should be first. Look forward to your PR I'll be more than happy to review. Cheers!

[2015-06-22 11:40] #207 closed

[2015-06-22 11:40] #204 closed

[2015-06-22 13:03] xthunderheartx commented on #228
Right-o brother.  Forgot the asterisk and I agree about the order of parameters.  I thought the same thing, and if you're gonna break it, break it the right way ;)  I'll get the PR to you as soon as I have a few minutes.  Thanx!

[2015-06-22 18:24] #22 closed

[2015-06-22 20:39] Proclivis commented on #221
I will decouple my FFI code and publish on github, then come back and answer in context.

[2015-06-23 14:43] Proclivis commented on #221
The mraa code is at https://github.com/Proclivis/mraa

The extra line in the trace is:

ioctl(12, SNDCTL_TMR_START or TCSETS, {B115200 -opost -isig -icanon -echo ...}) = 0

And I assume this is doing some setup work for the UART because it contains B115200, a baud rate. I am assuming that since it is the only log line that is different between the working and non working case, that it matters.

Th

[2015-06-28 17:23] FlippieCoetser opened #230 "Segmentation Fault"
Hi,

With reference to #208, I was able to reproduce another Segment Fault

Node application using ```MRAA v.06.2``` and ```Node v.0.12.3```:
- HTTP Server for Website running on port ```192.168.2.147:10000```
- Interrupt configured on ```GPIO(36)``` with ``` DIR_IN, EDGE_RISING ```.

Reproducing Segmentation Fault:
1. Start Application ```node app.js```
2. Trigger external Interrupt > Input: Clic

[2015-06-29 09:37] arfoll commented on #230
Unfortunately unless I can reproduce there's not much I can do, can you send me some code which reproduces this on node.js 0.12?

[2015-06-29 13:59] FlippieCoetser commented on #230
I have stripped down the application to only include three components:
- HTTP Webserver ```WebApp.js```
- Interrupt Configuration ```Core.js```
- Event Management ```Event.js```

The application entry is ```Main.js```
I created a public git repository with the App: https://github.com/FlippieCoetser/mraaTestApp.git

To reproduce:
- ```Node Main.js```
- Trigger the Interrupt ```GPIO(36),  DIR_IN, ED

[2015-06-29 18:19] alext-mkrs commented on #209
So @omkarpujari have you been able to upgrade the library version since then? Does it work ok?

[2015-06-29 18:21] alext-mkrs commented on #152
@tingleby, ping :smiley:

[2015-06-29 18:54] tingleby commented on #152
The hook as the said signature to comply with the hook definition in the internals, Yes it should check for a valid index sorted with 79d1acd17f89a3cecd6bd670eec69ec16b2b6f32
As for your second part that was a straight up bug. Resolved with fd50ea087b658d68fdd61921b8302f9a7f10242a
Thanks again @KurtE and @alext-mkrs

[2015-06-29 18:54] #152 closed

[2015-06-29 19:00] tingleby commented on #78
As far as I'm aware the BBB code is all good. I'm going to go ahead and close this. Comment if you want it reopened.

[2015-06-29 19:00] #78 closed

[2015-06-29 19:05] tingleby commented on #92
Closed http://iotdk.intel.com/docs/master/mraa/node/
or not @arfoll ?

[2015-06-29 19:05] #92 closed

[2015-06-29 19:09] tingleby commented on #138
I went ahead and aligned them, no reason not to.

[2015-06-29 19:10] #138 closed

[2015-06-29 19:10] alext-mkrs commented on #221
Okay, now I see what you mean by saying it's a direct translation. Looks like your FFI code is just a wrapper translating input and output types and functions themselves into the Haskell form without changing anything inside.

One thing I've noticed is that both outputs (working and non-working one) actually have speed setting IOCTL, it's just that in anon-working case it's TCSETSF and in the work

[2015-06-29 19:13] tingleby commented on #216
On the Doxygen front page? We used to have it on the readme.md but it was getting a bit long :)

[2015-06-29 19:16] alext-mkrs commented on #152
:+1:

[2015-06-29 19:53] arfoll commented on #216
It's already on the doxygen front page, I mean't on gh front page, I wish I could insert other parts of a readme into the readme.. oh well

[2015-06-30 04:40] Proclivis commented on #221
Alex,

The files are:

trace-b.log (hangs)
trace-g.log (runs)

Found at https://gist.github.com/Proclivis

To understand where things happen, the test code:

runQikTest :: IO ()
runQikTest = do
    putStrLn "Open"
    sp <- Q.openQik
    sig <- signature sp
    putStr "Signature "
    print sig
    id <- getDeviceId sp
    putStr "Id "
    print id
    pwm <- getPwm sp
    putStr "PWM "
    print

[2015-06-30 13:57] #198 closed

[2015-07-05 12:05] alext-mkrs commented on #221
Thanks for the trace. Well, looking at it the only actual difference I see is that in the "good" case the `ioctl()` calls unset a set of bits in the port mode, while in the "bad" one, they're always set. I don't understand why this is happening because in the MRAA code there's a specific use of the `cfmakeraw()` which should unset those.

The list of arguments is unfortunately truncated in your tr

[2015-07-05 12:08] alext-mkrs commented on #221
Oh, and `-v` too, please.

[2015-07-08 03:34] yongli3 opened #232 "I2C bus_id is beyond 8 on DE3815?"
Please check the below output, on my DE3815(Linux kernel version is 3.19), the I2C bus number range is 0 - 9,  In the mraa_intel_de3815 function, the "for (i = 0; i < 8; i++)", should be for (i = 0; i < 10; i++)" ?

:~# cat /sys/class/dmi/id/board_name
DE3815TYKH

:~# i2cdetect -l
i2c-0   i2c             i915 gmbus ssc                          I2C adapter
i2c-1   i2c             i915 gmbus vga

[2015-07-08 07:26] arfoll commented on #232
It probably should be 9 not 8 since it doesn't need to iterate over i2c-9. Could you test it works with your image and this change? Or provide me with your linux image so I can try.

[2015-07-08 07:37] yongli3 commented on #232
@arfoll, I tested on my DE3815, the 9 is okay. it is better if you can check the open error
fd = open(path, O_RDONLY);
(if fd < 0) continue

[2015-07-08 09:50] tingleby commented on #232
Right so I think mraa needs to count how many i2c-adapters there are available and scan/walk them.

[2015-07-08 10:17] arfoll commented on #232
@yongli3 a bunch of fixes are in - can you check? I can either make you a few patches on top of 0.7.2 or just make a 0.7.3 release. What would you prefer?

[2015-07-08 10:19] arfoll commented on #232
In fact there are many fixes that are interesting, I'll release a 0.7.3

[2015-07-09 01:36] yongli3 opened #233 "I2C_BUS_DEFAULT is not a fixed number on Minnowmax"
Please check the below output, the kernel version is 3.19. The default I2C number is 8. I think we need to auto detect the I2c_BUS_DEFAULT in intel_minnow_max.c
cat /sys/class/dmi/id/board_name
MinnowBoard MAX
i2cdetect -l
i2c-0   i2c             i915 gmbus ssc                          I2C adapter
i2c-1   i2c             i915 gmbus vga                          I2C adapter
i2c-2   i2c             i

[2015-07-09 01:39] yongli3 commented on #232
Thanks @arfoll! I just found the same issue on Minnowmax. I submitted another issue #233. I think we should use  the same method to detect the I2C bus in minnowmax

[2015-07-09 05:59] yongli3 opened #234 "Add GB-BXBT-3825 platform support ?"
http://b2b.gigabyte.com/products/product-page.aspx?pid=5269#ov
It is very similar with DE3815, is there any plan to support it ?

[2015-07-09 06:14] srlmproductions commented on #234
What exactly do you want to use MRAA on that platform for? As far as I can tell it doesn't have any low level I/O.

[2015-07-09 06:16] yongli3 commented on #234
I want to test the I2C functions using this platform. I found there is a GPIO connector on the board, and SMB_CLK/SMB_DATA

[2015-07-09 08:01] #232 closed

[2015-07-09 08:02] arfoll commented on #234
There's no plans to support it since I don't have one :) However I'd definately like to support it. Is it the same Custom Solutions Connector than on the DE3815? Do you have one I could get access to?

[2015-07-09 12:19] Proclivis commented on #221
Alex,

I added two traces with a -long.log in the name, g/b for good/bad. Plis see link:

https://gist.github.com/Proclivis

Mike

On Jul 5, 2015, at 6:08 AM, Alex T <notifications@github.com> wrote:

[2015-07-09 16:03] arfoll commented on #233
Could you give me the result of:
`cat /sys/class/i2c-dev/i2c-8/dev` and `cat /sys/class/i2c-dev/i2c-9/dev`

I think I have a decent solution to deal with this and de3815 issues in a slightly more re-usable way.

[2015-07-09 19:28] sukeshak opened #235 "Segmentation fault using variable number of arguments"
// Getting segmentation fault
void myprintf(const char * fmt, ...)
{
	char temp[24];
	va_list args;
	va_start(args,fmt);
	sprintf(temp,fmt,args);
	va_end (args);
	printf (temp); // using this for printing to OLED (sparkfun Edison OLED block)
}
int main()
{
	double d = 1234.56;
	myprintf("val: %f",d);
	return 0;
}

[2015-07-09 19:49] arfoll commented on #235
I don't understand where the mraa issue is here?

[2015-07-10 00:19] yongli3 commented on #233
Thanks @arfoll:
i2cdetect -l
i2c-0   i2c             i915 gmbus ssc                          I2C adapter
i2c-1   i2c             i915 gmbus vga                          I2C adapter
i2c-2   i2c             i915 gmbus panel                        I2C adapter
i2c-3   i2c             i915 gmbus dpc                          I2C adapter
i2c-4   i2c             i915 gmbus dpb                          I2C

[2015-07-10 01:43] yongli3 opened #236 ""mraa: i2c filename file too big, skipping" error message"
After upgraded to 0.7.3, I found the error message on DE3815:
mraa: i2c filename file too big(4096), skipping
mraa: no i2c-dev detected, load i2c-dev

The I2C does not work. I found the #define MAX_SIZE 64 should be:
#define MAX_SIZE 4097

[2015-07-10 02:20] yongli3 commented on #234
Thanks @arfoll, let me check if I find the device

[2015-07-10 09:47] arfoll commented on #236
Fixed with 66e6d8adcddb7211cdcf54d0c81b88ca74e5aa4b

[2015-07-10 09:47] #236 closed

[2015-07-10 09:47] arfoll commented on #233
Fixed with 66e6d8adcddb7211cdcf54d0c81b88ca74e5aa4b

[2015-07-10 09:47] #233 closed

[2015-07-11 14:05] FlippieCoetser commented on #230
@arfoll I upgraded

```mraa``` to ```v0.7.3-2-gdf0dbb0``` and
```node``` to ```v0.12.7```

No change, still get the same segmentation fault as above.
I have attached a github link in the previous post so that you are able to reproduce the segmentation fault on your side.

Any help will be much appreciated!

Regards,
Flippie

[2015-07-13 10:28] arfoll commented on #235
Closing as no update. Likely you need to use vprintf since a va_list != va_arg.

[2015-07-13 10:28] #235 closed

[2015-07-13 12:31] sukeshak commented on #235
Thank you Brendan. Sorry could not revert since my hard disk crashed 😞

~Sukesh
________________________________
From: Brendan Le Foll<mailto:notifications@github.com>
Sent: ‎13-‎07-‎2015 03:58 PM
To: intel-iot-devkit/mraa<mailto:mraa@noreply.github.com>
Cc: sukeshak<mailto:sukesh@live.com>
Subject: Re: [mraa] Segmentation fault using variable number of arguments (#235)

Closing as no update. Like

[2015-07-15 08:33] yongli3 opened #238 "“buffer overflow detected” error message"
With the “-O2 -D_FORTIFY_SOURCE=2” gcc compiler options, the libmraa crashes with “buffer overflow detected” error message.

I found the root cause is the below in mraa_find_i2c_bus
ssize_t r = read(fd, value, size);

The value buffer size=64, however, the size is 4096!

(gdb) info stack
#0  0x00007ffff5afd3f7 in raise () from /lib/libc.so.6
#1  0x00007ffff5b003da in abort () from /lib/libc.so.6
#

[2015-07-15 23:34] arfoll commented on #238
Fixed with a5d13670f485694327290e7dcce388f50efd1927

[2015-07-15 23:34] #238 closed

[2015-07-18 10:20] seamus1982 opened #241 "UART C"
Hi,

Apologies, for leaving this message here. I was wondering if here are any example of the UART being used for read and write in C. The example shows the UART context being created, however, nothing is ever done with the context. Are there any examples online?

Any help would be really appreciated as I am use to programming c# which is obviously not nearly as low level.

Best regards,
     Seam

[2015-07-19 07:59] alext-mkrs commented on #241
Check out the C++ example, it has a full cycle except reading, is that good enough for you?

[2015-07-19 11:38] arfoll commented on #241
I've modified the example to perform a write, it's not as complete as the C++ example but shows the basics. Is that enough for you? See e4810262273c9eab4fcddbfeefbe82aba344e

[2015-07-19 19:59] alext-mkrs commented on #221
Looks like I've found the reason, but let's check first. In my tests it looks like a solution and logically it explains what I see in your logs (difference in flags).

@Proclivis, could you please apply the patch I've just pushed to my fork (https://github.com/alext-mkrs/mraa/commit/f06cc4843f499f4d008df833b5ace4252e8785cf), compile the library and try again? Let me know if you want a binary, I ca

[2015-07-20 08:26] seamus1982 commented on #241
Thanks very much for your help. That is great. Thanks again!

[2015-07-20 08:26] #241 closed

[2015-07-20 14:45] Proclivis commented on #221
I'll try to get to this late today. Or tomorrow at the latest. I can compile it.

Sent from my iPad

[2015-07-20 21:51] madarax64 opened #242 "Trouble compiling MRAA on Ubilinux with GCC 4.9"
Hi,
I was trying to compile MRAA on the Ubilinux distribution which is based off of Debian. After being unable to git clone the repo for some reason, I downloaded and unzipped a tarball to go ahead.
 After installing the dependencies (gcc, swig, python2.7, etc etc) I then ran make. Here's a screenshot of what I get:
![mraa_bug](https://cloud.githubusercontent.com/assets/4976654/8788255/f575ef5e-2f

[2015-07-20 22:52] srlmproductions commented on #242
For me, building Node 0.12 on Ubilinux from source worked best, and then mraa seemed to work without any problems.*

This thread has a few notes: https://github.com/intel-iot-devkit/mraa/issues/148

* Ok, there's consistent segfaults. But I'm not sure where to go with that.

[2015-07-21 03:53] Proclivis commented on #221
Alex,

The patch works. I tested several times with reboots in-between. I no longer need the work around.

If you think there is a better solution that needs testing, I am happy to keep testing solutions. Hopefully this version does not break anybody else’s application.

Mike

On Jul 19, 2015, at 1:59 PM, Alex T <notifications@github.com> wrote:

[2015-07-21 05:16] alext-mkrs commented on #221
Thanks for reporting back, I'll submit it later today then. It should not break anything, very much the opposite, because our init code didn't do what it was supposed to.

[2015-07-21 05:43] alext-mkrs commented on #242
This is apparently a problem with the compiler caused by the fact that ubilinux userspace is not compiled for Edison and just taken as-is from the Debian repo. There are a few quirks related to that and this looks like one of those. Check out the ubilinux thread in the Edison community.

So this doesn't look like something that can be fixed in mraa.

[2015-07-21 08:03] arfoll commented on #242
@madarax64 not much I can do about this, just don't use ubilinux. Sorry!
@srlmproductions likely your segfaults are to do with ubilinux. I've not been able to reproduce any of them :(
@alext-mkrs can you post a link to the thread?

[2015-07-21 08:03] #242 closed

[2015-07-21 08:03] arfoll commented on #230
Are you on ubilinux?

[2015-07-21 09:48] FlippieCoetser commented on #230
Yes, using the latest Ubilinux. However I did have the same problem before #208 , on a Yockto Image. I suspect the problem is with some conflict between Interrupt and Filesystem features used in Node.js

[2015-07-21 10:32] arfoll commented on #230
Yes but you said it was fixed by moving to 0.12.x which is fairly likely as the ISR path used with that v8 version is quite a bit better. This seems like a different bug.

[2015-07-21 10:41] srlmproductions commented on #242
Naw, I'm not really disagreeing that running mraa on Ubilinux is the cause of the segfaults. But the package manager is a strong motivator not to switch to Yocto. Anyway, I'm not sure how to track down the segfaults at this point.

[2015-07-21 10:45] arfoll commented on #242
@srlmproductions I understand why people want/use ubilinux, however it's just not done the correct way, it's a dodgy hack and there's nothing I can do really except point my finger :)

You might actually have more luck using precompiled ipk packages (just use `ar vx` and then decompress data.tar.gz on /). You might get more luck that way. IPK packages are super similar to DEB so you might even be

[2015-07-21 11:03] FlippieCoetser commented on #230
Agree, could be a different bug. If there is anything that you want to try out just let me know. Happy to do so!

[2015-07-21 19:23] alext-mkrs commented on #242
I can't recall which exact thread was that, but I remeber such messages at the very beginning of the Ubilinux. By the way, it wasn't mentioned whether we are talking about Galileo or Edison here - on Galileo chances hitting that were much higher due to slightly different instruction set. On Edison I wouldn't expect that to happen, but probably GCC just got compiled with something specific which ge

[2015-07-21 19:43] madarax64 commented on #242
Thanks everyone for the input!
@alext-mkrs and @arfoll Thanks alot guys, much obliged. @alext-mkrs Its an Intel Galileo Gen 1 specifically. I'll try to reach him on the Intel Communities forum, thanks for the tip
@srlmproductions I'm completely with you regarding that package manager. If Yocto and opkg had a similar breadth of readily-available packages Ubilinux would be less attractive....but it

[2015-07-22 01:51] xthunderheartx opened #244 "mraa_uart_init(1) on galileo returns NULL and syslogs "uart: platform has only 1""
Galileo has 2 UARTs, both of which can be exposed on the Arduino header, ttys0 AND ttys1.  Yes, ttys1 normally has the console getty attached but we need the UART for something more important.  The documentation for GEN2 clearly states that UART 0 can be exposed on Arduino pins 0 and 1 and that UART1 can be exposed on Arduino pins 2 and 3.

[2015-07-22 06:10] leonyuhanov opened #245 "Rpi A+ - failed to initialise platform"
I have a Rpi A+
 node Version v0.11.0
 MRAAV -> v0.7.3

I am initialing SPI:

var m = require('mraa');
console.log("MRAA ->\t"+m.getVersion());

And i get this error:
mraa: FATAL error, failed to initialise platform
MRAA -> v0.7.3

[2015-07-22 09:31] xthunderheartx commented on #244
Would it be as simple as changing mraa_intel_galileo_gen2_uart_init_pre(int) to include the pins for TTYS1 which according to this link:

 http://www.emutexlabs.com/component/content/article?id=203:getting-started-with-intel-galileo-gen-2

are gpio_34 (RX) and gpio_16 (TX)?  Something like this maybe:

mraa_result_t
mraa_intel_galileo_gen2_uart_init_pre(int index)
{
    mraa_gpio_context io0_outpu

[2015-07-22 09:44] arfoll commented on #244
yeah technically you can use that Uart however you could also use the FTDI header to provide this? Why not just use that? if going non standard Arduino might as well simplify the crazy muxing and you don't lose the Aio pins.

You'd want something like this because you need to flip the muxes which are 77 & 76. You'd lose the Aio pins obviously.
[code]

If you test something like this and send it as

[2015-07-22 09:47] arfoll commented on #245
That's odd, can you share your kernel log (journalctl or /var/log/messages)? I've honestly never seen an A+.

@michael-ring have you got one of these?

[2015-07-22 10:05] #221 closed

[2015-07-22 10:10] michael-ring commented on #245
I should have one somewhere, will check in the evening.

@leonyuhanov Could you also please do:

cat /proc/cpuinfo

and add this output to this issue?

TnX

[2015-07-22 10:13] leonyuhanov commented on #245
Will do in an hour

[2015-07-22 10:56] leonyuhanov commented on #245
Ok:
@michael-ring :

pi@RPWOW01 ~ $ cat /proc/cpuinfo
processor	: 0
model name	: ARMv6-compatible processor rev 7 (v6l)
BogoMIPS	: 2.00
Features	: half thumb fastmult vfp edsp java tls
CPU implementer	: 0x41
CPU architecture: 7
CPU variant	: 0x0
CPU part	: 0xb76
CPU revision	: 7

Hardware	: BCM2708
Revision	: 0012
Serial		: 00000000f19a309f

@arfoll re the message file I dont know how to attach it

[2015-07-22 10:59] arfoll commented on #245
@leonyuhanov are you sure your user 'pi' has access to /dev/spidev*? There's less interesting stuff than I was hoping tbh.

FYI I typically use dpaste.com is a good way of sharing logs (though your site is just as good)

[2015-07-22 11:01] leonyuhanov commented on #245
@arfoll

how can i check that? the user "pi" is the standard user that comes out of the box with the device..

[2015-07-22 11:02] arfoll commented on #245
Check with something like `ls -lah /dev/spide*`. Also run python with 'sudo', root will have access for sure.

[2015-07-22 11:04] leonyuhanov commented on #245
pi@RPWOW01 /dev $ ls -lah /dev/spide*
crw-rw---T 1 root spi 153, 0 Jan  1  1970 /dev/spidev0.0
crw-rw---T 1 root spi 153, 1 Jan  1  1970 /dev/spidev0.1

Im using MRAA with NodeJS. i ran node as sudo:
pi@RPWOW01 ~/rpwowsuit $ sudo ../nodejs/bin/node test.js
starting

mraa: FATAL error, failed to initialise platform
MRAA ->	v0.7.3

same thing

[2015-07-22 11:11] leonyuhanov commented on #245
FYi the test script suggested on the rpi doco, https://www.raspberrypi.org/documentation/hardware/raspberrypi/spi/README.md,  work fine:

pi@RPWOW01 ~/spitest $ ./spidev_test -D /dev/spidev0.0
spi mode: 0
bits per word: 8
max speed: 500000 Hz (500 KHz)

00 00 00 00 00 00
00 00 00 00 00 00
00 00 00 00 00 00
00 00 00 00 00 00
00 00 00 00 00 00
00 00 00 00 00 00
00 00

[2015-07-22 11:12] tingleby commented on #245
Did you install via npm?

On 22 July 2015 at 12:11, Leon <notifications@github.com> wrote:

[2015-07-22 11:16] leonyuhanov commented on #245
@tingleby
Yes
i downloaded the latest build of node js as a tar and extracted it to /home/pi/nodejs
pi@RPWOW01 ~/nodejs/bin $ ./node --version
v0.11.0
pi@RPWOW01 ~/nodejs/bin $ ./npm --version
1.2.15
I then cd /home/pi
npm install mraa
it does its thing, compiles and and its there.
i copied the module folders into my project directory

[2015-07-22 11:16] leonyuhanov commented on #245
I also tried node v0.10.x and had the same problem
should i try and compile nodejs v12 from source? and then try it all again?

[2015-07-22 11:18] arfoll commented on #245
Ah, then that's the issue. ARM platforms arent' supported via NPM - tbh I thouhgt it didn't build flat out so hadn't thought of that... that's one of those long standing things I haven't fixed. Sorry! Please see https://github.com/intel-iot-devkit/mraa/issues/79

[2015-07-22 11:20] leonyuhanov commented on #245
any chance you could help me out here I'm struggling with all this linux stuff... i dont know how to do what you suggested..

[2015-07-22 11:22] arfoll commented on #245
Try follow the building instructions - https://github.com/intel-iot-devkit/mraa/blob/master/docs/building.md

if you get any issues post here.

[2015-07-22 11:23] leonyuhanov commented on #245
ok thanks ill give it a go

[2015-07-22 11:45] xthunderheartx commented on #244
The problem with using the FTDI header is that the hardware guy's built our shield (more of a daughter-board than a shield really) based on what the documentation said (or at least implied) and because mechanically using the Arduino header was better apparently.  I don't know that sort of thing so can't comment on that.  Point is changing it causes a re-spin of our hardware which is costly and mak

[2015-07-22 11:50] leonyuhanov commented on #245
ok so followed the build instructions, everything looks liek it worked. I now have:
pi@RPWOW01 ~/mraa/build $ ls -la
total 68
drwxr-xr-x  6 pi pi  4096 Jul 22 11:45 .
drwxr-xr-x 12 pi pi  4096 Jul 22 11:44 ..
-rw-r--r--  1 pi pi  1600 Jul 22 11:45 arch.c
-rw-r--r--  1 pi pi 15952 Jul 22 11:45 CMakeCache.txt
drwxr-xr-x  6 pi pi  4096 Jul 22 11:48 CMakeFiles
-rw-r--r--  1 pi pi  1864 Jul 22 11:45 cm

[2015-07-22 12:07] leonyuhanov commented on #245
fyi http://www.elec-tron.org/wp-content/uploads/2015/07/buildlog.txt this is the build log

[2015-07-22 13:52] arfoll commented on #245
Sadly you need to update swig before you'll build the node.js module.

See the warning in your log:
`WARN - SWIG is 2.0.7. Please upgrade to 3.0.5+ to build nodejs addon`

Either update your image on your pi or build swig from source (it's not particularly big or difficult).

[2015-07-22 14:06] arfoll commented on #244
Well the idea is that people doing a mraa_uart_init(1) may want to still use A2/A3 as analog ports. Whilst yes you could use termios we also enable the mraa_uart_write() stuff.

Why not just use mraa_gpio_init_raw() to expose the two muxes and set them manually? That should be easy for you and you won't need to change your hardware.

[2015-07-22 20:42] alext-mkrs commented on #242
In case of Galileo yeah, that's unsurprising, due to the fact that Debian is not compiled natively for Quark and they're taking it as-is for Ubilinux. Hopefully Emutex will help with that one.

As far as tje package mansger is concerned - tjere is a repo I'm supporting for Edison and Galileo, which is not a competitor to Debian package-number-wise, but each has several thousand packages. Maybe it

[2015-07-22 23:28] leonyuhanov commented on #245
This is like an onion of frustration!
Ill try and get Swig 3 working on this bloody thing
thanks for your help

[2015-07-23 00:27] leonyuhanov commented on #245
@arfoll hey mate
im abandoning using mraa, its far to difficult to install on the rpi. I was hoping to replace the shitty Intel boards i had been using with the rpi and port my code over, but it looks like I'm going to have to do allot of work. This https://www.youtube.com/watch?v=J_Oe3ELh-bI is my current project that uses a Galileo Gen 2 and mraa, if your interested. I only need SPI, and will at

[2015-07-23 00:27] #245 closed

[2015-07-23 01:32] raunaqrox opened #246 "Npm fails intel edison"
I did `npm install mraa --verbose`
my node version is v0.10.28
npm version is 1.4.9

[code]
Tried many times does not seem to work.
Thanks.

[2015-07-23 03:58] xthunderheartx commented on #244
Fair enough.  I see your point. I'll try to get it up manually per your suggestion.

[2015-07-23 11:00] arfoll commented on #246
I've just built it on my end, but this looks like an npm/node.js bug/url issue not mraa because you're getting this:

[code]

I'd suggest updating to the latest edison image, it's on node.js 0.10.38 & NPM 1.4.28 and that seems to work fine.

[2015-07-23 11:02] raunaqrox commented on #246
ok thanks, I'll try it and let you know. The image is latest though!

[2015-07-23 12:50] arfoll commented on #246
Download the image here - http://downloadmirror.intel.com/25028/eng/edison-image-ww25.5-15.zip. I'm 99% sure that has node.js 0.10.38.

[2015-07-24 17:17] xthunderheartx commented on #244
Tried your suggestion but no joy.  Is there something I need to do other that setting the values of gpio77 / gpio76 high?  Checked sysfs after my code runs and both pin show up and have a value of '1' but get no data on the header. Thought maybe my test code might be bad (though it works fine with /dev/ttys0) so I just stuck an ftdi2usb dongle on pins 2&3.  Conceivably I should be able to toggle p

[2015-07-25 19:54] madarax64 commented on #242
Hi @alext-mkrs ,
Fingers crossed on Emutex then :-)
Okay, I'll check it out. Thanks for the tip.

Cheers!

[2015-07-26 18:58] alext-mkrs commented on #209
@omkarpujari, ping, so how is it, do you need any more help on this one?

[2015-07-26 19:01] alext-mkrs commented on #187
@arfoll, I propose to close this one as no response for a while and a reported solution provided.

[2015-07-26 19:02] alext-mkrs commented on #179
@arfoll, one more candidate for closure

[2015-07-26 19:04] alext-mkrs commented on #161
@arfoll, and one more abandoned one. BTW let me know fi you don't want me to do such triaging, IMHO that helps to limit the number of opened issues/requests, which in turn helps to focus on relevant and active issues.

[2015-07-26 20:22] srlmproductions commented on #161
I've now upgraded to Node v0.12.7 and mraa version 0.7.3 on the Edison. At this point I can't even get past the button line: it keeps saying `Error: Illegal arguments for construction of _exports_Gpio`. I've tried numbers 6, 14, 31, 36, and 48 and none of them work. Which is odd, since those are the numbers from the ISR and GPIO examples.

[2015-07-27 10:02] arfoll commented on #244
So it's a bit more complicated than I thought, what you need is to set up your gpios like this, so 16 must be OUT LOW and 17 OUT HIGH. then 76 & 77 both OUT HIGH. I've verified this works for me on a gen2 running an IOTDK 1.5 image.

[code]

[2015-07-27 10:05] #187 closed

[2015-07-27 10:05] #179 closed

[2015-07-27 16:01] arfoll commented on #161
Stop using ubilinux, I can't reproduce on Yocto. This works.

[2015-07-27 16:01] #161 closed

[2015-07-27 16:05] xthunderheartx commented on #244
Actually Brendan I came to the same conclusion about gpio16/17.  You said you verified it worked for you?  For me ... nope:

[code]

Nothing on IO3, but outputting "A" on the ftdi header.

?????????????  I don't see how it could **not** work.  You physically verified you can rx/tx over those pins correct?

[2015-07-27 18:17] arfoll commented on #244
Your 16 is out high not out low. And yes I plugged in an ftdi cable rx/tx/gnd to pin 2/3 and read/wrote.

[2015-07-28 08:41] arfoll commented on #244
Triple tested and pushed instructions + sample code. My file looks like this:
[code]

Instructions are here: https://github.com/intel-iot-devkit/mraa/blob/master/docs/galileorevh.md (formating is completely off look at the raw file, I'll fixup formatting later)

[2015-07-28 08:41] #244 closed

[2015-07-28 13:10] xthunderheartx commented on #244
Sheez I clipped the wrong text.  But trust me dood I ain't makin' this stuff up just to waste your time or mine:

https://drive.google.com/file/d/0B6ta-n23GeWQSlhwMERkcTRnV0E/view?usp=sharing

Here's the mapping code.  I stepped though it to make sure there were no failures.

[code]

As you can see in the video, sysfs shows them both high and the data is *still* coming over the ftdi header.  The o